#club-reg-main, #player-reg-main {
	padding-top:20px;
}
#club-reg-intro, #player-reg-intro {
	margin-bottom:10px;
	padding:20px;
}

#club-reg-strip, #player-reg-strip {	
	padding-right:15px;
}

#club-reg-strip .form-group, #player-reg-strip .form-group {
	margin-top:10px;
}

.form-group {
	margin-left:0px !important;
}
.fitted.fill-contents {
	padding-top:20px;
	padding-bottom:20px;
}
#club-reg-photo-upload, #player-reg-photo-upload {
	width: 140px;
    height: 140px;
    margin-bottom: 15px;
    cursor: move;
    background-repeat: no-repeat;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
	/* background-color: rgb(236, 236, 237); */
    /* border-color: rgb(184,184,184); */
    /* border-width: 1px; */
    /* border-style: dashed; */
    /* text-align: center; */
    /* font-size: 14px; */
    /* color: #666666; */
}

#club-reg-photo-upload, #player-reg-photo-upload {
	background-size:140px 140px;
}

#player-reg-photo-upload {
padding-left:15px;
padding-right:15px;
}

#club-logo-preview {
	width:60px;
	height:60px;
	margin:0 auto;
	margin-top:0px;
	background-size:cover;   background-repeat:no-repeat;
	display:none;
}

#club-reg-photo-upload img, #player-reg-photo-upload img {
	margin-top:10px;
}
#club-reg-cover-upload {
	clear:both;
	height:150px;	
	width:100%;
	cursor : move;
	background-repeat:no-repeat;
	background-size:100% 100%;
	border-radius: 8px;	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	/* padding:25px; */
	/* padding-top:30px; */
	/* background-color:rgb(236, 236, 237); */
	/* border-right: 1px dashed rgb(184,184,184); */
	/* text-align:center; */
	/* font-size:14px; */
	/* color:#666666; */
}

#club-reg-cover-upload img {
	margin-top:10px;
	margin-bottom:0px;
}

#club-reg-cover-upload small {
	font-size:10px;
	opacity:0.7;

}

#club-reg-team-upload {
    /* height: 180px; */
    /* width: 100%; */
	background-repeat: no-repeat;
    background-size: 100% 100%;
  
    /* background-color: rgba(231, 231, 232, 0.69); */
    /* border-color: rgb(184,184,184); */
    /* border-width: 1px; */
    /* border-style: dashed; */
    /* text-align: center; */
    /* font-size: 14px; */
    /* color: #666666; */
}

#club-reg-team-upload img {
	margin-top:10px;
}

.club-reg-shirt-outer {
	text-align:center;
}

.club-reg-shirt {	
	width:103px;
	background: #fff;
    border: 1px dashed #bbbbbb;
    border-radius: 5px;
	padding:5px;
	height:107px;
	text-align:center;
	margin:0 auto;margin-bottom:8px;
	position:relative;	
}

.club-reg-shirt-bg {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-image:url("../images/icon/tshirt_2.png");
	background-repeat:no-repeat;
	background-position:center center;
	z-index:1000;
	background-size:91px 95px;
}	
.club-reg-shirt-left, .club-reg-shirt-mid , .club-reg-shirt-right  {
	height:94px;
	position:absolute;
	top:6px;
	
}
.club-reg-shirt-left {
	background-color:transparent;
	width:20px;
	left:6px;
	z-index:900;
	height:50px;
}
.club-reg-shirt-right {
	background-color:transparent;
	width:19px;	
	left:76px;
	z-index:900;
	height:50px;
}

.club-reg-shirt-mid {
	background-color:transparent;
		width:52px;
		left:25px;
		z-index:500;
}

.club-reg-shirt-hoops {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding:6px;
	z-index:905; 
	display:none;
}

.club-reg-shirt-hoops ul {
	padding-left:0;z-index:4;
}

.hoop {
	list-style-type:none;
	width:100%;
	height:10px;
	margin-bottom:10px;
}
.club-reg-shirt-stripes {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding:6px;
	z-index:905; 
	display:none;
}


.club-reg-shirt-stripes ul {
	padding-left:5px;z-index:4;
	
}

.stripe {
	list-style-type:none;
	width:13px;
	height:94px;
	margin-right:5px;
	display:inline-block;
}


.club-reg-shirt-split {
	position:absolute;
	top:0;
	left:0;
	width:46px;
	height:94px;
	margin-top:6px;
	margin-left:6px;
	z-index:905; 
	display:none;
}


#shirt-1 img {
	background-color:white;
	float:left;
}
#shirt-2 img {
	background-color:white;
	float:left;
}

#shirt-1, #shirt-2 {
	clear:both;
	}

.age {
	width:33%;
	margin-bottom:15px;
	margin-right:0.3%;
	display:inline;
}
#team-ages {
margin-left:0px;
}
.age-group-row select {
	padding-left:5px;
}

.form-group {
	margin-bottom:10px;
}

.shirt-container-1 {
	float:left;
	text-align:center;
}

.shirt-container-2 {
	float:right;
	text-align:center;
	margin-bottom:21px;
}

#club-home-ground .form-group {
	margin-right:0px;
}

#history-container {
	padding-top:20px;
	padding-bottom:20px;
	}
	

#sub-search {
padding-left:40px;
padding-right:40px;
}

#sub-search #search-box {
	background-color:#707173;
	border:none;
	color:#6d6e71;
	background-position:right 10px center;
	background-image:url('/assets/img/search2.png');
	}

	
#sub-search #search-box::-webkit-input-placeholder { /* WebKit browsers */
    color:    #6d6e71;
}
#sub-search #search-box:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #6d6e71;
    opacity:  1;
}
#sub-search #search-box::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #6d6e71;
    opacity:  1;
}
#sub-search #search-box:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #6d6e71;
}
.input-md ::-webkit-input-placeholder {
	color:    #6d6e71;
}

#kc-shirt-1, #kc-shirt-2 {
margin:initial;
}

#kitCreator form {
	margin-top:15px;
}

#player-reg-player-information .row {
	margin-left:0;
	margin-right:0;
}

.semibold {
	color: #6d6e71;
	font-weight:bold;
}