@media(max-width:767px) {
 /* MOBILE */
 #profile-more-photos a {
	position:absolute;
	top:-20px;
	right:0px;
	z-index:1000;
}
	.squad-player {
	height:auto;
padding-left:0;
float:left;
width:50%;
margin-right:0px !important;
margin-left:0px !important;
margin-bottom:15px;
}

.squad-player.add-player {
	margin:0 auto !important;
	float:initial;
}

.squad-row {
	margin-bottom:0px;
	overflow:auto;
}

.squad-row div .squad-player {
	padding-right:0;
	}
	
.squad-row div .squad-player:first-child{
padding-right:5px;
}
.squad-row div .squad-player:last-child{
padding-left:5px;
}
#squad-add-player-container {
	width:100%;
	margin-top:10px;
}
 
	#club-reg-club-information.squad-page {
		background-image:none !important;
		padding-right:0px;
		padding-top:10px;
	}
	
	#squad-match-day-container {
		padding:0px;
	}
	
	.notif-input {
	padding-right:10px;
	padding-bottom:0;
	
	}
	
	#squad-match-day-container .control-label {
		padding-top:0px;
	}
	
	#squad-match-day-container .control-label:first-child {
	
		padding-top:5px;
	}
	
	
	#select-squad {
		width:100%;
		text-align:left;
		margin-top:15px;
		margin-bottom:10px;
	}
	
	#send-notif {
		width:100%;
	}
	
	#squad-people {
		padding-top:10px;
	}
	
 	#profile-homeground-map {
        box-sizing:content-box;
    }
	.sp-palette-row-selection {
		max-width:43px;
	}
 
	.header-colorpicker-cp {
	
		left:auto !important;
		right: 30px !important;
	}
	
	.header-colorpicker-cp .sp-choose {
		
		margin-top:5px;
	
	}
	
	.header-colorpicker-cp .sp-hue {
		left: auto !important;
		right:0 !important;
		width:27px;
	}
	
	.header-colorpicker-cp .sp-color {
		right: 20% !important;
	}
 
	.navbar-sub {
		margin-top:34px;
		min-height:41px;
	}
 
	.navbar-brand {
		padding-left:20px;
		padding-top:15px;
		height:40px;
	}
	.navbar-toggle {
		margin-right:10px;
		margin-top:10px;
		margin-bottom:0px;
	}
	
	.navbar-default {
		min-height:50px;
		margin-bottom:0;
	}
	
	#notifications-phone {
		margin-top:10px;
	}
	

	#sub-search form {
		margin-top:0 !important;
	
	}
	
	#sub-search .form-group {
	margin-bottom:5px;
	}
	
	
	
	#sub-search {
	padding-left:30px !important;
	padding-right:30px !important;
	}
	
    #club-home-ground, #team-photo-container , #training-container, #history-container {
        padding-right: 10px !important;
    }

    .form-group {
        margin-right: auto !important;
    }

    .header-title {
        font-size: 28px;
    }

    #profile-title-strip {
        font-size: 18px;
    }

    #profile-name {
        margin-top: 4px !important;
		padding-left:0;
		padding-right:0;
	
    }

    .container {
        min-width: 299px !important;
    }
	
	.container {
		margin-left:10px;
		margin-right:10px;
	}

    #bg1, #bg2 {
        background-attachment: scroll !important;
    }

    .navbar-brand img {
        width: 205px;
    }


    #index-signup {
        margin-left: 0px;
    }

    #header {
        height: 105px;
    }

    #index-signup {
        width: auto;
        margin-left: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #signup-form {
        margin-left: -10px;
    }

    #index-main {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        background: none !important;
        background-color: rgba(255,255,255,0.4) !important;
    }

    .club-reg-shirt-outer a {
        margin-left: -18px;
    }

    #index-intro {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .footer-copy {
        padding-left: 20px;
    }

    .strapline {
        font-size: 40px;
        line-height: 45px;
    }

    .age {
        width: 49% !important;
        margin-right: 1%;
        background-position: 95% center;
    }

    #club-reg-photo-upload, #player-reg-photo-upload {
        margin: 0 auto;
        margin-bottom: 8px;
    }

    #training-container, #team-photo-container {
        padding-left: 20px;
    }

    .team-done {
        height: 260px;
    }

    #club-profile-club-logo-container {
        width: 140px;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    /*#club-profile-container #club-reg-shirts-container {
        padding-left: 20px;
    }*/

    #support, #header-colorpicker, #edit, #follow {
        margin-right: -15px;
		padding-left:6px !important;
		padding-right:6px !important;
    }
	
	#header-colorpicker {
		margin-right:-15px;
	}
	
	#club-reg-shirts-container, #club-cover-photo-container {
		padding-left:0;
		padding-right:0;
	}
	
	#club-profile-details{
		text-align:center;
	}
	
	#profile-details-table {
		text-align:left;
	}
	
	#club-profile-container .shirt-container-2 {
		margin-bottom:0px;
	}
	#club-profile-container #club-reg-shirts-container {
		margin-top:10px;
	}
	
	 #team-photo-container img{
		max-width:100%;
	}
	
	#club-profile-inner {
		padding:0;
	}
	#club-profile-container .main-container, #club-reg-main, #player-reg-main, #player-profile-container .main-container{
		padding-top:10px;
	}
	#club-profile-container .main-container.logged-in, #player-profile-container .main-container.logged-in {
		padding-top:50px;
	}	
	#club-reg-inner-container, #player-reg-inner-container {
		padding-left:0;
		padding-right:0;
	}
	
	#player-profile-container .main-container {
		padding-left:0px;
		padding-right:0px;
	}
	
	#support-button, #edit-button, #follow-button {
		padding-right:0;
	}

#club-profile-container .padding-normal, #club-reg-container .padding-normal, #club-reg-club-information, #player-profile-container .padding-normal, #player-reg-container .padding-normal, #player-reg-player-information {
		padding-left:10px;
		padding-right:10px;
	}
	
	#club-profile-container #club-reg-club-information {
		
		background-repeat:no-repeat;
		padding-bottom:10px;
		background-size:100% 33%;
	}
	
	#player-profile-container #player-information {
		background-image:url("/assets/img/cover.png");
		background-repeat:no-repeat;
		padding-bottom:10px;
		background-size:100% 45%;
	}	
	
	
	.btn-profile {
		padding-left:10px !important;
		padding-right:10px !important;
		border:1px solid #6d6e71;
	}
	
	#club-reg-strip, #player-reg-strip{
		padding-right:5px;
	}
	
	#club-name, #player-name {
		padding-left:0 !important;
	}
	
	#club-reg-intro, #player-reg-intro {
		padding:10px;
		padding-bottom:15px;
	}

	#club-reg-photo-upload, #player-reg-photo-upload{
		width:100%;
	}
	
	#mob-sub-links {
		float:left;
		height:40px;		
		margin-left:20px;
		line-height:40px;	
	}
	
	#mob-sub-links a{
		margin-right:15px;	
		color:white;
	}

	#mob-sub-links a:hover {
	color:rgb(0,158,224);
	}

	#mob-sub-links .active {
	color:rgb(0,158,224);
	cursor:default;
	}
	#mob-sub-links .active:hover {
	text-decoration:none;
	}	
	#mob-sub-links a:last-child {
	
		margin-right:0;
		
	}
	
	#mob-sub-links div {
	
		vertical-align: middle;
			
	}
			
	#index-main.logged-in {
        padding-top: 50px;
    }
	
	
	#club-profile-buttons-inner {
		display:table;
		width:100%;
	}
	
	.btn-profile {
		display:table-cell;
	}
	.shirt-container-1 {
		/* margin-right:20px; */
		margin-right:0px !important;
	}
	.shirt-container-2 {
		float:left;
	}
	#club-reg-shirts-container {
		padding:15px;
	}
	
	#club-cover-photo-container {
		clear:both;
	}
	
	#profile-pic-container {
		text-align:center;
		padding-left:0;		
	}
	
	#profile-pic {
		width:100px;
		height:100px;
		border:2.5px solid white;
		border-radius:10px;
		margin-bottom:45px;
	}

.player-honour {
	margin-bottom:10px;
	max-width:250px;
}

#player-reg-strip {
	padding-right:0px;
}

#player-name {
	padding-right:0 !important;
}
	
	
		.semibold {
		display:block;
		margin-bottom:10px;
	}
	
	.notification-fan {
		margin-left:0 !important;
	}

}
 /* TABLET #428bca */
@media(min-width:768px) {
#profile-more-photos a {
	position:absolute;
	top:-20px;
	right:30px;
	z-index:1000;
}
#squad-match-day-container  {
	padding-top:10px;
}

.notif-input {
	padding-right:10px;
}
#select-squad {
		width:100%;
		text-align:left;
		margin-top:15px;
		margin-bottom:10px;
	}
	
	#send-notif {
		width:100%;
	}

	.header-colorpicker-cp {
	
		left:auto !important;
		right: 30px !important;
	}
	
	.header-colorpicker-cp .sp-choose {
		
		margin-top:5px;
	
	}
	
	.header-colorpicker-cp .sp-hue {
		left: auto !important;
		right:0 !important;
		width:27px;
	}
	
	.header-colorpicker-cp .sp-color {
		right: 20% !important;
	}
	
	
	
#button-container {

	padding-right:0;
}

#club-reg-strip {
	padding-right:10px;
}

.slash {

padding-left:2%;
}

	.divider-vertical {
		display:block;
	}


	.semibold {
		display:block;
		margin-bottom:10px;
	}


	.form-horizontal .form-group {
		margin-right:auto;
	}
 
	#club-reg-container .shirt-container-1 {
		margin-left:-7px;
	}
	#club-reg-container .shirt-container-2 {
		margin-right:22px;
	}
 
	#club-home-ground {
        padding-right: 20px;
    }

    .team-done {
        height: 400px;
    }


    #training-container, #team-photo-container {
        padding-left: 20px;
    }

    .subnav-link {
        margin-top: 7px;
    }

    #index-signup {
        width: 100%;
        margin-left: 0px;
    }

    #header {
        height: 70px;
    }

    .footer-copy {
        padding-left: 0px;
    }

    #index-main {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
    }

    #signup-form {
        margin-left: -10px;
    }

    .club-reg-shirt-outer a {
        margin-left: -22px;
    }

    .age {
        width: 24% !important;
        margin-right: 1%;
    }
	#team-ages {
		width:100%;
	}
	
	.age+.typeahead.dropdown-menu {
		max-width:180px;
	}
	
	#dob-day+.typeahead.dropdown-menu {
		max-width:180px;
	}
	#dob-month+.typeahead.dropdown-menu {
		max-width:180px;
	}	
	#dob-year+.typeahead.dropdown-menu {
		max-width:180px;
	}	


   /* #club-reg-container .form-control:not(#club) {
        width: 50%;
   }  */

    #club-reg-photo-upload, #player-reg-photo-upload {
        margin: 0 auto; 
        margin-bottom: 8px;
    }
	
	#club-reg-shirts-container, #club-cover-photo-container {
		padding-left:0;
		padding-right:0;
	}
	
	#club-profile-container #team-photo-container img{
		width:100%;	
	}
	
	#club-profile-container #training-container {
		min-height:0;
	}	
	#search-box {
		min-width:250px;
	}
	
	#index-main.logged-in {
        padding-top: 60px;
    }
	
	#profile-title-strip {
		padding-right:10px;
	}

#club-reg-club-information.squad-page {
	padding-right:20px;
	}
	

	
	.squad-player {
	height:auto;
padding-left:0;
float:left;
width:150px;
margin-right:20px;
padding-right:0;
}
	
.add-player  {

	margin-right:10px;


}

.squad-row .squad-player:last-child {
margin-right:0px;
}

.squad-row div:first-child .squad-player:last-child {
margin-right:0px;
}

.squad-row div:last-child .squad-player:first-child {
margin-left:10px;
}

.squad-row {
	overflow:hidden;
	clear:both;
}
	
}

@media(min-width:992px) {
 /* DESKTOP */
 
 .header-colorpicker-cp {
	
		left:50% !important;
		right: auto !important;
	}
	
	.header-colorpicker-cp .sp-choose {
		
		margin-top:5px;
	
	}
	
	.header-colorpicker-cp .sp-hue {
		left: auto !important;
		right:0 !important;
		width:27px;
	}
	
	.header-colorpicker-cp .sp-color {
		right: 20% !important;
	}
	
	
	
 
 #button-container {
	padding-right:10px;
	
	}

    #team-ages {
        width: 288px;
    }
	

    .club-reg-shirt-outer a {
        margin-left: -6px;
    }

    #index-signup {
        margin-left: 10px;
		width:306.6px;
    }

    .navbar-sub {
        min-height: 40px;
    }

    #header {
        height: 70px;
    }

    .subnav-link {
        margin-top: 0px;
    }

    .footer-copy {
        padding-left: 0px;
    }

    #index-main {
        padding-left: 20px;
    }

    #index-main {
        padding-right: 20px;
    }

    #index-main {
        padding-top: 20px;
    }
	#index-main.logged-in {
        padding-top: 60px;
    }

    .age {
        background-position: 92% center;
        width: 33% !important;
        margin-right: 0.3%;
    }

    .form-control:not(.age) {
        width: 100%;
    }
	
	 #club-reg-container .form-control:not(#club), #player-reg-container .form-control:not(#player) {
        width: 100%;
    }
	
	#club-reg-shirts-container, #club-cover-photo-container {
		padding-left:25px;
		padding-right:10px;
	}
	
	    #training-container, #team-photo-container {
        padding-left: 0px;
    }
	#club-reg-photo-upload, #player-reg-photo-upload {
        margin: 0;
    }
	
	#club-home-ground {
		padding-right:0px;
	}
	
	#club-profile-container #team-photo-container {
		padding-right:30px;
		padding-left:0px;
	}
	
	#training-container {
		padding-right:30px;
		padding-left:0px; 
	 }

	#history-container {
		padding-right:30px;
	 }
	  
	 #club-profile-details {
	 
	 margin-left:20px;
	 margin-right:-20px;
	 }
	 
	 #team-photo-container {
	 padding-right:30px;
	 padding-left:0px;
	 }
	 
	 #club-profile-buttons {
		padding-left:20px;
	}
	#profile-homeground-map {
        padding-right: 1px;
    }
	
	#club-name div, #player-name div {
		padding-right:15px;
	}	
	
	#squad-people {
		padding-right:30px;
	}

	
	#search-box {
		min-width:300px;
	}
	
	#club-reg-container .shirt-container-1 {
		margin-left:auto;
	}
	#club-reg-container .shirt-container-2 {
		margin-right:auto;
	}
	
	
#player-club-info-container, #profile-photo-container {
	padding-left:20px;
}
#team-photo-title, #training-title {
	padding-left:10px !important;
}

#team-photo-container, #training-container { 
	padding-left:0px !important;

}

#club-profile-container .padding-normal, #club-reg-container .padding-normal, #club-reg-club-information, #player-profile-container .padding-normal, #player-reg-container .padding-normal, #player-reg-player-information {
		padding-left:30px;
	}
#club-name, #player-name, #profile-name{ 
	padding-left:20px;
}

#club-reg-intro, #player-reg-intro {
	padding-left:30px;
}
#profile-title-strip {
		padding-right:20px;
	}

	#club-reg-club-information.squad-page {
	padding-right:30px;
	}
	
	#squad-match-day-container #select-squad, #squad-match-day-container #send-notif {

	width:133px;
	
}


#squad-match-day-container #select-squad {
margin-top:-15px;
margin-bottom:20px;
text-align:center;

}

.squad-player {
	height:auto;
padding-left:0;
float:left;
width:150px;
margin-right:29.9px;
padding-right:0;
}
	
.add-player  {

	margin-right:10px;


}
.squad-row .squad-player:last-child {
margin-right:0px;
}

.squad-row div:first-child .squad-player:last-child {
margin-right:0px;
}

.squad-row div:last-child .squad-player:first-child {
margin-left:14px;
}


#profile-more-photos a {
	position:absolute;
	top:-20px;
	right:0px;
	z-index:1000;
}

	.notif-input {
	padding-right:20px;
	padding-bottom:0;
	
	}
	
}

@media(min-width:1200px) {
 /* LARGE DESKTOP */
}