/*.bootstrap-select{
	border: solid 1px #9c9e9f !important;
	height: 36px !important;
	margin-bottom: 0px !important;
	font-family: Arial !important;
	color : #e8e8e8 !important;
}
.dropdown-toggle.selectpicker.btn-default{
		background-color: #e8e8e8 !important;
}*/
select{
		/*for firefox*/
		-moz-appearance: none;
		/*for chrome*/
		-webkit-appearance:none;
}
/*for IE10*/
select::-ms-expand {
	display: none;
}

input[type="number"] {
	-moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
	-moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}