html {
    position: relative;
    min-height: 100%;
}
body{
    font-family: HelveticaNeueLight;
	padding:0px;
	margin:0px;
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.carousel {
    z-index: 0;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}
.carousel {
    position: absolute !important;
}
.carousel-inner {
    /* position: absolute !important; */
    width: 100%;
    overflow: hidden;
}
footer{
    bottom:0;
	margin:0;
    color: white;
    padding: 10px;
    background: #3a3939;
    width: 100%;
    position: fixed;
}
.title {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  text-shadow: 2px 2px #000;
  color: #FFF;
}

@media (min-width: 1200px){
.container {
    width: 1024px;
}
}


@media only screen and (min-width : 320px) and (max-width : 480px) {
	.wrapper{
		margin-top:70px !important;
	}
	.search-icon{
		position: absolute;
		top: 18px !important;
		right: 16px !important;
		cursor: pointer;
	}
	.new-his {
		padding: 15px 10px 40px !important;
	}
	.search {
		min-width: 100% !important; 
		/* background-image: url(../images/icon/search1.png); */
		/* background-repeat: no-repeat; */
		/* background-position: right center; */
		outline: 0;
	}
	.local-area {
		padding: 15px 20px 40px !important;
	}
	#login-dd {
		width: 100% !important;
		padding: 15px 10px !important;
	}
	.profile_title h3 {
		margin: 0;
		font-size: 15px !important;
	}
	.list-top li>a {
		color: white;
		font-size: 15px;
		display: block;
		position: relative;
		padding: 10px 10px !important;
		text-decoration: none;
	}
	.top-menu{
		padding:10px !important;
		margin-top: 45px !important;
	}
	.strapline {
		font-size: 34px !important;
		margin-top: 0px;
		line-height: 1.2 !important;
		color: rgb(50,50,50);
		font-family: HelveticaNeueLight;
		font-weight: normal;
	}
	.search-list {
		padding: 20px 10px !important;
	}
	.result-list {
		padding: 30px 10px !important;
	}
	.nag_arrow{
		width: 100%;
		float: left;
		padding: 0 !important;
		margin-top: 15px;
		margin-bottom: 80px;
	}
	.btn-select-squad{
		margin-top:10px !important;
	}	
	footer {
		color: white;
		float:left;
		padding: 10px;
		background: #3a3939;
		width: 100%;
		position: relative;
	}
	.new-hm {
		margin: 20px 0;
		padding-right: 30px !important;
		padding-left: 30px;
	}
	.new-tm {
		padding-left: 30px !important;
		padding-right: 30px;
	}
	
	.first-left{
		padding-right:15px !important;
	}

	.first-md{
		padding-left:15px !important;
		padding-right:15px !important;
	}

	.first-right{
		padding-left:15px !important;
	}
	.pad_0{
		padding-left:15px;
		padding-right:15px;
	}
	.new-kit{margin-top:25px;}
	
	.btn-update{
		width: 115px !important;
		margin-right: 0px !important;
	}
	.btn-delete{
		width: 115px !important;
	}
	.players1 {
		height: 115px !important;
	}
	.players2 {
		height: 115px !important;
	}
	input[type='checkbox'] + span {
		padding-left: 42px !important;
		margin-left: 64px !important ;
		cursor: pointer;
		font-size: 35px;
		font-weight: 100;
		color: #888888;
	}
	.notify_list_players{
		padding:0px 0px !important; 
	}
	.notification_pannel{
		height: auto !important;
		padding: 10px !important;
	}
	.notification_div{
		margin-right: 200px !important;
	}
	.notify_list_ply{
		border-left:0px !important;
	}
	.media-object {
		display: block;
		width: 60px !important;
		height: 60px !important;
	}
	.media-heading {
		margin-top: 0px !important;
	}
	.media-body {
		background-position: 112% 100% !important;
	}
	.ui-widget-content {
		border: 1px solid #aaaaaa;
		background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
		color: #222222;
		max-width: 280px !important;
		z-index: 99999 !important;
	}
	.logo-img{
		width:80% !important;
		margin-top: -1px !important;
	}
	.carousel-caption span{
		padding: 6px 10px !important;
		font-size:14px !important;
	}
	.carousel-caption {
		margin-bottom:30px !important;
	}
	
	.manager{
		height: 240px !important;
	}
	/* .players1{
		height: 240px !important;
	}
	.add-name h4{
		font-size: 24px !important;
	} */
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
.nag_arrow{
		width: 100%;
		float: left;
		padding: 0 !important;
		margin-top: 15px;
		margin-bottom: 80px;
	}	
	footer {
		color: white;
		float:left;
		padding: 10px;
		background: #3a3939;
		width: 100%;
		position: relative;
	}
}

@media (max-width: 767px){
	.container {
		margin-left: 10px;
		margin-right: 10px;
		}
	 .wrapper{
		margin-top:70px !important;
	  }
}
.search{
	min-width:300px;
	/* background-image: url(../images/icon/search1.png); */
    /* background-repeat: no-repeat; */
    /* background-position: right center; */
    outline: 0;
}
.search-icon{
    position: absolute;
	/* bottom: 0px; */
    /* right: 0px; */
    top: 7px;
    right: 16px;
    cursor: pointer;
}
.btn-gray{
	width: 100%;
    float: left;
    padding: 7px !important;
    border-radius: 4px;
    color: white !important;
    margin-top: 8px;
	height:34px;
    background: #676565;
}
.btn-gray:hover{
	box-shadow:0px 0px 3px darkgrey;
}

.btn-gray img {
    padding-left: 12px;
    padding-right: 1px;
}
.wrapper{
	width:100%;
	float:left;
	margin:0;
}
.main-panel{
    width: 100%;
    float: left;
	padding:20px;
	margin-top: 50px;
	margin-bottom: 20px;
	padding-bottom: 45px;
	border-bottom-left-radius: 30px;
    height: auto;
    background: rgba(255, 255, 255, 0.34);
}
.local-area{
	width: 100%;
    float: left;
    height: auto;
	margin-bottom: 15px;
	padding: 15px 35px 40px;
    border-bottom-left-radius: 30px;
    background: rgba(255, 255, 255, 0.8);
}
@font-face {
    font-family: HelveticaNeueLight;
    src: url(../fonts/HelveticaNeue-Light.otf);
}
@font-face {
    font-family: HelveticaNeueBold;
    src: url(../fonts/HelveticaNeue-Bold.ttf);
}
.sign_up h1{
	font-size: 34px;
    font-family: HelveticaNeueLight;
    margin-bottom: 15px;
}
.strapline {
    font-size: 50px;
    margin-top: 0px;
    color: rgb(50,50,50);
    font-family: HelveticaNeueLight;
    line-height: 52px;
    font-weight: normal;
}
.strapline .bold {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif !important;
}
.strapline .blue {
    color: rgb(0,158,224);
}
.btn-dark-grey {
	color: #FFFFFF;
    background-color: #333333;
    border-color: #525050;
    padding: 10px 15px;
    font-size: 16px;
    font-family: HelveticaNeueLight;
}
.btn-arrow img {
    padding-left: 20px;
    margin-top: -5px;
}
.btn-my img{
	 padding-left: 10px;
    margin-top: -2px;
}

.btn-font{
	font-size:16px !important;
}
.btn-my{
    font-size: 16px !important;
}
.btn-dark-grey:hover, .btn-dark-grey:focus, .btn-dark-grey:active, .btn-dark-grey.active, .open .dropdown-toggle.btn-dark-grey {
    color: #FFFFFF;
    background-color: #4D4B4B;
    border-color: #525050;
}
.sign_up{
	width: 100%;
    float: left;
    background:rgba(50, 50, 50, 0.71);
	color:white;
    height: auto;
	padding: 10px 25px 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
	border-top-right-radius: 30px;
}
.navbar-default {
    background-color: #3d3c3f;
    border: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-footer a {
    color: #eeeeee;
    padding-left: 10px;
    padding-right: 10px;
}
.footer-copy, .footer-links a {
    color: #707173 !important;
    text-decoration: none;
}
.footer-links a:hover {
    color: rgb(0,158,224) !important;
    opacity: 1;
    text-decoration: none;
}
.sub-nav{
	background-color:#009ee0;
	color:white;
}
.sub-nav li>a {
    color: #ffffff !important;
}
#login-dd{
    width: 330px;
    background: #009ee0;
    color: white;
	float: left;
	padding: 15px 20px;
    margin-top: 8px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #009ee0;
	border:0;
}
#login-dd.dropdown-menu:before {
    width: 98px;
    height: 20px;
    background-color: rgb(0, 158, 224);
    position: absolute;
    top: -15px;
    right: -1px;
    display: inline-block;
    content: '';
}
/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}
.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    margin-bottom:15px;
}
.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}
.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}
.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}
.forgot-password {
    float: right;
    margin-left: 10px;
	position: relative;
	padding: 0px 0px 0px 15px;
    color: black;    
}
.divider1{
    width: 2px;
    height: 15px;
        background: url(../images/icon/divider.png);;
    left: 0;
    top: 2px;
    /* box-shadow: 0px 0px 1px white; */
    position: absolute;
}
.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
	color: black;
    text-decoration: none;
}
.age, #gender, #position, #player-status, #nationality, #county, .position, #footed {
    background-image: url(../images/icon/arrow_down_xs_grey.png);
    background-repeat: no-repeat;
    background-position: 97% center;
    outline: 0;
}
#o-fld,#o-fld1,#o-fld-search{
	display:none;
}
.visible-md .notification-fan .notification-text, .visible-lg .notification-fan .notification-text {
    top: 4px;
    right: 0px;
}
.notification-fan .notification-text {
    position: absolute;
    padding: 2px 3px 2px 3px;
    min-width: 20px;
    text-align: center;
    background-color: rgb(24,157,217);
    color: white;
    font-size: 12px;
    line-height: 16px;
    border-radius: 40px;
}
.notification-message .notification-text {
    position: absolute;
    padding: 2px 3px 2px 3px;
    min-width: 20px;
    text-align: center;
    background-color: rgb(226,31,38);
    color: white;
    font-size: 12px;
    line-height: 16px;
    border-radius: 40px;
}
.visible-md .notification-message .notification-text, .visible-lg .notification-message .notification-text {
    top: 4px;
    right: 6px;
}
.notification-fan {
    margin-left: 165px !important;
}

.navbar-default .navbar-nav > li > a.notification-fan {
    padding-right: 6px;
    padding-bottom: 0;
    padding-top: 5px;
}
.navbar-default .navbar-nav > li > a.notification-message {
    padding-right: 16px;
    padding-bottom: 0;
    padding-top: 5px;
}
.notification-message img{
	margin-top:5px;
}
#setting.dropdown-menu {
	width: 200px;
    right: 0;
    left: auto;
    background-color: rgb(24,157,217);
    margin-top: 8px;
    border: none;
    color: white;
}
#setting>li>a{
	display: block;
	padding: 6px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
}
#setting>li>a:focus, #setting>li>a:hover {
    color: #cfcfcf;
    text-decoration: none;
    background-color: #189dd9 !important;
}
#setting.dropdown-menu:before {
	width: 120px;
    height: 25px;
    background-color: rgb(0, 158, 224);
    position: absolute;
    top: -14px;
    right: 0px;
    display: inline-block;
    content: '';
}
.forgot_password{
	width: 100%;
    float: left;
	display:none;
    height: auto;
	position:relative;
    padding: 20px 10px 0;
    margin-top: 10px;
    
}
.nag_arrow{
    width: 100%;
    float: left;
	padding: 0 80px;
    margin-top: 15px;
    margin-bottom: 80px;
	/* width: 100%;
    float: left;
	bottom: 10%;
    position: absolute; */
}
#bg-description {
    background-color: #3c3d3f;
    opacity: 0.5;
    color: white;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    margin-top: 20px;
    height: 35px;
    padding-top: 8px;
}
.club_reg{
	width: 100%;
    float: left;
	background-color: rgba(255,255,255,0.8);
    color: black;
	margin-bottom:15px;
    padding: 20px 30px;
	border-bottom-left-radius: 30px;
}
.header-title {
    color: black;
    font-size: 34px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
	color: rgb(61,60,63);
    -webkit-text-stroke: 1px rgba(0,0,0,0.1);
    -webkit-font-smoothing: antialiased;
}
.club-name{
	width: 100%;
    float: left;
	background: rgb(147,148,150);
    height: auto;
}
.form-group{
	margin-bottom:0;
}
.btn-light-grey-white-border {
    color: #FFFFFF;
    background-color: #939496;
    border-color: #FFFFFF;
}
.btn-light-grey-black-border {
    color: #000000;
    background-color: #939496;
    border-color: #000000;
}
.btn-height-tb {
    height: 34px;
    padding-bottom: 3px;
	margin-top: 10px;
    padding-top: 5px !important;
}
.btn-light-grey-white-border:hover, .btn-light-grey-white-border:focus, .btn-light-grey-white-border:active, .btn-light-grey-white-border.active, .open .dropdown-toggle.btn-light-grey-white-border {
    color: #FFFFFF;
    background-color: #7F8082;
    border-color: #FFFFFF;
}
.small-strip{
	width: 100%;
    float: left;
    /* height: auto; */
    height: 44px;
    padding: 5px 10px;
    background-color: rgb(184,184,184);
    color: black;
}
.section-title {
    color: #1e2832;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
	position: absolute;/* new */
    margin-top: 6px;/* new */
}
.club-info{
    width: 100%;
    float: left;
    height: auto;
	padding: 25px 0px;
    background-color: rgba(255,255,255,0.8);
    color: black;
}
.input-md{
    background-color:rgba(236, 236, 237, 0.72);
    border: 1px solid #9c9e9f;
    color: #555;
	margin-bottom:10px;
	font-family:Arial;
}
#usertype, .age, .age_group, #textinput, #gender, #position, #player-status, #nationality, #county, .position, #footed ,#age_group,#distance,#num-teams, #teamid, #SelTeams, .pl_pos, .select2-selection{
    background-image: url(../images/icon/arrow_down_xs_grey.png);
    background-repeat: no-repeat;
    background-position: 97% center;
    outline: 0;
}
.bold-title {
    color: #656464;
    font-weight: bold;
    font-size: 15px;
	margin-bottom: 10px;
}
.form-club{
	padding: 0px 5px;
}
.btn-arrow1 img {
    padding-left: 6px;
    margin-top: -5px;
}
.home-div{
    width: 100%;
    float: left;
    background: rgba(255, 255, 255, 0.91);
    height: auto;
}
.new-hm{
    margin: 20px 0;
    padding-right: 0;
    padding-left: 30px;
}
.new-tm{
    padding-left: 0;
    padding-right: 30px;
}
.btn-success {
    color: #fff;
    background-color: #57ab27;
    border-color: #57ab27;
}
.pos{
	margin-top: 15px;
    resize: none;
    background: rgba(233, 231, 231, 0.79);
}
.history-div{
    width: 100%;
	border-bottom-left-radius: 30px;
    float: left;
    background: rgba(255, 255, 255, 0.91);
    height: auto;
}
.new-his{
    padding: 15px 30px 40px;
    padding: 15px 30px 142px;
}
.adv-search{
    width: 100%;
    float: left;
	/* min-height: 1000px; */
    background-color: rgba(255,255,255,0.8);
    height: auto;
    border-bottom-left-radius: 30px;
}
.adv-search h3{
    margin: 0;
    padding: 15px 20px;
	font-size: 20px;
    background: #3d3c3f;
    color: white;
}
.selection-div{
	width: 100%;
    float: left;
	padding: 30px 20px;
    background: rgba(225, 225, 226, 0.72);
    height: auto;
	margin-bottom: 50px;
}
.input-control{
    margin-bottom: 15px;
    border-radius: 4px;
    border-color: #b6b8b9;
}
#club, #club_gender, #club_age_group, #distance{
	background-image: url(../images/icon/arrow_down_xs_grey.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    outline: 0;
}
.media-object {
    display: block;
    width: 95px;
	height:95px;
}
.result-list{
    width: 100%;
    float: left;
	padding: 30px 30px 30px 0;
    height: auto;
}
.form-control{
	font-size:15px;
	font-weight: lighter;
}
.btn-lg{
	font-size:20px;
}

.search-list{
    width: 100%;
    float: left;
    height:500px;
    border: 1px solid #b8b8b8;
    padding: 20px;
	display:none;
	/* display:block; */
	overflow : auto;
    background: white;
}
.media-left, .media>.pull-left {
    padding-right: 20px;
}
.media-heading {
    margin-top: 15px;
    margin-bottom: 5px;
	color:#1e2832;
	font-size: 15px;
	font-family: HelveticaNeueBold;
}
.media-body span{
    font-size: 15px;
    line-height: 1;
	word-break: break-word; 
	color:#3a4149;
    font-family: HelveticaNeueLight;
}
.media-body {
	background-image: url(../images/icon/arrow_right_gray.png);
    background-repeat: no-repeat;
    background-position:100% center;
    outline: 0;
	cursor:pointer;
	padding-right: 34px;
}
.media{
    border-bottom: 1px solid #ebe9e8;
    padding-bottom: 12px;
	 
}
.search-default{
    width: 100%;
    float: left;
    height:400px;
	position:relative;
	/* display:none; */
	display:block;
    border: 1px solid #b8b8b8;
    padding: 20px;
    background: white;
}
.top-menu{
    width: 100%;
	padding: 2px;
    float: left;
    margin-top: 50px;
    background: #5b5b5d;
    height: auto;
	position:relative;
}
.list-top>li {
    display: inline-block;
}
.list-top{
	padding:0;
	list-style:none;
	margin-bottom: 0;
}
.list-top li>a{
	color:white;
	font-size: 15px;
	display:block;
	position:relative;
	padding:10px 15px;
	text-decoration:none;
}
.list-top li>a:not(.nohover):hover{
	color:#009ee0;
	font-size: 15px;
	text-decoration:none;
}
.active_pro{
	color:#009ee0 !important;
}
.noty-div{
	padding:0;
	list-style:none;
	float:right;
	margin-bottom: 0;
}
.noty-div>li{
	display: inline-block;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.notification-text{
	position: absolute;
    top: 0;
    right: 45px;
    width: 22px;
	color:white;
    text-align: center;
    height: 22px;
    background: rgb(24,157,217);
    border-radius: 50%;
}
.notification-text1{
	position:absolute;
    top: 0;
    right: -5px;
    width: 22px;
    height: 22px;
	color:white;
    border-radius: 50%;
    padding: 1px;
    text-align: center;
    background: rgb(226,31,38);
}
.divider{
	position: absolute;
    width: 1px;
    right: 0;
    top: 10px;
    height: 21px;
    background: url(../images/icon/divider3.png)
}
.divider-forget{
    position: absolute;
    top: -5px;
    left: 0;
}
.first-left{
	padding-right:5px;
}
.first-md{
	padding-left:5px;
	padding-right:5px;
}

.first-right{
	padding-left:5px;
}
.profile_title{
    width: 100%;
    float: left;
	position:relative;
    padding: 20px;
    color: white;
    background: #f9b200;
	font-family: arial;
	/* text-shadow: 1px 1px 1px #000; */
}
.profile_title h3{
	margin:0px 0px 0px 6px;
	font-size:20px;
	/* text-shadow: 1px 1px 1px #000; */
}
.btn-support{
    position: absolute;    right: 25px;    padding: 7px 30px 7px 15px;    top: 12px;    border-radius: 4px;    color: white;    /*font-size: 16px;*/    font-size: 18px;    background: transparent;    border: 1px solid white;
}
.btn-support-black{
    position: absolute;    right: 25px;    padding: 7px 30px 7px 15px;    top: 12px;    border-radius: 4px;    color: #0f204b;    /*font-size: 16px;*/    font-size: 18px;    background: transparent;    border: 1px solid #0f204b;
}
.btn-support{
    background-image: url(../images/icon/right_icon.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    outline: 0;
}
.btn-support-black{
    background-image: url(../images/icon/right_icon_bg_white.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    outline: 0;
}
.btn-support:hover{
    color:white;text-decoration:none;
}
.home-info{
	width:100%;
	float:left;
	position: relative;
	background: rgba(255, 255, 255, 0.91);
	padding: 30px 16px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 4px;
    line-height: 1.42857143;
    font-size: 15px;
    vertical-align: top;
	padding-right: 5px;
	color: #4c4b4b;
    border-top: none;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
}
.pad_0{
	padding-left:0px;
	padding-right:0px;
}
.btn_club_info{
	padding: 7px 12px;
    background: #f0f0f0;
	margin-right:2px;
	margin-bottom:5px;
    color: #1e2832;
    border-radius: 6px;
    border: 1px solid #1e2832;
}
.address_location{
	font-size:15px;
	margin-bottom: 15px;
	color:#6d6e71;
	line-height:1.4;
	word-wrap: break-word;
}
.address_location span{
	font-size: 15px;
    font-family: arial;
    color: #6d6e71;
}
.bag-image{
	position: absolute;
    top: 0px;
    padding: 0;
    left: 0;
    width: 100%;
    height: 180px;
    
}
.match-notify{
    width: 100%;
    float: left;
	padding: 30px 20px;
    position: relative;
    border-radius: 10px;
    border: 1px solid #b8b8b8;
    background: white;
    height: auto;
}
.match-input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
	margin-bottom:16px;
    background: #ececed;
    border: 1px solid #b8b8b8;
}
.leb{
	padding: 10px 0;
    font-size: 15px;
    font-weight: bold;
    font-family: arial;
}
.teams-input{
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 2px 10px;
}
:focus {
    outline: none;
}
.btn-select-squad{
	width: 100%;
    position: relative;
    margin-bottom: 15px;
    /* font-size: 18px; */
    font-size: 16px;
	/* margin-top:100px; */
	margin-top:160px;
    /* padding: 8px; */
    padding: 8px 0px;
    border-radius: 4px;
    color: white;
    background-color: #707173;
    border: 0;
}
.btn-select-send{
	width: 100%;
    position: relative;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 8px;
    border-radius: 4px;
    color: white;
    background-color: #57ab27;
    border: 0;
}
.btn-select-send {
    background-image: url(../images/icon/right_icon.png);
    background-repeat: no-repeat;
    background-position: 90% center;
    outline: 0;
}
.teams-input {
    background-image: url(../images/icon/arrow_down_xs_grey.png);
    background-repeat: no-repeat;
    background-position: 98% center;
    outline: 0;
}

.ui-autocomplete {
	font-family: Arial;
	font-weight: normal;
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}
.btn-default:hover {
    color: #333;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
	}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #333333;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}
.btn-default {
    color: #333333;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}
a:focus {
    outline:none;
    outline-offset: -2px;
}
.caret {
    display: none !important;
}
.type_user{
    background-image: url(../images/icon/arrow_down_xs_grey.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 5px;
	width: 25px;
    height: 20px;
    top: 10px;
}
.bootstrap-select>.btn {
    width: 100%;
    padding-right: 25px;
    margin-bottom: 5px;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:not(.nohover):hover {
    color: #262626;
    text-decoration: none;
    background-color: #e8e8e8 !important;
}
.edit_box{
	/* margin-top: 15px; */
	display:none;
}

.squad_player{
	margin-top:20px;
	position:relative;
}
.player_details,.manager_details{
    width: 100%;
    float: left;
    padding: 5px;
    border-radius: 8px;
    background: white;
    border: 1px solid #b8b8b8;
}
.player_details p,.manager_details p{
    font-size: 15px;
    margin-bottom: 0;
    font-family: arial;
    color: #6d6e71;
}
.player_details h4,.manager_details h4{
    font-size: 15px;
    margin: 5px 0 0;
	font-weight:bold;
    font-family: arial;
    color: #1e2832;
}
/* new */
.player_details h5,.manager_details h5{
    font-size: 12px;
    margin: 2px 0 0;
	font-weight:bold;
    font-family: arial;
    color: #1e2832;
}
/* end-new */
input[type='checkbox'] {
	opacity: 1;
}
input[type='checkbox']:checked + span {
    background: url(../images/icon/Blue_tick_36.png) no-repeat center left;
}
input[type='checkbox'] + span {
	padding-left: 40px;
    font-size: 35px;
    margin-left: 100px;
    cursor: pointer;
    font-weight: 100;
    color: #888888;
}

.manager{
	background: url(../images/icon/player1.png) no-repeat center;
    width: 100%;
    height: 151px;
    background-size: 100% 100%;
	cursor: pointer;
}
.players1{
	background: url(../images/icon/player1.png) no-repeat center;
    width: 100%;
    height: 151px;
    background-size: 100% 100%;
	cursor: pointer;
}
.players2{
	background: url(../images/icon/player2.png) no-repeat center;
    width: 100%;
    height: 151px;
    background-size: 100% 100%;
	cursor: pointer;
}
/* new-start */
.squad_select{
    margin-bottom: 40px;
	margin-top: -8px;
	overflow-y: auto;
    max-height: 500px;
	width: 103%;
}
/* new-end */
.upload_player{
	/* width: 100%; */
	width: auto;
    float: left;
    background-color: white;
	position:relative;
	margin-bottom:15px;
    border: 1px solid #b8b8b8;
    border-radius: 10px;
}
.add-name{
    width: 100%;
    float: left;
	cursor:pointer;
    /* background: white; */
    background: #707173;
    text-align: center;
    /* border-radius: 10px; */
    border-radius: 5px;
    /* color: #1e2832; */
    color: white;
	margin-bottom: 15px;
	/*padding: 6px;*/
    border: 1px solid #b8b8b8;
}
.add-name h4{
    font-size: 18px;
}
.add-pl-btn{
    position: absolute;
    top: 0;
    right: 0;
}
.add_line{
    width: 100%;
    position: absolute;
    top: 46px;
    font-size: 15px;
    color: #797777;
    background: rgba(255, 255, 255, 0.69);
    padding: 10px;
    left: 0;
}
.add_player_field{
    width: 100%;
    float: left;
    padding: 10px;
    height: auto;
    background: white;
    border-radius: 10px;
    border: 1px solid #b8b8b8;
}
.notification_pannel{
	height: 650px;
    width: 100%;
    float: left;
	padding: 25px 15px;
    background: white;
    border-radius: 10px;
    border: 1px solid #b8b8b8;
}
.notify{
	width:100%;
	padding:0;
	list-style:none;
}
.notify li>a{
	width:100%;
	float:left;
	margin-bottom:5px;
}
.notification_div{
	width: 100%;
    float: left;
	position:relative;
    border-bottom: 1px solid #ccc;
    padding: 0px 25px 15px 0;
	bottom: 19px;
}

.date{
	color: #009ee0;
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
    font-family: arial;
}

.notification_div  p{
	color: #6d6e71;
    font-size: 13px;
    font-family: arial;
    margin-bottom: 0px;
	word-wrap: break-word;
}
.noti_arrow{
    position: absolute;
    right: 0;
    top: 10px;
	display:none;
}
.notification_div:not(.nohover):hover  .noti_arrow, .noti_arrow-hovered{
	display:block;
}
.notification_div:not(.nohover):hover  p, .noti_p-hovered{
	font-weight:600;
	font-size: 13px;
}
.notify_list_ply{
    width: 100%;
    float: left;
    height: auto;
    /* border-left: 1px solid #b8b8b8; */
}

.notify_default{
	width: 100%;
    float: left;
    /* display: none; */
}
.notify_list_players{
	width:100%;
	float:left;
	display:block;
	/* margin-bottom: 50px; */
	margin-bottom: 25px;
	padding:0 15px;
	overflow-y:auto;
	overflow-x:hidden;
	max-height:500px;
	/* height:500px; */
}
.cross, .pass_right, .ques{
	position: absolute;
    top: -10px;
    right: -8px;
}
.btn-undo{
	/* width: 135px; */
	width: 110px;
	position: relative;
	margin-bottom: 15px;
	font-size: 18px;
	padding: 6px 10px;
	border-radius: 4px;
	color: white;
	background-color: #707173;
	border: 0;
}
.btn-update{
	/* width: 135px; */
	width: 110px;
	position: relative;
	margin-bottom: 15px;
	/* margin-right: 15px; */
	margin-right: 5px;
	margin-left: 5px;/* new */
	font-size: 18px;
	padding: 6px 10px;
	border-radius: 4px;
	color: white;
	/*background-color: #707173;*/
	background-color: #57ab27;
	border: 0;
}
.btn-delete{
	/* width: 135px; */
	width: 110px;
	position: relative;
	margin-bottom: 15px;
	font-size: 18px;
	padding: 6px 10px;
	border-radius: 4px;
	color: white;
	background-color: #da0b0b;
	border: 0;
}

.btn-select-send, .btn-delete, .btn-update, .btn-undo {    background-image: url(../images/icon/right_icon.png);    background-repeat: no-repeat;    background-position: 90% center;    outline: 0;}

.ply_check{
	opacity:0 !important;
}
.ply_check_m{
	opacity:0 !important;
}
.select-team{
    width: 100%;
    float: none;
    padding: 15px 0;
}
.selectPlayer{
    width: 100%;
	padding: 10px 30px;
    height: 540px;
    overflow: auto;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #c3c1c1;
}
.logo-img{
	width:250px;
	margin-top: -4px;
}
.mytable th{
	width:95px;
}
.firstCap { text-transform: lowercase; }
.firstCap:first-letter { text-transform: uppercase; }