 html {
    position: relative;
    min-height: 100%;
	
}
body{
    font-family: HelveticaNeueLight;
}

body::-webkit-scrollbar {
    width: 3px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.item:nth-child(1) {
    background: url(../images/slide1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url(../images/slide2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url(../images/slide3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(4) {
    background: url(../images/slide4.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(5) {
    background: url(../images/slide5.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(6) {
    background: url(../images/slide6.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(7) {
    background: url(../images/slide7.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}
.carousel {
    position: absolute !important;
}
.carousel-inner {
    position: absolute !important;
    width: 100%;
    overflow: hidden;
}
footer{
    bottom:0;
	margin:0;
    color: white;
    padding: 10px;
    background: #3a3939;
    width: 100%;
    position: fixed;
}
.title {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  text-shadow: 2px 2px #000;
  color: #FFF;
}
@media (min-width: 1200px){
.container {
    width: 950px;
}
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
	.wrapper{
	margin-top:70px !important;
	}
	.local-area {
		padding: 15px 20px 40px !important;
	}
	.nag_arrow{
		width: 100%;
		float: left;
		padding: 0 !important;
		margin-top: 15px;
		margin-bottom: 80px;
	}	
	footer {
		color: white;
		float:left;
		padding: 10px;
		background: #3a3939;
		width: 100%;
		position: relative;
	}
	.strapline {
		font-size: 34px !important;
		margin-top: 0px;
		line-height: 1.2 !important;
		color: rgb(50,50,50);
		font-family: HelveticaNeueLight;
		font-weight: normal;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
.nag_arrow{
		width: 100%;
		float: left;
		padding: 0 !important;
		margin-top: 15px;
		margin-bottom: 80px;
	}	
	footer {
		color: white;
		float:left;
		padding: 10px;
		background: #3a3939;
		width: 100%;
		position: absolute;
	}
}

@media (max-width: 767px){
	.container {
		margin-left: 10px;
		margin-right: 10px;
		}
	 .wrapper{
		margin-top:70px !important;
	  }
}
.search{
	min-width:300px;
	background-image: url(../images/icon/search_glass1.png);
    background-repeat: no-repeat;
    background-position: right center;
    outline: 0;
}

.btn-gray{
	width: 100%;
    float: left;
    padding: 7px !important;
    border-radius: 4px;
    color: white !important;
    margin-top: 6px;
    background: #676565;
}
.btn-gray:hover{
	box-shadow:0px 0px 3px darkgrey;
}

.btn-gray img {
    padding-left: 12px;
    padding-right: 1px;
}
.wrapper{
	width:100%;
	float:left;
	margin:0;
}
.main-panel{
    width: 100%;
    float: left;
	padding:20px;
	margin-top: 50px;
	margin-bottom: 20px;
	padding-bottom: 45px;
	border-bottom-left-radius: 30px;
    height: auto;
    background: rgba(255, 255, 255, 0.34);
}

.local-area{
	width: 100%;
    float: left;
    height: auto;
	margin-bottom: 15px;
	padding: 15px 35px 40px;
    border-bottom-left-radius: 30px;
    background: rgba(255, 255, 255, 0.8);
}

@font-face {
    font-family: HelveticaNeueLight;
    src: url(../fonts/HelveticaNeue-Light.otf);
}
@font-face {
    font-family: HelveticaNeueBold;
    src: url(../fonts/HelveticaNeue-Bold.ttf);
}

.sign_up h1{
	font-size: 34px;
    font-family: HelveticaNeueLight;
    margin-bottom: 15px;
}
.strapline {
    font-size: 50px;
    margin-top: 0px;
    color: rgb(50,50,50);
    font-family: HelveticaNeueLight;
    line-height: 52px;
    font-weight: normal;
}

.strapline .bold {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif !important;
}

.strapline .blue {
    color: rgb(0,158,224);
}

.btn-dark-grey {
	color: #FFFFFF;
    background-color: #333333;
    border-color: #525050;
    padding: 10px 15px;
    font-size: 16px;
    font-family: HelveticaNeueLight;
}
.btn-arrow img {
    padding-left: 20px;
    margin-top: -5px;
}

.btn-dark-grey:hover, .btn-dark-grey:focus, .btn-dark-grey:active, .btn-dark-grey.active, .open .dropdown-toggle.btn-dark-grey {
    color: #FFFFFF;
    background-color: #4D4B4B;
    border-color: #525050;
}

.sign_up{
	width: 100%;
    float: left;
    background:rgba(50, 50, 50, 0.71);
	color:white;
    height: auto;
	padding: 10px 25px 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
	border-top-right-radius: 30px;
}

.navbar-default {
    background-color: #3d3c3f;
    border: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-footer a {
    color: #eeeeee;
    padding-left: 10px;
    padding-right: 10px;
}
.footer-copy, .footer-links a {
    color: #707173 !important;
    text-decoration: none;
}

.footer-links a:hover {
    color: rgb(0,158,224) !important;
    opacity: 1;
    text-decoration: none;
}

.sub-nav{
	background-color:#009ee0;
	color:white;
}

.sub-nav li>a {
    color: #fff !important;
}

#login-dd{
    width: 330px;
    background: #009ee0;
    color: white;
	padding: 15px 20px;
    margin-top: 8px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #009ee0;
	border:0;
}

#login-dd.dropdown-menu:before {
    width: 93px;
    height: 20px;
    background-color: rgb(0, 158, 224);
    position: absolute;
    top: -16px;
    right: -1px;
    display: inline-block;
    content: '';
}


/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    margin-bottom:15px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.forgot-password {
    float: right;
    margin-left: 10px;
    padding: 0px 8px;
    color: black;
    border-left: 1px solid #9a9797;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
	color: black;
    text-decoration: none;
}

.age, #gender, #position, #player-status, #nationality, #county, .position, #footed {
    background-image: url(../images/icon/arrow_down_xs_grey.png);
    background-repeat: no-repeat;
    background-position: 97% center;
    outline: 0;
}

#o-fld{
	display:none;
}

.visible-md .notification-fan .notification-text, .visible-lg .notification-fan .notification-text {
    top: 4px;
    right: 10px;
}

.notification-fan .notification-text {
    position: absolute;
    padding: 2px 3px 2px 3px;
    min-width: 20px;
    text-align: center;
    background-color: rgb(24,157,217);
    color: white;
    font-size: 12px;
    line-height: 16px;
    border-radius: 40px;
}

.notification-message .notification-text {
    position: absolute;
    padding: 2px 3px 2px 3px;
    min-width: 20px;
    text-align: center;
    background-color: rgb(226,31,38);
    color: white;
    font-size: 12px;
    line-height: 16px;
    border-radius: 40px;
}

.visible-md .notification-message .notification-text, .visible-lg .notification-message .notification-text {
    top: 4px;
    right: 6px;
}

.notification-fan {
    margin-left: 100px !important;
}

.navbar-default .navbar-nav > li > a.notification-fan {
    padding-right: 16px;
    padding-bottom: 0;
    padding-top: 5px;
}
.navbar-default .navbar-nav > li > a.notification-message {
    padding-right: 16px;
    padding-bottom: 0;
    padding-top: 5px;
}

.notification-message img{
	margin-top:5px;
}

#setting.dropdown-menu {
	width: 200px;
    right: 0;
    left: auto;
    background-color: rgb(24,157,217);
    margin-top: 10px;
    border: none;
    color: white;
}
#setting>li>a{
	display: block;
	padding: 6px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
}
#setting>li>a:focus, #setting>li>a:hover {
    color: #cfcfcf;
    text-decoration: none;
    background-color: #189dd9;
}
#setting.dropdown-menu:before {
	width: 116px;
    height: 25px;
    background-color: rgb(0, 158, 224);
    position: absolute;
    top: -14px;
    right: 0px;
    display: inline-block;
    content: '';
}

.forgot_password{
	width: 100%;
    float: left;
	display:none;
    height: auto;
    padding: 20px 10px 0;
    margin-top: 10px;
    border-top: 1px solid #aba8a8;
}

.nag_arrow{
    width: 100%;
    float: left;
    padding: 0 300px;
    margin-top: 15px;
    margin-bottom: 80px;
}

.big-let{
    color: white;
    opacity: 0.6;
}
#bg-description {
    background-color: #3c3d3f;
    opacity: 0.5;
    color: white;
    margin-top: 20px;
    height: 35px;
    padding-top: 8px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}

.club_reg{
	width: 100%;
    float: left;
	background-color: rgba(255,255,255,0.8);
    color: black;
	margin-bottom:15px;
    padding: 20px 30px;
	border-bottom-left-radius: 30px;
}

.header-title {
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
    font-family: myHelveticaLight, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: rgb(61,60,63);
    -webkit-text-stroke: 1px rgba(0,0,0,0.1);
    -webkit-font-smoothing: antialiased;
}

.club-name{
	width: 100%;
    float: left;
	padding: 15px 10px;
    background: rgb(147,148,150);
    height: auto;
}
.form-group{
	margin-bottom:0;
}

.btn-light-grey-white-border {
    color: #FFFFFF;
    background-color: #939496;
    border-color: #FFFFFF;
}

.btn-height-tb {
    height: 34px;
    padding-bottom: 3px;
    padding-top: 5px !important;
}

.btn-light-grey-white-border:hover, .btn-light-grey-white-border:focus, .btn-light-grey-white-border:active, .btn-light-grey-white-border.active, .open .dropdown-toggle.btn-light-grey-white-border {
    color: #FFFFFF;
    background-color: #7F8082;
    border-color: #FFFFFF;
}

.small-strip{
	width: 100%;
    float: left;
    height: 30px;
    padding: 5px 10px;
    background-color: rgb(184,184,184);
    color: black;
}

.section-title {
    color: #1e2832;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial;
}

.club-info{
    width: 100%;
    float: left;
    height: auto;
	padding: 20px;
    background-color: rgba(255,255,255,0.8);
    color: black;
}

.input-md{
    background-color:#ececed;
    border: 1px solid #9c9e9f;
    color: #6d6e71;
	margin-bottom:10px;
}

#usertype, .age,#adult, #textinput,#num-teams, #gender, #position, #player-status, #nationality, #county, .position, #footed {
    background-image: url(../images/icon/arrow_down_xs_grey.png);
    background-repeat: no-repeat;
    background-position: 97% center;
    outline: 0;
}
.bold-title {
    color: #656464;
    font-weight: bold;
    font-size: 16px;
	margin-bottom: 10px;
}
.form-club{
	padding:0;
}