{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<style>
	.o-fld{display:none;}
	.errP-icon{position: relative;float: left;margin-right: 2px;margin-top: 2px;}
	/*.others {color:#636363}*/
	{% if menu_head == 'Settings' %}
		@media(min-width:768px){.main-panel{margin-top: 0px !important;}}
	{% endif %}
</style>
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="main-panel col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<!-- <div class="col-md-9 col-sm-10 col-xs-12 first-left"> -->
						<div class="col-md-9 col-sm-10 col-xs-12">
							<div class="adv-search">
								<h3>Advance Search</h3>
								<div class="row">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Your Selection</span>
											</div>
										</div>
										<div class="selection-div">
											<!-- <form method="POST" action=""> -->
												<div class="form-group">
													<div class="selectContainer">
														<select class="form-control" id="usertype" name="usertype" required>
															<option value="" style="color:#a0a0a0">Profile</option>
														{% for role in profile_list %}
															{% if role.role == 'Club' %}
															<option value="{{role.id}}" class="others">{{role}}</option>
															{% endif %}
														{% endfor %}
														</select>
													</div>
												</div>
												<div class="o-fld">
													<div class="form-group">
														<input type="text" class="form-control input-control" id="club_name" placeholder="Club name" style="text-transform:uppercase;">
													</div>
													<div class="form-group">
														<div class="selectContainer">
															<select class="form-control o-fld" id="gender" name="gender">
																<option value="" style="color:#a0a0a0">Gender</option>
																{% for gens in gender %}
																	<option value="{{gens.1}}" class="others">{{gens.0}}</option>
																{% endfor %}
															</select>
														</div>
													</div>
													<div class="form-group">
														<div class="selectContainer">
															<select class="form-control age_group" id="age_group">
															<!-- <option value = "">Age group</option> -->
															<!-- 
															{% for age in age_group %}
															<option value="{{age.1}}" class="others">{{age.0}}</option>
															{% endfor %}   -->
															
															</select>
														</div> 
													</div> 
													<div class="form-group">
														<input type="text" class="form-control input-control" id="club_town" placeholder="Town/City">
													</div>
													<div class="form-group">
														<input type="text" class="form-control input-control" id="club_county" placeholder="County">
													</div>
													<div class="form-group">
														<input type="text" class="form-control input-control" id="club_country" placeholder="Country">
														<input type="text" class="form-control input-control" id="club_country_id" style="display: none" placeholder="Country">
													</div>
													<div class="form-group">
														<input type="text" class="form-control input-control" id="club_postal_code" placeholder="Postal code">
														<div class="hide" id="pcM" style="width:100%;">
															<img src ="{% static 'images/icon/Validation_cross.png' %}" height="14px" width="14px" class="img-responsive errP-icon" /> 
															<div style="color:red;position: relative;margin-left: 16px;">Post code entered is incomplete</div>
														</div>
														
													</div>
													<!-- <div class="form-group"> -->
														<!-- <input type="text" class="form-control input-control" id="distance" placeholder="Distance (miles)"> -->
													<!-- </div> -->

													<div class="form-group">
														<div class="selectContainer">
															<select class="form-control" id="distance">
																<option value="5" style="color:#a0a0a0">Distance (In Miles)</option>
																<option value="5" class="others">5 Miles</option>
																<option value="10" class="others">10 Miles</option>
																<option value="15" class="others">15 Miles</option>
																<option value="20" class="others">20 Miles</option>
															</select>
														</div>
													</div>
												</div>

												<!-- <button type="button" onclick="yes()" id = "submit_data" class="btn btn-lg btn-success right btn-arrow" style="  float: right;margin-top: 15px;">Search <img src="{% static 'images/icon/arrow_right_xs.png' %}" ></button> -->
												<button type="button" id = "submit_data" class="btn btn-lg btn-success right btn-arrow" style="  float: right;margin-top: 15px;">Search <img src="{% static 'images/icon/arrow_right_xs.png' %}" ></button>
											<!-- </form> -->
										</div>
									</div>
									
									{% if search %}
									<div id="allnone" class="col-md-8 col-sm-8 col-xs-12">
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Search Results </span>
											</div>
										</div>
										<div class="result-list">
											<div id="search-default_id" class="search-default" style="display: none">
												<div class="col-md-9  col-sm-10 col-xs-9">
												<p>Refine your search by selecting the filters on the left hand side</p>
												<img src="{% static 'images/icon/back-arrow.png' %}"/>
												</div>
												<div class="col-md-3 col-sm-2 col-xs-3">
													<img src="{% static 'images/icon/Search.png' %}" style="float:right;"/>
												</div>
											</div>
											<div id ="search-list1" class="search-list" style="display: block">
											{% if search.0.0 == 'none' %}									
												<div class="media">
												   <div> I'm sorry, no clubs have registered on Local Teams based on your search query</div>
												</div>
											{% else %}
												{% for ss in search %}	
												<div class="media" onclick="viewProfile({{ss.4}})">
													<div class="media-left">
														<img src="{{ss.3}}" class="media-object" alt="{{ss.0}}">
													</div>
													<div class="media-body">
														<h4 class="media-heading">{{ss.0}}</h4>
														<span>{{ss.1}},{{ss.5}}</span><br>
														<span>{{ss.2}}</span>
													</div>
												</div>
												{% endfor %}										
											{% endif %}
											</div>
											<div id ="search-list" class="search-list">
												<div id="datacatch"></div>		
											</div>
										</div>
									</div>
									{% else %}
									<div class="col-md-8 col-sm-8 col-xs-12">
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Search Results </span>
											</div>
										</div>
										<div class="result-list">
											<div id="search-default_id" class="search-default">
												<div class="col-md-9  col-sm-10 col-xs-9">
												<p>Refine your search by selecting the filters on the left hand side</p>
												<img src="{% static 'images/icon/back-arrow.png' %}"/>
												</div>
												<div class="col-md-3 col-sm-2 col-xs-3">
													<img src="{% static 'images/icon/Search.png' %}" style="float:right;"/>
												</div>
											</div>
											<div id ="search-list" class="search-list">
												<div id="datacatch"></div>	
											</div>
										</div>
									</div>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-2 hidden-xs">
							<div class="ad-inner-container" style="background-color:white;max-height:600px;">
								<img src="https://local-teams.com/static/images/icon/ad-inner-container.jpg" class="img-responsive" width="224px" height="600px" alt="googleplay apple" usemap="#mapname" id="map_ID" />
								<map name="mapname" id="map_ID">
									<area shape="rect" coords="54,150,168,182" href="{{ iOS_app }}" target="_blank" alt="iOS_app" />
									<area shape="rect" coords="54,190,168,222" href="{{ google_play_app }}" target="_blank" alt="google_play_app" />
								</map>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- </div> -->
	
	
	<script type="text/javascript">
	/***** Autocomplete *****/
	/*** Club ***/
	clubs = JSON.parse("{{allclubs|escapejs}}");
	$('#club_name').autocomplete({
		source: function( request, response ) {
				var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
				response( $.grep( clubs, function( item ){
					return matcher.test( item );
				}) );
			}
    });
	/*** Usertype ***/
	$("#usertype").change(function(){
		if($("#usertype").val() == "2"){
			$(".o-fld").show('slow');
			$("#submit_data").attr('onclick','yes()');
		}
		else{
			$(".o-fld").hide('slow');
			$("#submit_data").attr('onclick','');
		}
	});
	/*** County ***/
	allcounty = JSON.parse("{{counties|escapejs}}");
   $('#club_county').autocomplete({
    	source : function( request, response ) {
			var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
			response( $.grep( allcounty, function( item ){
				return matcher.test( item );
			}) );
		}
    });
	/*** City Autocomplete ***/
	$("#club_town").autocomplete({
		source: '/autoCity/'
	});
	/*** Country Autocomplete ***/
	$("#club_country").autocomplete({
		source: '/countryData/',
	});
	/***** End Autocomplete *****/
	
	$('#gender option').click(function(){
		console.log($('#selected').text($(this).text()));
	});
	
	var num_teams = 1;
	ageData(num_teams, function (Option){
		options = Option;
		$(".age_group").html(options);
	});
	
	function loadOpt(response){
		/*console.log(response.length);*/
		var option = '<option value="" style="color:#a0a0a0;">Age group</option>';
		for(var i = 0; i<response.length; i++){
			option += '<option value="'+response[i].age_group_id+'" class="ag'+response[i].age_group_id+' others">'+response[i].age_group+'</option>';
		}
		return option;
	}
	
	function ageData(num_teams,Option){
		$.ajax({
			type: "GET",
			url: "/ageData/",
			data:{
					term:num_teams,
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
				},
			success: function(response, jqXHR) {
				var options = loadOpt(response);
				Option(options)
			},
			error: function(err){
				console.log(err);
			}
		});
	}
    function topcities(){
		var top = $('#top_search').val();
		$.ajax({
			type: "POST",
			url: "/showmap/",
			data:{
				city : top
			},
			success: function(response) {
				var response = JSON.parse(response);
				if($('#search-list1').val() != undefined){
					document.getElementById('search-list1').style.display = "none";
					$('#search-list1').html('');
				}
				document.getElementById('search-default_id').style.display = "none";
				document.getElementById('search-list').style.display = "block";
				$('#datacatch').html('');
				if(response.length == 0){
					$('#datacatch').append(	'<div class="media">'+
					"<div> I'm sorry, no clubs have registered on Local Teams\n"+
					"from the town / city you have selected.\n"+
					'</div></div>');
				}
				else{
					var response = response;
					for(var i=0;i<response.length;i++){
						$('#datacatch').append(	'<div class="media" onclick="viewProfile('+response[i][4]+')">'+
						'<div class="media-left">'+
						'<img src="'+response[i][3]+'"'+
						'class="media-object" alt="'+response[i][0]+'">\n'+
						'</div>\n'+
						'<div class="media-body">\n'+
						'<h4 class="media-heading">'+response[i][0]+'</h4>\n'+
						'<span>'+response[i][1]+','+response[i][5]+'</span><br>\n'+
						'<span>'+response[i][2]+'</span>\n'+
						'</div>\n'+
						'</div>');
					}
				} 
			},					
			error:function(response){
				if($('#search-list1').val() != undefined){
					document.getElementById('search-list1').style.display = "none";
					$('#search-list1').html('');
				}
				document.getElementById('search-default_id').style.display = "none";
				document.getElementById('search-list').style.display = "block";
				$('#datacatch').html('');
				$('#datacatch').append('<div class="media">'+
				"<div> I'm sorry, no clubs have registered on Local Teams\n"+
				"from the town / city you have selected.\n"+
				'</div></div>');
			}
		});
	}

	$('#club_country').focusout(function(){
		var selectedcountry = $('#club_country').val();
		if(selectedcountry.length >= 3){
			$.ajax({
				type: "POST",
				url: "/popcountry/",
				data:{
					selectedcountry : selectedcountry
				},
				success: function(response) {
					var cities = JSON.parse(response);
					if(response.length == 0){
						document.getElementById('club_country').value = "";
					}
					else{
					   $('#club_town').autocomplete({
							source : '/autoCity/'
						});
					}
				},
				error:function(response){
					console.log(response);
				}
			});
		}
	});
	
	$('#club_postal_code').focusout(function(){
		if($('#club_postal_code').val() != ""){
			console.log($('#club_postal_code').val())
			$.ajax({
				type: "POST",
				url: "/is_postcode/",
				data:{
					postcode:$("#club_postal_code").val(),
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
				},
				success: function(response, jqXHR) {
					$('#loader').fadeOut(3000);
					console.log(jqXHR);
					console.log(response);
					window.pc = response.valid;
					if (response.valid == true){
						window.pc = response.valid;
						$("#pcRE").attr('class','hide');
						$("#pcM").attr('class','hide');
						advancesearch();
					}
					else{
						window.pc = response.valid;
						$("#pcRE").attr('class','show');
						$("#pcM").attr('class','show');
					}
				}
			});
		}
		else{
			$("#pcRE").attr('class','hide');
			$("#pcM").attr('class','hide');
		}
	});
	
	function yes(){
		$('#loader').show();
		if($('#club_postal_code').val() != ""){
			console.log($('#club_postal_code').val())
			$.ajax({
				type: "POST",
				url: "/is_postcode/",
				data:{
					postcode:$("#club_postal_code").val(),
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
				},
				success: function(response, jqXHR) {
					$('#loader').fadeOut(3000);
					console.log(jqXHR);
					console.log(response);
					window.pc = response.valid;
					if (response.valid == true){
						window.pc = response.valid;
						$("#pcRE").attr('class','hide');
						$("#pcM").attr('class','hide');
						advancesearch();
					}
					else{
						window.pc = response.valid;
						$("#pcRE").attr('class','show');
						$("#pcM").attr('class','show');
					}
				}
			});
		}
		else{
			$("#pcRE").attr('class','hide');
			$("#pcM").attr('class','hide');
			advancesearch();
		}
	}
	
	function advancesearch(){
		$('#loader').fadeOut(3000);
		/*var clubname = $('#club_name').val();*/
		var clubname = ($("#club_name").val()).toUpperCase();
		var gender = $('#gender').val();
		var age = $('#age_group').val();
		var country = $('#club_country').val();
		var city = $('#club_town').val();
		var county = $('#club_county').val();
		var distance = $('#distance').val();
		var postal_code = $('#club_postal_code').val();
		
		if(postal_code.length >= 4){
			$.ajax({
				type: "POST",
				url: "/distance_search/",
				data:{
					distance: distance,
					postal_code : postal_code,
					clubclubname : clubname,
					gender : gender,
					age : age,
					country : country,
					city : city,
					county : county,
				},
				success: function(response) {
					$('#loader').fadeOut(3000);
					if($('#search-list1').val() != undefined){
						document.getElementById('search-list1').style.display = "none";
						$('#search-list1').html('');
					}
					document.getElementById('search-default_id').style.display = "none";
					document.getElementById('search-list').style.display = "block";
					$('#datacatch').html('');
					if(JSON.parse(response).length == 0){
						$('#datacatch').append(	'<div class="media">'+
						"<div> I'm sorry, no clubs have registered on Local Teams\n"+
						"based on your search query.\n"+
						'</div></div>');
					}
					else{
						if(JSON.parse(response).length > 5){
							var response = JSON.parse(response);
							for(var i=0;i<response.length;i++){
								$('#datacatch').append(	'<div class="media" onclick="viewProfile('+response[i]['cid']+')">'+
								'<div class="media-left">'+
								'<img src="'+response[i]['logophoto']+'"'+
								'class="media-object" alt="'+response[i]['cname']+'">\n'+
								'</div>\n'+
								'<div class="media-body">\n'+
								'<h4 class="media-heading">'+response[i]['cname']+'</h4>\n'+
								'<span>'+response[i]['cityname']+','+response[i]['county_name']+'</span><br>\n'+
								'<span>'+response[i]['distance']+ ' miles from '+response[i]['postalc']+'</span>\n'+
								'</div>\n'+
								'</div>');
							}
						}
						else{
							var response = JSON.parse(response);
								for(var i=0;i<response.length;i++){												
								$('#datacatch').append(	'<div class="media" onclick="viewProfile('+response[i]['cid']+')">'+
								'<div class="media-left">'+
								'<img src="'+response[i]['logophoto']+'"'+
								'class="media-object" alt="'+response[i]['cname']+'">\n'+
								'</div>\n'+
								'<div class="media-body">\n'+
								'<h4 class="media-heading">'+response[i]['cname']+'</h4>\n'+
								'<span>'+response[i]['cityname']+','+response[i]['county_name']+'</span><br>\n'+
								'<span>'+response[i]['distance']+ ' miles from '+response[i]['postalc']+'</span>\n'+
								'</div>\n'+
								'</div>');
							}
						}				
					}
				},
				error:function(response){
					$('#loader').fadeOut(3000);
					console.log(response);
					if($('#search-list1').val() != undefined)
					{
					document.getElementById('search-list1').style.display = "none";
				    $('#search-list1').html('');
					}
					document.getElementById('search-default_id').style.display = "none";
					document.getElementById('search-list').style.display = "block";
					$('#datacatch').html('');
					$('#datacatch').append(	'<div class="media">'+
					"<div> I'm sorry, no clubs have registered on Local Teams\n"+
					"based on your search query.\n"+
					'</div></div>');
				}
			});
		}
    	else{
			$.ajax({	
				type: "POST",
				url: "/adv_search/",
				data:{
					clubname : clubname,
					gender : gender,
					age : age,
					country : country,
					city : city,
					county : county
				},
				success: function(response) {
					$('#loader').fadeOut(3000);
					console.log(JSON.parse(response));
					if($('#search-list1').val() != undefined){
						document.getElementById('search-list1').style.display = "none";
						$('#search-list1').html('');
					}
					document.getElementById('search-default_id').style.display = "none";
					document.getElementById('search-list').style.display = "block";
					$('#datacatch').html('');
					if(JSON.parse(response).length == 0){
						$('#datacatch').append(	'<div class="media">'+
						"<div> I'm sorry, no clubs have registered on Local Teams\n"+
						"based on your search query.\n"+
						'</div></div>');
					}
					else{
						var response = JSON.parse(response);
						for(var i=0;i<response.length;i++){
							$('#datacatch').append(	'<div class="media" onclick="viewProfile('+response[i][4]+')">'+
							'<div class="media-left">'+
							'<img src="'+response[i][3]+'"'+
							'class="media-object" alt="'+response[i][0]+'">\n'+
							'</div>\n'+
							'<div class="media-body">\n'+
							'<h4 class="media-heading">'+response[i][0]+'</h4>\n'+
							'<span>'+response[i][1]+','+response[i][5]+'</span><br>\n'+
							'<span>'+response[i][2]+'</span>\n'+
							'</div>\n'+
							'</div>');			
						}
					}
				},
				error:function(response){
					console.log(response);
					if($('#search-list1').val() != undefined){
						document.getElementById('search-list1').style.display = "none";
						$('#search-list1').html('');
					}
					document.getElementById('search-default_id').style.display = "none";
					document.getElementById('search-list').style.display = "block";
					$('#datacatch').html('');
					$('#datacatch').append(	'<div class="media">'+
					"<div> I'm sorry, no clubs have registered on Local Teams\n"+
					"based on your search query.\n"+
					'</div></div>');
				}
			});
    	}
	}
	
	$("#club_postal_code").autocomplete({
		source: '/postcodes/',
		minLength:3
	});

	$("#club_postal_code").change(function(){
		$.ajax({
			type: "POST",
			url: "/is_postcode/",
			data:{
				country:$("#club_postal_code").val(),
				csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
			},
			success: function(response, jqXHR) {
				console.log(jqXHR);
				console.log(response);
				window.pc = response.valid;
				$('#loader').fadeOut(3000);
				if (response.valid){
					window.pc = response.valid;
					$("#pcRE").hide();
					$("#pcM").hide();
				}
				else{
					window.pc = response.valid;
					$("#pcRE").show();
					$("#pcM").show();
				}
			}
		});
	});
	
	/*$('#top_search').keypress(function(event) {
		if (event.keyCode == 13) {
			event.preventDefault();
		}
	});*/
	$(document).ready(function(){
		$('#usertype').css('color','#a0a0a0');
		$('#usertype').change(function() {
			var current = $('#usertype').val();
			if (current != "") {
				$('#usertype').css('color','#636363');
			} else {
				$('#usertype').css('color','#a0a0a0');
			}
		});
		$('#gender').css('color','#a0a0a0');
		$('#gender').change(function() {
			var current = $('#gender').val();
			if (current != "") {
				$('#gender').css('color','#636363');
			} else {
				$('#gender').css('color','#a0a0a0');
			}
		});
		$('#age_group').css('color','#a0a0a0');
		$('#age_group').change(function() {
			var current = $('#age_group').val();
			if (current != "") {
				$('#age_group').css('color','#636363');
			} else {
				$('#age_group').css('color','#a0a0a0');
			}
		});
		$('#distance').css('color','#a0a0a0');
		$('#distance').change(function() {
			var current = $('#distance').val();
			if (current == "3") {
				$('#distance').css('color','#a0a0a0');
			} else {
				$('#distance').css('color','#636363');
			}
		});
	});
	window.onload = function () {
		var ImageMap = function (map, img) {
				var n,
					areas = map.getElementsByTagName('area'),
					len = areas.length,
					coords = [],
					previousWidth = 128;
				for (n = 0; n < len; n++) {
					coords[n] = areas[n].coords.split(',');
				}
				this.resize = function () {
					var n, m, clen,
						x = img.offsetWidth / previousWidth;
					for (n = 0; n < len; n++) {
						clen = coords[n].length;
						for (m = 0; m < clen; m++) {
							coords[n][m] *= x;
						}
						areas[n].coords = coords[n].join(',');
					}
					previousWidth = document.body.clientWidth;
					return true;
				};
				window.onresize = this.resize;
			},
			imageMap = new ImageMap(document.getElementById('map_ID'), document.getElementById('map_ID'));
		imageMap.resize();
		return;
	}
	</script>
	{% endblock %}