{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	
	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>

    <title>Local.Teams - {{title}}</title>
	<link rel="shortcut icon" href="{% static 'images/icon/favicon.ico' %}" />
	<!-- CSS -->
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    
	<!-- JQuery AutoComplete CSS -->
    <link href="{% static 'css/jquery-ui.css' %}" rel="Stylesheet"/>
	
    <!-- Custom CSS -->
    <link href="{% static 'css/full-slider.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/spectrum.css' %}" rel="stylesheet" />
    <link href="{% static 'css/hide.css' %}" rel="stylesheet" />
    <link href="{% static 'css/fix.css' %}" rel="stylesheet" />
    <link href="{% static 'css/club-register.css' %}" rel="stylesheet" />
    <link href="{% static 'css/edit.css' %}" rel="stylesheet">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/select2.css' %}" rel="stylesheet">
	<link href="{% static 'css/lobibox.css' %}" rel="stylesheet">
    
    <!-- Custom CSS End -->


	<!-- JS -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery-ui.min.js' %}" ></script>
	<script src="{% static 'js/select2.js' %}"></script>
	
	<!-- register -->
	<script src="{% static 'js/edit1.js' %}"></script>
	<script src="{% static 'js/kitCreator.js' %}"></script>
	<script src="{% static 'js/spectrum.js' %}"></script>
	<script src="{% static 'js/edit.js' %}"></script>
	<script src="{% static 'js/cropit-master/dist/jquery.cropit.js' %}"></script>
	<script src="{% static 'js/croper.js' %}"></script>
	<script src="{% static 'js/lobibox.min.js' %}"></script>
	<script src="{% static 'js/demo.min.js' %}"></script>
	<style>
	#loader {
		position: fixed;
		left: 45%;
		right: 0;
		bottom: 0;
		z-index: 9999;
		top: 38%;
		border-radius: 50%;
		border: 8px solid #cecdcd;
		border-top: 8px solid #6d6d6d;
		width: 110px;
		height: 110px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}
	@-webkit-keyframes spin {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(360deg); }
	}
	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}
	@media only screen and (min-width : 320px) and (max-width : 480px) {
		#loader {
			left: 42% !important;
			top: 44% !important;
			border: 7px solid #cecdcd !important;
			border-top: 7px solid #6d6d6d !important;
			width: 75px !important;
			height: 75px !important;
		}
	}
	.iconL{
		position: absolute;
		color: #bbb;
		top: 8px;
		right: 8px;
		z-index: 99;
	}
	.email-icon{
	    position: absolute;
		top: 89px;
		right: 20px;
	}
	.err-icon{
		position: absolute;
		top: 9px;
		right: -20px;
	}
	.errL-icon{
		position: absolute;
		top: 8px;
		right: -19px;
	}
	.errL-msg{position: relative;color:red;}
	#emailLM,#emailLMT{
		position: relative;
		margin-bottom: 6px;
		margin-top: -6px;
		display: block;
	}
	#passLM,#passLMT{
		position: relative;
		margin-bottom: 6px;
	}
	.user-msg{font-family:Arial;margin-bottom: 15px !important;color:red;}	
	{% if menu_head == 'Settings' %}
		@media(max-width:767px){
			.main-panel{margin-top: -70px !important;}
		}
	{% endif %}
	.logout{cursor: pointer;}
	
		ul.custom-image{
		list-style-image: url('/static/images/icon/notif_fan_sm.png');
		
	}	
	.alert_list{
		font-size: 11px; color:grey
		max-height:100px;
	}
	a.alert_message{
		color : #000000;
		cursor: pointer;
	}
	a.alert_message:hover{
		color : grey
	}
	
	.notif-border-bottom {
		background-image: url(/static/images/icon/divider4.png);
		height: 1px;
		position: relative;
		right: 5px;
		bottom: 2px;
		width: 250px;
	}
	.available{color:green;}
	.unavailable{color:red;}
	.read{
		background-color:inherit;
		padding: 5px 0px;
	}
	.unread{
		background-color:aliceblue;
		padding: 5px 0px;
	}
	.popover {
		max-height: 300px !important;
		overflow: auto;
	}
	.popover.bottom>.arrow:after {
		top: 1px;
		margin-left: -10px;
		content: " ";
		border-top-width: 0;
		border-bottom-color: #fff;
	}
</style>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110256576-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110256576-1');
</script>
</head>

<body>
<div id="loader"></div>

	<header>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				{% if menu_head == "Settings" %}
                <a class="navbar-brand logo-img" href="/clubProfile/">
					<img src ="{% static 'images/icon/LT_Logo.png' %}" class="img-responsive">
				</a>
				{% else %}
				<a class="navbar-brand logo-img" href="/" >
					<img src ="{% static 'images/icon/LT_Logo.png' %}" class="img-responsive">
				</a>
				{% endif %}
				
				{% if menu_head == "Settings" %}
				<!-- <ul class="nav navbar-nav navbar-right visible-md visible-lg">
					<li>
						<span class="notification-fan notif-icon">
							<img src="{% static 'images/icon/fan_wave.png' %}" />
							<div class='notification-text'>2</div>
						</span>
					</li>
					<!-- <li>
						<a href="#" class="notification-message">
							<img src="{% static 'images/icon/message.png' %}" />
							<div class="notification-text">3</div>
						</a>
					</li>
				</ul> -->
				{% endif %}
            </div>
			
			<div class="visible-xs">
				 <div class="col-md-4 col-sm-4 col-xs-12 pull-right">
					<form id="top_form_mobile" class="navbar-form navbar-right" action="/advanceSearch/">
						  <div class="form-group">
							<input id="top_search_mobile" name="search" type="text" class="form-control search" placeholder="Select a Town or City" >
								<span type="submit" id="top_submit_mobile" class="search-icon"><img src="{% static '/images/icon/search1.png' %}" ></span>
						  </div>
					</form>
				 </div>
			 </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li class="dropdown">
                        {% if menu_head == 'Login' %}
						<a class="btn btn-gray btn-lg dropdown-toggle " data-toggle="dropdown" style="border:1px;width:98px;">{{menu_head}}<img src="{% static 'images/icon/arrow_down_xs.png' %}"></a>
						<div class="dropdown-menu" id="login-dd">
							<form class="form-signin" action="/login/" id="loginForm" method="POST">
								<span id="reauth-email" class="reauth-email"></span>
								<div class="email-log"  style="position:relative">
									<input type="email" name="emailL" id="inputEmail"  class="form-control" placeholder="Email address" required />
									<div id="emailLMT" style="display:none;"><span class="errL-msg">Please enter email address </span></div>
									<div id="emailLM" style="display:none;"><span class="errL-msg">The email address entered to not valid</span></div>
									<div id="emailLMlen" style="display:none;"><span class="errL-msg">The entered email address is too long...</span></div>
								</div>
								
								<div class="pass-log"  style="position:relative">
									<input type="password" id="passwordL" name="passL" placeholder="Password" class="form-control passwordL"  required>
									<div id="passLMT" style="display:none;"><span class="errL-msg">Please enter password...</span></div>
									<div id="passLM" style="display:none;"><span class="errL-msg">Your password does not meet the recommended criteria...</span></div>
									<div class="iconL" ><span id="glyphL" class="glyphicon glyphicon-eye-close"></span>
									</div>
								</div>
								<div class="form-group" id="userLEM" style="display:none;"><span class="user-msg">The email address or password entered does not match with any records on our database.</span></div>
								<div id="remember" class="checkbox">
									<label style="color: black;font-size: 13px;margin-bottom: 20px;">
										<input type="checkbox" value="remember-me">Keep me logged in
									</label>
									<a id="forget_pass" class="forgot-password">
										Forgotten password?
										<span class="divider1"></span>
									</a>
								</div>
								<button type="button" id="loginFormBtn" class="btn btn-lg btn-success btn-arrow" style="width:128px;">Login
									<img src="{% static 'images/icon/arrow_right_xs.png' %}">
								</button>
							</form><!-- /form -->
							<div class="forgot_password" id="forget_div">
								<span class="divider-forget"><img src="{% static 'images/icon/divider2.png' %}"></span>
								<p>Enter your email address and we'll email you instructions to reset your password.</p><br>
								<form>
									<div class="form-group">
										<input type="email" class="form-control" name="email" placeholder="Enter Email Address"/><br>
										<button type="submit" class="btn btn-lg btn-dark-grey btn-arrow" style="width:128px;">Submit
											<img src="{% static 'images/icon/arrow_right_xs.png' %}">
										</button>
									</div>
								</form>
							</div>
						</div>
                        {% elif menu_head == 'Settings' %}
						<a class="btn btn-gray btn-lg dropdown-toggle " data-toggle="dropdown"
                           style="border:1px;">{{menu_head}}<img src="{% static 'images/icon/arrow_down_xs.png' %}"></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" id="setting">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#Account_information">Account Information</a>
                            </li>
                            <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Rest Option</a></li> -->
                            <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout/">Logout</a></li> -->
                            <li role="presentation"><a role="menuitem" tabindex="-1" class="logout">Logout</a></li>
                        </ul>
						{% endif %}
                    </li>
                 </ul>
				<div class="col-md-5 col-sm-5 col-xs-12 pull-right hidden-xs">
					{% if menu_head == "Settings" and title != 'Registration' %}
						<span class="notif-icon">
							<img src="{% static 'images/icon/fan_wave.png' %}" style="margin-top: 6px;cursor: pointer;" />
							<span class="notification-text" style="display:none"></span>
						</span>
					{% endif %}
					
					<form id="top_form" class="navbar-form navbar-right" action="/advanceSearch/">
						  <div class="form-group">
							<input id="top_search" name="search" type="text" class="form-control search" placeholder="Select a Town or City" >
								<span type="submit" id="top_submit" class="search-icon"><img src="{% static '/images/icon/search1.png' %}" ></span>
						  </div>
					</form>
				</div>

				<ul class="nav navbar-nav sub-nav visible-xs">
					{% if menu_head == 'Login' %}
					<li><a href="/loginMobile/">Login</a></li>
					{% elif menu_head == 'Settings' %}
					<li class="visible-xs"><a style="margin-top:7px;" href="#Account_information">Account Information</a></li>
					{% endif %}
					<li class="visible-xs"><a style="margin-top:7px;" href="/about_us" >About Us</a></li>
					<li class="visible-xs"><a style="margin-top:7px;" href="/contact_us" >Contact Us</a></li>
					<li class="visible-xs"><a style="margin-top:7px;" href="/cookie_policy" >Cookie Policy</a></li>
					<li class="visible-xs"><a style="margin-top:7px;" href="/privacy_policy" >Privacy Policy</a></li>
					<li class="visible-xs"><a style="margin-top:7px;" href="/terms_and_conditions" >Terms and Conditions</a></li>
					{% if menu_head == 'Settings' %}
					<!-- <li class="visible-xs"><a style="margin-top:7px;" href="/logout/">Logout</a></li> -->
					<li class="visible-xs"><a style="margin-top:7px;" class="logout">Logout</a></li>
					{% endif %}

				</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	<!-- --
	<div id="notification-div" style="display:none;height:100px;width:100px;z-index:9;">
		<div class="container">
			<div class="row">
			</div>
		</div>
	</div>
	!-- -->
	</header>
	<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
	<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			
		</div>
	</div>
	{% if menu_head == 'Settings' and tab != 'None' %}
	<div class="wrapper">
		<div class="top-menu">
			<div class="container">
				
				<div class="row">
					<div class="col-md-9 col-sm-8 col-xs-8">
						<ul class="list-top">
							<li>
								{% if tab == 'Profile' %}
								<a href="/clubProfile/" id="profile" class="active_pro">
									Profile<span class="divider"></span>
								</a>
								{% else %}
								<a href="/clubProfile/" id="profile" class="">
									Profile<span class="divider"></span>
								</a>
								{% endif %}
							</li>
							<!-- <li>
								{% if tab == 'Wall' %}
								<a href="" id="wall" class="active_pro">
									Wall<span class="divider"></span>
								</a>
								{% else %}
								<a href="" id="wall">
									Wall<span class="divider"></span>
								</a>
								{% endif %}
							</li> -->
							<li>
								{% if tab == 'Squad' %}
								<a href="/clubSquad/" id="squad" class="active_pro">
									Squad<span class="divider"></span>
								</a>
								{% else %}
								<a href="/clubSquad/" id="squad">
									Squad<span class="divider"></span>
								</a>
								{% endif %}
							</li>
							<li>
								{% if tab == 'Fixtures' %}
								<a href="/clubFix/" id="fixture" class="active_pro">
									Fixtures<span class="divider"></span>
								</a>
								{% else %}
								<a href="/clubFix/" id="fixture">
									Fixtures<span class="divider"></span>
								</a>
								{% endif %}
							</li>
							<li>
								{% if tab == 'Notification' %}
								<a href="/clubNotif/" id="notification" class="active_pro">
									<!-- Notification -->Review
								</a>
								{% else %}
								<a href="/clubNotif/" id="notification">
									<!-- Notification -->Review
								</a>
								{% endif %}
							</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-4" style="padding:0">
						<ul class="visible-xs visible-sm noty-div">
							{% if title != 'Registration' %}
							<li>
								<span class="notif-icon" >
									<img src="{% static 'images/icon/notif_fan_sm.png' %}">
									<div class="notification-text" style="display:none"></div>
								</span>
							</li>
							{% endif %}
							<!-- <li>
								<a href="#" class="">
									<img src="{% static 'images/icon/notif_em_sm.png' %}">
									<div class="notification-text1">3</div>
								</a>
							</li> -->
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	{% endif %}
	{% block content %}
    {% endblock %}
	
	
		<!--
	<div style="display:none" class="alert_list">
		<ul class="custom-image">
			<li data-alert_id="1" class="alert_li">
				<a class="alert_message"><span style="color:#2098df">Jas Sangha </span><span style="color:black">is </span><span style="color:green">available </span><span style="color:black">for Indian Gymkhana vs Broardfields</span></a> <br />
			</li>
			<div class="notif-border-bottom"></div>
			<li data-alert_id="2" class="alert_li">
				<a class="alert_message"><span style="color:#2098df">Sunil Sharma </span><span style="color:black">is </span><span style="color:red">unavailable </span><span style="color:black">for Indian Gymkhana vs Broardfields</span></a> <br />
			</li>
			<div class="notif-border-bottom"></div>
		</ul>
		</div>-->

	
	
	<div class="nag_arrow">
		<div class="col-md-4 col-md-offset-4  col-xs-12 text-center">
			<div class="col-md-4 col-sm-4 col-xs-4 text-right">
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><img src="{% static 'images/icon/arrow_left.png' %}" /></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
				<h1 class=""></h1>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-left">
				<a  class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><img src="{% static 'images/icon/arrow_right.png' %}" /></a>
			</div>
			<!-- <div class="col-md-12 col-sm-12 col-xs-12">
				<div id="bg-description">First Image Text</div>
			</div> -->
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<p style="margin:0;">&copy; <span id="demo">2014</span> local-teams.com</p>
			</div>	
			<div class="col-md-9 col-sm-9 col-xs-12 hidden-xs">
				<nav role="navigation" class="navbar-footer" style="margin-bottom:0px;">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="footer-copy">
						<div class="pull-right footer-links hidden-xs">
							<a href="/about_us" >About Us</a> |
							<a href="/contact_us" >Contact Us</a> |
							<a href="/cookie_policy" >Cookie Policy</a> |
							<a href="/privacy_policy" >Privacy Policy</a> |
							<a href="/terms_and_conditions" >Terms and Conditions</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</footer>
	<script src="{% static 'js/validate.js' %}"></script>
	<script src="{% static 'js/common.js' %}"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		var m = ({{images_list | safe}});
		for(var i=0 ; i< m.length ; i++) {
			div = "";
			pointer = '';
			if(m[i]['description'] != ""){
				pointer += 'cursor: pointer;';
				div += '<div class="carousel-caption" style="font-size:18px;cursor: pointer; " ><span style="background-color: #3c3d3f;opacity: 0.5;color: white; -webkit-border-radius: 40px;-moz-border-radius: 40px;border-radius: 40px;padding:6px 40px;margin-top:5px;">'+m[i]['description']+'</span></div>';
			}
			$('.carousel-inner').append('<div class="item" onclick="viewProfile(\''+m[i]['rel_url']+'\')"  style="background:url('+m[i]['image_url']+') no-repeat center center fixed ;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;'+pointer+'">'+div+'</div>')
			$('.item').first().addClass('active');
			$('#carousel').carousel();
		}
		/************************************************************************************************
		{
			$('.carousel-inner').append('<div class="item" onclick="viewProfile(\''+m[i]['rel_url']+'\')" style="background:url('+m[i]['image_url']+') no-repeat center center fixed ;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"><div class="carousel-caption" style="font-size:18px;cursor: pointer; " ><span style="background-color: #3c3d3f;opacity: 0.5;color: white; -webkit-border-radius: 40px;-moz-border-radius: 40px;border-radius: 40px;padding:6px 40px;margin-top:5px;">'+m[i]['description']+'</span></div></div>')
			$('.item').first().addClass('active');
			$('#carousel').carousel();
		}
		************************************************************************************************/
		/**** onclick="viewProfile('+m[i]['id']+')"  ****/
	});
	$('.logout').click(function(){
		{% if title != 'Registration' %}
		$(deleteToken);
		{% endif %}
		window.location.href = "/logout/";
	});
	/*$(".notif-icon").click(function(){
			$('#notification-div').toggle('slow');
		});*/
	</script>
	{% if menu_head == 'Settings' and title != 'Registration' %}
	
	<script type="text/javascript">
		$(".notif-icon").popover({
			'title' : 'Notifications', 
			'html' : true,
			'placement' : 'bottom',
			'content' : 'Loading...'
		});
		$(window).load(function() {
			$('#loader').fadeOut(1500);//hide('slow');
			$(requestPermission);
			$(notificationLoad);
		});
		/*$(".notif-icon").popover({
			'title' : 'Notifications', 
			'html' : true,
			'placement' : 'bottom',
			'content' : html
		});*/
		var popover = $('.notif-icon').data('bs.popover');
		
		function notificationLoad(){
			$.ajax({
				type:"POST",
				url:"/notificationsList/",
				data:"",
				success:function(response){
					console.log(response);
					var html = "<div class='alert_list'>";
					/* var html = "<div class='alert_list'><ul class='custom-image'>"; */
					if(response.badge_count == 0){
						$(".notification-text").hide();
					}
					else{
						$(".notification-text").show();
						$(".notification-text").text(response.badge_count);
					}
					if (response == "No data"){
						html += "No data";
					}
					else{
						for(var i=0; i<response.notifications.length; i++){
						/*<a class='alert_message' style='color:black' href='"+response.notifications[i].click_action+"'>*/
							html += "<div class='row "+response.notifications[i].msg_status+"'><div class='col-sm-2 col-md-2 col-xs-2 pull-left'><img src='"+response.notifications[i].player_icon+"' class='' width='25px' height='25px' /></div><div class='col-sm-10 col-md-10 col-xs-10 pull-right'><a click_action='"+response.notifications[i].click_action+"' data-alert_id='"+response.notifications[i].notif_id+"' class='alert_message'><span style='color:#2098df'>"+response.notifications[i].player_name+"</span> is <span class='"+response.notifications[i].player_status+"'>"+response.notifications[i].player_status+"</span> for "+response.notifications[i].fixture_name+"</a><br/></div></div><div class='notif-border-bottom'></div>";
						}
					}
					/* html+="</ul></div>"; */
					html+="</div>";
					$('.notif-icon').attr('data-trigger', 'focus');
					$('.notif-icon').attr('data-content', html);
					var popover = $('.notif-icon').data('bs.popover');
					popover.setContent();
					popover.$tip.addClass(popover.options.placement);
					if ($(".notif-icon").next('div.popover:visible').length){
						popover.show();
					}
				},
				error:function(err){
					console.log(err);
				},			
			});
		}
		$('.notif-icon').click(function(){
			$(".alert_message").on('click', function(){
				var id = $(this).attr('data-alert_id');
				var link = $(this).attr('click_action');
				$.ajax({
					type:"POST",
					url:"/notificationsRead/",
					data:{'notif_id':id},
					success:function(response){
						console.log(response);
						window.location.href = link;
					},
					error:function(err){
						console.log(err);
					},
				});
				/*success:function(response){*/
				/*alert();*/
			});
		});
	</script>
	
	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-messaging.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
	<script type="text/javascript">
		/*** created with *apps.techqudra* ***/
		/*
		// Initialize Firebase
		var config = {
			apiKey: "AIzaSyDwWC7xMuMRhZ5tMzPKo4sz0L604toAhyw",
			authDomain: "localteams-a96f4.firebaseapp.com",
			databaseURL: "https://localteams-a96f4.firebaseio.com",
			projectId: "localteams-a96f4",
			storageBucket: "localteams-a96f4.appspot.com",
			messagingSenderId: "1067438249776"
		};
		*/

		/*** created with *vycleans* ***/
		// Initialize Firebase
		/****
		var config = {
			apiKey: "AIzaSyBYLibZsxS0SU2nioDWey7ZCseXmuZmtsk",
			authDomain: "localteams-10d87.firebaseapp.com",
			databaseURL: "https://localteams-10d87.firebaseio.com",
			projectId: "localteams-10d87",
			storageBucket: "localteams-10d87.appspot.com",
			messagingSenderId: "717002291244"
		};
		****/
		var config = {
			apiKey: "AIzaSyDGm3GWAgQz7UNxlbVACpSkTBvwYjlGl1E",
			authDomain: "local-teams89.firebaseapp.com",
			databaseURL: "https://local-teams89.firebaseio.com",
			projectId: "local-teams89",
			storageBucket: "local-teams89.appspot.com",
			messagingSenderId: "89668080115"
		};
		firebase.initializeApp(config);

		const messaging = firebase.messaging();

		/***
		console.log("messaging.getToken()");
		console.log(messaging.getToken());
		***/

		// [START refresh_token
		// Callback fired if Instance ID token is updated.
		messaging.onTokenRefresh(function() {
			messaging.getToken().then(function(refreshedToken) {
				console.log('Token refreshed.');
				// Indicate that the new Instance ID token has not yet been sent to the
				// app server.
				setTokenSentToServer(false);
				// Send Instance ID token to app server.
				sendTokenToServer(refreshedToken);
			})
			.catch(function(err) {
				console.log('Unable to retrieve refreshed token ', err);
			});
		});
		// END refresh_token]

		// [START receive_message
		/***
		** Handle incoming messages. Called when:
		* a message is received while the app has focus
		* the user clicks on an app notification created by a sevice worker
		* `messaging.setBackgroundMessageHandler` handler.
		***/
		messaging.onMessage(function(payload) {
			$(notificationLoad);
			/* console.log("Message received. ", payload); */
			/* console.log("click_action ", payload.data.click_action); */
			icon = '/static/images/icon/favicon.ico';
			msg = payload.notification.body;
			Lobibox.notify('default', {
				pauseDelayOnHover: true,
				continueDelayOnInactiveTab: false,
				onClickUrl: payload.data.click_action,
				size: 'mini',
				position: 'right top',
				msg: msg,
				img: icon,
				title: 'LocalTeams',
			});
		});
		// END receive_message]

		/***
		** Send the Instance ID token your application server, so that it can:
		* send messages back to this app
		* subscribe/unsubscribe the token from topics
		***/
		function sendTokenToServer(currentToken) {
			if (!isTokenSentToServer()) {
				console.log('Sending token to server...');
				// TODO(developer): Send the current token to your server.
				setTokenSentToServer(true);
			}
			else {
				console.log('Token already sent to server so won\'t send it again ' +'unless it changes');
			}
		}

		function isTokenSentToServer() {
			return window.localStorage.getItem('sentToServer') == 1;
		}

		function setTokenSentToServer(sent) {
			window.localStorage.setItem('sentToServer', sent ? 1 : 0);
		}

		function requestPermission() {
			/*const messaging = firebase.messaging();*/
			console.log('Requesting permission...');
			// [START request_permission
			messaging.requestPermission().then(function() {
				console.log('Notification permission granted.');
				return messaging.getToken();
			})
			.then(function(token){
				/* console.log('Token - '+token); */
				$.ajax({
					type:'POST',
					url : '/updateUserToken/',
					data : {'token':token},
					success:function(response){
						console.log("Token Saved");
					},
					error: function(err){
						console.log(err);
					}
				});
			})
			.catch(function(err) {
				console.log('Unable to get permission to notify.', err);
			});
			// END request_permission]
		}

		function deleteToken() {
			const messaging = firebase.messaging();
			// Delete Instance ID token.
			// [START delete_token
			messaging.getToken().then(function(currentToken) {
				messaging.deleteToken(currentToken).then(function() {
					console.log('Token deleted.');
					setTokenSentToServer(false);
				})
				.catch(function(err) {
					console.log('Unable to delete token. ', err);
				});
				// END delete_token]
			})
			.catch(function(err) {
				console.log('Error retrieving Instance ID token. ', err);
			});
		}
	</script>
	
	{% else %}
	
	<script type="text/javascript">
	$(window).load(function() {
		$('#loader').fadeOut(1500);//hide('slow');
    });
	</script>
	
	{% endif %}
</body>
</html>