{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<style>
	input, .export {display: block;}
	label{
		font-weight: lighter;
		font-size: 14px;
		font-family: Arial;
		color: red;
		margin-left: 20px;
		margin-top: 2px;
	}
    .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
		outline: 0px auto -webkit-focus-ring-color !important;
		outline-offset: -2px;
	}
	.cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
	}
	.image-editor .cropit-preview {width: 270px;height: 270px;}
	
	.image-editor1 .cropit-preview {width: 550px;height: 300px;}
	
	.image-editor2 .cropit-preview {width: 700px;height: 350px;}
	
	.age_groups_btn{background-color:#ebecea !important;border-color: #9c9e9f !important;}
	
	.cropit-preview-image-container {cursor: move;}
	
    .image-size-label {margin-top: 10px;}
	
	.remove{position: absolute;right: 2px;top: 2px;}
	
	.form-group{ position: relative;}
	
	.errL-icon{ position: absolute; top: 49px; left: 3px;}
	
	.club-icon{ position: absolute; top: 38px; left: 3px;}
	
	.training-icon{ position: absolute; bottom: 8px; left: 6px;}
	
	.history-icon{position: absolute; left: 34px;}
	
	.team-icon{position: absolute; left: 5px; bottom: 29px;}
	
	.logo-icon{position: absolute; left: 19px; bottom: 27px;}
	
	.cover-icon{position: absolute; left: 29px; bottom: 9px;}
	
	.others {color:#636363}
	
	.age_group-icon{position: relative;bottom: 3px;left: 3px;}
	
	.team_gender-icon{position: relative;bottom: 3px;left: 3px;}
	
	.search-icon{bottom: 0px !important;top:0px;right: 0px;}
	
	#age_groupM{position: relative;bottom: 20px;}
	
	#team_genderM{position: relative;bottom: 20px;}
	
	@media(min-width:768px){
		.main-panel{margin-top: 0px !important;}
		.search-icon{
			top: 0px !important;
			right: 0px !important;
		}
	}
	#street-name{
		text-transform:lowercase;
	}
</style>

<div class="wrapper">
	<div class="container">
        <div class="row">
            <div class="main-panel col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    {% if editmode == 1 %}
                    <form action="/clubSave/" method="POST" enctype="multipart/form-data" id="clubForm" class="form-horizontal">{% csrf_token %}
					{% else %}
					<form action="/clubReg/" method="POST" enctype="multipart/form-data" id="clubForm" class="form-horizontal">{% csrf_token %}
					{% endif %}
						<input type="hidden" name="thrfrm" value="true"/>
						<div class="col-md-9 col-sm-10 col-xs-12 first-left">
							<div class="club_reg" id="club-reg-intro">
								<h2 class="header-title">Club registration</h2>
							</div>
							{% if response.club_name %}
							<div class="club-name" id="club-reg-strip" style="background-color: {{response.strip_colour}}">
								<div class="col-md-8 col-sm-8 col-xs-8">
									<div class="form-group">
										<input type="text" name="club_name" id="club_name" value="{{response.club_name}}" class="form-control" placeholder="Club name" style="text-transform:uppercase" required />
										<img src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive club-icon hide" id="clubRE" />
										<label class="hide" id="club_nameM">Please enter the name of your club</label>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4">
									{% if response.strip_colour == 'rgb(255, 255, 255)' %}
									<a href="#" data-color="rgb(100,100,100)" class="btn btn-light-grey-black-border btn-arrow btn-my btn-md pull-right btn-height-tb colorpicker-element" id="header-colorpicker" style="background-color:rgba(0,0,0,0); color:#0f204b;">C<span class="hidden-xs">olour <img src="{% static 'images/icon/right_icon_bg_white.png' %}"></span></a>
								{% else %}
									<a href="#" data-color="rgb(100,100,100)" class="btn btn-light-grey-white-border btn-arrow btn-my btn-md pull-right btn-height-tb colorpicker-element" id="header-colorpicker" style="background-color:rgba(0,0,0,0);">C<span class="hidden-xs">olour <img src="{% static 'images/icon/arrow_right_xs.png' %}"></span></a>
								{% endif %}
								</div>
							</div>
							{% else %}
							<div class="club-name" id="club-reg-strip">
								<div class="col-md-8 col-sm-8 col-xs-8">
									<div class="form-group">
										<input type="text" name="club_name" id="club_name" placeholder="Club name" class="form-control" style="text-transform:uppercase" required />
										<img src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive club-icon hide" id="clubRE" />
										<label class="hide" id="club_nameM">
										Please enter the name of your club</label>
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4">
									<a href="#" data-color="rgb(100,100,100)" class="btn  btn-light-grey-white-border btn-arrow btn-my btn-md pull-right btn-height-tb colorpicker-element" id="header-colorpicker" style="background-color:rgba(0,0,0,0);"> C<span class="hidden-xs">olour <img src="{% static 'images/icon/arrow_right_xs.png' %}"></span>
									</a>
								</div>
							</div>
							{% endif %}

							<div class="small-strip">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<span class="section-title">Club information</span>
								</div>
							</div>
							<div class="club-info">

								{% if response.logo_photo %}
								<div class="col-md-3 col-sm-3 col-xs-12">
									<img onclick="logo_click_modal()" id="club-reg-photo-upload" src="{{response.logo_photo.url}}" style="/*border: #939496 dashed 1px;*/" />
									<input id="club-logo-upload" name="club_logo" type="hidden" value="{{response.logo_photo.url}}"/>
								</div>
								{% else %}
								<div class="col-md-3 col-sm-3 col-xs-12">
									<img onclick="logo_click_modal()" id="club-reg-photo-upload"
										 src="{% static 'images/icon/LT_logo_photo.png' %}" style="border: #939496 dashed 1px;" />
									<input id="club-logo-upload" name="club_logo" type="hidden"/>
								</div>
								{% endif %}


								<div class="col-md-5 col-sm-5 col-xs-12 form-club">
									<div class="form-group">
										{% if mobile_no %}
										<input id="mobile_no" name="admin_mobile_no" type="number" placeholder="Club admin mobile number" class="form-control input-md" value="{{mobile_no}}" pattern="[0-9]{11}" required />
										{% else %}
										<input id="mobile_no" name="admin_mobile_no" type="number" placeholder="Club admin mobile number" class="form-control input-md" pattern="[0-9]{11}" required>
										{% endif %}
										<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="mobileRE" />
										<label id="mobile_noV" class="hide">Please enter valid mobile number with 11 digits. This will allow you to login to our mobile app</label>
										<label id="mobile_noM" class="hide">Please enter valid mobile number. This will allow you to login to our mobile app</label>
										<label id="mobile_noX" class="hide">Please enter another mobile number. This mobile number is already registered.</label>
									</div>
									<div class="form-group">
										{% if response.established %}
										<input id="estdyr" name="estdyr" type="number" placeholder="Established (e.g 1980)" class="form-control input-md" value="{{response.established}}" required>
										{% else %}
										<input id="estdyr" name="estdyr" type="number" placeholder="Established (e.g 1980)" class="form-control input-md" required>
										{% endif %}
										<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="estdRE" /><label id="estdyrM" class="hide">Please enter a year between 1850 - <span id="demo1"></span></label>
									</div>
									<div class="form-group">
										<div class="selectContainer">
											{% if response.gender %}
											<select class="form-control input-md" id="gender" name="gender" required>
												<option value="" style="color:#a0a0a0;">Gender</option>
												{% for gen in gender_list %}
												{% if gen.gen_id == response.gender_id %}
												<option value="{{gen.gen_id}}" selected="selected" class="others">{{gen.gender}}</option>
												{% else %}
												<option value="{{gen.gen_id}}" class="others">{{gen.gender}}</option>
												{% endif %}
												{% endfor %}
											</select>
											{% else %}
											<select class="form-control input-md" id="gender" name="gender" required>
												<option value="" style="color:#a0a0a0;">Gender</option>
												{% for gen in gender_list %}
												<option value="{{gen.gen_id}}" class="others">{{gen.gender}}</option>
												{% endfor %}
											</select>
											{% endif %}
											<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="genderRE" />
											<label id="genderM" class="hide">Please select a gender</label>
										</div>
									</div>

									<div class="form-group">
										<div class="selectContainer">
										{% if editmode == 1 %}
											<input type="hidden" name="num_teams_val" id="num_teams_val" value="{{num_teams}}" />
											<select class="form-control input-md" id="num-teams" name="num_teams" disabled>
											<option value="0" style="color:#a0a0a0;">No Teams</option>
											{% for i in nt %}
											{% if i == num_teams %}
											<option value={{i}} selected="selected" class="others">{{i}}</option>
											{% else %}
											<option value={{i}}>{{i}}</option>
											{% endif %}
											{% endfor %}
											</select>
										{% else %}
											<input type="hidden" name="num_teams_val" id="num_teams_val" value="" />
											<select class="form-control input-md" id="num-teams" name="num_teams"
												required>
											<option value="0" style="color:#a0a0a0;">No. of Teams</option>
											{% for i in nt %}
											<option value={{i}} class="others">{{i}}</option>
											{% endfor %}
											</select>
										{% endif %}
										</div>
										<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="teamsRE" />
										<label id="limit" style="display:None;" >Limit exceeded... Please select teams between 1 to 20</label>
										<label id="num-teamsM" class="hide">How many teams play for your club?</label>
									</div>

									{% if editmode == 1 %}
									<input type="hidden" name="removed" id="removed" value=""/>
									<input type="hidden" name="new_added" id="new-added" value=""/>
									<div id="begin"></div>
									<div id="age_groups_dropdown">
									</div>
									<div id="age_groups_dropdown_n">
									</div>
									<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive hide" id="age_groupRE" />
									<label id="age_groupM" class="hide">Please select age groups</label>
									
									<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive hide" id="team_genderRE" />
									<label id="team_genderM" class="hide">Please select gender of team</label>
									{% else %}
									<div id="begin"></div>
									<div id="age_groups_dropdown">
									</div>
									<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive hide" id="age_groupRE" />
									<label id="age_groupM" class="hide">Please select age groups</label>
									<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive hide" id="team_genderRE" />
									<label id="team_genderM" class="hide">Please select gender of team</label>
									{% endif %}
									
									{% if response.league_table_url %}
									<div class="form-group">
										<input id="league_table" name="league_table" type="text" placeholder="League table link" class="form-control input-md" value="{{response.league_table_url}}">
									</div>
									{% else %}
									<div class="form-group">
										<input id="league_table" name="league_table" type="text" placeholder="League table link" class="form-control input-md">
									</div>
									{% endif %}
									{% if response.fixture_table_url %}
									<div class="form-group">
										<input id="fixture_link" name="fixture_link" type="text" placeholder="Fixture list link" value="{{response.fixture_table_url}}" class="form-control input-md">
									</div>
									{% else %}
									<div class="form-group">
										<input id="fixture_link" name="fixture_link" type="text" placeholder="Fixture list link" class="form-control input-md">
									</div>
									{% endif %}
									{% if response.website_url %}
									<div class="form-group">
										<input id="website_link" name="website_link" type="text" placeholder="Website" value="{{response.website_url}}" class="form-control input-md">
									</div>
									{% else %}
									<div class="form-group">
										<input id="website_link" name="website_link" type="text" placeholder="Website" class="form-control input-md">
									</div>
									{% endif %}
								</div>

								<div class="col-md-4 col-sm-4 col-xs-12" id="club-reg-shirts-container">
									<div class="shirt-container-1">
										<div id="shirt-1" class="club-reg-shirt">
											<div class="club-reg-shirt-bg"></div>
											{% if homekit.pattern_mode == 'split' %}
											<div class="club-reg-shirt-split" style="display: block;background-color : {{homekit.pattern_colour}}"></div>
											{% else %}
											<div class="club-reg-shirt-split"></div>
											{% endif %}
											{% if homekit.pattern_mode == 'hoop' %}
											<div class="club-reg-shirt-hoops" style="display: block">
												<ul class="hoops">
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
												</ul>
											</div>
											{% else %}
											<div class="club-reg-shirt-hoops">
												<ul class="hoops">
													<li class="hoop"></li>
													<li class="hoop"></li>
													<li class="hoop"></li>
													<li class="hoop"></li>
													<li class="hoop"></li>
												</ul>
											</div>
											{% endif %}
											{% if homekit.pattern_mode == 'stripe' %}
											<div class="club-reg-shirt-stripes" style="display: block">
												<ul class="stripes">
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>
												</ul>
											</div>
											{% else %}
											<div class="club-reg-shirt-stripes">
												<ul class="stripes">
													<li class="stripe"></li>
													<li class="stripe"></li>
													<li class="stripe"></li>
													<li class="stripe"></li>
												</ul>
											</div>
											{% endif %}
											<div class="club-reg-shirt-left" id="sleeve-L-home" style="background-color: {{homekit.sleeve_colour}}"></div>
											<div class="club-reg-shirt-mid" id="mid-home" style="background-color: {{homekit.shirt_colour}}"></div>
											<div class="club-reg-shirt-right" id="sleeve-R-home" style="background-color: {{homekit.sleeve_colour}}"></div>
										</div>
										<a href="#" id="shirt-1-cp" class="btn btn-light-grey-white-border btn-arrow1 colorpicker-element btn-font">Edit
											<img src="{% static 'images/icon/arrow_right_xs.png' %}"/>
										</a>
									</div>


									<div class="shirt-container-2">

										<div id="shirt-2" class='club-reg-shirt'>
											<div class="club-reg-shirt-bg"></div>
											{% if awaykit.pattern_mode == 'split' %}
											<div class="club-reg-shirt-split" id="split-away" style="display: block; background-color: {{awaykit.pattern_colour}}"></div>
											{% else %}
											<div class="club-reg-shirt-split"></div>
											{% endif %}
											{% if awaykit.pattern_mode == 'hoop' %}
											<div class="club-reg-shirt-hoops" style="display: block">
												<ul class="hoops">
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
												</ul>
											</div>
											{% else %}
											<div class="club-reg-shirt-hoops">
												<ul class="hoops">
													<li class="hoop"></li>
													<li class="hoop"></li>
													<li class="hoop"></li>
													<li class="hoop"></li>
													<li class="hoop"></li>
												</ul>
											</div>
											{% endif %}
											
											{% if awaykit.pattern_mode == 'stripe' %}
											<div class="club-reg-shirt-stripes" style="display: block">
												<ul class="stripes">
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>
												</ul>
											</div>
											{% else %}
											<div class="club-reg-shirt-stripes">
												<ul class="stripes">
													<li class="stripe"></li>
													<li class="stripe"></li>
													<li class="stripe"></li>
													<li class="stripe"></li>
												</ul>
											</div>
											{% endif %}
											<div class="club-reg-shirt-left" id="sleeve-L-away" style="background-color: {{awaykit.sleeve_colour}}"></div>
											<div class="club-reg-shirt-mid" id="mid-away" style="background-color: {{awaykit.shirt_colour}}"></div>
											<div class="club-reg-shirt-right" id="sleeve-R-away" style="background-color: {{awaykit.sleeve_colour}}"></div>
										</div>

										<a href="#" id="shirt-2-cp" class="btn btn-light-grey-white-border btn-arrow1 colorpicker-element btn-font">Edit
											<img src="{% static 'images/icon/arrow_right_xs.png' %}"/>
										</a>
									</div>
									
									{% if response.cover_photo_url %}
									<img onclick="cover_click_modal()" id="club-reg-cover-upload" src="{{response.cover_photo_url.url}}" style="/*border: #939496 dashed 1px;*/" />
									<input id="club-cover-upload" name="club_cover" type="hidden" value="{{response.cover_photo_url.url}}"/>
									{% else %}
									<img onclick="cover_click_modal()" id="club-reg-cover-upload" src="{% static 'images/icon/LT_cover_photo.png' %}" style="border: #939496 dashed 1px;" />
									<input id="club-cover-upload" name="club_cover" type="hidden"/>
									{% endif %}
								</div>
							</div>
							<div class="home-div">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Home ground</span>
											</div>
										</div>
										<div class="col-md-12 col-sm-12 col-xs-12 new-hm">
											<div class="form-group">
												{% if ground.ground_name %}
												<input id="ground-name" name="ground_name" type="text" placeholder="Ground name" value="{{ground.ground_name}}" class="form-control input-md" required>
												{% else %}
												<input id="ground-name" name="ground_name" type="text" placeholder="Ground name" class="form-control input-md" required>
												{% endif %}
												<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="groundRE" />
												<label id="ground-nameM" class="hide">Please enter a ground name</label>
											</div>
											
											<div class="form-group">
												{% if ground.postcode %}
												<input id="postcode" name="postcode" type="text" placeholder="Postcode" class="form-control input-md postcode" value="{{ground.postcode}}" required>
												{% else %}
												<input id="postcode" name="postcode" type="text" placeholder="Postcode" class="form-control input-md postcode" required>
												{% endif %}
												<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="postcodeRE" />
												<label id="postcodeM" class="hide">Please enter a postal code</label>
												<label id="postcodeV" class="hide">Please enter valid postal code</label>
											</div>
											
											<div class="form-group">
												{% if ground.street %}
												<input id="street-name" name="street_name" type="text" placeholder="Street name" value="{{ground.street}}" class="form-control input-md capitalize">
												{% else %}
												<input id="street-name" name="street_name" type="text" placeholder="Street name" class="form-control input-md capitalize">
												{% endif %}
												<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="streetRE" />
												<label id="street-nameM" class="hide">Please enter a street name</label>
											</div>
											
											{% if ground.postcode %}
											<div class="other-fld">
												<div class="form-group">
													<input id="town-name" name="town_name" type="text" placeholder="Town/City" value="{{ground.town}}" class="form-control input-md" readonly>
												</div>
												<!--  -->
												<div class="form-group">
													<input id="county-name" name="county_name" type="text" placeholder="County" value="{{ground.county}}" class="form-control input-md" readonly>
												</div>
												<div class="form-group">
													<input id="country-name" name="country_name" type="text" placeholder="Country" value="{{response.country_name}}" class="form-control input-md" readonly>
												</div>
												<div class="form-group">
													<input id="telephone" pattern="[0-9]{11}" title="11 digits only" name="telephone" placeholder="Contact number" value="{{ground.phone}}" class="form-control input-md" required>
													<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="telephoneRE" />
													<label id="telephoneV" class="hide">Please enter valid contact number with 11 digits</label>
													<label id="telephoneM" class="hide">Please enter valid contact number</label>
												</div>
											</div>
											{% else %}
											<div class="other-fld" id="o-fld">
												<div class="form-group">
													<input id="town-name" name="town_name" type="text" placeholder="Town/City" class="form-control input-md" readonly>
												</div>
												<div class="form-group">
													<input id="county-name" name="county_name" type="text" placeholder="County" class="form-control input-md" readonly>
												</div>
												<div class="form-group">
													<input id="country-name" name="country_name" type="text" placeholder="Country" class="form-control input-md" readonly>
												</div>
												<div class="form-group">
													<input id="telephone" type="number" pattern="[0-9]{11}" title="11 digits only" name="telephone" placeholder="Contact number" class="form-control input-md" required>
													<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="telephoneRE" />
													<label id="telephoneV" class="hide">Please enter valid contact number with 11 digits</label>
													<label id="telephoneM" class="hide">Please enter valid contact number</label>
												</div>
											</div>
											{% endif %}
										</div>
									</div>

									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Team photo</span>
											</div>
										</div>
										<div class="col-md-12 col-sm-12 col-xs-12 new-tm">
											<div class="bg-none br-reset fitted padding-normal fill-contents" id="team-photo-container">
												{% if response.team_photo %}
												<img onclick="team_photo_upload()" id="club-reg-team-upload" src="{{response.team_photo.url}}"/>
												<input id="club-team-upload" name="club_team" type="hidden" value="{{response.team_photo.url}}"/>
												{% else %}
												<img onclick="team_photo_upload()" id="club-reg-team-upload" src="{% static 'images/icon/LT_team_photo.png' %}" style="border: #939496 dashed 1px;border-radius: 8px;" />
												<input id="club-team-upload" name="club_team" type="hidden" />
												{% endif %}
											</div>
										</div>
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Training</span>
											</div>
										</div>
										<div class="col-md-12 col-sm-12 col-xs-12 new-tm">
											{% if response.training_text %}
											<textarea type="text" name="training" id="training" placeholder="Day of week,time,address,town,postcode" class="form-control pos input-md textarea">{{response.training_text}}</textarea>
											{% else %}
											<textarea type="text" name="training" id="training" placeholder="Day of week,time,address,town,postcode" class="form-control pos input-md textarea"></textarea>
											{% endif %}
											<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive training-icon hide" id="trainingRE" />
											<label id="training_textM" class="hide">Please provide training details</label>
										</div>
									</div>
								</div>
							</div>
							<div class="history-div">
								<div class="small-strip">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<span class="section-title">Club history</span>
									</div>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 new-his">
									{% if response.history_text %}
									<textarea type="text" rows=4 name="club_history" id="club_history" placeholder="Tell me about your history..." class="form-control pos input-md textarea1">{{response.history_text}}</textarea>
									{% else %}
									<textarea type="text" rows=4 name="club_history" id="club_history" placeholder="Tell me about your history..." class="form-control pos input-md textarea1"></textarea>
									{% endif %}
									<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive history-icon hide" id="historyRE" />
									<label id="history_textM" class="hide">Please provide some details about your club  </label>
									
									<input type="hidden" name="club_reg_strip" id="club-reg-strip-data" value=""/>
									<input type="hidden" name="home_kit" id="home-kit" value=""/>
									<input type="hidden" name="away_kit" id="away-kit" value=""/>

									<button type="button" id="submitClubInfo" class="btn btn-lg btn-success btn-arrow">Submit <img src="{% static 'images/icon/arrow_right_xs.png' %}"></button>
								</div>
							</div>
						</div>
					</form>

					<div class="col-md-3 col-sm-2 hidden-xs">
						<div class="ad-inner-container"
							 style="background-color:white;max-height:1024px;min-height:768px;">
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/reg-validate.js' %}"></script>
{% if editmode == 1 %}
<script type="text/javascript">
	AGEGROUP = [];
	{% for ag in age_group %}
		AGEGROUP.push("{{ag|safe}}");
	{% endfor %}
	var _begin = '<div class="form-group" id="ag"><div style="color: #555;font-weight: normal;font-size: 15px;margin-bottom: 0px;"><strong>Age group</strong><a id="addAG" class="pull-right" style="color:#656464;text-decoration:none;cursor:pointer;"><img src ="{% static 'images/icon/Plus.png' %}" height="18px" width="18px" class="img-responsive pull-left" style="margin-top: 1px;">&nbsp;Add new team</a></div></div>'
	var start = '<div class="row">';
	var end = '</div>';
	num_teams = $("#num-teams").val();
	var div = '';
	var html = start;
	var rows = (num_teams/2|0);
	var cols = (num_teams%2);
	if (rows == 0){
		if(cols == 1){
			html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group" ><div class="btn form-control age_groups_btn" name="age_groups_btn_1" id="age_groups_btn_1" value="'+AGEGROUP[0]+'">'+AGEGROUP[0]+'<img src ="{% static 'images/icon/Red_X.png' %}" height="13px" width="13px" class="img-responsive pull-right remove" /></div></div></div><div class="clearfix"></div>' + end;
		}
		div = html + end;
		console.log(div)
		$("#begin").html(_begin);
		$("#age_groups_dropdown").html(div);
	}
	else{
		var j = 1
		for(var i = 1; i<= rows; i++){
			html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><div class="btn form-control age_groups_btn" name="age_groups_btn_'+j+'" id="age_groups_btn_'+j+'" value="'+AGEGROUP[j-1]+'">'+AGEGROUP[j-1]+'<img src ="{% static 'images/icon/Red_X.png' %}" height="13px" width="13px" class="img-responsive pull-right remove" /></div></div></div>' + '<div class="col-md-6 col-sm-12 col-xs-12 first-right"><div class="form-group"><div class="btn form-control age_groups_btn" name="age_groups_btn_'+(j+1)+'" id="age_groups_btn_'+(j+1)+'" value="'+AGEGROUP[j]+'">'+AGEGROUP[j]+'<img src ="{% static 'images/icon/Red_X.png' %}" height="13px" width="13px" class="img-responsive pull-right remove" /></div></div></div><div class="clearfix"></div>';
			j+=2;
		}
		if(cols == 1){
			html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><div class="btn form-control age_groups_btn" name="age_groups_btn_'+num_teams+'" id="age_groups_btn_'+num_teams+'" value="'+AGEGROUP[num_teams-1]+'">'+AGEGROUP[num_teams-1]+'<img src ="{% static 'images/icon/Red_X.png' %}" height="13px" width="13px" class="img-responsive pull-right remove" /></div></div></div><div class="clearfix"></div>' + end;
		}
		else{
			html += end;
		}
		div = html;
		console.log(div)
		$("#begin").html(_begin);
		$("#age_groups_dropdown").html(div);
	}
	/*$(document).ready(function(){
		
	});*/
	</script>
{% endif %}
<script type="text/javascript">
	{% if editmode != 1 %}
		$('#gender').css('color','#a0a0a0');
		$('#num-teams').css('color','#a0a0a0');
	{% endif %}
	$('.textarea, .textarea1').wysihtml5({
		"font-styles": false, //Font styling, e.g. h1, h2, etc. Default true
		"emphasis": false, //Italics, bold, etc. Default true
		"lists": false, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
		"html": false, //Button which allows you to edit the generated HTML. Default false
		"link": false, //Button to insert a link. Default true
		"image": false, //Button to insert an image. Default true,
		"color": false //Button to change color of font  
	});
	
	var d = new Date();
	var n = d.getFullYear();
	var estdyr = [];
	var i=1850;
	while(i<=n){
		estdyr.push(i.toString());
		i++;
	}
	var new_added = 0;
	
	var removeArr = [];
	$(".remove").click(function(){debugger;
		var num_teams = parseInt($("#num-teams").val());
		$("#num-teams").val(num_teams-1);
		$("#num_teams_val").attr('value', num_teams-1);
		/*console.log($(this.parentNode).val());*/
		window.removeArr.push($(this.parentNode).attr('value'));
		$("#"+$(this.parentNode).attr('id')).hide();
		$("#limit").hide();
		$("#teamsRE").hide();
	});
	$("#addAG").click(function(){
		var num_teams = parseInt($("#num-teams").val());
		/*console.log(num_teams);*/
		if(num_teams > 19){
			console.log('Limit Exceeded...');
			$("#teamsRE").attr('class','img-responsive errL-icon show');
			$("#limit").show();
		}
		else{
			$("#teamsRE").attr('class','hide');
			$("#limit").hide();
			num_teams +=1;
			$("#num-teams").val(num_teams);
			$("#num_teams_val").attr('value', num_teams);
			window.new_added = num_teams - (parseInt({{num_teams|safe}}) - window.removeArr.length);
		}
		var start = '<div class="row">';
		var end = '</div>';
		var div = '';
		var html = start;
		var rows = (new_added/2|0);
		var cols = (new_added%2);
		var j = 1;
		debugger;
		if($("#gender").val() == "3"){
			/* genderRow = '<div class="col-md-6 col-sm-12 col-xs-12 first-right"><div class="form-group"><div class="selectContainer"><select class="form-control input-md" id="CT_gender_'+j+'" name="CT_gender_'+j+'" required><option value="" style="color:#a0a0a0;">Gender</option><option value="Male" class="others">Male</option><option value="Female" class="others">Female</option></select></div></div></div>';*/
			if (rows == 0){
				if(cols == 1){
					html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><select name="age_groups_'+j+'" id="age_groups_'+j+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>'
					+ '<div class="col-md-6 col-sm-12 col-xs-12 first-right"><div class="form-group"><div class="selectContainer"><select class="form-control input-md team_gender" id="CT_gender_'+j+'" name="CT_gender_'+j+'" required><option value="" style="color:#a0a0a0;">Gender</option><option value="1" class="others">Male</option><option value="2" class="others">Female</option></select></div></div></div>'
					+ end;
				}
				
				div = html + end;
				$("#age_groups_dropdown_n").html(div);
			}
			else{
				for(var i = 1; i<= (2*rows); i++){
					html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><select name="age_groups_'+j+'" id="age_groups_'+j+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>'
					+ '<div class="col-md-6 col-sm-12 col-xs-12 first-right"><div class="form-group"><div class="selectContainer"><select class="form-control input-md team_gender" id="CT_gender_'+j+'" name="CT_gender_'+j+'" required><option value="" style="color:#a0a0a0;">Gender</option><option value="1" class="others">Male</option><option value="2" class="others">Female</option></select></div></div></div>';
					j+=1;
				}
				if(cols == 1){
					html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><select name="age_groups_'+j+'" id="age_groups_'+j+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>'
					+ '<div class="col-md-6 col-sm-12 col-xs-12 first-right"><div class="form-group"><div class="selectContainer"><select class="form-control input-md team_gender" id="CT_gender_'+j+'" name="CT_gender_'+j+'" required><option value="" style="color:#a0a0a0;">Gender</option><option value="1" class="others">Male</option><option value="2" class="others">Female</option></select></div></div></div>'
					+ end;
				}
				else{
					html += end;
				}
				div = html;
				$("#age_groups_dropdown_n").html(div);
			}
		}
		else{
			if (rows == 0){
				if(cols == 1){
					html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><select name="age_groups_'+j+'" id="age_groups_'+j+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>' + end;
				}
				div = html + end;
				$("#age_groups_dropdown_n").html(div);
			}
			else{
				for(var i = 1; i<= rows; i++){
					html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><select name="age_groups_'+j+'" id="age_groups_'+j+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>' + '<div class="col-md-6 col-sm-12 col-xs-12 first-right"><div class="form-group"><select name="age_groups_'+(j+1)+'" id="age_groups_'+(j+1)+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>';
					j+=2;
				}
				if(cols == 1){
					html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><select name="age_groups_'+j+'" id="age_groups_'+j+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>'
					+ end;
				}
				else{
					html += end;
				}
				div = html;
				$("#age_groups_dropdown_n").html(div);
			}
		}
		ageData(num_teams, function (Option){
			options = Option;
			$(".age_group").html(options);
		});
	});
	$('.age_group').change(function() {
		var current = $('.age_group').val();
		if (current != "") {
			$('.age_group').css('color','#555');
		} else {
			$('.age_group').css('color','#a0a0a0');
		}
	});
	$(document).ready(function(){
		var d = new Date();
		var n = d.getFullYear();
		document.getElementById("demo1").innerHTML = n;
		
		$("#estdyr").autocomplete({
			source: function( request, response ) {
				var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
				response( $.grep( estdyr, function( item ){
					return matcher.test( item );
				}) );
			}
		});
			
		$("#postcode").autocomplete({
			source: '/postcodes/',
			minLength:3
		});
		
		$('#gender').change(function() {
			var current = $('#gender').val();
			if (current != "") {
				$('#gender').css('color','#555');
			} else {
				$('#gender').css('color','#a0a0a0');
			}
		});

		$('#num-teams').change(function() {
			var current = $('#num-teams').val();
			if (current == "0") {
				$('#num-teams').css('color','#a0a0a0');
			} else {
				$('#num-teams').css('color','#555');
			}
		});
		{% if editmode != 1 %}
			street_name(function(Streets){
				$("#street-name").autocomplete({
					source: Streets,
					minLength:0
				});
			});
		{% endif %}
	});
	
	$("#num-teams").change(function(){
		var _begin = '<div class="form-group" id="ag"><div style="color: #555;font-weight: normal;font-size: 15px;margin-bottom: 0px;"><strong>Age group</strong></div></div>'
		var start = '<div class="row">';
		var end = '</div>';
		num_teams = $("#num-teams").val();
		var div = '';
		var html = start;
		var rows = (num_teams/2|0);
		var cols = (num_teams%2);
		var j = 1
		/*if (rows == 0){
			if(cols == 1){
				html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><select name="age_groups_'+j+'" id="age_groups_'+j+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>' + end;
			}
			div = html + end;
			//console.log(div)
			$("#begin").html(_begin);
			$("#age_groups_dropdown").html(div);
		}
		else{
			for(var i = 1; i<= rows; i++){
				html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><select name="age_groups_'+j+'" id="age_groups_'+j+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>' + '<div class="col-md-6 col-sm-12 col-xs-12 first-right"><div class="form-group"><select name="age_groups_'+(j+1)+'" id="age_groups_'+(j+1)+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>';
				j+=2;
			}
			if(cols == 1){
				html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><select name="age_groups_'+num_teams+'" id="age_groups_'+num_teams+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>' + end;
			}
			else{
				html += end;
			}
			div = html;
			//console.log(div)
			$("#begin").html(_begin);
			$("#age_groups_dropdown").html(div);
		}*/
		
		debugger;
		if($("#gender").val() == "3"){
			/*genderRow = '<div class="col-md-6 col-sm-12 col-xs-12 first-right"><div class="form-group"><div class="selectContainer"><select class="form-control input-md team_gender" id="CT_gender_'+j+'" name="CT_gender_'+j+'" required><option value="" style="color:#a0a0a0;">Gender</option><option value="1" class="others">Male</option><option value="2" class="others">Female</option></select></div></div></div>';*/
			if (rows == 0){
				if(cols == 1){
					html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><select name="age_groups_'+j+'" id="age_groups_'+j+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>'
					+ '<div class="col-md-6 col-sm-12 col-xs-12 first-right"><div class="form-group"><div class="selectContainer"><select class="form-control input-md team_gender" id="CT_gender_'+j+'" name="CT_gender_'+j+'" required><option value="" style="color:#a0a0a0;">Gender</option><option value="1" class="others">Male</option><option value="2" class="others">Female</option></select></div></div></div>' + end;
				}
				
				div = html + end;
				$("#age_groups_dropdown").html(div);
			}
			else{
				for(var i = 1; i<= (2*rows); i++){
					html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><select name="age_groups_'+j+'" id="age_groups_'+j+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>'
					+ '<div class="col-md-6 col-sm-12 col-xs-12 first-right"><div class="form-group"><div class="selectContainer"><select class="form-control input-md team_gender" id="CT_gender_'+j+'" name="CT_gender_'+j+'" required><option value="" style="color:#a0a0a0;">Gender</option><option value="1" class="others">Male</option><option value="2" class="others">Female</option></select></div></div></div>';
					j+=1;
				}
				if(cols == 1){
					html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><select name="age_groups_'+j+'" id="age_groups_'+j+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>'
					+ '<div class="col-md-6 col-sm-12 col-xs-12 first-right"><div class="form-group"><div class="selectContainer"><select class="form-control input-md team_gender" id="CT_gender_'+j+'" name="CT_gender_'+j+'" required><option value="" style="color:#a0a0a0;">Gender</option><option value="1" class="others">Male</option><option value="2" class="others">Female</option></select></div></div></div>' + end;
				}
				else{
					html += end;
				}
				div = html;
				console.log(div);
				$("#age_groups_dropdown").html(div);
			}
		}
		else{
			if (rows == 0){
				if(cols == 1){
					html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><select name="age_groups_'+j+'" id="age_groups_'+j+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>' + end;
				}
				div = html + end;
				$("#age_groups_dropdown").html(div);
			}
			else{
				for(var i = 1; i<= rows; i++){
					html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><select name="age_groups_'+j+'" id="age_groups_'+j+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>' + '<div class="col-md-6 col-sm-12 col-xs-12 first-right"><div class="form-group"><select name="age_groups_'+(j+1)+'" id="age_groups_'+(j+1)+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>';
					j+=2;
				}
				if(cols == 1){
					html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><select name="age_groups_'+j+'" id="age_groups_'+j+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>' + end;
				}
				else{
					html += end;
				}
				div = html;
				console.log(div);
				$("#age_groups_dropdown").html(div);
			}
		}

		if (num_teams == '' || num_teams == 'undefined' || num_teams <= 0){
			$("#ag").hide();
		}
		else{
				ageData(num_teams, function (Option){
					options = Option;
					$(".age_group").html(options);
				});
			}
		$('.age_group').change(function() {
			var current = $('.age_group').val();
			if (current != "") {
				$('.age_group').css('color','#555');
			} else {
				$('.age_group').css('color','#a0a0a0');
			}
		});
		/*$(".age_group").click(function(){
			idV = [];
			id = [];
			for(var i = 0; i < $("#num-teams").val() ; i++){
				if(idV.length == 0){
					data = $(".age_group:eq("+i+") option:selected").val()
					if(data != ""){
						console.log(data)
						$(".ag"+id[i]).attr('disabled', 'disabled');
						idV.push(i)
					}
					id.push(data);
				}
				else{debugger;
					if($.inArray(i,idV) != -1 ){
						j = $.inArray(i,idV)
						jdata = idV[j]
						$(".ag"+id[jdata]).attr('disabled', false);
						idV.splice($.inArray(i,idV),1)
					}
					data = $(".age_group:eq("+i+") option:selected").val()
					if(data != ""){
						console.log(data)
						$(".ag"+id[i]).attr('disabled', 'disabled');
						idV.push(i)
					}
					id.push(data);
				}
			}
			console.log(id)
		//	if ($("#num-teams").val() > 6){
		//		agCount = 20
		//	}
		//	else{
		//		agCount = $("#num-teams").val() + 14
		//	}
		//	idD = []
		//	for(var i = 0; i < id.length ; i++){
		//		if($.inArray(id[i], idD) != -1 ){
		//			idD.push(id[i])
		//			$(".ag"+id[i]).attr('disabled', 'disabled');
		//		}
		//		else{
		//			console.log("removed Disability");
		//			//$(".ag"+i).removeArr('disabled');
		//		}
		//	}
		});*/

	});
	function loadOpt(response){
		/*console.log(response.length);*/
		var option = '<option value="" style="color:#a0a0a0;">Age group</option>';
		for(var i = 0; i<response.length; i++){
			option += '<option value="'+response[i].age_group_id+'" class="ag'+response[i].age_group_id+' others">'+response[i].age_group+'</option>';
		}
		return option;
	}

	$("#street-name").click(function(){
		$("#o-fld").slideDown("slow");
	});
	$("#street-name").focusout(function(){
		$("#o-fld").slideDown("slow");
	});

	$("#postcode").focusout(function(){
		var pc = $("#postcode").val();
		/*console.log(pc);*/
		$.ajax({
			type : "POST",
			url : "/postcodeAutofilled/",
			dataType : 'Json',
			data : { 'pc' : pc},
			success: function(data) {
				if(data.postal_town != ''){
					$("#town-name").attr('value',data.postal_town);
				}
				else{
					$("#town-name").attr('value','');
				}
				$("#country-name").attr('value',data.country);
				$("#county-name").attr('value',data.county);
			}
		});
		street_name(function(Streets){
			$("#street-name").autocomplete({
				source: Streets
			});
		});
	});

	function team_photo_upload(){
		$('#team_upload').modal('toggle');
	}
	
	function logo_click_modal(){
		$('#logo_upload').modal('toggle');
	}
	
	
	function cover_click_modal(){
		$('#cover_upload').modal('toggle');
	}
	
	$("#submitClubInfo").click(function(){
	    var removes = '[';
	    for(var i = 0; i<window.removeArr.length; i++){
	        if(i==0){
	            removes += '"'+window.removeArr[i]+'"'
	        }
	        else{
	            removes += ',"'+window.removeArr[i]+'"'
	        }
	    }
	    removes +=']';
	    /*console.log(removes);*/
	    $("#new-added").attr('value',window.new_added);
	    $("#removed").attr('value',removes);
		var strip_color = $("#club-reg-strip").css('background-color') //heading background
		$("#club-reg-strip-data").attr('value',strip_color);

		//home
		var home_mid = $("#mid-home").css('background-color');
		var home_sleeve_L = $("#sleeve-L-home").css('background-color');
		var pattern_home = $('input[name=ks-home-pattern]:checked').val();
		var pattern_home_color = '';
		if(pattern_home  == "stripe") {
			pattern_home_color = $("#kc-shirt-1 .club-reg-shirt-stripes .stripe").css('background-color');
		} else if(pattern_home == "hoop") {
			pattern_home_color = $("#kc-shirt-1 .club-reg-shirt-hoops .hoop").css('background-color');
		} else if(pattern_home == "split") {
			pattern_home_color = $("#kc-shirt-1 .club-reg-shirt-split").css('background-color');
		}

		//away
		var away_mid = $("#mid-away").css('background-color')
		var away_sleeve_L = $("#sleeve-L-away").css('background-color')
		var pattern_away = $('input[name=ks-away-pattern]:checked').val();
		var pattern_away_color = '';
		if(pattern_away  == "stripe") {
			pattern_away_color = $("#kc-shirt-2 .club-reg-shirt-stripes .stripe").css('background-color');
		} else if(pattern_away == "hoop") {
			pattern_away_color = $("#kc-shirt-2 .club-reg-shirt-hoops .hoop").css('background-color');
		} else if(pattern_away == "split") {
			pattern_away_color = $("#kc-shirt-2 .club-reg-shirt-split").css('background-color');
		}

		var home_kit = '{"home_mid":"'+home_mid+'","home_sleeve_L":"'+home_sleeve_L+'","home_pattern":"'+pattern_home+'","home_pattern_color":"'+pattern_home_color+'"}';
		var away_kit = '{"away_mid":"'+away_mid+'","away_sleeve_L":"'+away_sleeve_L+'","away_pattern":"'+pattern_away+'","away_pattern_color":"'+pattern_away_color+'"}';
		$("#home-kit").attr('value',home_kit);
		$("#away-kit").attr('value',away_kit);
		
		/* validate(); */
		checkagain();
	});
	function ageData(num_teams,Option){
		$.ajax({
			type: "GET",
			url: "/ageData/",
			data:{
					term:num_teams,
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
				},
			success: function(response, jqXHR) {
				var options = loadOpt(response);
				Option(options)
				/*$(".age_group").html(options);*/
			},
			error: function(err){
				console.log(err);
			}
		});
	}
	function street_name(Streets){
		$.ajax({
			type:"POST",
			url:"/autoStreet/",
			dataType:"Json",
			data:{"postcode":$("#postcode").val()},
			success:function(response){
				Streets(response);
			},
			error: function(err){
				console.log(err);
			}
		})
	}
</script>

<div class="modal fade" id="kitCreator" tabindex="-1" role="dialog" aria-labelledby="imageUploadLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Kit Creator</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 col-xs-4 col-sm-4">
                                <p><b>Home Kit</b></p>
                                <div id="kc-shirt-1" class='club-reg-shirt'>
                                    <div class="club-reg-shirt-bg">
                                    </div>
                                    <div class="club-reg-shirt-split">
                                    </div>
                                    <div class="club-reg-shirt-hoops">
                                        <ul class="hoops">
                                            <li class="hoop"></li>
                                            <li class="hoop"></li>
                                            <li class="hoop"></li>
                                            <li class="hoop"></li>
                                            <li class="hoop"></li>
                                        </ul>
                                    </div>
                                    <div class="club-reg-shirt-stripes">
                                        <ul class="stripes">
                                            <li class="stripe"></li>
                                            <li class="stripe"></li>
                                            <li class="stripe"></li>
                                            <li class="stripe"></li>
                                        </ul>
                                    </div>

                                    <div class="club-reg-shirt-left">
                                    </div>
                                    <div class="club-reg-shirt-mid">
                                    </div>
                                    <div class="club-reg-shirt-right">
                                    </div>
									
                                </div>
                            </div>
                            <div class="col-md-8 col-xs-8 col-sm-8">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="ks-home-shirt" class="control-label" style="width:50px;float:left;">
                                            <input type="text" id="ks-home-shirt" class="ks-cp" data-kit="home"
                                                   data-part="shirt" value="white">
                                        </label>
                                        <div style="float:left;margin-left:5px;margin-top:10px;">
                                            <p>Shirt Colour</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="ks-home-sleeve" class="control-label" style="width:50px;float:left;">
                                            <input type="text" id="ks-home-sleeve" class="ks-cp" data-kit="home" data-part="sleeve" value="">
                                        </label>
                                        <div style="float:left;margin-left:5px;margin-top:10px;">
                                            <p>Sleeve Colour</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-24">
                                            <div class="radio">
                                                <label for="radios-0">
                                                    <input type="radio" name="ks-home-pattern" value="stripe" data-kit="home">
                                                    Stripes
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label for="radios-1">
                                                    <input type="radio" name="ks-home-pattern" value="hoop" data-kit="home">
                                                    Hoops
                                                </label>
                                            </div>

                                            <div class="radio">
                                                <label for="radios-2">
                                                    <input type="radio" name="ks-home-pattern" value="split" data-kit="home">
                                                    Split
                                                </label>
                                            </div>

                                            <div class="radio">
                                                <label for="radios-2">
                                                    <input type="radio" name="ks-home-pattern" value="none" checked="checked" data-kit="home">
                                                    None
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
										<label for="ks-home-pattern" class="control-label" style="width:50px;float:left;">
											<input type="text" id="ks-home-pattern" class="ks-cp" data-kit="home" data-part="pattern" value="">
										</label>
                                        <div style="float:left;margin-left:5px;margin-top:10px;">
											<p>Pattern Colour</p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-md-4 col-xs-4 col-sm-4">
                                <p><b>Away Kit</b></p>
                                <div id="kc-shirt-2" class='club-reg-shirt'>
                                    <div class="club-reg-shirt-bg">
                                    </div>
                                    <div class="club-reg-shirt-split"></div>
                                    <div class="club-reg-shirt-hoops">
                                        <ul class="hoops">
                                            <li class="hoop"></li>
                                            <li class="hoop"></li>
                                            <li class="hoop"></li>
                                            <li class="hoop"></li>
                                            <li class="hoop"></li>
                                        </ul>
                                    </div>
                                    <div class="club-reg-shirt-stripes">
                                        <ul class="stripes">
                                            <li class="stripe"></li>
                                            <li class="stripe"></li>
                                            <li class="stripe"></li>
                                        </ul>
                                    </div>
                                    <div class="club-reg-shirt-left">
                                    </div>
                                    <div class="club-reg-shirt-mid">
                                    </div>
                                    <div class="club-reg-shirt-right">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-xs-8 col-sm-8">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label for="ks-away-shirt" class="control-label" style="width:50px;float:left;">
                                            <input type="text" id="ks-away-shirt" class="ks-cp" data-kit="away" data-part="shirt" value="white">
                                        </label>
                                        <div style="float:left;margin-left:5px;margin-top:10px;">
                                            <p>Shirt Colour</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="ks-away-sleeve" class="control-label" style="width:50px;float:left;">
                                            <input type="text" id="ks-away-sleeve" class="ks-cp" data-kit="away" data-part="sleeve" value="">
                                        </label>
                                        <div style="float:left;margin-left:5px;margin-top:10px;">
                                            <p>Sleeve Colour</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-24">
                                            <div class="radio">
                                                <label for="radios-0">
                                                    <input type="radio" name="ks-away-pattern" value="stripe" data-kit="away">Stripes
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label for="radios-1">
                                                    <input type="radio" name="ks-away-pattern" value="hoop" data-kit="away">Hoops
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label for="radios-1">
                                                    <input type="radio" name="ks-away-pattern" value="split" data-kit="away">
                                                    Split
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label for="radios-2">
                                                    <input type="radio" name="ks-away-pattern" value="none" checked="checked" data-kit="away">
                                                    None
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="ks-away-pattern" class="control-label" style="width:50px;float:left;">
                                            <input type="text" id="ks-away-pattern" class="ks-cp" data-kit="away" data-part="pattern" value="">
                                        </label>
                                        <div style="float:left;margin-left:5px;margin-top:10px;">
                                            <p>Pattern Colour</p>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="save-kits">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="logo_upload" role="dialog" data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload a logo</h4>
            </div>
            <div class="modal-body">
                <div class="image-editor">
                    <input type="file" class="cropit-image-input">
                    <div class="cropit-preview"></div>
                    <div class="image-size-label">
                        Resize image
                    </div>
                    <input type="range" class="cropit-image-zoom-input">

                    <button class="export btn btn-lg btn-success">Set Logo</button>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cover_upload" role="dialog" data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload a Cover Photo</h4>
            </div>
            <div class="modal-body">
                <div class="image-editor2">
                    <input type="file" class="cropit-image-input">
                    <div class="cropit-preview"></div>
                    <div class="image-size-label">
                        Resize image
                    </div>
                    <input type="range" class="cropit-image-zoom-input">

                    <button class="export2 btn btn-lg btn-success">Set Cover</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="team_upload" role="dialog" data-toggle="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload a team photo</h4>
            </div>
            <div class="modal-body">
                <div class="image-editor1">
                    <input type="file" class="cropit-image-input">
                    <div class="cropit-preview"></div>
                    <div class="image-size-label">
                        Resize image
                    </div>
                    <input type="range" class="cropit-image-zoom-input">
                    <button class="export1 btn btn-lg btn-success">Set Team logo</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	$('.image-editor').cropit({
		  maxZoom : 3,
		  imageState: {
            src: '../static/images/icon/fan_wave.png',
          },
        });
       
		/*club_logo - club-logo-upload*/
	    $('.export').click(function() {
        	var imageData = $('.image-editor').cropit('export',{imageSize:{
		  	width:100,
		  	height:100,
		   }});
        	$("#club-logo-upload").attr('value', imageData)

        	var imgSrc = imageData; 
			$("#club-reg-photo-upload").attr("src", imgSrc);
			$("#club-logo-upload").val(imgSrc);
			$('#logo_upload').modal('hide');
        });

        $('.image-editor1').cropit({
		  maxZoom : 3,
		  
          imageState: {
            src: '../static/images/icon/fan_wave.png',
          },
        });
       
		/*club_team - club-team-upload*/
        $('.export1').click(function() {
        	var imageData = $('.image-editor1').cropit('export',{imageSize:{
		  	width:100,
		  	height:100,
		   }});
		   
			$("#club-team-upload").attr('value', imageData)
        	var imgSrc = imageData; 
			
			$("#club-reg-team-upload").attr("src", imgSrc);
			$("#club-team-upload").val(imgSrc);
			$('#team_upload').modal('hide');
			
        });
		
		$('.image-editor2').cropit({
		  maxZoom : 3,
		  imageState: {
            src: '../static/images/icon/fan_wave.png',
          },
        });
       
		/*club_cover - club-cover-upload*/
        $('.export2').click(function() {
        	var imageData = $('.image-editor2').cropit('export', {
				type: 'image/jpeg',
				quality: .9,
				originalSize: true
			});
        	$("#club-cover-upload").attr('value', imageData)
        	var imgSrc = imageData; 
		    $("#club-reg-cover-upload").attr("src", imgSrc);
			$("#club-cover-upload").val(imgSrc);
			$('#cover_upload').modal('hide');
			
        });
</script>
{% endblock %}