{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<style>
	hr{border-color:#b8b8b8;}
	input{text-transform: none;}
	.RE-icon{float:left;top:3px;position:relative;margin-right: 3px;}
	
	/*#fixREH{float: left;width: 100%;color: red;font-size: 0.99em;position: relative;bottom: 14px;left: 55px;}
	#fixREO{float: left;width: 100%;color: red;font-size: 0.99em;position: relative;bottom: 14px;left: 18px;}*/
	
	#fixRE{position:absolute; bottom: -3px;color:red;font-size: 0.99em;}
	#koDRE{position: absolute;top: -19px;left:55px;width: 100%;color: red;font-size: 0.99em;}
	#koTRE{position: absolute;top: -19px;left: 22px;width: 100%;color: red;font-size: 0.99em;}
	#mdRE{position: absolute;bottom: 3px;left:140px;width: 100%;color: red;font-size: 0.99em;}
	#lpRE{position: relative;left: 0px;bottom: 0px;float: left;width: 100%;color: red;font-size: 0.99em;}
	#selRE{position: relative;left: 0px;top: 5px;float: left;width: 100%;color: red;font-size: 0.99em;}
	.loadPlayers{/*max-height:500px;*/ overflow-x: auto;}
	.select2-container--default .select2-selection--multiple .select2-selection__choice{
		background-color: #707173;
		color: white;
		padding: 0px 15px 0px 5px;
	}
	.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
		padding-right: 8px;
		/*position: relative;*/
		left: 51px;
		margin-right: -19px;
		color:white;
		float:right;
	}
	.fix-btns{
		font-family:HelveticaNeueLight;
		font-size:16px;
		height:42px;
		width:100%;
		padding: 8px;
		text-align: left !important;
		border:0px !important;
	}
	.chk-all, .chk-all:hover{
		color: #fff;
		background-color: #129ed9;
		border-color: #ffffff;
		/*padding: 10px 20px 10px 10px;*/
	}
	/*.chk-icon{
		height: 20px;
		position: relative;
		left: 12px;
	}*/
	.clear-all, .clear-all:hover{
		color: #fff;
		background-color: #da0b0b;
		border-color: #fff;
		/*padding: 10px 20px 10px 10px;*/
	}
	/*.arr-vs{
		position: relative;
		right: 25px;
		top: 3px;
		font-size: 18px;
		font-family: HelveticaNeueBold;
		padding: 5px;
		border:0px;
	}*/
	.arr-vs{
		position: absolute;
		left: -8px;
		top: 1px;
		font-size: 18px;
		font-family: HelveticaNeueBold;
		border: 0px;
	}
	.arr-vs:focus{
		outline: none;
	}
	.home{
		color:white;
		background-color:#129ed9;
		border-color:#129ed9;
		width:100%;
		padding:8px 10px;
		font-size: 16px;
		height: 42px;
		text-align: left;
	}
	.home:hover,.home:focus{
		color:white;
	}
	.away:hover,.away:focus{
		color:#129ed9;
	}
	.away{
	    color:#129ed9;
		background-color:white;
		border-color:#129ed9;
		width:100%;
		padding:8px 10px;
		font-size: 16px;
		height: 42px;
		text-align: left;
	}
	.home-img,.away-img{
		position: absolute;
		right: 22px;
	}
	#select_arrow{position: absolute;right: 6px;}
	.select2-container--default .select2-selection--multiple .select2-selection__clear {
		float: left !important;
		font-weight: 200 !important;
		margin-top: -5px !important;
		color: red !important;
		font-size: 25px;
	}
	
</style>
	<link href="{% static 'css/bootstrap-datepicker3.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap-timepicker.min.css' %}" rel="stylesheet">
		
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="main-panel col-md-12 col-sm-12 col-xs-12" style="margin-top:0;">
				<div class="row">
					<div class="col-md-9 col-sm-9 col-xs-12 first-left">
					<!-- <div class="col-md-10 col-sm-10 col-xs-12 first-left"> -->
						<div class="profile_title" style="background-color:{{club.strip_colour}};">
							{% if club.strip_colour == 'rgb(255, 255, 255)' %}
							<h3 style="color:#0f204b;">{{club.club_name}}</h3>
							{% else %}
							<h3>{{ club.club_name }}</h3>
							{% endif %}
						</div>
						<div class="small-strip">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<span class="section-title">Match day notification</span>
							</div>
						</div>
						<div class="home-info" style="padding: 30px;border-bottom-left-radius:30px;">
							<div class="match-notify">
								<form action="/createFix/" method="POST" id="createFix">
									<div class="row">
										<div class="col-md-9 col-sm-8 col-xs-12">
											<div class="row" style="margin-bottom:5px;">
												<div class="col-md-3 col-sm-3 col-xs-12">
													<label class="leb">Fixture</label>
												</div>
												<div class="col-md-9 col-sm-9 col-xs-12">
													<div class="row">
															<div class="col-md-8 col-sm-8 col-xs-12" >
																<input type="hidden" id="fixLabel" name="fixLabel"/>
																<input type="hidden" id="host" style="text-transform:uppercase;" value="{{ club.club_name }}" />
																<input type="text" id="opponent" name="opponent" placeholder="Opponent team" class="match-input" style="text-transform:uppercase;" />
																<div id="fixRE" class="hide">
																	<img src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive RE-icon"/>
																	<span>Please provide opponent Team</span>
																</div>
															</div>
															<div class="col-md-4 col-sm-4 col-xs-12" style="padding-left: 5px;">
																<button type="button" class="btn home" id="home">Home <img class="home-img" src="{% static 'images/icon/arrow_right_white.png' %}" />
																</button>
																<button type="button" class="btn away" id="away" style="display: none;">Away <img class="away-img" src="{% static 'images/icon/arrow_right_blue.png' %}" />
																</button>
															</div>
													</div>
												</div>
												<!-- Original -->
											</div>
											<div class="row" style="margin-bottom:5px;">
												<div class="col-md-3 col-sm-3 col-xs-12">
													<label class="leb">Kick off</label>
												</div>
												<div class="col-md-9 col-sm-9 col-xs-12">
													<div class="row">
														<div class="col-md-6 col-sm-6 col-xs-12 first-left">
															<input type="text" id="koDate" name="koDate" placeholder="DD-MM-YYYYY" class="match-input koDate" />
														</div>
														<div class="col-md-2 col-sm-2 col-xs-12 text-center">
															<span style="font-size: 30px;color: #5b5b5d;">@</span>
														</div>
														<div class="col-md-4 col-sm-4 col-xs-12 first-right">
															<input type="text" id="koTime" name='koTime' placeholder="hh:mm tt" class="match-input koTime"/>
														</div>
													</div>	
												</div>
											</div>
											<div class="row">
												<div class="col-md-2 col-sm-2 col-xs-12"></div>
												<div class="col-md-10 col-sm-10 col-xs-12">
													<div class="row">
														<div class="col-md-6 col-sm-6 col-xs-12">
															<div id="koDRE" class="hide">
																<img src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive RE-icon"/>
																<span>Please provide fixture date</span>
															</div>
														</div>
														<div class="col-md-6 col-sm-6 col-xs-12">
															<div id="koTRE" class="hide">
																<img src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive RE-icon"/>
																<span>Please provide fixture time</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 col-sm-3 col-xs-12" style="padding-right: 0px;">
													<label class="leb">Match details</label>
												</div>
												<div class="col-md-9 col-sm-9 col-xs-12" >
													<textarea type="text" rows="4" id="matchDetails" name="matchDetails" placeholder="{{ground.ground_name}}, {{ground.street}}, {{ground.town}}, {{ground.county}}, {{ground.postcode}}, Meet up time: 14:00, Please confirm if you are available?" class="match-input" style="resize:none;"></textarea>
												</div>
												<div id="mdRE" class="hide">
													<img src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive RE-icon"/>
													<span>Please provide match details</span>
												</div>
											</div>
										</div>
										
										<div class="col-md-3 col-sm-4 col-xs-12">
											<button type="button" class="btn-select-squad text-left" id="select_squad">Select squad <img src="{% static 'images/icon/arrow_right_white.png' %}" id="select_arrow" /></button>
										</div>
									</div>
									{% if msg != '' %}
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<div id="dupli-msg" style="color:red;"><img src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive RE-icon"/>{{ msg }}</div>
										</div>
									</div>
									{% endif %}
									<div class="row" id="squads" style="display:none">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<hr>
											<div class="select-team" style="width:100%;">
												{% if teamCount == 1 %}
													{% for cbtms in clubteams %}
														<input type="hidden" id="SelTeams" value="{{cbtms.id}}" />
													{% endfor %}
												{% else %}
													<label style="font-family:arial;font-size:15px;">Select your team/s</label>
													<div class="row">
														<div class="col-sm-8 col-md-9 col-xs-12">
														<select id="SelTeams" class="js-example-basic-multiple" data-placeholder="Select teams" data-allow-clear="true" multiple="multiple" >
															{% for cbtms in clubteams %}
																<option value="{{cbtms.id}}">{{cbtms.team_name}}</option>
															{% endfor %}
														</select>
														<div id="lpRE" class="hide">
															<img src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive RE-icon"/>
															<span>Please select atleast one team to load players</span>
														</div>
														</div>
														<div class="col-sm-4 col-md-3 col-xs-12">
															<button type="button" class="btn btn-success fix-btns" id="loadPlayers">Load players<img src="/static/images/icon/arrow_right_white.png" style="position: absolute;right: 22px;" /></button>
														</div>
													</div>
												{% endif %}
												<!-- <br/> -->
												<div id="here" style="display:none">
													<div class="row">
														<div class="col-md-9 col-sm-9 col-xs-12 hidden-xs"></div>
														<div class="col-md-3 col-sm-3 col-xs-12">
															<button type="button" class="btn chk-all fix-btns" style="text-align:left;" id="chk">Select all <img src="/static/images/icon/arrow_right_white.png" id="chk-img" style="position:absolute; right:22px;" /></button>
															<button type="button" class="btn clear-all fix-btns" style="text-align:left;" id="unchk">Clear
															</button>
														</div>
													</div>
													<div class="row loadPlayers"></div>
													<input type="hidden" name="players" id="playerChecked">
													<div id="selRE" class="hide">
														<img src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive RE-icon"/>
														<span>Please select players for this fixture</span>
													</div>
													<div id="no-data" style="display:none; margin-top: 5px;
">
														<img src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive RE-icon"/>
														<span style="color:red;">Sorry, there are no players in selected team/s</span>
													</div>
													<br/>
													<div class="row">
														<div class="col-md-9 col-sm-9 col-xs-12 hidden-xs"></div>
														<div class="col-md-3 col-sm-3 col-xs-12">
															<button type="button" class="btn btn-success fix-btns" id="send-btn">Send<img src="/static/images/icon/arrow_right_white.png" style="position:absolute;right:22px;" class="pull-right" /></button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 hidden-xs">
					<!-- <div class="col-md-2 col-sm-2 col-xs-12 hidden-xs"> -->
						<div class="ad-inner-container" style="background-color:white;max-height:600px;">
						
							<img src="https://local-teams.com/static/images/icon/ad-inner-container.jpg" class="img-responsive" width="224px" height="600px" alt="googleplay apple" usemap="#mapname" id="map_ID" />
							<map name="mapname" id="map_ID">
								<area shape="rect" coords="54,150,168,182" href="{{ iOS_app }}" target="_blank" alt="iOS_app" />
								<area shape="rect" coords="54,190,168,222" href="{{ google_play_app }}" target="_blank" alt="google_play_app" />
							</map>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-timepicker.min.js' %}"></script>
	
	<script type="text/javascript">
		$(document).ready(function(){
			//$(".koTime").timepicker();
			$(".koTime").timepicker({defaultTime: '02:00 PM'}); 
			
			$(".js-example-basic-multiple").select2();
			$(".select2-selection__clear").html("&otimes;");
			value = $("#matchDetails").attr('placeholder');
			$("#matchDetails").val(value);
		});
		
	window.onload = function () {
		var ImageMap = function (map, img) {
				var n,
					areas = map.getElementsByTagName('area'),
					len = areas.length,
					coords = [],
					previousWidth = 128;
				for (n = 0; n < len; n++) {
					coords[n] = areas[n].coords.split(',');
				}
				this.resize = function () {
					var n, m, clen,
						x = img.offsetWidth / previousWidth;
					for (n = 0; n < len; n++) {
						clen = coords[n].length;
						for (m = 0; m < clen; m++) {
							coords[n][m] *= x;
						}
						areas[n].coords = coords[n].join(',');
					}
					previousWidth = document.body.clientWidth;
					return true;
				};
				window.onresize = this.resize;
			},
			imageMap = new ImageMap(document.getElementById('map_ID'), document.getElementById('map_ID'));
		imageMap.resize();
		return;
	}

		
		
		$("#SelTeams").change(function(){
			$(".select2-results__option").click(function(){
				$(".select2-selection__clear").css('margin-bottom',(parseInt($(".select2-container .select2-selection--multiple").css('height').split("px")) - 45) + "px");
			});
		});
		$("#unchk").hide();
		$("#chk").click(function() {
			$(".ply_check").prop('checked', true);
			$("#unchk").show();
			$("#chk").hide();
		});
		
		$("#unchk").click(function() {
			$(".ply_check").prop('checked', false);
			$("#unchk").hide();
			$("#chk").show();
		});
		
		/*$("#matchDetails").click(function(){
			value = $("#matchDetails").attr('placeholder');
			$("#matchDetails").val(value);
		});*/
		
		$('.koDate').datepicker({
			format: "dd-mm-yyyy",
			startDate: "today",
			clearBtn: true,
			autoclose: true,
			todayHighlight: true
		});
		
		if({{teamCount}} == 1){
			var items = [];
			items.push($('#SelTeams').val());
			if (items.length == 0){
				$("#lpRE").attr('class','show');
			}
			else{
				$("#lpRE").attr('class','hide');
				$.ajax({
					type : 'POST',
					url : '/getsquad/',
					data : {items : items},
					success : function(response){
						$("#here").show('slow');
						$('.loadPlayers').html(response)
						if($("#count").val() == "0"){
							$("#no-data").show();
							$("#chk").hide();
							$("#unchk").hide();
							$("#send-btn").hide();
						}
						else{
							$("#no-data").hide();
							$("#chk").show();
							$("#send-btn").show();
							$("#unchk").hide();
						}
					},
					error : function(err){
						console.log(err);
					}
				});
			}
		}
		/*$("#arrvs").click(function(){
			val1 = $("#fixLabel1").val();
			val2 = $("#fixLabel2").val();
			if($('#arrvs').attr('src') == "/static/images/icon/swp1.png"){
				$('#arrvs').attr('src', '/static/images/icon/swp4.png');
				$("#fixLabel1").val(val2);
				$("#fixLabel2").val(val1);
			}
			else{
				$('#arrvs').attr('src', '/static/images/icon/swp1.png');
				$("#fixLabel1").val(val2);
				$("#fixLabel2").val(val1);
			}
		
		});*/
		$("#loadPlayers").click(function(){
			$("#unchk").hide();
			$("#chk").show();
			var items = [];
			$('#SelTeams option:selected').each(function(){ items.push($(this).val()); });
			if (items.length == 0){
				$("#lpRE").attr('class','show');
			}
			else{
				$("#lpRE").attr('class','hide');
				$.ajax({
					type : 'POST',
					url : '/getsquad/',
					data : {items : items},
					success : function(response){
						/*$("#here").show('slow');
						console.log(response)
						$('.loadPlayers').html(response)*/
						$("#here").show('slow');
						$('.loadPlayers').html(response);
						if($("#count").val() == "0"){
							$("#no-data").show();
							$("#chk").hide();
							$("#unchk").hide();
							$("#send-btn").hide();
						}
						else{
							$("#no-data").hide();
							$("#chk").show();
							$("#send-btn").show();
							$("#unchk").hide();
						}
					},
					error : function(err){
						console.log(err);
					}
				});
			}
		});
		
		var opponentF = false;
		/*var fixLabel2F = false;*/
		var koDateF = false;
		var koTimeF = false;
		var matchDetailsF = false;
		var playersF = false;
		var label = "Home";

		$("#home").click(function(){
			$("#home").hide();
			$("#away").show();
			window.label = "Away";
		});
		
		$("#away").click(function(){
			$("#away").hide();
			$("#home").show();
			window.label = "Home";
		});
		/**** -v/s- ****/
		$("#opponent").focusout(function(){
			var opponent = $("#opponent").val();
			if (opponent == ""){
				$("#fixRE").removeClass('hide');
				window.opponentF = false;
			}
			else{
				window.opponentF = true;
				$("#fixRE").addClass('hide');
			}
		
		});
		/*$("#fixLabel2").focusout(function(){
			var fixLabel2 = $("#fixLabel2").val();
			if (fixLabel2 == ""){
				$("#fixREO").removeClass('hide');
			}
			else{
				window.fixLabel2F = true;
				$("#fixREO").addClass('hide');
			}
		
		});*/
		$("#koDate").change(function(){
			var koDate = $("#koDate").val();
			if (koDate == ""){
				$("#koDRE").attr('class','show');
			}
			else{
				window.koDateF = true;
				$("#koDRE").attr('class','hide');
			}
		
		});
		$("#koTime").change(function(){
			var koTime = $("#koTime").val();
			if (koTime == ""){
				$("#koTRE").attr('class','show');
			}
			else{
				window.koTimeF = true;
				$("#koTRE").attr('class','hide');
			}
		
		});
		$("#matchDetails").focusout(function(){
			var matchDetails = $("#matchDetails").val();
			if (matchDetails == ""){
				$("#mdRE").attr('class','show');
			}
			else{
				window.matchDetailsF = true;
				$("#mdRE").attr('class','hide');
			}
		
		});
		$("#select_squad").click(function(){
			$("#squads").toggle('slow', callbackFn);
		});

		function callbackFn(){
		/*	if($('#squads').css('display') == 'block'){
				$("#select_arrow").attr('src',"{% static 'images/icon/down.png' %}");
			}
			else if($('#squads').css('display') == 'none'){
				$("#select_arrow").attr('src',"{% static 'images/icon/left.png' %}");
			}*/
		}
		
	$("#send-btn").click(function(){
		/*var fixLabel1 = $("#fixLabel1").val();
		if (fixLabel1 == ""){
			$("#fixREH").addClass('hide');
		}
		else{
			window.fixLabel1F = true;
			$("#fixREH").removeClass('hide');
		}*/
		var opponent = $("#opponent").val();
		if (opponent == ""){
			$("#fixRE").removeClass('hide');
		}
		else{
			window.opponentF = true;
			$("#fixRE").addClass('hide');
		}
		var koDate = $("#koDate").val();
		if (koDate == ""){
			$("#koDRE").attr('class','show');
		}
		else{
			window.koDateF = true;
			$("#koDRE").attr('class','hide');
		}
		var koTime = $("#koTime").val();
		if (koTime == ""){
			$("#koTRE").attr('class','show');
		}
		else{
			window.koTimeF = true;
			$("#koTRE").attr('class','hide');
		}
		var matchDetails = $("#matchDetails").val();
		if (matchDetails == ""){
			$("#mdRE").attr('class','show');
		}
		else{
			window.matchDetailsF = true;
			$("#mdRE").attr('class','hide');
		}
		if(window.opponentF && window.koDateF && window.koTimeF && window.matchDetailsF && true){
			if (window.label == "Home"){
				Label = $("#host").val()+" vs "+$("#opponent").val().toUpperCase();
			}
			else if (window.label == "Away"){
				Label = $("#opponent").val().toUpperCase()+" vs "+$("#host").val();
			}
			console.log(Label);
			$("#fixLabel").val(Label);
			var val = [];
			$('.ply_check:checked').each(function(i){
			  val[i] = $(this).val();
			});
			console.log(val);
			if(val.length == 0){
				$("#selRE").attr('class','show');
			}
			else{
				$("#selRE").attr('class','hide');
				$("#playerChecked").attr('value',val);
				$("#createFix").submit();
			}
		}
		else{
			if(!(window.fixLabel1F)){
				$("#fixREH").removeClass('hide');
			}
			else{
				window.fixLabel1F = true;
				$("#fixREH").addClass('hide');
			}
			if(!(window.fixLabel2F)){
				$("#fixREO").removeClass('hide');
			}
			else{
				window.fixLabel2F = true;
				$("#fixREO").addClass('hide');
			}
			
			if(!(window.koDateF)){
				$("#koDRE").attr('class','show');
			}
			else{
				window.koDateF = true;
				$("#koDRE").attr('class','hide');
			}
			
			if(!(window.koTimeF)){
				$("#koTRE").attr('class','show');
			}
			else{
				window.koTimeF = true;
				$("#koTRE").attr('class','hide');
			}
			
			if(!(window.matchDetailsF)){
				$("#mdRE").attr('class','show');
			}
			else{
				window.matchDetailsF = true;
				$("#mdRE").attr('class','hide');
			}
		}
	});
	</script>
{% endblock %}