{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="main-panel col-md-12 col-sm-12 col-xs-12" style="margin-top:0;">
					<div class="row">
						<div class="col-md-9 col-sm-9 col-xs-12 first-left">
							<div class="profile_title" style="background-color: {{response.strip_colour}};" >
								{% if response.strip_colour == 'rgb(255, 255, 255)' %}
								<h3 style="color:#0f204b;">{{response.club_name|upper}}</h3>
								<a class="btn-support-black pull-right" href="/clubEdit/" >E<span class="hidden-xs">dit</span></a>
								{% else %}
								<h3>{{response.club_name|upper}}</h3>
								<a class="btn-support pull-right" href="/clubEdit/" >E<span class="hidden-xs">dit</span></a>
								{% endif %}
							</div>
							<div class="small-strip">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<span class="section-title">Club information</span>
								</div>
							</div>
							<div class="home-info">
								{% if response.cover_photo_url %}
								<div class="bag-image visible-xs" style="background:url({{ response.cover_photo_url.url}});background-position: 100%;background-size: 100% 100%;"></div>
								{% else %}
								<!-- <div class="bag-image visible-xs" style="background:url();background-position: 100%;background-size: 100% 100%;"></div> -->
								{% endif %}
								<div class="col-md-3 col-sm-3 col-xs-12 text-center">
									{% if response.logo_photo %}
									<img src="{{response.logo_photo.url}}" class="text-center " style="margin-bottom:15px;height: 140px;width: 100%;max-width:140px;border-radius:6px;"/>
									{% else %}
									<!-- <img src="{% static 'images/icon/LT_logo_default_1100x1100.png' %}" class="img-responsive" style="margin-bottom:15px;height: 100%;width: 100%"/> -->
									<img src="{% static 'images/icon/club_logo_default.png' %}" class="img-responsive" style="margin-bottom:15px;height: 100%;width: 100%"/>
									{% endif %}
								</div>
								<div class="col-md-5 col-sm-5 col-xs-12 text-center pad_0">
									<table class="table mytable text-left">
										<tr>
											<th>Name</th>
											<td>{{response.club_name}}</td>
										</tr>	
										<tr>
											<th>Established</th>
											<td>{{response.established}}</td>
										</tr>
										<tr>
											<th>Contact No.</th>
											<td>{{mobile_no}}</td>
										</tr>
										<tr>
											<th>Gender</th>
											<td>{{response.gender | title}}</td>
										</tr>
										<tr>
											<th>Age groups</th>
											<td><div id="agegroupList"></div></td>
										</tr>
										<tr>
											<th>No.of teams</th>
											<td>{{response.num_teams}}</td>
										</tr>
									</table>
									
									<div class="col-md-12 col-sm-12 col-xs-12 pad_0 text-left">
									{% if response.league_table_url %}
										<a href="{{response.league_table_url}}" target = "_blank" class="btn btn_club_info">League table</a>
									{% endif %}
									{% if response.fixture_table_url %}
										<a href="{{response.fixture_table_url}}" target = "_blank" class="btn btn_club_info">Fixture List</a>
									{% endif %}
									{% if response.website_url %}
										<a href="{{response.website_url}}" target = "_blank" class="btn btn_club_info">Website</a>
									{% endif %}									
										
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12 text-left">
									<div class="row new-kit">
										<div class="shirt-container-1 col-xs-6 col-sm-12 col-md-6">
										<div id="shirt-1" class="club-reg-shirt" >
										   	
											<div class="club-reg-shirt-bg"></div>
											{% if homekit.pattern_mode == 'split' %}	
											<div class="club-reg-shirt-split" style="display: block;background-color : {{homekit.pattern_colour}};z-index:899;" ></div>
											{% endif %}						
											{% if homekit.pattern_mode == 'hoop' %}
											<div class="club-reg-shirt-hoops" style="display: block;z-index:899;">
												<ul class="hoops">
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
												</ul>
											</div>
											{% endif %}
											{% if homekit.pattern_mode == 'stripe' %}
											<div class="club-reg-shirt-stripes" style="display: block;z-index:899;">
												<ul class="stripes">
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>							
												</ul>
											</div>
											{% endif %}
											<div class="club-reg-shirt-left" id="sleeve-L-home" style="background-color: {{homekit.sleeve_colour}};z-index:899;"></div>
											<div class="club-reg-shirt-mid" id="mid-home" style="background-color: {{homekit.shirt_colour}}"></div>
											<div class="club-reg-shirt-right" id="sleeve-R-home" style="background-color: {{homekit.sleeve_colour}};z-index:899;"></div>		
										</div>
										<!-- <a href="#" id="shirt-1-cp" class="btn btn-light-grey-white-border btn-arrow1 colorpicker-element btn-font">Edit <img src="{% static 'images/icon/arrow_right_xs.png' %}" /></a> -->
									</div>
									<div class="shirt-container-2 col-xs-6 col-sm-12 col-md-6">
										<div id="shirt-2" class='club-reg-shirt'>	
											<div class="club-reg-shirt-bg"></div>
											{% if awaykit.pattern_mode == 'split'  %}	
											<div class="club-reg-shirt-split" id="split-away" style="display: block; background-color: {{awaykit.pattern_colour}};z-index:899;"></div>		
											{% endif %}		
											{% if awaykit.pattern_mode == 'hoop' %}
											<div class="club-reg-shirt-hoops" style="display: block;z-index:899;">
												<ul class="hoops">
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
												</ul>
											</div>
											{% endif %}
											{% if awaykit.pattern_mode == 'stripe' %}
											<div class="club-reg-shirt-stripes" style="display: block;z-index:899;">
												<ul class="stripes">
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>							
												</ul>
											</div>
											{% endif %}
											<div class="club-reg-shirt-left" id="sleeve-L-home" style="background-color: {{awaykit.sleeve_colour}};z-index:899;"></div>
											<div class="club-reg-shirt-mid" id="mid-home" style="background-color: {{awaykit.shirt_colour}}"></div>
											<div class="club-reg-shirt-right" id="sleeve-R-home" style="background-color: {{awaykit.sleeve_colour}};z-index:899;"></div>
										</div>
										<!-- <a href="#" id="shirt-2-cp" class="btn btn-light-grey-white-border btn-arrow1 colorpicker-element btn-font">Edit <img src="{% static 'images/icon/arrow_right_xs.png' %}" /></a> -->
									</div>
									</div>
								</div>
							</div>
							
							<div class="home-div">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Home ground</span>
											</div>
										</div>
										<div class="col-md-12 col-sm-12 col-xs-12 new-hm">
											<div id="map" style="width: 100%;height: 220px;background: white;border: 1px solid #b8b8b8;margin-bottom:10px;"></div>
											<p class="address_location"><span>{{ground.ground_name}}</span><br> 
											{{ground.street}}<br>
											{{response.city_name}}<br>
											{{ground.county}}<br>
											{{ground.postcode}}<br>
											{{ground.phone}}</p>
										</div>
									</div>
									
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Team photo</span>
											</div>
										</div>
										<div class="col-md-12 col-sm-12 col-xs-12 new-tm">
											{% if response.team_photo %}
											<img src="{{response.team_photo.url}}" class="img-responsive" style="margin-top: 20px;margin-bottom: 20px;height:220px;"/>
											{% else %}
											<img src="{% static 'images/icon/LT_team_default.jpg' %}" class="img-responsive" style="margin-top: 20px;margin-bottom: 20px;height:220px;"/>
											{% endif %}
										</div>
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Training</span>
											</div>
										</div>
										<div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px 10px;">
											<p class="address_location">{{response.training_text | safe}}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="history-div">
								<div class="small-strip">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<span class="section-title">Club History</span>
									</div>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 new-his">
									<p class="address_location">{{response.history_text | safe}}</p>
									
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-12 hidden-xs">
							<div class="ad-inner-container" style="background-color:white;max-height:600px;">
							
								<img src="https://local-teams.com/static/images/icon/ad-inner-container.jpg" class="img-responsive" width="224px" height="600px" alt="googleplay apple" usemap="#mapname" id="map_ID" />
								<map name="mapname" id="map_ID">
									<area shape="rect" coords="54,150,168,182" href="{{ iOS_app }}" target="_blank" alt="iOS_app" />
									<area shape="rect" coords="54,190,168,222" href="{{ google_play_app }}" target="_blank" alt="google_play_app" />
								</map>
							
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
		
		
	<script src="{% static 'js/common.js' %}"></script>
	<script>
		$(window).load(function() {
			$('#loader').fadeOut(1500);
		});
		
	window.onload = function () {
		var ImageMap = function (map, img) {
				var n,
					areas = map.getElementsByTagName('area'),
					len = areas.length,
					coords = [],
					previousWidth = 128;
				for (n = 0; n < len; n++) {
					coords[n] = areas[n].coords.split(',');
				}
				this.resize = function () {
					var n, m, clen,
						x = img.offsetWidth / previousWidth;
					for (n = 0; n < len; n++) {
						clen = coords[n].length;
						for (m = 0; m < clen; m++) {
							coords[n][m] *= x;
						}
						areas[n].coords = coords[n].join(',');
					}
					previousWidth = document.body.clientWidth;
					return true;
				};
				window.onresize = this.resize;
			},
			imageMap = new ImageMap(document.getElementById('map_ID'), document.getElementById('map_ID'));
		imageMap.resize();
		return;
	}
		
		
		agegroup = "{{agegroups | safe}}";
		$("#agegroupList").html(agegroup);
	</script>
<script type="text/javascript">
	function initMap(lat,longi) {
		var myLatLng = {lat: {{response.latitude}}, lng: {{response.longitude}}};
		console.log(myLatLng)
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 16,
			center: myLatLng
		});
		var marker = new google.maps.Marker({
			position: myLatLng,
			map: map,
			title: '{{ground.ground_name}}'
		});
	}
</script>
	<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2GugE8NvU4vx2Ot3VslKW_nJ0sRPilQs&callback=myMap">
	</script>-->
	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2GugE8NvU4vx2Ot3VslKW_nJ0sRPilQs&callback=initMap">
    </script>
{% endblock %}