{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<style>
	hr{border-color:#b8b8b8;}
	input{text-transform: none;}
	.RE-icon{float:left;top:2px;position:relative;margin-right: 3px;}
	#fixRE{position:relative;left: 142px;bottom: 14px;float: left;width: 100%;color: red;font-size: 0.99em;}
	#koDRE{position: relative;left: 41px;top: -14px;float: left;width: 100%;color: red;font-size: 0.99em;}
	#koTRE{position: relative;left: 11px;top: -14px;float: left;width: 100%;color: red;font-size: 0.99em;}
	#mdRE{position: relative;left: 142px;bottom: 18px;float: left;width: 100%;color: red;font-size: 0.99em;}
	#lpRE{position: relative;left: 0px;bottom: 0px;float: left;width: 100%;color: red;font-size: 0.99em;}
	#selRE{position: relative;left: 0px;top: 5px;float: left;width: 100%;color: red;font-size: 0.99em;}
	.loadPlayers{/*max-height:500px;*/ overflow-x: auto;}
	.select2-container--default .select2-selection--multiple .select2-selection__choice{
		background-color: #707173;
		color: white;
		padding: 0px 15px 0px 5px;
	}
	.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
		padding-right: 8px;
		/*position: relative;*/
		left: 51px;
		margin-right: -19px;
		color:white;
		float:right;
	}
	.fix-btns{/*font-family:arial;*/font-size:16px;height:40px;width:100%;}
</style>
	<link href="{% static 'css/bootstrap-datepicker3.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap-timepicker.min.css' %}" rel="stylesheet">
		
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="main-panel col-md-12 col-sm-12 col-xs-12" style="margin-top:0;">
				<div class="row">
					<div class="col-md-9 col-sm-9 col-xs-12 first-left">
						<div class="profile_title" style="background-color:{{club.strip_colour}};">
							<h3>{{club.club_name}}</h3>
						</div>
						<div class="small-strip">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<span class="section-title">Match day notification</span>
							</div>
						</div>
						<div class="home-info" style="padding: 30px;border-bottom-left-radius:30px;">
							<div class="match-notify">
								<form action="/createFix/" method="POST" id="createFix">
									<div class="row">
										<div class="col-md-9 col-sm-8 col-xs-12">
											<div class="row">
												<div class="col-md-3 col-sm-3 col-xs-12">
													<label class="leb">Fixture</label>
												</div>
												<div class="col-md-9 col-sm-9 col-xs-12" >
													<input type="text" id="fixLabel" name="fixLabel" value="{{club.club_name}} vs" placeholder="{{club.club_name}} vs" class="match-input"/>
												</div>
												<div id="fixRE" class="hide">
													<img src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive RE-icon"/>
													<span>Please provide fixture label</span>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 col-sm-3 col-xs-12">
													<label class="leb">Kick off</label>
												</div>
												<div class="col-md-9 col-sm-9 col-xs-12">
													<div class="row">
														<div class="col-md-6 col-sm-6 col-xs-12 first-left">
															<input type="text" id="koDate" name="koDate" placeholder="dd-mm-yyyy" class="match-input koDate" />
														</div>
														<div class="col-md-2 col-sm-2 col-xs-12 text-center">
															<span style="font-size: 30px;color: #5b5b5d;">@</span>
														</div>
														<div class="col-md-4 col-sm-4 col-xs-12 first-right">
															<input type="text" id="koTime" name='koTime' placeholder="hh:mm tt" class="match-input koTime"/>
														</div>
													</div>	
												</div>
											</div>
											<div class="row">
												<div class="col-md-2 col-sm-2 col-xs-12"></div>
												<div class="col-md-10 col-sm-10 col-xs-12">
													<div class="row">
														<div class="col-md-6 col-sm-6 col-xs-12">
															<div id="koDRE" class="hide">
																<img src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive RE-icon"/>
																<span>Please provide fixture date</span>
															</div>
														</div>
														<div class="col-md-6 col-sm-6 col-xs-12">
															<div id="koTRE" class="hide">
																<img src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive RE-icon"/>
																<span>Please provide fixture time</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-3 col-sm-3 col-xs-12" style="padding-right: 0px;">
													<label class="leb">Match details</label>
												</div>
												<div class="col-md-9 col-sm-9 col-xs-12" >
													<textarea type="text" rows="3" id="matchDetails" name="matchDetails" placeholder="{{ground.ground_name}},{{ground.street}}, {{ground.town}}, {{ground.county}}, {{ground.postcode}}, Meet up time: 14:00 , Please confirm if you are available?" class="match-input" style="resize:none"></textarea>
												</div>
												<div id="mdRE" class="hide">
													<img src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive RE-icon"/>
													<span>Please provide match details</span>
												</div>
											</div>
										</div>
										
										<div class="col-md-3 col-sm-4 col-xs-12">
											<!-- <button class="btn-select-send text-left" id="send-btn">Send</button> -->
											<!-- <button class="btn-select-squad" data-toggle="modal" data-target="#select-squad">Select Squad</button> -->
											<button type="button" class="btn-select-squad" id="select_squad">Select squad <img src="{% static 'images/icon/left.png' %}" id="select_arrow" /></button>
										</div>
									</div>
									<div class="row" id="squads" style="display:none">
										<div class="col-md-12 col-sm-12 col-xs-12">
										<hr>
										<!-- <h5 class="modal-title" style="font-weight: bold;font-size:15px;font-family: arial;">Select Squad</h5> -->
											<div class="select-team" style="width:100%;">
												{% if teamCount == 1 %}
													{% for cbtms in clubteams %}
														<input type="hidden" id="SelTeams" value="{{cbtms.id}}" />
													{% endfor %}
												{% else %}
													<label style="font-family:arial;font-size:15px;">Select your team/s</label>
													<div class="row">
														<div class="col-sm-8 col-md-9 col-xs-12">
														<select id="SelTeams" class="js-example-basic-multiple" multiple="multiple">
															{% for cbtms in clubteams %}
																<option value="{{cbtms.id}}">{{cbtms.team_name}}</option>
															{% endfor %}
														</select>
														<div id="lpRE" class="hide">
															<img src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive RE-icon"/>
															<span>Please select atleast one team to load players</span>
														</div>
														</div>
														<div class="col-sm-4 col-md-3 col-xs-12">
															<button type="button" class="btn btn-success fix-btns" style="/*font-family:arial;font-size:15px;height:40px;width:100%;*/" id="loadPlayers">Load players<img src="/static/images/icon/left.png" id="select_arrow" style="margin-left: 5px;"></button>
														</div>
													</div>
												{% endif %}
												<!-- <br/> -->
												<div id="here" style="display:none">
													<div class="row loadPlayers"></div>
													<input type="hidden" name="players" id="playerChecked">
													<div id="selRE" class="hide">
														<img src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive RE-icon"/>
														<span>Please select players for this fixture</span>
													</div>
													<br/>
													<div class="row">
														<div class="col-md-9 col-sm-9 col-xs-12 hidden-xs"></div>
														<div class="col-md-3 col-sm-3 col-xs-12">
															<button type="button" class="btn btn-success fix-btns" style="text-align: left;" id="send-btn">Send<img src="/static/images/icon/left.png" id="select_arrow" style="margin-left: 5px;" class="pull-right"></button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 hidden-xs">
						<div class="ad-inner-container" style="background-color:white;max-height:600px;min-height:600px;">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
	
	<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-timepicker.min.js' %}"></script>
	
	<script>
		$(document).ready(function(){
			$(".koTime").timepicker();
			$(".js-example-basic-multiple").select2();
		});
		
		$("#matchDetails").click(function(){
			$("#matchDetails").attr('placeholder','');
		});
		$('.koDate').datepicker({
			format: "dd-mm-yyyy",
			startDate: "today",
			clearBtn: true,
			autoclose: true,
			todayHighlight: true
		});
		
		if({{teamCount}} == 1){
			var items = [];
			items.push($('#SelTeams').val());
			if (items.length == 0){
				$("#lpRE").attr('class','show');
			}
			else{
				$("#lpRE").attr('class','hide');
				$.ajax({
					type : 'POST',
					url : '/getsquad/',
					data : {items : items},
					success : function(response){
						$("#here").show('slow');
						/*console.log(response)*/
						$('.loadPlayers').html(response)
					},
					error : function(err){
						console.log(err);
					}
				});
			}
		}
		
		$("#loadPlayers").click(function(){
			var items = [];
			$('#SelTeams option:selected').each(function(){ items.push($(this).val()); });
			/*console.log(items)*/
			if (items.length == 0){
				$("#lpRE").attr('class','show');
			}
			else{
				$("#lpRE").attr('class','hide');
				$.ajax({
					type : 'POST',
					url : '/getsquad/',
					data : {items : items},
					success : function(response){
						$("#here").show('slow');
						/*console.log(response)*/
						$('.loadPlayers').html(response)
					},
					error : function(err){
						console.log(err);
					}
				});
			}
		});
		
		var fixLabelF = false;
		var koDateF = false;
		var koTimeF = false;
		var matchDetailsF = false;
		var playersF = false;

		$("#fixLabel").focusout(function(){
			var fixLabel = $("#fixLabel").val();
			console.log(fixLabel);
			if (fixLabel == ""){
				console.log(fixLabel);
				$("#fixRE").attr('class','show');
			}
			else{
				console.log(fixLabel);
				window.fixLabelF = true;
				$("#fixRE").attr('class','hide');
			}
		
		});
		$("#koDate").change(function(){
			var koDate = $("#koDate").val();
			if (koDate == ""){
				console.log(koDate);
				$("#koDRE").attr('class','show');
			}
			else{
				console.log(koDate);
				window.koDateF = true;
				$("#koDRE").attr('class','hide');
			}
		
		});
		$("#koTime").change(function(){
			var koTime = $("#koTime").val();
			if (koTime == ""){
				console.log(koTime);
				$("#koTRE").attr('class','show');
			}
			else{
				console.log(koTime);
				window.koTimeF = true;
				$("#koTRE").attr('class','hide');
			}
		
		});
		$("#matchDetails").focusout(function(){
			var matchDetails = $("#matchDetails").val();
			if (matchDetails == ""){
				console.log(matchDetails);
				$("#mdRE").attr('class','show');
			}
			else{
				console.log(matchDetails);
				window.matchDetailsF = true;
				$("#mdRE").attr('class','hide');
			}
		
		});
	$("#select_squad").click(function(){
		$("#squads").toggle('slow', callbackFn);
	});

	function callbackFn(){
		/* console.log($('#squads').css('display')); */
		if($('#squads').css('display') == 'block'){
			$("#select_arrow").attr('src',"{% static 'images/icon/down.png' %}");
		}
		else if($('#squads').css('display') == 'none'){
			$("#select_arrow").attr('src',"{% static 'images/icon/left.png' %}");
		}
	}
	$("#send-btn").click(function(){
		if(window.fixLabelF && window.koDateF && window.koTimeF && window.matchDetailsF && true){
			var val = [];
			$('.ply_check:checked').each(function(i){
			  val[i] = $(this).val();
			});
			/*var arr = '['+val+']';
			alert(arr);*/
			console.log(val);
			if(val.length == 0){
				$("#selRE").attr('class','show');
			}
			else{
				$("#selRE").attr('class','hide');
				$("#playerChecked").attr('value',val);
				$("#createFix").submit();
			}
		}
		else{
			if(!(window.fixLabelF)){
				console.log($("#fixLabel").val());
				$("#fixRE").attr('class','show');
			}
			else{
				console.log($("#fixLabel").val());
				window.fixLabelF = true;
				$("#fixRE").attr('class','hide');
			}
			
			if(!(window.koDateF)){
				console.log($("#koDate").val());
				$("#koDRE").attr('class','show');
			}
			else{
				console.log($("#koDate").val());
				window.koDateF = true;
				$("#koDRE").attr('class','hide');
			}
			
			if(!(window.koTimeF)){
				console.log($("#koTime").val());
				$("#koTRE").attr('class','show');
			}
			else{
				console.log($("#koTime").val());
				window.koTimeF = true;
				$("#koTRE").attr('class','hide');
			}
			
			if(!(window.matchDetailsF)){
				console.log($("#matchDetails").val());
				$("#mdRE").attr('class','show');
			}
			else{
				console.log($("#matchDetails").val());
				window.matchDetailsF = true;
				$("#mdRE").attr('class','hide');
			}
		}
	});
	</script>
{% endblock %}