{% extends "base.html" %}
{% load staticfiles %}
{% load LtFilter %}
{% block content %}
<style>
	.home-info{padding:30px;border-bottom-left-radius:30px;min-height:700px;}
	.notify-column{max-height: 553px; overflow-y: auto;}
	input[type='checkbox'] + span {
		font-size: 0px;
		padding: 0px 0px 40px 40px;
		position: relative;
		margin-left: 100px;
		right: 120px;
	}
	input[type='checkbox'] + span {
		background: url(/static/images/icon/circle4.png) no-repeat center left;
		background-size: 18px;
		visibility:hidden;
	}
	input[type='checkbox']:checked + span {background-size: 18px;}
	.player_details{
		width: 125px; 
		margin-top: 0px;
		left: 3px;
		position: relative;
	}
	
	.border-left{height: auto;min-height: 650px;border-left: 1px solid #b8b8b8;}
	@media only screen and (min-width : 320px) and (max-width : 480px) {
		.border-left{border-left: none !important;}
		.border-bottom{width:250px !important;}
	}
	.response-count{
		width: 100%;
		float: left;
		padding: 10px 10px;
		background: white;
		border-radius: 10px;
		border: 1px solid #b8b8b8;
	}
	.helvetica-bold{
		font-family: HelveticaNeueBold;
	}
	.right-15{right: 15px;}
	.notification_pannel{padding-left: 5px !important;}
	.border-bottom{
		background-image: url(/static/images/icon/divider4.png);
		height: 1px;
		position: relative;
		right: 5px;
		bottom: 10px;
		width:190px;
	}
	.notify_list_players{
		padding: 0px;
	}
	.count-icon{position: relative;bottom: 2px;}
	/*.fixture{float:left;width:97%;}
	.noti_arrow{float:right;width:3%;}*/
	.btn-resend, .btn-resend:hover, .btn-resend:focus, .btn:active:focus{
		color: #fff;
		background-color: #129ed9;
		border-color: #ffffff;
		outline-width: 0px !important;
	}
	
	.ply_check_c {
		opacity: 0 !important;
	}	
	input[type='checkbox']:checked + i {
		background: url(/static/images/icon/Blue_tick_36.png) no-repeat center left;
	}
	input[type='checkbox'] + i {
		padding-left: 40px;
		font-size: 35px;
		margin-left: 80px;
		cursor: pointer;
		font-weight: 100;
		color: #888888;
	}
	.modal-body {
		max-height:650px; 
		overflow-y: auto;
	}
	.cnfrm{
		position: absolute;
		/* right: -5px;
		top: -10px; */
		top: -13px;
		right: -17px;
	}
	.fix-btns{
		font-family:HelveticaNeueLight;
		font-size:16px;
		height:42px;
		/*width:100%;*/
		padding: 8px;
		text-align: left !important;
		border:0px !important;
	}
	.chk-all, .chk-all:hover{
		padding: 8px 5px;
		margin-top: 5px;
		font-size: 18px;
		color: #fff;
		background-color: #129ed9;
		border-color: #ffffff;
		/*padding: 10px 20px 10px 10px;*/
	}
	.clear-all, .clear-all:hover{
		padding: 8px 5px;
		margin-top: 5px;
		font-size: 18px;
		color: #fff;
		background-color: #da0b0b;
		border-color: #fff;
		/*padding: 10px 20px 10px 10px;*/
	}
	.player_details{left:0px;}
	#confirm-msg{
		color:red;
		font-weight: 500;
	}
	#cnfmErr{
		color: red !important;
		margin-top: 5px !important;
	}
	#cnfmErr > label{margin-bottom: 0px !important;font-weight: 500 !important;}
	.RE-icon{float:left;top:3px;position:relative;margin-right: 3px;}
	.resMes{
		display:none;
		color:#009ee0;
		font-size:16px;
	}
	.btn-mtchdsqd, .btn-mtchdsqd:hover, .btn-mtchdsqd:focus, .btn-mtchdsqd:active:focus{
		color: #fff;
		background-color: #009ee0;
		border-color: #009ee0;
	}
</style>
	<div class="container">
		<div class="row">
			<div class="main-panel col-md-12 col-sm-12 col-xs-12" style="margin-top:0 !important;">
				<div class="row">
					<div class="col-md-9 col-sm-9 col-xs-12 first-left">
						{% if response.strip_colour == 'rgb(255, 255, 255)' %}
						<div class="profile_title" style="background-color:{{response.strip_colour}};">
							<h3 style="color:#0f204b;">{{response.club_name}}</h3>
							<div class="new-his-d" >
								<button class="btn-support-black pull-right" id="notify-edit" onclick="show_check()">E<span class="hidden-xs">dit</span></button>
								<button class="btn-support-black pull-right hide" id="notify-save" onclick="save_check()">S<span class="hidden-xs">ave</span></button>
							</div>
						</div>
						{% else %}
						<div class="profile_title" style="background-color:{{response.strip_colour}};">
							<h3>{{response.club_name}}</h3>
							<div class="new-his-d" >
								<button class="btn-support pull-right" id="notify-edit" onclick="show_check()">E<span class="hidden-xs">dit</span></button>
								<button class="btn-support pull-right hide" id="notify-save" onclick="save_check()">S<span class="hidden-xs">ave</span></button>
							</div>
						</div>
						{% endif %}
						<div class="small-strip">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<span class="section-title">Match day notification</span>
							</div>
						</div>
						<div class="home-info">
							<div class="new-his-d">
								<div class="row edit_box">
									<div class="col-md-5 col-sm-5 col-xs-12 text-left">
										<p>Select a notification/s to delete.</p>
										<div style="color:red;"><img id="Err" style="float:left;margin-right:5px;top:2px;position:relative;" src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive hide" />
											<p id="noDErr" class="hide">Please select notification/s to delete</p>
										</div>
									</div>
									<div class="col-md-7 col-sm-7 col-xs-12 text-right">
										<button class="btn-undo btn-md text-left hide" id="undo_btn" onclick="undo_click()">Undo</button>
										<button class="btn-delete btn-md text-left" onclick="delete_click()">Delete</button>
									</div>
								</div>
							</div>
							<div class="notification_pannel">
								<div class="row">
									<div class="col-md-4 col-sm-4 col-xs-12 first-left" style="overflow-y: auto;min-height: 600px; overflow-x: hidden;">
										<ul class="notify">
										{% for club_fix in fixture_data %}
											<li class="fix_list">
											<label class="checkbox-inline" id="label{{club_fix.id}}">
												<input type="checkbox" value="{{club_fix.id}}" class="ply_check" disabled="" />
												<span></span>
												<div onclick="loadData({{club_fix.id}})" class="remove-prop" id="sel{{club_fix.id}}">
													<div class="notification_div row">
														<div class="date col-md-12 col-sm-12 col-xs-12">{{club_fix.fixture_date | noti_date}}</div>
														<p class="fixture col-md-10 col-sm-10 col-xs-10">{{club_fix.fixture | splitOnVs:0}}<br/>{{club_fix.fixture | splitOnVs:1}}</p>
														<p class="noti_arrow col-md-2 col-sm-2 col-xs-2">
															<img src="{% static 'images/icon/left_list_arrow.png' %}">
														</p>
														<input id="resend{{club_fix.id}}" type="hidden" value="{{club_fix.resend}}" />
													</div>
												</div>
												<!-- <div class="border-bottom col-md-12 col-sm-12 col-xs-12"></div> -->
												<div class="border-bottom"></div>
											</label>
											</li>
										{% endfor %}
										</ul>
									</div>
									<div class="visible-xs">
										<img src="/static/images/icon/divider3_horizontal.png" style="width: 100%;height: 1px; padding: 0px 10px;" />
									</div>
									<div class="col-md-8 col-sm-8 col-xs-12 border-left">
										<p id="resend-msg" style="color:#009ee0;">This fixture notification has been resent to all players who have not responded.</p>
										<div id="response-count"></div>
										<!-- <div class="notify_list_ply text-center"> -->
										<div class="notify_list_ply">
											<div class="notify_default text-center" id="default">
												<img src="{% static 'images/icon/top_arrow.png' %}"/>
												<h3 style="color: #6d6e71; font-family: HelveticaNeueLight">View your match day<br>squad</h3>
											</div>
											
											<div class="notify_list_players text-center hide" id="squadPly"></div>
											<!-- <div class="col-md-12 col-sm-12 col-xs-12 text-right hide" id="resend-div"> -->
											
											<div class="col-md-12 col-sm-12 col-xs-12 text-left">
												<label id="confirm-msg" class="hide">
													<img src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive RE-icon"/>
													Sorry, fixture has not been accepted by any player
												</label>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-12 text-left hide" id="resend-div">
												<button class="btn btn-md btn-resend btn-arrow" style="padding: 8px 15px;margin-top:5px;font-size: 18px;" onclick="resendNotif()">Resend<img src="{% static 'images/icon/arrow_right_xs.png' %}"></button>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-12 text-right hide" id="confirm-div">
												<button class="btn btn-md btn-success btn-arrow" style="padding: 8px 15px;margin-top:5px;font-size: 18px;" onclick="confmNotif()">Confirm<img src="{% static 'images/icon/arrow_right_xs.png' %}"></button>
											</div>
											
											<div class="col-md-6 col-sm-6 col-xs-12 text-left match-day-sqd hide">
											</div>
											<div class="col-md-6 col-sm-6 col-xs-12 text-right match-day-sqd hide">
												<button class="btn btn-md btn-mtchdsqd btn-arrow" style="padding: 8px 15px;margin-top:5px;font-size: 18px;" onclick="matchdaysqd()">Match day squad<img src="{% static 'images/icon/arrow_right_xs.png' %}"></button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-3 col-xs-12 hidden-xs">
						<div class="ad-inner-container" style="background-color:white;max-height:600px;">
						
							<img src="https://local-teams.com/static/images/icon/ad-inner-container.jpg" class="img-responsive" width="224px" height="600px" alt="googleplay apple" usemap="#mapname" id="map_ID" />
							<map name="mapname" id="map_ID">
								<area shape="rect" coords="54,150,168,182" href="{{ iOS_app }}" target="_blank" alt="iOS_app" />
								<area shape="rect" coords="54,190,168,222" href="{{ google_play_app }}" target="_blank" alt="google_play_app" />
							</map>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Confirm start -->
	<div class="modal fade" id="confirm_players" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Select players to confirm</h4>
				</div>
				<div class="modal-body">
					<div id="htmlCnfm"></div>
					<div class="hide" id="cnfmErr"><label><img src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive RE-icon"/> Please select players to confirm their existence in the match day squad</label></div>
				</div>
				<div class="modal-footer">
				
					<button type="button" class="btn chk-all fix-btns pull-left" id="chk">Select all <img src="/static/images/icon/arrow_right_white.png" id="chk-img" style="margin-left: 20px;" /></button>
					<button type="button" class="btn clear-all fix-btns pull-left" id="unchk">Clear <img src="/static/images/icon/arrow_right_white.png" id="chk-img" style="margin-left: 20px;" />
					</button>

					<button class="btn btn-md btn-success pull-right" style="padding: 8px 5px;margin-top: 5px;font-size: 18px;" onclick="send_confirmation()">Send <img src="/static/images/icon/arrow_right_white.png" style="margin-left:20px" /></button>
					<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
					
				</div>
			</div>
		</div>
	</div>
	<!-- Confirm end -->
	<!-- Match Day Squad start -->
	<div class="modal fade" id="mtchdsqd" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Match day squad</h4>
				</div>
				<div class="modal-body" style="overflow-y: auto;">
					<div id="match_day_sqd"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Match Day Squad end -->
	
	<!-- Resend Modal start -->
	<div class="modal fade" id="resendMsg-modal" role="dialog">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Resend</h4>
				</div>
				<div class="modal-body" style="overflow-y: auto;">
					<p id="resendMsg" class="resMes">This fixture notification has been resent to all players who have not responded.</p>
					<p id="noResendMsg" style="resMes">Sorry, could not send notification as every player of this fixture has responded.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Resend Modal end -->
<script type="text/javascript">
	$(window).load(function() {
		var None = null
		var id = {{fix_id}};
		if(id != null){
			loadData(id);
		}
    });
	
	window.onload = function () {
		var ImageMap = function (map, img) {
				var n,
					areas = map.getElementsByTagName('area'),
					len = areas.length,
					coords = [],
					previousWidth = 128;
				for (n = 0; n < len; n++) {
					coords[n] = areas[n].coords.split(',');
				}
				this.resize = function () {
					var n, m, clen,
						x = img.offsetWidth / previousWidth;
					for (n = 0; n < len; n++) {
						clen = coords[n].length;
						for (m = 0; m < clen; m++) {
							coords[n][m] *= x;
						}
						areas[n].coords = coords[n].join(',');
					}
					previousWidth = document.body.clientWidth;
					return true;
				};
				window.onresize = this.resize;
			},
			imageMap = new ImageMap(document.getElementById('map_ID'), document.getElementById('map_ID'));
		imageMap.resize();
		return;
	}
	
	var prev_id = '';
	var onClick = true;
	var delArr = [];
	var unSeen = [];
	/*var readyPlay = [];*/
	var fix_id = '';
	$("#resend-msg").hide();
	$("#unchk").hide();
	
	$("#chk").click(function() {
		$(".ply_check_c").prop('checked', true);
		$("#unchk").show();
		$("#chk").hide();
	});
		
	$("#unchk").click(function() {
		$(".ply_check_c").prop('checked', false);
		$("#unchk").hide();
		$("#chk").show();
	});
	var availCDict = {};
	function loadData(id){
		if(window.onClick){
			/*window.readyPlay = [];*/
			window.unSeen = [];
			if(window.prev_id == ''){
				$("#sel"+id+" div p").addClass('noti_p-hovered');
				$("#sel"+id+" div span").addClass('noti_arrow-hovered');
				window.prev_id = id;
			}
			else{
				$("#sel"+window.prev_id+" div p").removeClass('noti_p-hovered');
				$("#sel"+window.prev_id+" div span").removeClass('noti_arrow-hovered');
				$("#sel"+id+" div p").addClass('noti_p-hovered');
				$("#sel"+id+" div span").addClass('noti_arrow-hovered');
				window.prev_id = id;
			}
			console.log(id);
			window.fix_id = id
			var availC = unavailC = norespC = nodwnldC = 0;
			var htmlC = availM = unavailM = norespM = nodwnldM = totalM = html = "";
			var htmlCnfm = '<div class="row">';
			$.ajax({
				type: "POST",
				url: "/squadForFixture/",
				data: {"fix_id": fix_id},
				dataType: "json",
				success: function(data){
					if (data.len_squadlist == 0){
						$("#resend-div").addClass('hide');
						$("#confirm-div").addClass('hide');
					}
					else{
						if(data.is_confirm == "True"){
							$("#resend-div").addClass('hide');
							$("#confirm-div").addClass('hide');
							$(".match-day-sqd").removeClass('hide');
							$("#resend"+window.fix_id).val(data.resend)
							$("#resend-msg").hide();
						}
						else{
							$(".match-day-sqd").addClass('hide');
							$("#resend-div").removeClass('hide');
							$("#confirm-div").removeClass('hide');
							$("#resend"+window.fix_id).val(data.resend)
							if ($("#resend"+window.fix_id).val() == "True"){
								$("#resend-msg").show();
							}
							else{
								$("#resend-msg").hide();
							}
						}
						var count = 0;
						var xsCount = 0;
						for (i=0; i < data.len_squadlist; i++){
							var status = data.squadList[i]['player_status']
							if (status == '1'){
								var status_img = '/static/images/icon/tick_36.png';
								availC += 1;
								htmlCnfm += '<div class="col-md-3 col-sm-3 col-xs-6"><div class="squad_player text-center"><label class="checkbox Cplayers" style="background:url('+data.squadList[i]['player_img']+');background-size:100% 100%;border-radius:8px;border:1px solid #e8e8e8;height:125px;width:125px;"><input type="checkbox" value="'+data.squadList[i]['player_id']+'" class="ply_check_c"/><i></i></label><div class="player_details" style="margin-top: 10px;"><p style="font-size: 14px;">'+data.squadList[i]['player_name']+'</p><h4 class="firstCap">'+data.squadList[i]['player_position']+'</h4></div></div></div>';
								if(availC%2 == 0){
									htmlCnfm += '<div class="visible-xs"><div class="clearfix"></div></div>'
								}
								/*if(availC%3 == 0){
									htmlCnfm += '<div class="hidden-xs"><div class="clearfix"></div></div><div class="visible-xs"><div class="clearfix"></div></div>';
								}*/
								
								/*window.readyPlay.push(data.squadList[i]['player_id']);*/
							}
							else if (status == '2'){
								var status_img = '/static/images/icon/Red_X_36.png';
								unavailC += 1;
							}
							else if (status == '3'){
								var status_img = '/static/images/icon/Question_mark_36.png';
								norespC += 1
								window.unSeen.push(data.squadList[i]['player_id']);
							}
							else if (status == '4'){
								var status_img = '/static/images/icon/download_icon36x36.png';
								nodwnldC += 1
								/*window.unSeen.push(data.squadList[i]['player_id']);*/
							}
							
							html += '<div class="col-md-4 col-sm-4 col-xs-6"><div class="squad_player text-center"><img src="'+data.squadList[i]['player_img']+'" height="125px" width="125px" style="border-radius: 8px;" /><span class="cross"><img src="'+status_img+'"/></span><div class="player_details" style="margin-top: 10px;"><p style="font-size: 14px;">'+data.squadList[i]['player_name']+'</p><h4 class="firstCap">'+data.squadList[i]['player_position']+'</h4></div></div></div>';
							xsCount += 1;
							if (count == 2){
								html +='<div class="hidden-xs clearfix"></div>'
								count = 0;
							}
							else{
								count += 1;
							}
							if (xsCount%2 == 0){
								html +='<div class="visible-xs clearfix"></div>'
							}
						}
						if (data.len_squadlist == 1){totalM = "1 player";}
						else{totalM = " "+data.len_squadlist+" players";}
						/*************************************************
						if (availC == 1){availM = "1 player";}
						else{availM = ""+availC+" players";}
						if (unavailC == 1){unavailM = "1 player";}
						else{unavailM = ""+unavailC+" players";}
						if (norespC == 1){norespM = "1 player";}
						else{norespM = ""+norespC+" players";}
						if (nodwnldC == 1){nodwnldM = "1 player";}
						else{nodwnldM = ""+nodwnldC+" players";}
						*************************************************/
						availM = availC + " Available";
						unavailM = unavailC + " Unavailable";
						norespM = norespC + " No response";
						nodwnldM = nodwnldC + " Not downloaded app";
						
						window.availCDict[window.prev_id] = availC
						/***************************
						htmlC = '<div class="response-count"><div class="col-md-12 col-sm-12 col-xs-12"><p><span class="helvetica-bold">Match day squad:</span> '+totalM+'</p></div><div class="col-md-12 col-sm-12 col-xs-12"><div class="col-md-4 col-sm-4 col-xs-4 right-15"><img src="/static/images/icon/notif_avail.png" class="count-icon"> '+availM+'</div><div class="col-md-4 col-sm-4 col-xs-4 right-15"><img src="/static/images/icon/notif_unavail.png" class="count-icon"> '+unavailM+'</div><div class="col-md-4 col-sm-4 col-xs-4 right-15"><img src="/static/images/icon/notif_noresp.png" class="count-icon"> '+norespM+'</div><div class="col-md-4 col-sm-4 col-xs-4 right-15"><img src="/static/images/icon/hifen.jpg" class="count-icon"> '+nodwnldM+'</div></div></div>'
						***************************/
						htmlC = '<div class="response-count"><div class="col-md-12 col-sm-12 col-xs-12"><p style="margin: 0 0 5px;"><span class="helvetica-bold">Match day squad:</span> '+totalM+'</p></div><div class="col-md-12 col-sm-12 col-xs-12"><div class="row" style="margin-bottom:5px;"><div class="col-md-6 col-sm-6 col-xs-6 right-15"><img src="/static/images/icon/notif_avail.png" class="count-icon"/> '+availM+'</div><div class="col-md-6 col-sm-6 col-xs-6 right-15"><img src="/static/images/icon/notif_unavail.png" class="count-icon"/> '+unavailM+'</div></div><div class="row"><div class="col-md-6 col-sm-6 col-xs-6 right-15"><img src="/static/images/icon/notif_noresp.png" class="count-icon"/> '+norespM+'</div><div class="col-md-6 col-sm-6 col-xs-6 right-15"><img src="/static/images/icon/download_icon_20x20.png" class="count-icon"/> '+nodwnldM+'</div></div></div></div>'
					}
					$("#confirm-msg").addClass('hide');
					$("#default").addClass('hide');
					$("#squadPly").removeClass('hide');
					$("#response-count").html(htmlC);
					$("#squadPly").html(html);
					$("#htmlCnfm").html(htmlCnfm+'</div>');
				},
				error:function(err){
					console.log(err);
				}
			});
		}
		else{
			console.log(id);
			/* window.delArr.push(id); */
		}
	}
	
	function show_check(){
		window.delArr = [];
		window.onClick = false;
		console.log("show_check");
		$("#resend-msg").hide();
		$("#response-count").addClass('hide');
		$('#notify-save').removeClass('hide');
		$('.ply_check').removeClass('hide');
		$(".match-day-sqd").addClass('hide');
		$('.ply_check').prop('disabled',false);
		$("input[type='checkbox'] + span").css('visibility','visible');
		
		/*console.log(window.prev_id);*/
		if (window.prev_id){
			$("#sel"+window.prev_id+" div p").removeClass('noti_p-hovered');
			$("#sel"+window.prev_id+" div span").removeClass('noti_arrow-hovered');
			window.prev_id = '';
			$("#squadPly").addClass('hide');
			$("#default").removeClass('hide');
			$("#resend-div").addClass('hide');
			$("#confirm-div").addClass('hide');
		}
		$('.checkbox-inline').removeClass('hide');
		$(".remove-prop").unbind("click");
		$('#notify-edit').addClass('hide');
		/*$(".remove-prop").addClass("hide");
		$(".divClass").removeClass("hide"); */
		$('.notification_div').addClass('nohover');
		$(".edit_box").slideDown("slow");
	}
	
	function delete_click(){
		$("#Err").addClass('hide');
		$("#noDErr").addClass('hide');
		window.delArr = [];
		$(".ply_check:checked").each(function() {
			window.delArr.push(this.value);
		});
		console.log(window.delArr);
		lenArr = window.delArr.length;
		if(lenArr > 0){
			for(var i=0; i<lenArr; i++){
				$('#sel'+delArr[i]+'').addClass('hide');
				$('#label'+delArr[i]+'').addClass('hide');
			}
			$('#undo_btn').removeClass('hide');
		}
		else if(lenArr == 0){
			$("#Err").removeClass('hide');
			$("#noDErr").removeClass('hide');
		}
	}
	
	function undo_click(){
		window.delArr = [];
		$(".ply_check:checked").each(function() {
			window.delArr.push(this.value);
		});
		console.log(window.delArr);
		lenArr = window.delArr.length;
		if(lenArr > 0){
			for(var i=0; i<lenArr; i++){
				$('#sel'+delArr[i]+'').removeClass('hide');
				$('#label'+delArr[i]+'').removeClass('hide');
			}
			$('#undo_btn').addClass('hide');
		}
		else if(lenArr == 0){
			$("#Err").addClass('hide');
			$("#noDErr").addClass('hide');
		}
		window.delArr = [];
		console.log(window.delArr);
	}
	
	function save_check(){
		if(window.delArr.length > 0){
			$.ajax({
				type:'POST',
				url : '/notificationHide/',
				data : {
					fixtures : window.delArr,
				},
				success:function(response){
					/*console.log(response);*/
					$("input[type='checkbox'] + span").css('visibility','hidden');
					$('.ply_check:checked').prop('checked', false);
					$('.ply_check').prop('disabled', true);
					window.onClick = true;
					console.log("save_check");
					$('#notify-edit').removeClass('hide');
					$('#notify-save').addClass('hide');
					$(".edit_box").slideUp("slow");
					$('.ply_check').addClass('hide');
					$('.notification_div').removeClass('nohover');
					$('#undo_btn').addClass('hide');
					/*window.location.reload();*/
					var id = window.location.href.replace(/[^0-9]/g,'');
					if (id == ""){
						var link = window.location.href;
					}
					else
					{
						var link = window.location.href.split(id)[0];
					}
					window.location.href = link;
				},
				error: function(err){
					console.log(err);
				}
			});
		}
		else{
					$("input[type='checkbox'] + span").css('visibility','hidden');
					$('.ply_check:checked').prop('checked', false);
					$('.ply_check').prop('disabled', true);
					window.onClick = true;
					console.log("save_check");
					$('#notify-edit').removeClass('hide');
					$('#notify-save').addClass('hide');
					$(".edit_box").slideUp("slow");
					$('.ply_check').addClass('hide');
					$('.notification_div').removeClass('nohover');
					$('#undo_btn').addClass('hide');
		}
	}
	
	function resendNotif(){
		//$('#loader').show();//hide('slow');
		console.log(window.unSeen);
		if(window.unSeen.length > 0){
			$("#resendMsg-modal").modal('toggle');
			$("#resendMsg").show();
			$("#noResendMsg").hide();
			$.ajax({
				type:'POST',
				url : '/resend_msg/',
				data : {
					fixture_id:window.fix_id,
					players : window.unSeen,
				},
				success:function(response){
					/*console.log(response);*/
					/*$("#resend-msg").show(500).delay(10000).hide(500);*/
					$('#loader').fadeOut(1500);//hide('slow');
					$("#resend-msg").show();
				},
				error: function(err){
					console.log(err);
				}
			});
		}
		else{
			$("#resendMsg-modal").modal('toggle');
			$("#resendMsg").hide();
			$("#noResendMsg").show();
			//$('#loader').fadeOut(1500);//hide('slow');
		}
	}
	
	function confmNotif(){
		if(availCDict[window.prev_id] == 0){
			$("#confirm-msg").removeClass('hide');
		}
		else{
			$("#confirm-msg").addClass('hide');
			$('#confirm_players').modal('toggle');
		}
	}
	
	function send_confirmation(){
		var selected = [];
		$(".Cplayers input:checked").each(function() {
			selected.push($(this).attr('value'));
		});
		console.log(selected);
		/*
		console.log(window.prev_id);*/
		if(selected.length == 0){
			$("#cnfmErr").removeClass('hide');
		}
		else{
			$("#cnfmErr").addClass('hide');
			$.ajax({
				type:'POST',
				url:'/FinalSquad/',
				data:{
					players:selected,
					fixture_id:window.prev_id
				},
				success:function(response){
					if (response.status){
						window.location.reload();
					}
				},
				error:function(err){
					console.log("Error in AJAX - ");
					console.log(err);
				}
			});
		}
	}
	
	function matchdaysqd(){
		$('#mtchdsqd').modal('toggle');
		/*var status_img = '/static/images/icon/Blue_tick_36.png';*/
		/* span = <span class="cnfrm"><img src="'+status_img+'"/></span> */
		$.ajax({
			type:'POST',
			url:'/matchDaySqd/',
			data:{fixture_id:window.prev_id},
			success:function(response){
				var match_day_sqd = '<div class="row">';
				for (i=0; i < response.count; i++){
					match_day_sqd += '<div class="col-md-3 col-sm-3 col-xs-6"><div class="squad_player text-center"><img src="'+response.player_list[i]['player_img']+'" height="125px" width="125px" style="border-radius: 8px;" /><!span><div class="player_details" style="margin-top: 10px;"><p style="font-size: 14px;">'+response.player_list[i]['player_name']+'</p><h4 class="firstCap">'+response.player_list[i]['player_position']+'</h4></div></div></div>';
				}
				match_day_sqd += '</div>';
				$("#match_day_sqd").html(match_day_sqd);
			},
			error:function(err){
				console.log(err);
			}
		});
	}
</script>
	{% endblock %}