{% extends "base.html" %}
{% load staticfiles %}
{% load LtFilter %}
{% block content %}

<style>
	.image-editor .cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 270px;
        height: 270px;
    }

    .image-editor1 .cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 270px;
        height: 270px;
    }
    .image-editor2 .cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 270px;
        height: 270px;
    }
    .image-editor3 .cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 270px;
        height: 270px;
    }
	.selectContainer select{
		background-color: #f1f1f2;
		/*color: #a5a5a6;*/
		font-family: Arial;
		border-color: #9c9e9f;
	}
	.errA-icon,.errU-icon{
		position: relative;
		left: 2px;
		float: left;
	}
	.errA-text,.errU-text{
		position: relative;
		left: 5px;
		bottom: 2px;
		color:red;
		font-family: arial;
	}
	.pl_pos{
	    margin-bottom: 10px;
	}
	.btn-cont{
	    color: #fff;
		background-color: #9a9b9c;
		border-color: #9a9b9c;
	}
	button[disabled], html input[disabled]{cursor:not-allowed !important;}
	#forplayer{
		display:none;
		margin-bottom:40px;
	}
	
</style>
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="main-panel col-md-12 col-sm-12 col-xs-12" style="margin-top:0;">
					<div class="row">
						<div class="col-md-9 col-sm-9 col-xs-12 first-left">
							{% if response.strip_colour == 'rgb(255, 255, 255)' %}
							<div class="profile_title" style="background-color:{{response.strip_colour}};">
								<h3 onclick="gg()" style="color:#0f204b;">{{response.club_name}}</h3>
								<div class="new-his-d hide" >
									<button class="btn-support-black pull-right" id="sqaud-edit" onclick="show_check()">E<span class="hidden-xs">dit</span></button>
									<button class="btn-support-black pull-right hide" id="sqaud-delete" onclick="delete_check()">S<span class="hidden-xs">ave</span></button>
								</div>
							</div>
							{% else %}
							<div class="profile_title" style="background-color:{{response.strip_colour}};">
								<h3 onclick="gg()">{{response.club_name}}</h3>
								<div class="new-his-d hide" >
									<button class="btn-support pull-right" id="sqaud-edit" onclick="show_check()">E<span class="hidden-xs">dit</span></button>
									<button class="btn-support pull-right hide" id="sqaud-delete" onclick="delete_check()">S<span class="hidden-xs">ave</span></button>
								</div>
							</div>
							{% endif %}
							<div class="history-div">
								<div class="small-strip">
									<div class="col-md-7 col-sm-6 col-xs-5">
										<span class="section-title">Team squad</span>
									</div>
									<div class="col-md-5 col-sm-6 col-xs-7">
									{% if teamCount == 1 %}
										<!-- <select class="form-control" id="teamid" > -->
											<!-- <option value="" style="color:#a0a0a0">Select team</option> -->
											{% for teams in teams %}
												<!-- <option value="{{teams.1}}" style="color:#636363" selected>{{teams.0}}</option> -->
												<input value="{{teams.1}}" type="hidden" id="teamid" />
											{% endfor %}
										<!-- </select> -->
									{% else %}
										<select class="form-control teamid" id="teamid" >
											<option value="" style="color:#a0a0a0">Select team</option>
											{% for teams in teams %}
												<option value="{{teams.1}}" style="color:#636363">{{teams.0}}</option>
											{% endfor %}
										</select>
									{% endif %}
									</div>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 new-his">
									<div class="new-his-d">
										<div class="row edit_box">
											<div class="col-md-5 col-sm-5 col-xs-12 text-left">
												<p>Select a player to update or delete.</p>
											</div>
											<div class="col-md-7 col-sm-7 col-xs-12 text-right">
												<button class="btn-undo btn-md text-left hide" id="undo_btn" onclick="undo_click()">Undo</button>
												<button class="btn-update btn-md text-left" id="update_btn" onclick="update_click()">Update</button>
												<button class="btn-delete btn-md text-left" onclick="delete_click()">Delete</button>
											</div>
										</div>
										<div class="row edit_box">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<div style="color:red;"><img id="updateErr" style="float:left;margin-right:5px;top:2px;position:relative;" src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive hide" />
												<p id="noErr" class="hide">Please select player to update</p>
												<p id="noDErr" class="hide">Please select player/s and/or manager to delete</p>
												<p id="exErr" class="hide">Please select only one player to update</p>
												</div>
											</div>
										</div>
										
										<!-- Add_manager -->
										<div id="formanager" style="display: none">
											<h5 id="managertext" style="color:red;visibility: hidden">* Please add a manager for this team</h5>
											<form id="form_manager" method="POST" action="/addmanager/">
												<div class="row add_player">
													<div class="col-md-3 col-sm-3 col-xs-6" style="position: relative;">
														<div class="upload_player text-center">
															<img onclick="addlogo_m()" class="img-responsive" style="border-radius: 10px;" id="m_logo_upload_pic" src="{% static 'images/icon/add_player.png' %}" />
															<input id="m_logo_upload_text" name="m_logo" type="hidden" />
														</div>
														<div class="add-name" onclick="show_manager_form()">
															<h4>Add manager<img src="{% static 'images/icon/left.png' %}" style="margin-left:2px"></h4>
														</div>
													</div>
													<div class="col-md-6 col-sm-6 col-xs-12 first-right" id="manager_div" style="display: none">
														<div class="add_player_field">
															<div class="form-group" style="position: relative;">
																<input id="ply_name_m" name="manager_name" type="text" placeholder="Name" class="form-control input-md name-wo-digits" />
																<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errA-icon hide" id="m_name_err" />
																<p id="m_name_err-text" class="errA-text hide">Please enter name</p>
															</div>
															<div class="form-group">
																<input id="ply_position_m" name="position_m" type="text" value="Manager" class="form-control input-md" readonly />
																<input type="hidden" name="teamid" id="teamid_m" >
															</div>
															<div class="form-group" style="position: relative;">
																<input type="number" id="ply_mobile_m" name="manager_mobile" placeholder="Mobile number" class="form-control input-md" />
																<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errA-icon hide" id="m_mobile_err" />
																<p id="m_mobile_err-text" class="errA-text hide">Please enter manager's mobile number</p>
																<p id="m_mobile_err2-text" class="errA-text hide">Please enter valid mobile number with 11 digits</p>
																<p id="m_mobile_err3-text" class="errA-text hide">This mobile number already exists, please enter another mobile number or click on "Continue" to keep same as Manager.</p>
															</div>
															<br/>
															<button type="button" onclick="addmanagerbutton()" class="btn btn-md btn-success btn-arrow" style="font-size: 18px;float:left;/*padding: 8px 15px;*/">Add manager<img src="{% static 'images/icon/arrow_right_xs.png' %}"></button>
															<button type="button" onclick="confirmation_m()" id="continue" class="btn btn-md btn-cont btn-arrow pull-right hide" style="font-size: 18px;/*padding: 8px 15px;*/" >Continue<img src="{% static 'images/icon/arrow_right_xs.png' %}"></button>
														</div>
													</div>
													<div class="col-md-3 col-sm-3 col-xs-6"></div>
												</div>
											</form>
										</div>
										<!-- Add_manager_end -->
										
										<div class="row squad_select"></div>
										
										<!-- Add_player -->
										<div class="row add_player" id="forplayer">
											<div class="col-md-3 col-sm-3 col-xs-6">
												<div class="upload_player text-center">
													<img onclick="addlogo()" class="img-responsive" style="border-radius: 10px;/*width:100%*/" id="logo_upload_pic" src="{% static 'images/icon/add_player.png' %}" />
													<input id="logo_upload_text" name="logo" type="hidden"/>
												</div>
												<div class="add-name" onclick="show_player_form()">
													<h4>Add player <img src="{% static 'images/icon/left.png' %}" style="margin-left:2px"></h4>
												</div>
											</div>
											<div class="col-md-5 col-sm-5 col-xs-12 first-right" id="player_div" style="display: none">
												<div class="add_player_field">
													<form id="form_player" method="POST" action="/addplayer/">
														<div class="form-group">
															<input id="ply_name" name="player name" type="text" placeholder="Player name" class="form-control input-md name-wo-digits" />
															<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errA-icon hide" id="p_name_err" />
															<p id="p_name_err-text" class="errA-text hide">Please enter player's name</p>
														</div>
														<div class="form-group" style="margin-bottom: 10px;">
															<div class="selectContainer">
																<select class="form-control o-fld pl_pos" id="ply_position">
																<option value="0" style="color:#a0a0a0">Select position</option>
																{% for pos in positions %}
																<option value="{{pos.id}}" style="color:#636363">{{pos.position | capfirst}}</option>
																{% endfor %}
																</select>
																<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errA-icon hide" id="p_position_err" />
																<p id="p_position_err-text" class="errA-text hide">Please select player's position</p>
															</div>	
														</div>
														<div class="form-group">
															<input id="ply_mobile" name="Mobile" type="number" placeholder="Mobile number" class="form-control input-md" />
															<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errA-icon hide" id="p_mobile_err" />
															<p id="p_mobile_err-text" class="errA-text hide">Please enter player's mobile number</p>
															<p id="p_mobile_err2-text" class="errA-text hide">Please enter valid mobile number with 11 digits</p>
															<p id="p_mobile_err3-text" class="errA-text hide">This mobile number already registered, please enter another number</p>
														</div>
														<br/>
														<button type="button" onclick="addplayerbutton()" class="btn btn-md btn-success btn-arrow" style="font-size: 18px;/*padding: 8px 15px;*/" >Add player<img src="{% static 'images/icon/arrow_right_xs.png' %}"></button>
													</form>
												</div>
											</div>
											<div class="col-md-4 col-sm-4 col-xs-12"></div>
										</div>
										<!-- Add_player_end -->
										{% if msg != '' %}
										<h4 id="msg_for_manager">{{msg}}</h4>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-12 hidden-xs">
							<div class="ad-inner-container" style="background-color:white;max-height:600px;min-height:600px;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
<!-- modals -->

	<div class="modal fade" id="logo_upload" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Upload a profile image</h4>
				</div>
				<div class="modal-body">
					<div class="image-editor">
						<input type="file" class="cropit-image-input">
						<div class="cropit-preview"></div>
						<div class="image-size-label">
							Resize image
						</div>
						<input type="range" class="cropit-image-zoom-input">
						<button class="export btn btn-lg btn-success">Set Profile</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="m_logo_upload" role="dialog">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Upload a profile image</h4>
				</div>
				<div class="modal-body">
					<div class="image-editor1">
						<input type="file" class="cropit-image-input">
						<div class="cropit-preview"></div>
						<div class="image-size-label">
							Resize image
						</div>
						<input type="range" class="cropit-image-zoom-input">
						<button class="export1 btn btn-lg btn-success">Set Profile</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="logo_update" role="dialog" style="z-index: 9998">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Upload a profile image</h4>
				</div>
				<div class="modal-body">
					<div class="image-editor2">
						<input type="file" class="cropit-image-input">
						<div class="cropit-preview"></div>
						<div class="image-size-label">
							Resize image
						</div>
						<input type="range" class="cropit-image-zoom-input">
						<button class="export2 btn btn-lg btn-success">Set Profile</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="logo_update_m" role="dialog" style="z-index: 9998">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Upload a profile image</h4>
				</div>
				<div class="modal-body">
					<div class="image-editor3">
						<input type="file" class="cropit-image-input">
						<div class="cropit-preview"></div>
						<div class="image-size-label">
							Resize image
						</div>
						<input type="range" class="cropit-image-zoom-input">
						<button class="export3 btn btn-lg btn-success">Set Profile</button>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- confirmation modal -->
	<div class="modal fade" id="confirmation" role="dialog" style="z-index: 9998">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Confirmation</h4>
				</div>
				<div class="modal-body">
					<div class="managerXbg">
						<div id="manager_data" style="text-align: center"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-md btn-success pull-left" onclick="cntnSmMan()">Save <img src="{% static 'images/icon/left.png' %}" style="margin-left:2px"></button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- end confirmation modal -->
	
	
	<div class="modal fade" id="update_modal" role="dialog" >
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Update Player Details</h4>
				</div>
				<div class="modal-body">
					<!-- <div class="row add_player" id="forplayer"> -->
					<div class="row add_player">
						<div class="col-md-4 col-sm-4 col-xs-8">
							<div class="upload_player text-center">
								<img onclick="updatelogo()" style="height: 175px;width: 175px;border-radius: 5px" id="logo_update_pic" src="{% static 'images/icon/add_player.png' %}" class="img-responsive">
								<input id="logo_update_text" name="logo" type="hidden"/>
							</div>
						</div>
						<div class="col-md-7 col-sm-7 col-xs-12 first-right" id="player_div">
							<div class="add_player_field">
								<form id="update_player" method="POST" action="/addplayer/">
									<div class="form-group">
										<input id="update_name" name="player_name" type="text" placeholder="Name" class="form-control input-md name-wo-digits">
										<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errU-icon hide" id="update_name_err" />
										<p id="update_name_err-text" class="errU-text hide">Please enter player's name</p>
									</div>
									<div class="form-group" style="margin-bottom: 10px;">
										<div class="selectContainer">
											<select class="form-control o-fld pl_pos" id="update_ply_position" name="up_pos">
											<option value="0" style="color:#a0a0a0">Select position</option>
											{% for pos in positions %}
												<option value="{{pos.id}}" style="color:#636363">{{pos.position | capfirst}}</option>
											{% endfor %}													
											</select>
											<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errU-icon hide" id="update_position_err" />
											<p id="update_position_err-text" class="errU-text hide">Please select player's position</p>
										</div>
									</div>
									<div class="form-group">
										<input id="upd_mobile" name="Mobile" type="number" placeholder="Mobile number" class="form-control input-md">
										<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errA-icon hide" id="upd_mobile_err" />
										<p id="upd_mobile_err-text" class="errU-text hide">Please enter player's mobile number</p>
										<p id="upd_mobile_err2-text" class="errU-text hide">Please enter valid mobile number with 11 digits</p>
										<p id="upd_mobile_err3-text" class="errU-text hide">This mobile number already registered, please enter another number</p>
									</div>
									<button type="button" onclick="updateplayer()" class="btn btn-md btn-success btn-arrow" style="font-size: 18px;/*padding: 8px 15px;*/" >Save player<img src="{% static 'images/icon/arrow_right_xs.png' %}"></button>
								</form>
							</div>
						</div>
						<div class="col-md-1 col-sm-1"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="update_modal_m" role="dialog" >
		<div class="modal-dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Update Manager Details</h4>
				</div>
				<div class="modal-body">
					<div class="row add_player" id="formanager">
						<div class="col-md-4 col-sm-4 col-xs-8">
							<div class="upload_player text-center">
								<img onclick="updatelogo_m()" style="border-radius: 5px" id="logo_update_pic_m" src="{% static 'images/icon/player.png' %}" class="img-responsive">
								<input id="logo_update_text_m" name="logo" type="hidden"/>
							</div>
						</div>
						<div class="col-md-7 col-sm-7 col-xs-12 first-right" id="player_div">
							<div class="add_player_field">
								<form id="update_manager" method="POST" action="/">
									<div class="form-group">
										<input id="update_name_m" name="manager_name" type="text" placeholder="Name" class="form-control input-md name-wo-digits" />
										<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errU-icon hide" id="update_name_err_m" />
										<p id="update_name_err_m-text" class="errU-text hide">Please enter name</p>
									</div>
									<div class="form-group" style="margin-bottom: 10px;">
										<input id="ply_position_m" name="position_m" type="text" value="Manager" class="form-control input-md" readonly />
									</div>
									<div class="form-group">
										<input id="upd_mobile_m" name="Mobile" type="number" placeholder="Mobile number" class="form-control input-md">
										<img src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errA-icon hide" id="upd_mobile_err_m" />
										<p id="upd_mobile_err_m-text" class="errU-text hide">Please enter mobile number</p>
										<p id="upd_mobile_err2_m-text" class="errU-text hide">Please enter valid mobile number with 11 digits</p>
										<p id="upd_mobile_err3_m-text" class="errU-text hide">This mobile number already registered, please enter another number.<br/>If You want to continue with existing manager, press "Continue"...</p>
									</div><br/>
									<button type="button" onclick="updatemanager()" class="btn btn-md btn-success btn-arrow" style="font-size: 18px;/*padding: 8px 15px;*/" >Save manager<img src="{% static 'images/icon/arrow_right_xs.png' %}"></button>
									<!-- <button type="button" id="continue" onclick="confirmation_m()" class="btn btn-md btn-success hide" style="font-size: 18px;position: relative;top: 0px;right: 0px;float: right;background: #707173;border-color:#707173;">Continue <img src="{% static 'images/icon/arrow_right_xs.png' %}" style="left: 5px;position: relative;"></button> -->
									<button type="button" onclick="confirmation_m()" id="continue_btn" class="btn btn-md btn-cont btn-arrow pull-right hide" style="font-size: 18px;/*padding: 8px 15px;*/" >Continue<img src="{% static 'images/icon/arrow_right_xs.png' %}"></button>
								</form>
							</div>
						</div>
						<div class="col-md-1 col-sm-1"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div> 
	
<script>
	document.getElementById('managertext').style.visibility = 'hidden'
	$(document).ready(function(){
		$("#sqaud-edit").click(function(){
			$("#o-fld, .edit_box").slideDown("slow");
			$("#forplayer").hide('slow');
		});
		//$('.pl_pos').css('color','#a0a0a0');
		//$('#teamid').css('color','#a0a0a0');
	});
	var teamid = '';
	
	$('.pl_pos').change(function() {
		var current = $('.pl_pos').val();
		if (current != "0") {
			$('.pl_pos').css('color','#636363');
		} else {
			$('.pl_pos').css('color','#a0a0a0');
		}
	});
	$('#teamid').change(function() {
		var current = $('#teamid').val();
		if (current != "") {
			$('#teamid').css('color','#636363');
		} else {
			$('#teamid').css('color','#a0a0a0');
		}
	});
	function addlogo(){
		$('#logo_upload').modal('toggle');
	}
	function addlogo_m(){
		$('#m_logo_upload').modal('toggle');
	}
	function updatelogo(){
		$('#logo_update').modal('toggle');
	}
	function updatelogo_m(){
		$('#logo_update_m').modal('toggle');
	}
	function confirmation_m(){
		$('#confirmation').modal('toggle');
	}
	var telephonePtrn = /^(0)[0-9]{10}$/;
	
	
	
	if({{teamCount}} == 1){
		$("#form_player")[0].reset();
		$("#form_manager")[0].reset();
		//console.log($('#teamid').val());
		if($('#teamid').val() == ''){
			$('.new-his-d').addClass('hide');
		}
		else{
			window.teamid = $('#teamid').val();
			$('.new-his-d').removeClass('hide');
			$('#m_name_err').addClass('hide');
			$('#m_name_err-text').addClass('hide');
			$('#m_mobile_err').addClass('hide');
			$('#m_mobile_err-text').addClass('hide');
			$('#m_logo_err').addClass('hide');
			$('#m_logo_err-text').addClass('hide');
			$('#msg_for_manager').html(" ");
			$.ajax({
				type:'POST',
				url:'/getplayers/',
				data:{
					teamid :  teamid,
				},
				success: function(response){
					/*console.log('/getplayers/ '+response);*/
					if(response == 0){
						document.getElementById('forplayer').style.display = 'none'
						document.getElementById('formanager').style.display = 'block'
						$('.squad_select').html(" ");
						$(".btn-support").addClass('hide');
						$("#updateErr").addClass('hide');
						$("#exErr").addClass('hide');
						$("#noErr").addClass('hide');
						document.getElementById('managertext').style.visibility = 'visible'
						$('#addbutton').html('Add Manager<img src="{% static 'images/icon/arrow_right_xs.png' %}">');
					}
					else{
						//console.log(response)
						$(".btn-support").removeClass('hide');
						$('#sqaud-edit').removeClass('hide')
						$('#sqaud-delete').addClass('hide')
						$("#o-fld, .edit_box").slideUp("slow");
						$('#undo_btn').addClass('hide');
						$("#updateErr").addClass('hide');
						$("#exErr").addClass('hide');
						$("#noErr").addClass('hide');
						$("#noDErr").addClass('hide');
						var rex = []
						$('.squad_select').html(response)
						document.getElementById('formanager').style.display = 'none'
						document.getElementById('forplayer').style.display = 'block'
						document.getElementById('managertext').style.visibility = 'hidden'
					}
				},
				error: function(err){
					console.log(err);
				}
			});
		}
	}
	
	$('#teamid').on('change',function(){
		
		$("#form_player")[0].reset();
		$("#form_manager")[0].reset();
		//console.log($('#teamid').val());
		if($('#teamid').val() == ''){
			$('.new-his-d').addClass('hide');
		}
		else{
			window.teamid = $('#teamid').val();
			$('.new-his-d').removeClass('hide');
			$('#m_name_err').addClass('hide');
			$('#m_name_err-text').addClass('hide');
			$('#m_mobile_err').addClass('hide');
			$('#m_mobile_err-text').addClass('hide');
			$('#m_logo_err').addClass('hide');
			$('#m_logo_err-text').addClass('hide');
			$('#msg_for_manager').html(" ");
			$.ajax({
				type:'POST',
				url:'/getplayers/',
				data:{
					teamid :  teamid,
				},
				success: function(response){
					/*console.log('/getplayers/ '+response);*/
					if(response == 0){
						document.getElementById('forplayer').style.display = 'none'
						document.getElementById('formanager').style.display = 'block'
						$('.squad_select').html(" ");
						$(".btn-support").addClass('hide');
						$("#updateErr").addClass('hide');
						$("#exErr").addClass('hide');
						$("#noErr").addClass('hide');
						document.getElementById('managertext').style.visibility = 'visible'
						$('#addbutton').html('Add Manager<img src="{% static 'images/icon/arrow_right_xs.png' %}">');
					}
					else{
						//console.log(response)
						$(".btn-support").removeClass('hide');
						$('#sqaud-edit').removeClass('hide')
						$('#sqaud-delete').addClass('hide')
						$("#o-fld, .edit_box").slideUp("slow");
						$('#undo_btn').addClass('hide');
						$("#updateErr").addClass('hide');
						$("#exErr").addClass('hide');
						$("#noErr").addClass('hide');
						$("#noDErr").addClass('hide');
						var rex = []
						$('.squad_select').html(response)
						document.getElementById('formanager').style.display = 'none'
						document.getElementById('forplayer').style.display = 'block'
						document.getElementById('managertext').style.visibility = 'hidden'
					}
				},
				error: function(err){
					console.log(err);
				}
			});
		}
	});

	/* var rex = [];
	var rexM = ''; 
	var teamid = ''; */
	function delete_click(){
		$("#updateErr").addClass('hide');
		$("#exErr").addClass('hide');
		$("#noErr").addClass('hide');
		$("#noDErr").addClass('hide');
		var selected = [];
		var selectedM = '';
		$('.players1 input:checked').each(function() {
			selected.push($(this).attr('value'));
		});
		$('.manager input:checked').each(function() {
			selectedM = $(this).attr('value');
		});
		var lenArr = selected.length + selectedM.length;
		if(lenArr > 0){
			$("#update_btn").prop('disabled',true);
			if(selected.length > 0){
				for(var i=0; i<selected.length; i++){
					$('#play'+selected[i]+'').addClass('hide');
				}
			}
			if(selectedM != 0){
				$('#manager'+selectedM+'').addClass('hide');
			}
			$('#undo_btn').removeClass('hide')
			/* rex = selected;
			rexM = selectedM; */
		}
		else if(lenArr == 0){
			$("#noDErr").removeClass('hide');
			$("#updateErr").removeClass('hide');
		}
	}
	
	function delete_check(){
		$("#update_btn").prop('disabled',false);
		window.teamid = $("#teamid").val();
		$("#o-fld, .edit_box").slideUp("slow");
		$('#sqaud-delete').addClass('hide');
		$('#sqaud-edit').removeClass('hide');
		var selected = [];
		var selectedM = '';
		var rex = [];
		var rexM = '';
		$('.players1 input:checked').each(function() {
			selected.push($(this).attr('value'));
		});
		$('.manager input:checked').each(function() {
			selectedM = $(this).attr('value');
		});
		
		if(selected.length > 0){
			for(var i=0; i<selected.length; i++){
				if($('#play'+selected[i]+'').hasClass('hide')){
					rex.push(selected[i]);
				}
			}
		}
		if(selectedM != ''){
			if($('#manager'+selectedM+'').hasClass('hide')){
				rexM = selectedM;
			}
		}
		 /*console.log(selected);
		console.log(selected.length); */
		if(rex.length > 0){
			$.ajax({
				type:'POST',
				url : '/deleteplayer/',
				data : {
					players : rex,
				},
				success:function(response){
					loadSqadDiv(window.teamid);
				},
				error: function(err){
					console.log(err);
				}
			});
		}
		if(rexM != ''){
			$.ajax({
				type:'POST',
				url : '/deletemanager/',
				data : {
					manager : rexM,
					teamid : window.teamid,
				},
				success:function(response){
					if (response.response){
						loadSqadDiv(window.teamid);
					}
				},
				error: function(err){
					console.log(err);
				}
			});
		}
		$('.ply_check').attr('disabled', true);
		$('.ply_check_m').attr('disabled', true);
		$('.players1 input:checked').attr('checked', false);
		$('.manager input:checked').attr('checked', false);
		$('#undo_btn').addClass('hide')
		$("#forplayer").show('slow');
	}
	
	function update_click(){
		$("#update_manager")[0].reset();
		$("#update_player")[0].reset();
		$("#noDErr").addClass('hide');
		var selected = [];
		var selectedM = [];
		$('.players1 input:checked').each(function() {
		    selected.push($(this).attr('value'));
		});
		$('.manager input:checked').each(function() {
		    selectedM.push($(this).attr('value'));
		});
		var lenArr = selected.length+selectedM.length
		//console.log(lenArr);
		if( lenArr > 1 || lenArr == 0){
			$("#updateErr").removeClass('hide');
			if(lenArr > 1){
				$("#noErr").addClass('hide');
				$("#exErr").removeClass('hide');
			}
			if(lenArr == 0){
				$("#noErr").removeClass('hide');
				$("#exErr").addClass('hide');
			}
		}
		else{
			$("#updateErr").addClass('hide');
			$("#exErr").addClass('hide');
			$("#noErr").addClass('hide');
			if (selected.length == 1){
				//rex = selected;
				//console.log(rex[0])
				var name = $('#play'+selected[0]+' .player_details p').text()
				var mob = $('#play'+selected[0]+' .player_details h3').text()
				var url = $('#play'+selected[0]+' .players1').css('background-image').replace(/^url\(['"](.+)['"]\)/, '$1');
				var pos = $('#play'+selected[0]+' .player_details h5').text();
				$('#update_name').val(name)
				$('#logo_update_pic').attr('src',url);
				$('#upd_mobile').val(mob)
				$("#update_ply_position").val(pos);
				$('#update_modal').modal('toggle');
			}
			else if (selectedM.length == 1){
				// rexM = selectedM;
				var name = $('#manager'+selectedM[0]+' .manager_details p').text();
				var mob = $('#manager'+selectedM[0]+' .manager_details h3').text();
				var url = $('#manager'+selectedM[0]+' .manager').css('background-image').replace(/^url\(['"](.+)['"]\)/, '$1');
				$('#update_name_m').val(name)
				$('#logo_update_pic_m').attr('src',url);
				$('#upd_mobile_m').val(mob)
				$('#update_modal_m').modal('toggle');

			}
		}
	}

	function show_check(){
		$('#sqaud-delete').removeClass('hide')
		$('#sqaud-edit').addClass('hide')
		$('.ply_check').attr('disabled', false);
		$('.ply_check_m').attr('disabled', false);
	}
	
	function undo_click(){
		$("#update_btn").prop('disabled',false);
		$("#updateErr").addClass('hide');
		$("#exErr").addClass('hide');
		$("#noErr").addClass('hide');
		$("#noDErr").addClass('hide');
		$('#undo_btn').addClass('hide');
		var selected = [];
		var selectedM = [];
		$('.players1 input:checked').each(function() {
		    selected.push($(this).attr('value'));
		});
		$('.manager input:checked').each(function() {
		    selectedM.push($(this).attr('value'));
		});
		if(selected.length > 0){
			for(var i=0; i<selected.length; i++){
				$('#play'+selected[i]+'').removeClass('hide');
			}
			selected = [];
		}
		if(selectedM != ''){
			$('#manager'+selectedM+'').removeClass('hide');
			selectedM = '';
		}
	}
	
    function addmanagerbutton(){
		$("#manager_data").html('');
		var mnameF = mmobileF = mexeM = false;
		//var logo = $('#m_logo_upload_text').val();
		
		if($('#ply_name_m').val() == ""){
			$('#m_name_err').removeClass('hide');
			$('#m_name_err-text').removeClass('hide');
			mnameF = false
		}
		else{
			$('#m_name_err').addClass('hide');
			$('#m_name_err-text').addClass('hide');
			mnameF = true;
		}
		
		if($('#ply_mobile_m').val() == "") {
			$('#m_mobile_err').removeClass('hide');
			$('#m_mobile_err-text').removeClass('hide');
			$('#m_mobile_err2-text').addClass('hide');
			$('#m_mobile_err3-text').addClass('hide');
			mmobileF = false;
		}
		else{
			if(window.telephonePtrn.test($('#ply_mobile_m').val())){
				$('#m_mobile_err').addClass('hide');
				$('#m_mobile_err-text').addClass('hide');
				$('#m_mobile_err2-text').addClass('hide');
				$('#m_mobile_err3-text').addClass('hide');
				mmobileF = true;				
			}
			else{
				$('#m_mobile_err').removeClass('hide');
				$('#m_mobile_err-text').addClass('hide');
				$('#m_mobile_err2-text').removeClass('hide');
				$('#m_mobile_err3-text').addClass('hide');
				mmobileF = false;
			}
		}
		
		if(mnameF && mmobileF && true){
			window.teamid = $('#teamid').val();
			$('#teamid_m').val(window.teamid);
			$.ajax({
				type:'POST',
				url : '/XmobileM/',
				data : {'mobile' : $('#ply_mobile_m').val()},
				success:function(response){
					console.log(response);
					mexeM = response.valid;
					man_id = response.manager_id;
					man_name = response.manager_name;
					imgurl = response.manager_img;
					html='<div style="display: inline-block;"><img src="'+imgurl+'" alt="'+man_name+'" width="150px" height="auto" /><h4>'+man_name+'</h4></div>';
					html +='<input type="hidden" name="manager_id" id="manager_id" value="'+man_id+'">';
					html +='<input type="hidden" name="teamid" id="teamid" value="'+window.teamid+'">';
					$("#manager_data").html(html);
					if(mexeM){
						$("#continue").addClass('hide');
						$('#m_mobile_err').addClass('hide');
						$('#m_mobile_err-text').addClass('hide');
						$('#m_mobile_err2-text').addClass('hide');
						$('#m_mobile_err3-text').addClass('hide');
						document.getElementById('form_manager').submit();
					}
					else{
						$("#continue").removeClass('hide');
						$('#m_mobile_err').removeClass('hide');
						$('#m_mobile_err-text').addClass('hide');
						$('#m_mobile_err2-text').addClass('hide');
						$('#m_mobile_err3-text').removeClass('hide');
					}
				},
				error: function(err){
					console.log(err);
				}
			});
		}
	}
	
	function updatemanager(){
		$("#manager_data").html('');
		var nameF = mobileF = mobileU = mexeM = false;
		pic = $('#logo_update_text_m').val()
		name = $('#update_name_m').val()
		mobile = $('#upd_mobile_m').val()
		mobileO = $('#manager'+$('.manager input:checked').attr('value')+' .manager_details h3').text();
		var selectedM = []
		$('.manager input:checked').each(function() {
		    selectedM.push($(this).attr('value'));
		});
		id_m = selectedM[0]
		window.teamid = $('#teamid').val()
		console.log(window.teamid);
		
		if(name == ""){
			$('#update_name_err_m').removeClass('hide');
			$('#update_name_err_m-text').removeClass('hide');
			nameF = false;
		}
		else{
			$('#update_name_err_m').addClass('hide');
			$('#update_name_err_m-text').addClass('hide');
			nameF = true;
		}
		
		if(mobile == "") {
			$('#upd_mobile_err_m').removeClass('hide');
			$('#upd_mobile_err_m-text').removeClass('hide');
			$('#upd_mobile_err2_m-text').addClass('hide');
			$('#upd_mobile_err3_m-text').addClass('hide');
			window.mobileF = false;
		}
		else{
			if(window.telephonePtrn.test($('#upd_mobile_m').val())){
				$('#upd_mobile_err_m').addClass('hide');
				$('#upd_mobile_err_m-text').addClass('hide');
				$('#upd_mobile_err2_m-text').addClass('hide');
				$('#upd_mobile_err3_m-text').addClass('hide');
				window.mobileF = true;
			}
			else{
				$('#upd_mobile_err_m').removeClass('hide');
				$('#upd_mobile_err_m-text').addClass('hide');
				$('#upd_mobile_err2_m-text').removeClass('hide');	    			
				$('#upd_mobile_err3_m-text').addClass('hide');	    			
				window.mobileF = false;
			}
		}
		
		if(mobileO == mobile){
			window.mobileU = false;
		}
		else{
			window.mobileU = true;
		}
		
		if(nameF && mobileF && true){
			if(pic == ""){
				data = {'name' : name, 'pic' : "", 'id' : id_m, 'teamid' : window.teamid, 'mobile' : mobile}
			}
			else{
				data = {'name' : name, 'pic' : pic, 'id' : id_m, 'teamid' : window.teamid, 'mobile' : mobile}	
			}
			console.log(data);
			if(mobileU){
				$.ajax({
					type:'POST',
					url : '/XmobileM/',
					data : {'mobile' : mobile},
					success:function(response){
						console.log(response);
						window.mexeM = response.valid;
						man_id = response.manager_id;
						man_name = response.manager_name;
						imgurl = response.manager_img;
						html='<div style="display: inline-block;"><img src="'+imgurl+'" alt="'+man_name+'" width="150px" height="auto" /><h4>'+man_name+'</h4></div>';
						html +='<input type="hidden" name="manager_id" id="manager_id" value="'+man_id+'">';
						html +='<input type="hidden" name="teamid" id="teamid_m" value="'+window.teamid+'">';
						$("#manager_data").html(html);
						if(mexeM){
							$('#continue_btn').addClass('hide')
							$('#upd_mobile_err_m').addClass('hide');
							$('#upd_mobile_err_m-text').addClass('hide');
							$('#upd_mobile_err2_m-text').addClass('hide');
							$('#upd_mobile_err3_m-text').addClass('hide');
							$("#update_modal_m").modal('hide');
							$('.modal-backdrop').remove();
							updateManager(data, window.teamid);
						}
						else{
							$('#continue_btn').removeClass('hide');
							$('#upd_mobile_err_m').removeClass('hide');
							$('#upd_mobile_err_m-text').addClass('hide');
							$('#upd_mobile_err2_m-text').addClass('hide');
							$('#upd_mobile_err3_m-text').removeClass('hide');
						}
					},
					error:function(err){
						console.log(err);
					}
				});
			}
			else{
				$('#continue_btn').addClass('hide');
				$('#upd_mobile_err_m').addClass('hide');
				$('#upd_mobile_err_m-text').addClass('hide');
				$('#upd_mobile_err2_m-text').addClass('hide');
				$('#upd_mobile_err3_m-text').addClass('hide');
				$("#update_modal_m").modal('hide');
				$('.modal-backdrop').remove();
				updateManager(data, window.teamid);
			}
		}
	}
	
	function updateManager(data, teamid){
		console.log(teamid);
		$.ajax({
			type:'POST',
			url : '/updatemanager/',
			data : data,
			success:function(response){
				console.log(response)
				$('#update_modal_m').modal('hide')
				$('#sqaud-edit').removeClass('hide')
				$('#sqaud-delete').addClass('hide')
				$("#o-fld, .edit_box").slideUp("slow");
				$('#undo_btn').addClass('hide')
				var selected = []
				$('.squad_select').html(response);
				document.getElementById('formanager').style.display = 'none';
				document.getElementById('forplayer').style.display = 'block';
				document.getElementById('managertext').style.visibility = 'hidden';
				loadSqadDiv(teamid);
			},
			error: function(err){
				console.log(err);
			}
		});
	}
	
	function cntnSmMan(){
		$('#confirmation').modal('toggle');
		$("#update_modal_m").modal('hide');
		$('.modal-backdrop').remove();
		$.ajax({
			type:'POST',
			url : '/eXManSave/',
			data : {
				'manager_id' : $("#manager_id").val(),
				'teamid' : $("#teamid").val(),
			},
			success :function(response){
				if(response.status){
					$("#manager_data").html('');
					$('#continue').addClass('hide');
					$('#continue_btn').addClass('hide');
					$('#upd_mobile_err_m').addClass('hide');
					$('#upd_mobile_err_m-text').addClass('hide');
					$('#upd_mobile_err2_m-text').addClass('hide');
					$('#upd_mobile_err3_m-text').addClass('hide');
					$('#m_mobile_err3-text').addClass('hide');
					loadSqadDiv(window.teamid);
				}
			},
			error: function(err){
				console.log(err);
			}
		});
	}
	
	var pnameE = positionE = pmobileE = pexeM = false;
	function addplayerbutton(){debugger;
		var logo = $('#logo_upload_text').val();
		var teamid = $('#teamid').val();
		
		if($('#ply_name').val() == ""){
			$('#p_name_err').removeClass('hide');
			$('#p_name_err-text').removeClass('hide');
			window.pnameE = false;
		}
		else{
			$('#p_name_err').addClass('hide');
			$('#p_name_err-text').addClass('hide');
			window.pnameE = true;
		}
		if($('#ply_position').val() == 0){
			$('#p_position_err').removeClass('hide');
			$('#p_position_err-text').removeClass('hide');
			window.positionE = false;
		}
		else{
			$('#p_position_err').addClass('hide');
			$('#p_position_err-text').addClass('hide');
			window.positionE = true;
		}
		if($('#ply_mobile').val() == ""){
			$('#p_mobile_err').removeClass('hide');
			$('#p_mobile_err-text').removeClass('hide');
			$('#p_mobile_err2-text').addClass('hide');
			$('#p_mobile_err3-text').addClass('hide');
			window.pmobileE = false;
		}
		else{
			if(window.telephonePtrn.test($('#ply_mobile').val())){
				$('#p_mobile_err').addClass('hide');
				$('#p_mobile_err-text').addClass('hide');
				$('#p_mobile_err2-text').addClass('hide');
				$('#p_mobile_err3-text').addClass('hide');
				window.pmobileE = true;
			}
			else{
				$('#p_mobile_err').removeClass('hide');
				$('#p_mobile_err-text').addClass('hide');
				$('#p_mobile_err2-text').removeClass('hide');
				$('#p_mobile_err3-text').addClass('hide');
				window.pmobileE = false;
			}
		}
		
		if(window.pnameE && window.pmobileE && window.positionE && true){
			$.ajax({
				type:'POST',
				url : '/XmobileP/',
				data : {'mobile' : $('#ply_mobile').val()},
				success:function(response){
					window.pexeM = response.valid
					if(pexeM){
						$('#p_mobile_err').addClass('hide');
						$('#p_mobile_err-text').addClass('hide');
						$('#p_mobile_err2-text').addClass('hide');
						$('#p_mobile_err3-text').addClass('hide');
						$.ajax({
							type : 'POST',
							url : '/addplayer/',
							data : {
								pname : $('#ply_name').val(),
								position : $('#ply_position').val(),
								mobile : $('#ply_mobile').val(),
								pic : logo,
								teamid : teamid,
							},
							success: function(response)	{
								//console.log(response)
								$('.squad_select').html(response)
								document.getElementById("form_player").reset();
								$('#logo_upload_text').val('');
								$('.cropit-image-input').val('');
								$('.cropit-preview-image').attr('src','');
								$('#logo_upload_pic').attr('src','/static/images/icon/add_player.png');
								loadSqadDiv(teamid);
							},
							error: function(err){
								console.log(err);
							}
						});
					}
					else{
						$('#p_mobile_err').removeClass('hide');
						$('#p_mobile_err-text').addClass('hide');
						$('#p_mobile_err2-text').addClass('hide');
						$('#p_mobile_err3-text').removeClass('hide');
					}
				},
				error: function(err){
					console.log(err);
				}
			});
		}
	}
		
	var nameF = posF = mobileF = pexeMF = pmobileU = false;
	function updateplayer(){
		pic = $('#logo_update_text').val()
		name = $('#update_name').val()
		pos = $('#update_ply_position').val()
		selected = []
		mobile = $('#upd_mobile').val()
		$('.players1 input:checked').each(function() {
			selected.push($(this).attr('value'));
		});
		id_p = selected[0]
		mobileO = $('#play'+id_p+' .player_details h3').text();
		var teamid = $('#teamid').val()
		
		if(name == ""){
			$('#update_name_err').removeClass('hide');
			$('#update_name_err-text').removeClass('hide');
			window.nameF = false;
		}
		else{
			$('#update_name_err').addClass('hide');
			$('#update_name_err-text').addClass('hide');
			window.nameF = true;
		}
		
		if(pos == 0){
			$('#update_position_err').removeClass('hide');
			$('#update_position_err-text').removeClass('hide');	
			window.posF = false;
		}
		else{
			$('#update_position_err').addClass('hide');
			$('#update_position_err-text').addClass('hide');
			window.posF = true;
		}
		
		if(mobile == "") {
			$('#upd_mobile_err').removeClass('hide');
			$('#upd_mobile_err-text').removeClass('hide');
			$('#upd_mobile_err2-text').addClass('hide');
			$('#upd_mobile_err3-text').addClass('hide');
			window.mobileF = false;
		}
		else{
			if(window.telephonePtrn.test($('#upd_mobile').val())){
				$('#upd_mobile_err').addClass('hide');
				$('#upd_mobile_err-text').addClass('hide');
				$('#upd_mobile_err2-text').addClass('hide');
				$('#upd_mobile_err3-text').addClass('hide');
				window.mobileF = true;
			}
			else{
				$('#upd_mobile_err').removeClass('hide');
				$('#upd_mobile_err-text').addClass('hide');
				$('#upd_mobile_err2-text').removeClass('hide');	    			
				$('#upd_mobile_err3-text').addClass('hide');	    			
				window.mobileF = false;
			}
		}

		if(window.nameF && window.posF && window.mobileF && true){
			if(pic == ""){
				data = {'name' : name, 'position' : pos, 'pic' : "", 'id' : id_p, 'teamid' : window.teamid, 'mobile' : mobile}
			}
			else{
				data = {'name' : name, 'position' : pos, 'pic' : pic, 'id' : id_p, 'teamid' : window.teamid, 'mobile' : mobile}
			}
			if(mobileO == mobile){
				window.pmobileU = true;
			}
			else{
				window.pmobileU = false;
			}
			if(pmobileU){
				$.ajax({
					type:'POST',
					url : '/XmobileP/',
					data : {'mobile' : mobile, 'id' : id_p},
					success:function(response){
						window.pexeMF = response.valid
						if(window.pexeMF){
							$('#upd_mobile_err').addClass('hide');
							$('#upd_mobile_err-text').addClass('hide');
							$('#upd_mobile_err2-text').addClass('hide');
							$('#upd_mobile_err3-text').addClass('hide');
							saveupdatedPlayer(data)
						}
						else{
							$('#upd_mobile_err').removeClass('hide');
							$('#upd_mobile_err-text').addClass('hide');
							$('#upd_mobile_err2-text').addClass('hide');
							$('#upd_mobile_err3-text').removeClass('hide');
						}
					},
					error: function(err){
						console.log(err);
					}
				});
			}
			else{
				$('#upd_mobile_err').addClass('hide');
				$('#upd_mobile_err-text').addClass('hide');
				$('#upd_mobile_err2-text').addClass('hide');
				$('#upd_mobile_err3-text').addClass('hide');
				saveupdatedPlayer(data)
			}
		}
	}
	
	function saveupdatedPlayer(data){
		$.ajax({
			type:'POST',
			url : '/updateplayer/',
			data : data,
			success:function(response){
				$('#update_modal').modal('hide')
				//console.log(response);
				$('#sqaud-edit').removeClass('hide')
				$('#sqaud-delete').addClass('hide')
				$("#o-fld, .edit_box").slideUp("slow");
				$('#undo_btn').addClass('hide')
				var selected = []
				$('.squad_select').html(response)
				document.getElementById('formanager').style.display = 'none'
				document.getElementById('forplayer').style.display = 'block'
				document.getElementById('managertext').style.visibility = 'hidden';
				document.getElementById("update_player").reset();
				$('#logo_update_text').val('');
				$('.cropit-image-input').val('');
				$('.cropit-preview-image').attr('src','');
				$('#logo_update_pic').attr('src','/static/images/icon/add_player.png');
				loadSqadDiv(window.teamid);								
				
			},
			error: function(err){
				console.log(err);
			}
		});
	}

	function show_player_form(){
		var options = { direction: 'left' };
		$('#player_div').toggle('slide', options, 500);	
	}

	function show_manager_form(){
		var options = { direction: 'left' };
		$('#manager_div').toggle('slide', options, 500);
	}
	$(".name-wo-digits").keydown(function (e) {
		/*if (!((e.keyCode > 65 && e.keyCode < 90) || (e.keyCode == 189) || (e.keyCode == 32) || (e.keyCode == 8) || (e.keyCode == 46))){*/
		if ((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 96 && e.keyCode <= 105)){
			e.preventDefault();
		}
	});
	function loadSqadDiv(teamid){
		$("#teamid option[value='']").prop('selected', 'selected').change();
		setTimeout(function(){
			$("#teamid option[value="+teamid+"]").prop('selected', 'selected').change();
		});
	}
	$('.image-editor').cropit({
		maxZoom : 3,
		imageState: {
            src: '../static/images/icon/fan_wave.png',
        },
    });

	$('.export').click(function() {
		var imageData = $('.image-editor').cropit('export',{imageSize:{
				width:100,
				height:100,
			}
		});
		
		$("#logo_upload_text").attr('value', imageData)

		var imgSrc = imageData; 
		
		$("#logo_upload_pic").attr("src", imgSrc);
		$("#logo_upload_text").val(imgSrc);
		$('#logo_upload').modal('hide');
	});

	$('.image-editor1').cropit({
		maxZoom : 3,
		imageState: {
            src: '../static/images/icon/fan_wave.png',
          },
    });

	$('.export1').click(function() {
		var imageData = $('.image-editor1').cropit('export',{imageSize:{
		width:100,
		height:100,
	   }});
		
		$("#m_logo_upload_text").attr('value', imageData)

		var imgSrc = imageData; 
		
		$("#m_logo_upload_pic").attr("src", imgSrc);
		$("#m_logo_upload_text").val(imgSrc);
		$('#m_logo_upload').modal('hide');
	});

	$('.image-editor2').cropit({
		maxZoom : 3,
		imageState: {
			src: '../static/images/icon/fan_wave.png',
		},
	});

	$('.export2').click(function() {
		var imageData = $('.image-editor2').cropit('export',{imageSize:{
		width:100,
		height:100,
	   }});
		
		$("#logo_update_text").attr('value', imageData)

		var imgSrc = imageData; 
		
		$("#logo_update_pic").attr("src", imgSrc);
		$("#logo_update_text").val(imgSrc);
		$('#logo_update').modal('hide');
	});

	$('.image-editor3').cropit({
		maxZoom : 3,
		imageState: {
			src: '../static/images/icon/fan_wave.png',
		},
	});
	$('.export3').click(function() {
		var imageData = $('.image-editor3').cropit('export',{imageSize:{
			width:100,
			height:100,
	   }});
		
		$("#logo_update_text_m").attr('value', imageData)

		var imgSrc = imageData; 
		
		$("#logo_update_pic_m").attr("src", imgSrc);
		$("#logo_update_text_m").val(imgSrc);
		$('#logo_update_m').modal('hide');
	});
    </script>
{% endblock %}