{% extends "base.html" %}
{% load staticfiles %}
{% load LtFilter %}
{% block content %}
<style>
	.home-info{padding:30px;border-bottom-left-radius:30px;min-height:700px;}
	.notify-column{max-height: 553px; overflow-y: auto;}
	input[type='checkbox'] + span {
		font-size: 0px;
		padding: 0px 0px 40px 40px;
		position: relative;
		margin-left: 100px;
		right: 120px;
	}
	input[type='checkbox'] + span {
		background: url(/static/images/icon/circle4.png) no-repeat center left;
		background-size: 18px;
		visibility:hidden;
	}
	input[type='checkbox']:checked + span {background-size: 18px;}
	.player_details{
		width: 125px; 
		margin-top: 0px;
		left: 3px;
		position: relative;
	}
	
	.border-left{height: auto;min-height: 650px;border-left: 1px solid #b8b8b8;}
	@media only screen and (min-width : 320px) and (max-width : 480px) {
		.border-left{border-left: none !important;}
		.border-bottom{width:250px !important;}
	}
	.response-count{
		width: 100%;
		float: left;
		padding: 10px 10px;
		background: white;
		border-radius: 10px;
		border: 1px solid #b8b8b8;
	}
	.helvetica-bold{
		font-family: HelveticaNeueBold;
	}
	.right-15{right: 15px;}
	.notification_pannel{padding-left: 5px !important;}
	.border-bottom{
		background-image: url(/static/images/icon/divider4.png);
		height: 1px;
		position: relative;
		right: 5px;
		bottom: 10px;
		width:190px;
	}
	.notify_list_players{
		padding: 0px;
	}
	.count-icon{position: relative;bottom: 2px;}
	/*.fixture{float:left;width:97%;}
	.noti_arrow{float:right;width:3%;}*/
	
</style>
	<div class="container">
		<div class="row">
			<div class="main-panel col-md-12 col-sm-12 col-xs-12" style="margin-top:0 !important;">
				<div class="row">
					<div class="col-md-9 col-sm-9 col-xs-12 first-left">
						{% if response.strip_colour == 'rgb(255, 255, 255)' %}
						<div class="profile_title" style="background-color:{{response.strip_colour}};">
							<h3 style="color:#0f204b;">{{response.club_name}}</h3>
							<div class="new-his-d" >
								<button class="btn-support-black pull-right" id="notify-edit" onclick="show_check()">E<span class="hidden-xs">dit</span></button>
								<button class="btn-support-black pull-right hide" id="notify-save" onclick="save_check()">S<span class="hidden-xs">ave</span></button>
							</div>
						</div>
						{% else %}
						<div class="profile_title" style="background-color:{{response.strip_colour}};">
							<h3>{{response.club_name}}</h3>
							<div class="new-his-d" >
								<button class="btn-support pull-right" id="notify-edit" onclick="show_check()">E<span class="hidden-xs">dit</span></button>
								<button class="btn-support pull-right hide" id="notify-save" onclick="save_check()">S<span class="hidden-xs">ave</span></button>
							</div>
						</div>
						{% endif %}
						<div class="small-strip">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<span class="section-title">Match day notification</span>
							</div>
						</div>
						<div class="home-info">
							<div class="new-his-d">
								<div class="row edit_box">
									<div class="col-md-5 col-sm-5 col-xs-12 text-left">
										<p>Select a notification/s to delete.</p>
										<div style="color:red;"><img id="Err" style="float:left;margin-right:5px;top:2px;position:relative;" src ="{% static 'images/icon/Validation_cross.png' %}" height="13px" width="13px" class="img-responsive hide" />
											<p id="noDErr" class="hide">Please select notification/s to delete</p>
										</div>
									</div>
									<div class="col-md-7 col-sm-7 col-xs-12 text-right">
										<button class="btn-undo btn-md text-left hide" id="undo_btn" onclick="undo_click()">Undo</button>
										<button class="btn-delete btn-md text-left" onclick="delete_click()">Delete</button>
									</div>
								</div>
							</div>
							<div class="notification_pannel">
								<div class="row">
									<div class="col-md-4 col-sm-4 col-xs-12 first-left" style="overflow-y: auto;min-height: 600px; overflow-x: hidden;">
										<ul class="notify">
										{% for club_fix in fixture_data %}
											<li class="fix_list">
											<label class="checkbox-inline" id="label{{club_fix.id}}">
												<input type="checkbox" value="{{club_fix.id}}" class="ply_check" disabled="" />
												<span></span>
												<div onclick="loadData({{club_fix.id}})" class="remove-prop" id="sel{{club_fix.id}}">
													<div class="notification_div row">
														<div class="date col-md-12 col-sm-12 col-xs-12">{{club_fix.fixture_date | noti_date}}</div>
														<p class="fixture col-md-10 col-sm-10 col-xs-10">{{club_fix.fixture | splitOnVs:0}}<br/>{{club_fix.fixture | splitOnVs:1}}</p>
														<p class="noti_arrow col-md-2 col-sm-2 col-xs-2">
															<img src="{% static 'images/icon/left_list_arrow.png' %}">
														</p>
														<input id="resend{{club_fix.id}}" type="hidden" value="{{club_fix.resend}}" />
													</div>
												</div>
												<!-- <div class="border-bottom col-md-12 col-sm-12 col-xs-12"></div> -->
												<div class="border-bottom"></div>
											</label>
											</li>
										{% endfor %}
										</ul>
									</div>
									<div class="visible-xs">
										<img src="/static/images/icon/divider3_horizontal.png" style="width: 100%;height: 1px; padding: 0px 10px;" />
									</div>
									<div class="col-md-8 col-sm-8 col-xs-12 border-left">
										<p id="resend-msg" style="color:#009ee0;">This fixture notification has been resent to all players who have not responded.</p>
										<div id="response-count"></div>
										<div class="notify_list_ply text-center">
											<div class="notify_default" id="default">
												<img src="{% static 'images/icon/top_arrow.png' %}"/>
												<h3 style="color: #6d6e71; font-family: HelveticaNeueLight">View your match day<br>squad</h3>
											</div>
											
											<div class="notify_list_players hide" id="squadPly"></div>
											<div class="col-md-12 col-sm-12 col-xs-12 text-right hide" id="resend-div">
												<button class="btn btn-md btn-success btn-arrow" style="padding: 8px 15px;margin-top:5px;font-size: 18px;" onclick="resendNotif()">Resend<img src="{% static 'images/icon/arrow_right_xs.png' %}"></button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-3 col-sm-3 col-xs-12 hidden-xs">
						<div class="ad-inner-container" style="background-color:white;max-height:600px;min-height:600px;">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
	var prev_id = '';
	var onClick = true;
	var delArr = [];
	var unSeen = [];
	var fix_id = '';
	$("#resend-msg").hide();
	
	function loadData(id){
		if(window.onClick){
			window.unSeen = [];
			if(window.prev_id == ''){
				$("#sel"+id+" div p").addClass('noti_p-hovered');
				$("#sel"+id+" div span").addClass('noti_arrow-hovered');
				window.prev_id = id;
			}
			else{
				$("#sel"+window.prev_id+" div p").removeClass('noti_p-hovered');
				$("#sel"+window.prev_id+" div span").removeClass('noti_arrow-hovered');
				$("#sel"+id+" div p").addClass('noti_p-hovered');
				$("#sel"+id+" div span").addClass('noti_arrow-hovered');
				window.prev_id = id;
			}
			console.log(id);
			window.fix_id = id
			var availC = unavailC = norespC = 0;
			var htmlC = availM = unavailM = norespM = totalM = html = "";
			$.ajax({
				type: "POST",
				url: "/squadForFixture/",
				data: {"fix_id": fix_id},
				dataType: "json",
				success: function(data){
					if (data.len_squadlist == 0){
						$("#resend-div").addClass('hide');
					}
					else{
						$("#resend-div").removeClass('hide');
						$("#resend"+window.fix_id).val(data.resend)
						var count = 0;
						var xsCount = 0;
						for (i=0; i < data.len_squadlist; i++){
							var status = data.squadList[i]['player_status']
							if (status == '1'){
								var status_img = '/static/images/icon/tick_36.png';
								availC += 1;
							}
							else if (status == '2'){
								var status_img = '/static/images/icon/Red_X_36.png';
								unavailC += 1;
							}
							else if (status == '3'){
								var status_img = '/static/images/icon/Question_mark_36.png';
								norespC += 1
								window.unSeen.push(data.squadList[i]['player_id']);
							}
							
							html += '<div class="col-md-4 col-sm-4 col-xs-6"><div class="squad_player text-center"><img src="'+data.squadList[i]['player_img']+'" height="125px" width="125px" style="border-radius: 8px;" /><span class="cross"><img src="'+status_img+'"/></span><div class="player_details" style="margin-top: 10px;"><p style="font-size: 14px;">'+data.squadList[i]['player_name']+'</p><h4 class="firstCap">'+data.squadList[i]['player_position']+'</h4></div></div></div>';
							xsCount += 1;
							if (count == 2){
								html +='<div class="hidden-xs clearfix"></div>'
								count = 0;
							}
							else{
								count += 1;
							}
							if (xsCount%2 == 0){
								html +='<div class="visible-xs clearfix"></div>'
							}
						}
						if (data.len_squadlist == 1){totalM = "1 player";}
						else{totalM = " "+data.len_squadlist+" players";}
						if (availC == 1){availM = "1 player";}
						else{availM = ""+availC+" players";}
						if (unavailC == 1){unavailM = "1 player";}
						else{unavailM = ""+unavailC+" players";}
						if (norespC == 1){norespM = "1 player";}
						else{norespM = ""+norespC+" players";}
						htmlC = '<div class="response-count"><div class="col-md-12 col-sm-12 col-xs-12"><p><span class="helvetica-bold">Match day squad:</span> '+totalM+'</p></div><div class="col-md-12 col-sm-12 col-xs-12"><div class="col-md-4 col-sm-4 col-xs-4 right-15"><img src="/static/images/icon/notif_avail.png" class="count-icon"> '+availM+'</div><div class="col-md-4 col-sm-4 col-xs-4 right-15"><img src="/static/images/icon/notif_unavail.png" class="count-icon"> '+unavailM+'</div><div class="col-md-4 col-sm-4 col-xs-4 right-15"><img src="/static/images/icon/notif_noresp.png" class="count-icon"> '+norespM+'</div></div></div>'
					}
					
					if ($("#resend"+window.fix_id).val() == "True"){
						$("#resend-msg").show();
					}
					else{
						$("#resend-msg").hide();
					}
					$("#default").addClass('hide');
					$("#squadPly").removeClass('hide');
					$("#response-count").html(htmlC);
					$("#squadPly").html(html);
				}
			});
		}
		else{
			console.log(id);
			/* window.delArr.push(id); */
		}
	}
	
	function show_check(){
		window.delArr = [];
		window.onClick = false;
		console.log("show_check");
		$("#resend-msg").hide();
		$("#response-count").addClass('hide');
		$('#notify-save').removeClass('hide');
		$('.ply_check').removeClass('hide');
		$('.ply_check').prop('disabled',false);
		$("input[type='checkbox'] + span").css('visibility','visible');
		
		console.log(window.prev_id);
		if (window.prev_id){
			$("#sel"+window.prev_id+" div p").removeClass('noti_p-hovered');
			$("#sel"+window.prev_id+" div span").removeClass('noti_arrow-hovered');
			window.prev_id = '';
			$("#squadPly").addClass('hide');
			$("#default").removeClass('hide');
			$("#resend-div").addClass('hide');
		}
		$('.checkbox-inline').removeClass('hide');
		$(".remove-prop").unbind("click");
		$('#notify-edit').addClass('hide');
		/*$(".remove-prop").addClass("hide");
		$(".divClass").removeClass("hide"); */
		$('.notification_div').addClass('nohover');
		$(".edit_box").slideDown("slow");
	}
	
	function delete_click(){
		$("#Err").addClass('hide');
		$("#noDErr").addClass('hide');
		window.delArr = [];
		$(".ply_check:checked").each(function() {
			window.delArr.push(this.value);
		});
		console.log(window.delArr);
		lenArr = window.delArr.length;
		if(lenArr > 0){
			for(var i=0; i<lenArr; i++){
				$('#sel'+delArr[i]+'').addClass('hide');
				$('#label'+delArr[i]+'').addClass('hide');
			}
			$('#undo_btn').removeClass('hide');
		}
		else if(lenArr == 0){
			$("#Err").removeClass('hide');
			$("#noDErr").removeClass('hide');
		}
	}
	
	function undo_click(){
		window.delArr = [];
		$(".ply_check:checked").each(function() {
			window.delArr.push(this.value);
		});
		console.log(window.delArr);
		lenArr = window.delArr.length;
		if(lenArr > 0){
			for(var i=0; i<lenArr; i++){
				$('#sel'+delArr[i]+'').removeClass('hide');
				$('#label'+delArr[i]+'').removeClass('hide');
			}
			$('#undo_btn').addClass('hide');
		}
		else if(lenArr == 0){
			$("#Err").addClass('hide');
			$("#noDErr").addClass('hide');
		}
		window.delArr = [];
		console.log(window.delArr);
	}
	
	function save_check(){
		if(window.delArr.length > 0){
			$.ajax({
				type:'POST',
				url : '/notificationHide/',
				data : {
					fixtures : window.delArr,
				},
				success:function(response){
					console.log(response);
					$("input[type='checkbox'] + span").css('visibility','hidden');
					$('.ply_check:checked').prop('checked', false);
					$('.ply_check').prop('disabled', true);
					window.onClick = true;
					console.log("save_check");
					$('#notify-edit').removeClass('hide');
					$('#notify-save').addClass('hide');
					$(".edit_box").slideUp("slow");
					$('.ply_check').addClass('hide');
					$('.notification_div').removeClass('nohover');
					$('#undo_btn').addClass('hide');
					window.location.reload();
				},
				error: function(err){
					console.log(err);
				}
			});
		}
	}
	
	function resendNotif(){
		console.log(window.unSeen);
		if(window.unSeen.length > 0){
			$.ajax({
				type:'POST',
				url : '/resend_msg/',
				data : {
					fixture_id:window.fix_id,
					players : window.unSeen,
				},
				success:function(response){
					console.log(response);
					<!-- $("#resend-msg").show(500).delay(10000).hide(500); -->
					$("#resend-msg").show();
				},
				error: function(err){
					console.log(err);
				}
			});
		}
	}
	
</script>
	{% endblock %}