{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Local.Team - Club Profile</title>
	<link rel="shortcut icon" href="{% static 'images/icon/favicon.ico' %}" >
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/full-slider.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/hide.css' %}" rel="stylesheet">
    <link href="{% static 'css/club-register.css' %}" rel="stylesheet">
    <link href="{% static 'css/fix.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	 <style>
	 		{% for image in images_list %}
			.item:nth-child({{image.id}}) {
			background: url(../static/images/{{image.image_url}}) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			}
		{% endfor %}
	 </style>
</head>

<body>
<header>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="width:250px;margin-top: -4px;">
					<img src ="{% static 'images/icon/LT_Logo.png' %}" class="img-responsive">
				</a>
            </div>
			<ul class="nav navbar-nav visible-md  visible-lg">
				<li>
					<a href="#" class="notification-fan">
						<img src="{% static 'images/icon/fan_wave.png' %}" />
						<div class='notification-text'>21</div>
					</a>
				</li>
				<li>
					<a href="#" class="notification-message">
						<img src="{% static 'images/icon/message.png' %}" />
						<div class="notification-text">3</div>
					</a>
				</li>
			</ul>
			<div class="visible-xs">
				 <div class="col-md-4 col-sm-4 col-xs-12 pull-right">
						<form class="navbar-form navbar-right">
							  <div class="form-group">
								<input type="text" class="form-control search" placeholder="Type your town or postcode">
							  </div>
						</form>
				 </div>
			 </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li class="dropdown">
                        <a href="#" class="btn btn-gray btn-lg dropdown-toggle" data-toggle="dropdown" style="border:1px;">Settings<img src="{% static 'images/icon/arrow_down_xs.png' %}"></a>
						
						<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" id="setting">
						  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Settings</a></li>
						  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Rest Option</a></li>
						  <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout/">Logout</a></li>
						</ul>
						
                    </li>
                 </ul>
				 <div class="col-md-4 col-sm-4 col-xs-12 pull-right hidden-xs">
					<form class="navbar-form navbar-right">
						  <div class="form-group">
							<input type="text" class="form-control search" placeholder="Type your town or postcode">
						  </div>
					</form>
				  </div>
				  
				   <ul class="nav navbar-nav sub-nav visible-xs">
						<li class="visible-xs"><a href="#">Settings</a></li>
						<li class="visible-xs"><a href="#">Rest Option</a></li>
						<li class="visible-xs"><a href="#">About Us</a>	</li>
						<li class="visible-xs"><a href="#">Advertise</a></li>
						<li class="visible-xs"><a href="#">Contact Us</a></li>
						<li class="visible-xs"><a href="#">Privacy Policy</a></li>
						<li class="visible-xs"><a href="#">Terms and Conditions</a></li>
						<li class="visible-xs"><a href="#">Logout</a></li>
					</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	
	
	</header>
	
	
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
	<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active"></div>
			<div class="item"></div>
			<div class="item"> </div>
			<div class="item"> </div>
			<div class="item"> </div>
			<div class="item"> </div>
			<div class="item"> </div>
		</div>
	</div>
	
	<div class="wrapper">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-8 col-xs-8">
						<ul class="list-top">
							<li>
								<a href="#" id="profile" class="active_pro">
									Profile<span class="divider"></span>
								</a>
							</li>
							<li>
								<a href="#" id="wall">
									Wall<span class="divider"></span>
								</a>
							</li>
							<li>
								<a href="/club_sqad/" id="squad">
									Squad
								</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-4" style="padding:0">
						<ul class="visible-xs visible-sm noty-div">
							<li>
								<a href="#" class="">
									<img src="{% static 'images/icon/notif_fan_sm.png' %}">
									<div class="notification-text">21</div>
								</a>
							</li>
							<li>
								<a href="#" class="">
									<img src="{% static 'images/icon/notif_em_sm.png' %}">
									<div class="notification-text1">3</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="main-panel col-md-12 col-sm-12 col-xs-12" style="margin-top:0;">
					<div class="row">
						<div class="col-md-9 col-sm-9 col-xs-12 first-left">
							<div class="profile_title" style="background-color: {{response.strip_colour}}">
								<h3>{{response.club_name}}</h3>
								<a class="btn-support pull-right" href="/club_edit/" >E<span class="hidden-xs">dit</span></a>
							</div>
							<div class="small-strip">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<span class="section-title">Club information</span>
								</div>
							</div>
							<div class="home-info">
								<div class="bag-image visible-xs"></div>
								<div class="col-md-3 col-sm-3 col-xs-12 text-center">
									<img src="{{response.logo_photo.url}}" class="text-center" style="margin-bottom:40px;height: 100px;width: 100px"/>
								</div>
								<div class="col-md-5 col-sm-5 col-xs-12 text-center pad_0">
									<table class="table table-responsive text-left">
										<tr>
											<th>Name</th>
											<td>{{response.club_name}}</td>
										</tr>	
										<tr>
											<th>Established</th>
											<td>{{response.established}}</td>
										</tr>
										<tr>
											<th>Gender</th>
											<td>{{response.gender | title}}</td>
										</tr>
										<tr>
											<th>Age Groups</th>
											<td>Adults</td>
										</tr>
										<tr>
											<th>No.of teams</th>
											<td>{{response.num_teams}}</td>
										</tr>
									</table>
									
									<div class="col-md-12 col-sm-12 col-xs-12 pad_0 text-left">
									{% if response.league_table_url %}
										<button class="btn btn_club_info">League table</button>
									{% endif %}
									{% if response.fixture_table_url %}
										<button class="btn btn_club_info">Fixture List</button>
									{% endif %}
									{% if response.website_url %}
										<a href="{{response.website_url}}" target = "_blank" class="btn btn_club_info">Website</a>
									{% endif %}									
										
									</div>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12 text-left">
									<div class="row new-kit">
										<div class="shirt-container-1">
										<div id="shirt-1" class="club-reg-shirt" >
										   	
											<div class="club-reg-shirt-bg"></div>
											{% if homekit.pattern_mode == 'split' %}	
											<div class="club-reg-shirt-split" style="display: block;background-color : {{homekit.pattern_colour}}" ></div>
											{% endif %}						
											{% if homekit.pattern_mode == 'hoop' %}
											<div class="club-reg-shirt-hoops" style="display: block">
												<ul class="hoops">
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
												</ul>
											</div>
											{% endif %}
											{% if homekit.pattern_mode == 'stripe' %}
											<div class="club-reg-shirt-stripes" style="display: block">
												<ul class="stripes">
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>							
												</ul>
											</div>
											{% endif %}
											<div class="club-reg-shirt-left" id="sleeve-L-home" style="background-color: {{homekit.sleeve_colour}}"></div>
											<div class="club-reg-shirt-mid" id="mid-home" style="background-color: {{homekit.shirt_colour}}"></div>
											<div class="club-reg-shirt-right" id="sleeve-R-home" style="background-color: {{homekit.sleeve_colour}}"></div>		
										</div>
										<!-- <a href="#" id="shirt-1-cp" class="btn btn-light-grey-white-border btn-arrow1 colorpicker-element btn-font">Edit <img src="{% static 'images/icon/arrow_right_xs.png' %}" /></a> -->
									</div>
									
									
									<div class="shirt-container-2">
										<div id="shirt-2" class='club-reg-shirt'>	
											<div class="club-reg-shirt-bg"></div>
											{% if awaykit.pattern_mode == 'split'  %}	
											<div class="club-reg-shirt-split" id="split-away" style="display: block; background-color: {{awaykit.pattern_colour}}"></div>		
											{% endif %}		
											{% if awaykit.pattern_mode == 'hoop' %}
											<div class="club-reg-shirt-hoops" style="display: block">
												<ul class="hoops">
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
												</ul>
											</div>
											{% endif %}
											{% if awaykit.pattern_mode == 'stripe' %}
											<div class="club-reg-shirt-stripes" style="display: block">
												<ul class="stripes">
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>							
												</ul>
											</div>
											{% endif %}
											<div class="club-reg-shirt-left" id="sleeve-L-home" style="background-color: {{awaykit.sleeve_colour}}"></div>
											<div class="club-reg-shirt-mid" id="mid-home" style="background-color: {{awaykit.shirt_colour}}"></div>
											<div class="club-reg-shirt-right" id="sleeve-R-home" style="background-color: {{awaykit.sleeve_colour}}"></div>
										</div>
										<!-- <a href="#" id="shirt-2-cp" class="btn btn-light-grey-white-border btn-arrow1 colorpicker-element btn-font">Edit <img src="{% static 'images/icon/arrow_right_xs.png' %}" /></a> -->
									</div>
									</div>
								</div>
							</div>
							
							<div class="home-div">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Home ground</span>
											</div>
										</div>
										<div class="col-md-12 col-sm-12 col-xs-12 new-hm">
											<div id="map" style="width: 100%;height: 200px;background: white;border: 1px solid #b8b8b8;margin-bottom:10px;"></div>
											<p class="address_location"><span>{{response.club_name}}</span><br> 
											{{ground.street}}<br>
											{{ground.county}}<br>
											{{response.city_name}} – {{ground.postcode}}<br>
											Telephone: {{ground.phone}}</p>
										</div>
									</div>
									
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Team photo</span>
											</div>
										</div>
										<div class="col-md-12 col-sm-12 col-xs-12 new-tm">
											<img src="{{response.team_photo.url}}" class="img-responsive" style="margin-top: 20px;margin-bottom: 20px;"/>
										</div>
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Training</span>
											</div>
										</div>
										<div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px 10px;">
											<p class="address_location">{{response.training_text}}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="history-div">
								<div class="small-strip">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<span class="section-title">Club History</span>
									</div>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 new-his">
									<p class="address_location">{{response.history_text}}</p>
									
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-12 hidden-xs">
							<div class="ad-inner-container" style="background-color:white;max-height:600px;min-height:600px;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="nag_arrow">
		<div class="col-md-4 col-md-offset-4  col-xs-12 text-center">
			<div class="col-md-4 col-sm-4 col-xs-4 text-right">
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><img src="{% static 'images/icon/arrow_left.png' %}" /></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
				<h1 class=""></h1>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-left">
				<a  class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><img src="{% static 'images/icon/arrow_right.png' %}" /></a>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div id="bg-description">First Image Text</div>
			</div>
		</div>
	</div>
	
	
	<footer>
		<div class="container">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<p style="margin:0;">&copy; <span id="demo"></span> local-teams.com</p>
			</div>	
			<div class="col-md-9 col-sm-9 col-xs-12 hidden-xs">
				<nav role="navigation" class="navbar-footer" style="margin-bottom:0px;">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="footer-copy">
						<div class="pull-right footer-links hidden-xs">
							<a href="#">About Us</a> |
							<a href="#">Advertise</a> |
							<a href="#">Contact Us</a> |
							<a href="#">Privacy Policy</a> |
							<a href="#">Terms and Conditions</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</footer>
    
    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/common.js' %}"></script>
	<script>
    var totalItems = $('.item').length;
	var currentIndex = $('div.active').index() + 1;
	$('.big-let').html(''+currentIndex+'');


	$('.carousel').carousel({
	interval: 15000 
	});

	$('.carousel').on('slid.bs.carousel', function(e) {
	currentIndex = $('div.active').index() + 1;
	$('.big-let').html(''+currentIndex+'');
	});
	
	$(document).ready(function(){
    $(".input-md").click(function(){
        $("#o-fld").slideDown("slow");
		});
	});
    </script>
	

	
	<script type="text/javascript">
	
		/*$('.club-reg-shirt-stripes').css('display','block')
	    $("#shirt-1 .club-reg-shirt-stripes .stripes .stripe").css('background-color', '{{homekit.pattern_colour}}')*/
		
		function initMap(lat,longi) {

        var myLatLng = {lat: {{response.latitude}}, lng: {{response.longitude}}};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
		
		
		
		
		
		</script>
		<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2GugE8NvU4vx2Ot3VslKW_nJ0sRPilQs&callback=myMap">
		</script>-->
	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2GugE8NvU4vx2Ot3VslKW_nJ0sRPilQs&callback=initMap">
    </script>
	
	
	
</body>
</html>
