{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Local.Team - Club Registration</title>
	<link rel="shortcut icon" href="{% static 'images/icon/favicon.ico' %}">
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
    <!-- JQuery AutoComplete CSS -->
	<link href="{% static 'css/jquery-ui.css' %}" rel="Stylesheet" />
	
    <!-- Custom CSS -->
    <link href="{% static 'css/full-slider.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/spectrum.css' %}" rel="stylesheet">
    <!--<link href="css/jquery.ezdz.css" rel="stylesheet">-->
    <link href="{% static 'css/fix.css' %}" rel="stylesheet">
    <link href="{% static 'css/club-register.css' %}" rel="stylesheet">
    <link href="{% static 'css/hide.css' %}" rel="stylesheet">
    <link href="{% static 'css/BootstrapValidator.css' %}" rel="stylesheet">
	
	<!-- clubForm -->
	<!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/> -->
	
	<style>
		{% for image in images_list %}
			.item:nth-child({{image.id}}) {
			background: url(../static/images/{{image.image_url}}) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			}
		{% endfor %}
	</style>
</head>

<body>
<header>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <a class="navbar-brand" href="/" style="width:250px;margin-top: -4px;">
					<img src ="{% static 'images/icon/LT_Logo.png' %}" class="img-responsive">
				</a>
            </div>
			
			<div class="visible-xs">
			 <div class="col-md-4 col-sm-4 col-xs-12 pull-right">
					<form class="navbar-form navbar-right">
						  <div class="form-group">
							<input type="text" class="form-control search" placeholder="Type your town or postcode">
						  </div>
					</form>
			 </div>
			 </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li class="dropdown">
                        <a href="#" class="btn btn-gray btn-lg dropdown-toggle " data-toggle="dropdown" style="border:1px;">{{menu_head}}<img src="{% static 'images/icon/arrow_down_xs.png' %}" ></a>
						
						<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" id="setting">
						  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Account Information</a></li>
						  <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Rest Option</a></li> -->
						  <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout/">Logout</a></li>
						</ul>
						
                    </li>
                 </ul>
				 <div class="col-md-4 col-sm-4 col-xs-12 pull-right hidden-xs">
					<form class="navbar-form navbar-right">
						  <div class="form-group">
							<input type="text" class="form-control search" placeholder="Type your town or postcode">
						  </div>
					</form>
				  </div>
				  
					  <ul class="nav navbar-nav sub-nav visible-xs">
						<li class="visible-xs"><a href="#">Settings</a></li>
						<li class="visible-xs"><a href="#">Rest Option</a></li>
						<li class="visible-xs"><a href="#">About Us</a>	</li>
						<li class="visible-xs"><a href="#">Advertise</a></li>
						<li class="visible-xs"><a href="#">Contact Us</a></li>
						<li class="visible-xs"><a href="#">Privacy Policy</a></li>
						<li class="visible-xs"><a href="#">Terms and Conditions</a></li>
						<li class="visible-xs"><a href="/logout/">Logout</a></li>
					</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	
	
	</header>
	
	
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
	<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active"></div>
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
		</div>
	</div>
	
	
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="main-panel col-md-12 col-sm-12 col-xs-12">
					<div class="row">
					<!-- <form  id="clubForm" action="/club_registration/" method="POST" class="form-horizontal"> -->
					{% if editmode == 1 %}
					<form action="/clubSave/" method="POST" enctype="multipart/form-data" id="clubForm" class="form-horizontal" >{% csrf_token %}
					{% else %}
					<form action="/clubReg/" method="POST" enctype="multipart/form-data" id="clubForm" class="form-horizontal" >{% csrf_token %}
					{% endif %}
						<input type="hidden" name="thrfrm" value="true" />
						<div class="col-md-9 col-sm-10 col-xs-12 first-left">
							<div class="club_reg" id="club-reg-intro">
								<h2 class="header-title">Club registration</h2>			
							</div>
							{% if response.club_name %}
							<div class="club-name" id="club-reg-strip" style="background-color: {{response.strip_colour}}">
								<div class="col-md-8 col-sm-8 col-xs-8">
										
										
										<div class="form-group">
											<input type="text" name="club_name" value="{{response.club_name}}" class="form-control"/>
										</div>
									
									
									
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4">
									<a href="#" data-color="rgb(100,100,100)" class="btn  btn-light-grey-white-border btn-arrow btn-my btn-md pull-right btn-height-tb colorpicker-element" id="header-colorpicker" style="background-color:rgba(0,0,0,0);">
									C<span class="hidden-xs">olour 
									<img src="{% static 'images/icon/arrow_right_xs.png' %}">
									</span>
									</a>
								</div>
							</div>

							{% else %}
							<div class="club-name" id="club-reg-strip">
								<div class="col-md-8 col-sm-8 col-xs-8">
										
										
									<div class="form-group">
											<input type="text" name="club_name" placeholder="Club name" class="form-control"/>
										</div>
									
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4">
									<a href="#" data-color="rgb(100,100,100)" class="btn  btn-light-grey-white-border btn-arrow btn-my btn-md pull-right btn-height-tb colorpicker-element" id="header-colorpicker" style="background-color:rgba(0,0,0,0);">
									C<span class="hidden-xs">olour 
									<img src="{% static 'images/icon/arrow_right_xs.png' %}">
									</span>
									</a>
								</div>
							</div>
							{% endif %}	


							<div class="small-strip">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<span class="section-title">Club information</span>
								</div>
							</div>
							<div class="club-info">
								<div class="col-md-3 col-sm-3 col-xs-12">
									<!--<input type="file" accept="image/png, image/jpeg">-->
									{% if response.logo_photo %}
									<div id="club-reg-photo-upload" style="background-image: url({{response.logo_photo.url}})">
									</div>
									<input id="club-logo-upload" name="club_logo" type="file" style="display:none;" accept="image/x-png, image/gif, image/jpeg"/>
									{% else %}
									<div id="club-reg-photo-upload"><div>
										Upload your<br>club logo<br>
										(W120 x H120)<br>
										<img src="{% static 'images/icon/arrow_down_xs_grey.png' %}" /></div>
									</div>
									<input id="club-logo-upload" name="club_logo" type="file" style="display:none;" accept="image/x-png, image/gif, image/jpeg"/>
									{% endif %}
								</div>
								<div class="col-md-5 col-sm-5 col-xs-12 form-club">
									{% if response.established %}
									<div class="form-group">
										<input id="estdyr" name="estdyr" type="number"  min=1980 placeholder="Established (e.g 1980)" class="form-control input-md" value="{{response.established}}">
									</div>
									{% else %}
									<div class="form-group">
										<input id="estdyr" name="estdyr" type="number"  min=1980 placeholder="Established (e.g 1980)" class="form-control input-md">
									</div>
									{% endif %}
									<div class="form-group">
										<div class="selectContainer">
											{% if response.gender %}
											<select class="form-control input-md" id="gender" name="gender" required >
												<option value="">Gender</option>
												{% for gen in gender_list %}
													{% if gen.gen_id == response.gender_id %}
													<option value="{{gen.gen_id}}" selected >{{gen.gender}}</option>
													{% else %}
													<option value="{{gen.gen_id}}" >{{gen.gender}}</option>
													{% endif %}
												{% endfor %}
											</select>
											{% else %}
											
											<select class="form-control input-md" id="gender" name="gender" required >
												<option value="">Gender</option>
												{% for gen in gender_list %}
													<option value="{{gen.gen_id}}" >{{gen.gender}}</option>
												{% endfor %}
											</select>
											{% endif %}
										</div>
									</div>
									{% if num_teams %}
									<div class="form-group">
										<input id="num-teams" name="num_teams" type="number" min=0 placeholder="No. of teams" class="form-control input-md" value="{{num_teams}}" disabled>
									</div>
									{% else %}
									<div class="form-group">
										<input id="num-teams" name="num_teams" type="number" min=0 placeholder="No. of teams" class="form-control input-md">
									</div>
									{% endif %}
									
									{% if editmode == 1 %}
									<div>
									
									</div>
									{% else %}
									<div id="begin"></div>	
									<div id="age_groups_dropdown">	

									</div>
									{% endif %}
									{% if response.league_table_url %}
										<div class="form-group">
										<input id="league_table" name="league_table" type="text" placeholder="League table link" class="form-control input-md" value="{{response.league_table_url}}">
									</div>
									{% else %}
										<div class="form-group">
											<input id="league_table" name="league_table" type="text" placeholder="League table link" class="form-control input-md">
										</div>
									{% endif %}
									{% if response.fixture_table_url %}
									<div class="form-group">
										<input id="fixture_link" name="fixture_link" type="text" placeholder="Fixture list link" value = "{{response.fixture_table_url}}" class="form-control input-md">
									</div>
									{% else %}
									<div class="form-group">
										<input id="fixture_link" name="fixture_link" type="text" placeholder="Fixture list link" class="form-control input-md">
									</div>
									{% endif %}
									{% if response.website_url %}
									<div class="form-group">
										<input id="website_link" name="website_link" type="text" placeholder="Website" value="{{response.website_url}}" class="form-control input-md">
									</div>
									{% else %}
									<div class="form-group">
										<input id="website_link" name="website_link" type="text" placeholder="Website" class="form-control input-md">
									</div>
									{% endif %}
								</div>

								<div class="col-md-4 col-sm-4 col-xs-12" id="club-reg-shirts-container">
									<div class="shirt-container-1">
										<div id="shirt-1" class="club-reg-shirt" >
										   	
											<div class="club-reg-shirt-bg"></div>
											{% if homekit.pattern_mode == 'split' %}	
											<div class="club-reg-shirt-split" style="display: block;background-color : {{homekit.pattern_colour}}" ></div>
											{% else %}
											<div class="club-reg-shirt-split"></div>		
											{% endif %}						
											{% if homekit.pattern_mode == 'hoop' %}
											<div class="club-reg-shirt-hoops" style="display: block">
												<ul class="hoops">
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
												</ul>
											</div>
											{% else %}
											<div class="club-reg-shirt-hoops">
												<ul class="hoops">
													<li class="hoop"></li>
													<li class="hoop"></li>
													<li class="hoop"></li>
													<li class="hoop"></li>
													<li class="hoop"></li>
												</ul>
											</div>
											{% endif %}
											{% if homekit.pattern_mode == 'stripe' %}
											<div class="club-reg-shirt-stripes" style="display: block">
												<ul class="stripes">
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>							
												</ul>
											</div>
											{% else %}
											<div class="club-reg-shirt-stripes">
												<ul class="stripes">
													<li class="stripe"></li>
													<li class="stripe"></li>
													<li class="stripe"></li>
													<li class="stripe"></li>							
												</ul>
											</div>
											{% endif %}
											<div class="club-reg-shirt-left" id="sleeve-L-home" style="background-color: {{homekit.sleeve_colour}}"></div>
											<div class="club-reg-shirt-mid" id="mid-home" style="background-color: {{homekit.shirt_colour}}"></div>
											<div class="club-reg-shirt-right" id="sleeve-R-home" style="background-color: {{homekit.sleeve_colour}}"></div>		
										</div>

										<!-- <div id="shirt-1" class="club-reg-shirt" >	
											<div class="club-reg-shirt-bg"></div>	
											<div class="club-reg-shirt-split"></div>						

											<div class="club-reg-shirt-hoops">
												<ul class="hoops">
													<li class="hoop"></li>
													<li class="hoop"></li>
													<li class="hoop"></li>
													<li class="hoop"></li>
													<li class="hoop"></li>
												</ul>
											</div>

											<div class="club-reg-shirt-stripes">
												<ul class="stripes">
													<li class="stripe"></li>
													<li class="stripe"></li>
													<li class="stripe"></li>
													<li class="stripe"></li>							
												</ul>
											</div>
											<div class="club-reg-shirt-left" id="sleeve-L-home"></div>
											<div class="club-reg-shirt-mid" id="mid-home"></div>
											<div class="club-reg-shirt-right" id="sleeve-R-home"></div>		
										</div> -->
										<a href="#" id="shirt-1-cp" class="btn btn-light-grey-white-border btn-arrow1 colorpicker-element btn-font">Edit <img src="{% static 'images/icon/arrow_right_xs.png' %}" /></a>
									</div>
									
									
									<div class="shirt-container-2">

										<div id="shirt-2" class='club-reg-shirt'>	
											<div class="club-reg-shirt-bg"></div>
											{% if awaykit.pattern_mode == 'split'  %}	
											<div class="club-reg-shirt-split" id="split-away" style="display: block; background-color: {{awaykit.pattern_colour}}"></div>
											{% else %}
												<div class="club-reg-shirt-split"></div>
											{% endif %}		
											{% if awaykit.pattern_mode == 'hoop' %}
											<div class="club-reg-shirt-hoops" style="display: block">
												<ul class="hoops">
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
												</ul>
											</div>
											{% else %}
											<div class="club-reg-shirt-hoops">
												<ul class="hoops">
													<li class="hoop"></li>
													<li class="hoop"></li>
													<li class="hoop"></li>
													<li class="hoop"></li>
													<li class="hoop"></li>
												</ul>
											</div>
											{% endif %}
											{% if awaykit.pattern_mode == 'stripe' %}
											<div class="club-reg-shirt-stripes" style="display: block">
												<ul class="stripes">
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>							
												</ul>
											</div>
											{% else %}
											<div class="club-reg-shirt-stripes">
												<ul class="stripes">
													<li class="stripe"></li>
													<li class="stripe"></li>
													<li class="stripe"></li>
													<li class="stripe"></li>							
												</ul>
											</div>
											{% endif %}
											<div class="club-reg-shirt-left" id="sleeve-L-away" style="background-color: {{awaykit.sleeve_colour}}"></div>
											<div class="club-reg-shirt-mid" id="mid-away" style="background-color: {{awaykit.shirt_colour}}"></div>
											<div class="club-reg-shirt-right" id="sleeve-R-away" style="background-color: {{awaykit.sleeve_colour}}"></div>
										</div>
										<!-- <div id="shirt-2" class='club-reg-shirt'>	
											<div class="club-reg-shirt-bg"></div>	
											<div class="club-reg-shirt-split"></div>						

											<div class="club-reg-shirt-hoops">
												<ul class="hoops">
													<li class="hoop"></li>
													<li class="hoop"></li>
													<li class="hoop"></li>
													<li class="hoop"></li>
													<li class="hoop"></li>
												</ul>
											</div>

											<div class="club-reg-shirt-stripes">
												<ul class="stripes">
													<li class="stripe"></li>
													<li class="stripe"></li>
													<li class="stripe"></li>
													<li class="stripe"></li>							
												</ul>
											</div>

											<div class="club-reg-shirt-left" id="sleeve-L-away"></div>
											<div class="club-reg-shirt-mid" id="mid-away"></div>
											<div class="club-reg-shirt-right" id="sleeve-R-away"></div>	
										</div> -->
										<a href="#" id="shirt-2-cp" class="btn btn-light-grey-white-border btn-arrow1 colorpicker-element btn-font">Edit <img src="{% static 'images/icon/arrow_right_xs.png' %}" /></a>
									</div>
									{% if response.cover_photo_url %}	
									<div id="club-reg-cover-upload" style="background-image: url({{response.cover_photo_url.url}})">
										
									</div>
									<input id="club-cover-upload" name="club_cover_mobile" type="file" style="display:none;" accept="image/*"/>	
									{% else %}
									<div id="club-reg-cover-upload">
										<div id="club-logo-preview-before">
											Upload your cover photo<br>
											(W330 x H200)<br>						
											<img src="{% static 'images/icon/arrow_down_xs_grey.png' %}" />
											<br><small>*For mobile devices only</small>
										</div>
									</div>
									<input id="club-cover-upload" name="club_cover_mobile" type="file" style="display:none;" accept="image/*"/>	
									{% endif %}
								</div>
							</div>
							<div class="home-div">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Home ground</span>
											</div>
										</div>
										<div class="col-md-12 col-sm-12 col-xs-12 new-hm">
											{% if ground.ground_name %}
											<div class="form-group">
												 <input id="ground-name" name="ground_name" type="text" placeholder="Ground name" value ="{{ground.ground_name}}" class="form-control input-md">
											</div>
											{% else %}
											<div class="form-group">
												 <input id="ground-name" name="ground_name" type="text" placeholder="Ground name" class="form-control input-md">
											</div>
											{% endif %}
											{% if ground.postcode %}
											<div class="form-group">
												 <input id="postcode" name="postcode" type="text" placeholder="Postcode" class="form-control input-md postcode" value="{{ground.postcode}}" >
											</div>
											{% else %}
											<div class="form-group">
												 <input id="postcode" name="postcode" type="text" placeholder="Postcode" class="form-control input-md postcode">
											</div>
											{% endif %}
											{% if ground.street %}
											<div class="form-group">
												 <input id="street-name" name="street_name" type="text" placeholder="Street" value="{{ground.street}}" class="form-control input-md">
											</div>
											{% else %}
											<div class="form-group">
												 <input id="street-name" name="street_name" type="text" placeholder="Street" class="form-control input-md">
											</div>
											{% endif %}
											{% if ground.postcode %}
											<div class="other-fld">
												<div class="form-group">
													 <input id="town-name" name="town_name" type="text" placeholder="Town/City" value="{{ground.town}}" class="form-control input-md">
												</div>
												<!--  -->
												<div class="form-group">
													 <input id="county-name" name="county_name" type="text" placeholder="County" value="{{ground.county}}" class="form-control input-md">
												</div>
												<div class="form-group">
													 <input id="country-name" name="country_name" type="text" placeholder="Country" value="{{response.country_name}}" class="form-control input-md">
												</div>
												<div class="form-group"> 
													 <input id="telephone" name="telephone" type="text" placeholder="Telephone" value="{{ground.phone}}" class="form-control input-md"> 
											    </div>
											</div>
											{% else %}
											<div class="other-fld" id="o-fld">
												<div class="form-group">
													 <input id="town-name" name="town_name" type="text" placeholder="Town/City" class="form-control input-md">
												</div>
												<!--  -->
												<div class="form-group">
													 <input id="county-name" name="county_name" type="text" placeholder="County" class="form-control input-md">
												</div>
												<div class="form-group">
													 <input id="country-name" name="country_name" type="text" placeholder="Country" class="form-control input-md">
												</div>
												<div class="form-group"> 
													 <input id="telephone" name="telephone" type="text" placeholder="Telephone" class="form-control input-md"> 
											    </div>
											</div>
											{% endif %}
										</div>
									</div>
									
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Team photo</span>
											</div>
										</div>
										<div class="col-md-12 col-sm-12 col-xs-12 new-tm">
											<div class="bg-none br-reset fitted padding-normal fill-contents" id="team-photo-container">
											{% if response.team_photo %}
												<div id="club-reg-team-upload" style="background-image: url({{response.team_photo.url}})">
												</div>			
												<input id="club-team-upload" name="club_team" type="file"style="display:none;" accept="image/x-png, image/gif, image/jpeg"/>
												{% else %}
												<div id="club-reg-team-upload"><div>
												Upload your team photo<br>
												(W330 x H200)<br>
												<img src="{% static 'images/icon/arrow_down_xs_grey.png' %}" /></div>
												</div>			
												<input id="club-team-upload" name="club_team" type="file"style="display:none;" accept="image/x-png, image/gif, image/jpeg"/>
												{% endif %}
											</div>
										</div>
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Training</span>
											</div>
										</div>
										<div class="col-md-12 col-sm-12 col-xs-12 new-tm">
										{% if response.training_text %}
											<textarea type="text" name="training" placeholder="Day of week,time,address,town,postcode" rows="5" class="form-control pos input-md">{{response.training_text}}</textarea>
										{% else %}
										<textarea type="text" name="training" placeholder="Day of week,time,address,town,postcode" class="form-control pos input-md"></textarea>
										{% endif %}
										</div>
									</div>
								</div>
							</div>
							<div class="history-div">
								<div class="small-strip">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<span class="section-title">Club History</span>
									</div>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 new-his">
									{% if response.history_text %}
									<textarea type="text" name="club_history" placeholder="Tell me about your history..." class="form-control pos input-md" >{{response.history_text}}</textarea>
									{% else %}
									<textarea type="text" name="club_history" placeholder="Tell me about your history..." class="form-control pos input-md"></textarea>
									{% endif %}
									<input type="hidden" name="club_reg_strip" id="club-reg-strip-data" value=""/>
									<input type="hidden" name="home_kit" id="home-kit" value="" />
									<input type="hidden" name="away_kit" id="away-kit" value="" />

									<button type="submit" id="submitClubInfo" class="btn btn-lg btn-success btn-arrow">Submit <img src="{% static 'images/icon/arrow_right_xs.png' %}"></button>
								</div>
							</div>
						</div>
					</form>
						
						
						
						<div class="col-md-3 col-sm-2 hidden-xs">
							<div class="ad-inner-container" style="background-color:white;max-height:1024px;min-height:768px;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="nag_arrow">
		<div class="col-md-4 col-md-offset-4 col-xs-12 text-center">
			<div class="col-md-4 col-xs-4 text-right">
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><img src="{% static 'images/icon/arrow_left.png' %}"/></a>
			</div>
			<div class="col-md-4 col-xs-4">
				<h1 class=""></h1>
			</div>
			<div class="col-md-4 col-xs-4 text-left">
				<a  class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><img src="{% static 'images/icon/arrow_right.png' %}"/></a>
			</div>
			<div class="col-md-12 col-xs-12">
				<div id="bg-description">First Image Text</div>
			</div>
		</div>
	</div>
	
	
	<footer>
		<div class="container">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<p style="margin:0;">&copy; <span id="demo">2014</span> local-teams.com</p>
			</div>	
			<div class="col-md-9 col-sm-9 col-xs-12 hidden-xs">
				<nav role="navigation" class="navbar-footer" style="margin-bottom:0px;">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="footer-copy">
						<div class="pull-right footer-links hidden-xs">
							<a href="#">About Us</a> |
							<a href="#">Advertise</a> |
							<a href="#">Contact Us</a> |
							<a href="#">Privacy Policy</a> |
							<a href="#">Terms and Conditions</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</footer>
    
    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/kitCreator.js' %}"></script>
	<script src="{% static 'js/spectrum.js' %}"></script>
	<script src="{% static 'js/bootstrap-select.js' %}"></script>
	<script src="{% static 'js/BootstrapValidator.js' %}"></script>
	<!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script> -->
	<script src="{% static 'js/jquery-ui.js' %}" ></script>
	<script src="{% static 'js/common.js' %}"></script>
	
		<script>
    $('.carousel').carousel({
        interval: 15000 
    })
	
	var d = new Date();
	var n = d.getFullYear();
	var estdyr = [];
	var i=1980;
	while(i<=n){
		estdyr.push(i.toString());
		i++;
	}
	$("#submitClubInfo").click(function(){debugger;
		var strip_color = $("#club-reg-strip").css('background-color') //heading background
		$("#club-reg-strip-data").attr('value',strip_color);
		
		//home
		var home_mid = $("#mid-home").css('background-color');
		var home_sleeve_L = $("#sleeve-L-home").css('background-color');
		var pattern_home = $('input[name=ks-home-pattern]:checked').val();
		var pattern_home_color = '';
		if(pattern_home  == "stripe") {
			pattern_home_color = $("#kc-shirt-1 .club-reg-shirt-stripes .stripe").css('background-color');
		} else if(pattern_home == "hoop") {
			pattern_home_color = $("#kc-shirt-1 .club-reg-shirt-hoops .hoop").css('background-color');
		} else if(pattern_home == "split") {
			pattern_home_color = $("#kc-shirt-1 .club-reg-shirt-split").css('background-color');
		}

		//away
		var away_mid = $("#mid-away").css('background-color')
		var away_sleeve_L = $("#sleeve-L-away").css('background-color')
		var pattern_away = $('input[name=ks-away-pattern]:checked').val();
		var pattern_away_color = '';
		if(pattern_away  == "stripe") {
			pattern_away_color = $("#kc-shirt-2 .club-reg-shirt-stripes .stripe").css('background-color');
		} else if(pattern_away == "hoop") {
			pattern_away_color = $("#kc-shirt-2 .club-reg-shirt-hoops .hoop").css('background-color');
		} else if(pattern_away == "split") {	
			pattern_away_color = $("#kc-shirt-2 .club-reg-shirt-split").css('background-color');
		}
		
		/*var home_kit = [];
		home_kit.push({'home_mid':home_mid});
		home_kit.push({'home_sleeve_L':home_sleeve_L});
		home_kit.push({'home_pattern':pattern_home});
		home_kit.push({'home_pattern_color':pattern_home_color});
		
		var away_kit = [];
		away_kit.push({'away_mid':away_mid});
		away_kit.push({'away_sleeve_L':away_sleeve_L});
		away_kit.push({'away_pattern':pattern_away});
		away_kit.push({'away_pattern_color':pattern_away_color});*/
		
		var home_kit = '{"home_mid":"'+home_mid+'","home_sleeve_L":"'+home_sleeve_L+'","home_pattern":"'+pattern_home+'","home_pattern_color":"'+pattern_home_color+'"}';
		var away_kit = '{"away_mid":"'+away_mid+'","away_sleeve_L":"'+away_sleeve_L+'","away_pattern":"'+pattern_away+'","away_pattern_color":"'+pattern_away_color+'"}';
		$("#home-kit").attr('value',home_kit);
		$("#away-kit").attr('value',away_kit);
		//colsole.log(home-kit);
		
	});
	$(function(){
		$("#estdyr").autocomplete({
			source: function( request, response ) {
				var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
				response( $.grep( estdyr, function( item ){
					return matcher.test( item );
				}) );
			}
		});
			//source: estdyr,
		$("#postcode").autocomplete({
			source: '/postcodes/',
			minLength:3
		});
	});
	$(document).ready(function(){
		$('.selectpicker').selectpicker();
		//$('#defaultOpt').css('color','#9c9e9f');
	});
	
	$("#num-teams").keyup(function(){
		var _begin = '<div class="form-group" id="ag"><div class="bold-title"><strong>Age group</strong></div></div>'
		var start = '<div class="row">';
		var end = '</div>';	
		num_teams = $("#num-teams").val();
		var div = '';
		var html = start;
		var rows = (num_teams/2|0);
		var cols = (num_teams%2);
		if (rows == 0){
			if(cols == 1){
				html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><select name="age_groups_1" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>' + end;
			}
			div = html + end;
			console.log(div)
			$("#begin").html(_begin);
			$("#age_groups_dropdown").html(div);
		}
		else{
			var j = 1
			for(var i = 1; i<= rows; i++){
				html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><select name="age_groups_'+j+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>' + '<div class="col-md-6 col-sm-12 col-xs-12 first-right"><div class="form-group"><select name="age_groups_'+(j+1)+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>';
				j+=2;
			}
			if(cols == 1){
				html += '<div class="col-md-6 col-sm-12 col-xs-12 first-left"><div class="form-group"><select name="age_groups_'+num_teams+'" placeholder="Age Group" class="form-control input-md age_group" required></select></div></div>' + end;
			}
			else{
				html += end;
			}
			div = html;
			console.log(div)
			$("#begin").html(_begin);
			$("#age_groups_dropdown").html(div);
		}
		
		if (num_teams == '' || num_teams == 'undefined' || num_teams <= 0){
			$("#ag").hide();
		}
		else{
			$.ajax({
				type: "GET",
				url: "/ageData/",
				data:{
						term:num_teams,
						csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
					},
				success: function(response, jqXHR) {
						console.log(response);
						console.log(response.length)
						var options = loadOpt(response);
						$(".age_group").html(options);
					}
			});
		}
		
	});
	function loadOpt(response){
		var option = '<option value="">Age group</option>';
		for(var i = 0; i<response.length; i++){
			option += '<option value="'+response[i]+'">'+response[i]+'</option>';
		}		
		return option;
	}
	$("#street-name").focus(function(){
		$("#o-fld").slideDown("slow");
	});
	$("#postcode").focusout(function(){
		var pc = $("#postcode").val();
		console.log(pc);
		$.ajax({
				type : "POST",
				url : "/postcodeAutofilled/",
				dataType : 'Json',
				data : { 'pc' : pc},
				success: function(data) {
					console.log(data);
					if(data.postal_town != ''){
						$("#town-name").attr('value',data.postal_town);
					}
					else{
						$("#town-name").attr('value','');
					}
					$("#country-name").attr('value',data.country);
					$("#county-name").attr('value',data.county);
					
					}
			});
	});
		
	</script>
	
	
	
<div class="modal fade" id="kitCreator" tabindex="-1" role="dialog" aria-labelledby="imageUploadLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Kit Creator</h4>
      </div>
      <div class="modal-body">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-4 col-xs-4 col-sm-4">
					<p><b>Home Kit</b></p>
						<div id="kc-shirt-1" class='club-reg-shirt' >	
						<div class="club-reg-shirt-bg">								
						</div>	
						<div class="club-reg-shirt-split">												
						</div>						

						<div class="club-reg-shirt-hoops">
						<ul class="hoops">
						<li class="hoop"></li>
						<li class="hoop"></li>
						<li class="hoop"></li>
						<li class="hoop"></li>
						<li class="hoop"></li>										
						</ul>
						</div>

						<div class="club-reg-shirt-stripes">
						<ul class="stripes">
						<li class="stripe"></li>
						<li class="stripe"></li>
						<li class="stripe"></li>
						<li class="stripe"></li>							
						</ul>
						</div>

						<div class="club-reg-shirt-left">								
						</div>

						<div class="club-reg-shirt-mid">													
						</div>
						<div class="club-reg-shirt-right">							
						</div>		
						</div>
					</div>
					<div class="col-md-8 col-xs-8 col-sm-8">
							<form class="form-horizontal" role="form">							
							<div class="form-group">
							<label for="ks-home-shirt" class="control-label" style="width:50px;float:left;">
							<input type="text" id="ks-home-shirt" class="ks-cp" data-kit="home" data-part="shirt" value="white"> 
							</label>
							<div style="float:left;margin-left:5px;margin-top:10px;">
							<p>Shirt Colour</p>
							</div>
							</div>
							<div class="form-group">
							<label for="ks-home-sleeve" class="control-label" style="width:50px;float:left;">
							<input type="text" id="ks-home-sleeve" class="ks-cp" data-kit="home" data-part="sleeve" value=""> 
							</label>
							<div style="float:left;margin-left:5px;margin-top:10px;">
							<p>Sleeve Colour</p>
							</div>
							</div>

							<div class="form-group">
							<div class="col-md-24">
							<div class="radio">
							<label for="radios-0">
							<input type="radio" name="ks-home-pattern" value="stripe" data-kit="home">
							Stripes
							</label>
							</div>
							<div class="radio">
							<label for="radios-1">
							<input type="radio" name="ks-home-pattern" value="hoop" data-kit="home">
							Hoops
							</label>
							</div>
							
							<div class="radio">
							<label for="radios-2">
							<input type="radio" name="ks-home-pattern" value="split" data-kit="home">
							Split
							</label>
							</div>

							<div class="radio">
							<label for="radios-2">
							<input type="radio" name="ks-home-pattern" value="none" checked="checked" data-kit="home">
							None
							</label>
							</div>  </div>
							</div>

							<div class="form-group">
							<label for="ks-home-pattern" class="control-label" style="width:50px;float:left;">
							<input type="text" id="ks-home-pattern" class="ks-cp" data-kit="home" data-part="pattern" value=""> 
							</label>
							<div style="float:left;margin-left:5px;margin-top:10px;">
							<p>Pattern Colour</p>
							</div>
							</div>


							</form>
					</div>
				</div>
			</div><br />
			<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-md-4 col-xs-4 col-sm-4">
					<p><b>Away Kit</b></p>
						<div id="kc-shirt-2" class='club-reg-shirt' >	
						<div class="club-reg-shirt-bg">								
						</div>							
						<div class="club-reg-shirt-split"></div>		
						<div class="club-reg-shirt-hoops">
						<ul class="hoops">
						<li class="hoop"></li>
						<li class="hoop"></li>
						<li class="hoop"></li>		
						<li class="hoop"></li>
						<li class="hoop"></li>						
						</ul>
						</div>

						<div class="club-reg-shirt-stripes">
						<ul class="stripes">
						<li class="stripe"></li>
						<li class="stripe"></li>
						<li class="stripe"></li>									
						</ul>
						</div>

						<div class="club-reg-shirt-left">								
						</div>

						<div class="club-reg-shirt-mid">													
						</div>
						<div class="club-reg-shirt-right">							
						</div>		
						</div>
					</div>
					<div class="col-md-8 col-xs-8 col-sm-8">
						<form class="form-horizontal" role="form">							
							<div class="form-group">
							<label for="ks-away-shirt" class="control-label" style="width:50px;float:left;">
							<input type="text" id="ks-away-shirt" class="ks-cp" data-kit="away" data-part="shirt" value="white"> 
							</label>
							<div style="float:left;margin-left:5px;margin-top:10px;">
							<p>Shirt Colour</p>
							</div>
							</div>
							<div class="form-group">
							<label for="ks-away-sleeve" class="control-label" style="width:50px;float:left;">
							<input type="text" id="ks-away-sleeve" class="ks-cp" data-kit="away" data-part="sleeve" value=""> 
							</label>
							<div style="float:left;margin-left:5px;margin-top:10px;">
							<p>Sleeve Colour</p>
							</div>
							</div>

							<div class="form-group">
							<div class="col-md-24">
							<div class="radio">
							<label for="radios-0">
							<input type="radio" name="ks-away-pattern" value="stripe" data-kit="away">
							Stripes
							</label>
							</div>
							<div class="radio">
							<label for="radios-1">
							<input type="radio" name="ks-away-pattern" value="hoop" data-kit="away">
							Hoops
							</label>
							</div>
							<div class="radio">
							<label for="radios-1">
							<input type="radio" name="ks-away-pattern" value="split" data-kit="away">
							Split
							</label>
							</div>
							<div class="radio">
							<label for="radios-2">
							<input type="radio" name="ks-away-pattern" value="none" checked="checked" data-kit="away">
							None
							</label>
							</div>  </div>
							</div>

							<div class="form-group">
							<label for="ks-away-pattern" class="control-label" style="width:50px;float:left;">
							<input type="text" id="ks-away-pattern" class="ks-cp" data-kit="away" data-part="pattern" value=""> 
							</label>
							<div style="float:left;margin-left:5px;margin-top:10px;">
							<p>Pattern Colour</p>
							</div>
							</div>
						</form>
			
					</div>
				</div>
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save-kits">Save</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
