<html>
<head>
<title>Local.Teams - Contact Us</title>
<link rel="shortcut icon" href="https://local-teams.com/static/images/icon/favicon.ico" />
<style>
h1{
	font-size: 1.8em;
}
.contact-us{
	height: 40px;
	border-radius: 10px !important;
}
.error{
	color:red;
}
.errC-icon{
	display: inline;
	top: -2px;
    position: relative;
}
/*
.rc-anchor{
	border-radius: 10px !important;
}*/
</style>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110256576-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110256576-1');
</script>
</head>
<body>
	<div class="notification_pannel">
		<h2 class="header-title">Contact Us</h2>
		<br/>
		<form class="form-horizontal" id="contactusForm" action="/contact_us_mail/" method="POST">
			<div class="row">
				<div class="form-group col-md-6 col-sm-12 col-xs-12">
					<input name="name" type="text" id="name" placeholder="Your full name" class="form-control contact-us" required/>
				</div>
				<div class=" col-md-6"></div>
				<div class="error col-md-12 col-sm-12 col-xs-12" id="mtName" style="display:none">
					<img src="/static/images/icon/Validation_cross.png" height="12px" width="12px" class="img-responsive errC-icon">
					<label>Please enter your name</label>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-6 col-sm-12 col-xs-12">
					{% if email == '' %}
					<input name="email" type="email" id="email" placeholder="Your email address" class="form-control contact-us" required />
					{% else %}
					<input name="email" type="email" id="email" placeholder="Your email address" class="form-control contact-us" value="{{email}}" required />
					{% endif %}
				</div>
				<div class=" col-md-6"></div>
				<div class="error col-md-12 col-sm-12 col-xs-12" id="errEmail" style="display:none">
					<img src="/static/images/icon/Validation_cross.png" height="12px" width="12px" class="img-responsive errC-icon">
					<label id="mtEmail">Please enter your email id</label>
					<label id="validEmail">Please enter valid email id</label>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12 col-sm-12 col-xs-12">
					<textarea name="details" type="text" class="form-control contact-us" rows="10" id="details" placeholder="How can we help?" style="resize: none;" required></textarea>
				</div>
				<div class="error col-md-12 col-sm-12 col-xs-12" id="mtHelp" style="display:none">
					<img src="/static/images/icon/Validation_cross.png" height="12px" width="12px" class="img-responsive errC-icon">
					<label>Please enter how can we help?</label>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12 col-sm-12 col-xs-12">
					<div class="g-recaptcha" data-sitekey="6LfNIzkUAAAAAP_rIiBKQTzRwjBF1Oiy4X0_GvKC"></div>
				</div>
				<div class="error col-md-12 col-sm-12 col-xs-12" id="mtCaptcha" style="display:none">
					<img src="/static/images/icon/Validation_cross.png" height="12px" width="12px" class="img-responsive errC-icon">
					<label>You can't leave Captcha Code empty</label>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-12 col-sm-12 col-xs-12">
					<button type="button" class="btn btn-lg btn-success btn-arrow" id="submitC" >Submit <img src="/static/images/icon/arrow_right_xs.png"></button>
				</div>
			</div>
		</form>
	</div>
</body>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
var nameF = emailF = detailsF = captchaF = false;
var emailPtrn = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z0-9]{2,3}$/;
$("#submitC").click(function(){
	/*** Name ***/
	if($("#name").val() == ""){
		window.nameF = false;
		$("#mtName").show();
	}
	else{
		window.nameF = true;
		$("#mtName").hide();
	}
	
	/*** Email ***/
	if($("#email").val() == ""){
		window.emailF = false;
		$("#errEmail").show();
		$("#mtEmail").show();
		$("#validEmail").hide();
	}
	else{
		window.emailF = emailPtrn.test($("#email").val());
		if(window.emailF){
			$("#errEmail").hide();
			$("#mtEmail").hide();
			$("#validEmail").hide();
		}
		else{
			$("#errEmail").show();
			$("#mtEmail").hide();
			$("#validEmail").show();
		}
	}
	
	/*** Details ***/
	if($("#details").val() == ""){
		window.detailsF = false;
		$("#mtHelp").show();
	}
	else{
		window.detailsF = true;
		$("#mtHelp").hide();
	}

	/*** Captcha ***/
	if( grecaptcha.getResponse() == ""){
		window.captchaF = false;
		$("#mtCaptcha").show();
	}
	else{
		window.captchaF = true;
		$("#mtCaptcha").hide();
	}
	
	if( window.nameF && window.emailF && window.detailsF && window.captchaF && true ){
		$("#contactusForm").submit();
	}
});

</script>

</html>