{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<style>
#news{margin : 10px 0px 0px 150px}
.alert_list{font-size: 11px; color:grey}
li.alert_li {
  font-size: 11px; 
  color:grey;
  padding:10px 0px 2px 0px;
  border-bottom: thin solid #c0c0c0;
}
li.alert_li:hover{background-color:#eee}
.turn_off_alert{float:right;margin-bottom :1px}
a.alert_message{color : grey}
a.alert_message:hover{color : grey}
.input_vcode{
	margin-left: 70px;
    width: 70%;
}
.button_sub{
	margin-left: 175px;
    width: 25%;
}

/*.btn-resend, .btn-resend:hover, .btn-resend:focus, .btn-resend:active:focus{
		color: #fff;
		background-color: #129ed9;
		border-color: #ffffff;
		outline-width: 0px !important;
	}
*/
.resend-link{
	color:#009ddf;
	cursor:pointer;
}
.resend-link:hover, .resend-link:focus{
	text-decoration:None;
	color:#0ddffe;
}

.resend-link:active{
	text-decoration:None;
	color:#20f6ff;
}
</style>

<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="main-panel col-md-12 col-sm-12 col-xs-12" style="margin-top:0;">
				<div class="row">
					<div class="col-md-9 col-sm-9 col-xs-12 first-left">
						<div class="small-strip">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<span class="section-title">Email Verification</span>
							</div>
						</div>
						<div class="home-info" style="padding: 30px;border-bottom-left-radius:30px;">
							<div class="match-notify">
								<form action="/verifyEmail/" method="POST">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<label id="default_msg" class="leb">Please enter varification code send on your email to verify your email-id</label>
										<label id="resend_msg_txt" style="display:none;" class="leb">Please enter varification code re-send on your email to verify your email-id</label>
										<input type="text" id="v_code" name="v_code" placeholder="Enter verification code" class="match-input" />
										{% if activation_code == 'wrong' %}
										<label style="color:red;">Please enter valid activation code</label>
										{% endif %}
									</div>
									<!-- <div class="col-md-6 col-sm-6 col-xs-12 text-right" id=""> -->
									<div class="col-md-12 col-sm-12 col-xs-12 text-center" id="">
										<button class="btn btn-md btn-success btn-arrow" type="submit" style="padding: 8px 15px;margin-top:5px;font-size: 18px;">Verify<img src="{% static 'images/icon/arrow_right_xs.png' %}"></button>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 leb" style="text:justify;">
										<div id="resend-text" style="display:none">
											<p>If the email does not appear in your inbox within 5mins, please check your junk mail folder.</p>
										</div>
										<div id="resend_msg" style="display:none;">
											<p>Still did not get email? <span class="resend-link" id="resendEmail">Click here</span> to resend the email.</p>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 hidden-xs">
					<!-- <div class="col-md-2 col-sm-2 col-xs-12 hidden-xs"> -->
						<div class="ad-inner-container" style="background-color:white;max-height:600px;">

							<img src="https://local-teams.com/static/images/icon/ad-inner-container.jpg" class="img-responsive" width="224px" height="600px" alt="googleplay apple" usemap="#mapname" id="map_ID" />
							<map name="mapname" id="map_ID">
								<area shape="rect" coords="54,150,168,182" href="{{ iOS_app }}" target="_blank" alt="iOS_app" />
								<area shape="rect" coords="54,190,168,222" href="{{ google_play_app }}" target="_blank" alt="google_play_app" />
							</map>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(window).load(function() {
	setTimeout(function () {$("#resend-text").show("slow");},15000);
	setTimeout(function () {$("#resend_msg").show("slow");},150000);
});

$("#resendEmail").click(function(){
	$.ajax({
		type : 'GET',
		url : '/resendEmail/',
		success:function(response){
			console.log(response);
			$("#default_msg").hide("slow");
			$("#resend_msg_txt").show("slow");
		},
		error:function(err){
			console.log(err);
		},
	});
	
});

	window.onload = function () {
		var ImageMap = function (map, img) {
				var n,
					areas = map.getElementsByTagName('area'),
					len = areas.length,
					coords = [],
					previousWidth = 128;
				for (n = 0; n < len; n++) {
					coords[n] = areas[n].coords.split(',');
				}
				this.resize = function () {
					var n, m, clen,
						x = img.offsetWidth / previousWidth;
					for (n = 0; n < len; n++) {
						clen = coords[n].length;
						for (m = 0; m < clen; m++) {
							coords[n][m] *= x;
						}
						areas[n].coords = coords[n].join(',');
					}
					previousWidth = document.body.clientWidth;
					return true;
				};
				window.onresize = this.resize;
			},
			imageMap = new ImageMap(document.getElementById('map_ID'), document.getElementById('map_ID'));
		imageMap.resize();
		return;
	}
</script>
{% endblock %}