{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Local.Team - Index</title>
    <link rel="shortcut icon" href="{% static 'images/icon/favicon.ico' %}" />
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="{% static 'css/full-slider.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
	<link href="{% static 'css/spectrum.css' %}" rel="stylesheet" />
    <link href="{% static 'css/fix.css' %}" rel="stylesheet" />
	<style>
		{% for image in images_list %}
		.item:nth-child({{image.id}}) {
		background: url(../static/images/{{image.image_url}}) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		}
	{% endfor %}
	</style>
</head>
<body>
	
	<header>
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">
						<img src ="{% static 'images/commen/logo_main.png' %}" class="img-responsive" />
					</a>
				</div>
				<div class="visible-xs">
					<div class="col-md-4 col-sm-4 col-xs-12 pull-right">
						<form class="navbar-form navbar-right">
							<div class="form-group">
								<input type="text" class="form-control search" placeholder="Type your town or postcode">
							</div>
						</form>
					</div>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				
					<!-- User without login seen this-->
					<ul class="nav navbar-nav navbar-right hidden-xs">
						<li class="dropdown">
							<a href="/" class="btn btn-gray btn-lg">{{ menu_head }}<img src="{% static 'images/icon/arrow_down_xs.png' %}"></a>
						</li>
					 </ul>
					<!--End-->
					<div class="col-md-4 col-sm-4 col-xs-12 pull-right hidden-xs">
						<form class="navbar-form navbar-right">
							<div class="form-group">
								<input type="text" class="form-control search" placeholder="Type your town or postcode">
							</div>
						</form>
					</div>
					<!--User without Login seen in mobile view-->
				   <ul class="nav navbar-nav sub-nav visible-xs">
						<li><a style="margin-top:7px;" href="/">{{ menu_head }}</a></li>
						<li class="visible-xs"><a style="margin-top:7px;" href="#/about">About Us</a></li>
						<li class="visible-xs"><a style="margin-top:7px;" href="#/advertise">Advertise</a></li>
						<li class="visible-xs"><a style="margin-top:7px;" href="#/contact">Contact Us</a></li>
						<li class="visible-xs"><a style="margin-top:7px;" href="#/privacy">Privacy Policy</a></li>
						<li class="visible-xs"><a style="margin-top:7px;" href="#/terms">Terms and Conditions</a></li>
					</ul>
					<!--end-->
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
	</header>
	
	<!-- Wrapper for slides starts -->
	<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
	<div class="numslide"></div>
		<div class="carousel-inner" role="listbox">
			<div class="item active"></div>
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
		</div>
	</div>
	<!-- Wrapper for slides ends -->
	
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="main-panel col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-10 col-sm-10 col-xs-12">
							<div class="local-area">
								<h1 class="strapline"><span class="bold blue">{{msg}}</span></h1>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<footer>
		<div class="container">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<p style="margin:0;">&copy; <span id="demo"></span> local-teams.com</p>
			</div>	
			<div class="col-md-9 col-sm-9 col-xs-12 hidden-xs">
				<nav role="navigation" class="navbar-footer" style="margin-bottom:0px;">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="footer-copy">
						<div class="pull-right footer-links hidden-xs">
							<a href="#">About Us</a> |
							<a href="#">Advertise</a> |
							<a href="#">Contact Us</a> |
							<a href="#">Privacy Policy</a> |
							<a href="#">Terms and Conditions</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</footer>
    
    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script>
	$(document).ready(function(){
		var d = new Date();
		var n = d.getFullYear();
		document.getElementById("demo").innerHTML = n;

		$('.carousel').carousel({
	interval: 15000 
});

	});
    </script>
</body>
</html>