	<footer>
		<div class="container">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<p style="margin:0;">&copy; <span id="demo"></span> local-teams.com</p>
			</div>	
			<div class="col-md-9 col-sm-9 col-xs-12 hidden-xs">
				<nav role="navigation" class="navbar-footer" style="margin-bottom:0px;">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="footer-copy">
						<div class="pull-right footer-links hidden-xs">
							<a href="#">About Us</a> |
							<a href="#">Advertise</a> |
							<a href="#">Contact Us</a> |
							<a href="#">Privacy Policy</a> |
							<a href="#">Terms and Conditions</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</footer>
    
    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script>
	
	var totalItems = $('.item').length;
	var currentIndex = $('div.active').index() + 1;
	$('.big-let').html(''+currentIndex+'');


	$('.carousel').carousel({
	interval: 15000 
	});

	$('.carousel').on('slid.bs.carousel', function(e) {
	currentIndex = $('div.active').index() + 1;
	$('.big-let').html(''+currentIndex+'');
	});
	
	$(document).ready(function(){
		$(".input-md1").click(function(){
			$("#o-fld").slideDown("slow");
			});
		$("#forget_pass").click(function(){
			$("#forget_div").toggle("slow");
			});	
		
			var d = new Date();
			var n = d.getFullYear();
			document.getElementById("demo").innerHTML = n;
			
		});
    </script>
</body>
</html>