{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<style>
.email{
	color:#20a2ff;
}
</style>

<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="main-panel col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-md-9 col-sm-9 col-xs-12 first-left">
						<div class="small-strip">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<span class="section-title">Forgotten Pasword</span>
							</div>
						</div>
						<div class="home-info" style="padding: 30px;border-bottom-left-radius:30px;">
							<div class="match-notify">
							
								<div class="col-md-12 col-sm-12 col-xs-12">
									{% if status %}
									<label class="leb">Instructions have been sent to <span class="email">{{ email }}</span> to reset you password</label>
									{% else %}
									<label class="leb"><span class="email">{{ email }}</span> is not registered with our site. To register <a href="https://local-teams.com/">click here</a></label>
									{% endif %}
								</div>								
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 hidden-xs">
					<!-- <div class="col-md-2 col-sm-2 col-xs-12 hidden-xs"> -->
						<div class="ad-inner-container" style="background-color:white;max-height:600px;">

							<img src="https://local-teams.com/static/images/icon/ad-inner-container.jpg" class="img-responsive" width="224px" height="600px" alt="googleplay apple" usemap="#mapname" id="map_ID" />
							<map name="mapname" id="map_ID">
								<area shape="rect" coords="54,150,168,182" href="{{ iOS_app }}" target="_blank" alt="iOS_app" />
								<area shape="rect" coords="54,190,168,222" href="{{ google_play_app }}" target="_blank" alt="google_play_app" />
							</map>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	window.onload = function () {
		var ImageMap = function (map, img) {
				var n,
					areas = map.getElementsByTagName('area'),
					len = areas.length,
					coords = [],
					previousWidth = 128;
				for (n = 0; n < len; n++) {
					coords[n] = areas[n].coords.split(',');
				}
				this.resize = function () {
					var n, m, clen,
						x = img.offsetWidth / previousWidth;
					for (n = 0; n < len; n++) {
						clen = coords[n].length;
						for (m = 0; m < clen; m++) {
							coords[n][m] *= x;
						}
						areas[n].coords = coords[n].join(',');
					}
					previousWidth = document.body.clientWidth;
					return true;
				};
				window.onresize = this.resize;
			},
			imageMap = new ImageMap(document.getElementById('map_ID'), document.getElementById('map_ID'));
		imageMap.resize();
		return;
	}
</script>
{% endblock %}