{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content=""> 
    <title>Local.Team - Index</title>
	<link rel="shortcut icon" href="{% static 'images/icon/favicon.ico' %}">
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/full-slider.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
	
	<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
	<style>
	{% for image in images_list %}
		.item:nth-child({{image.count_id}}) {
		background: url(static/images/{{image.image_url}}) no-repeat center center fixed;
		/*	background: url(../images/slide1.jpg) no-repeat center center fixed;*/
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		}
	{% endfor %}
	.ui-autocomplete { font-family: Arial;max-height: 200px; overflow-y: scroll; overflow-x: hidden;}
	</style>
	
</head>
<body>
<header>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="width:250px;margin-top: -4px;">
					<img src ="{% static 'images/icon/LT_Logo.png' %}" class="img-responsive">
				</a>
            </div>
			<div class="visible-xs">
			 <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
					<form class="navbar-form navbar-right">
						  <div class="form-group">
							<input type="text" class="form-control search" placeholder="Type your town or postcode">
						  </div>
					</form>
			 </div>
			 </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li class="dropdown">
                        <a href="#" class="btn btn-gray btn-lg dropdown-toggle " data-toggle="dropdown">Login<img src="{% static 'images/icon/arrow_down_xs.png' %}"></a>
						<div class="dropdown-menu" id="login-dd">
							<form class="form-signin">
								<span id="reauth-email" class="reauth-email"></span>
								<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
								<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
								<div id="remember" class="checkbox">
									<label style="color: black;font-size: 13px;margin-bottom: 20px;">
										<input type="checkbox" value="remember-me">Keep me logged in
										
									</label>
									<a href="#" id="forget_pass" class="forgot-password">
										Forgotten password?
										<span class="divider1"></span>
									</a>
								</div>
								<button type="submit" class="btn btn-lg btn-success btn-arrow" style="width:128px;">Login
									<img src="{% static 'images/icon/arrow_right_xs.png' %}">
								</button>
							</form><!-- /form -->
							<div class="forgot_password" id="forget_div">
								<span class="divider-forget"><img src="{% static 'images/icon/divider2.png' %}"></span>
								<p>Enter your email address and we'll email you instructions to reset your password.</p><br>
								<form>
									<div class="form-group">
										<input type="email" class="form-control" name="email" placeholder="Enter Email Address"/><br>
										<button type="submit" class="btn btn-lg btn-dark-grey btn-arrow" style="width:128px;">Submit
											<img src="{% static 'images/icon/arrow_right_xs.png' %}">
										</button>
									</div>
								</form>
							</div>
						</div>
                    </li>
                 </ul>
				 <div class="col-md-6 col-sm-6 col-xs-12 pull-right hidden-xs">
					<form class="navbar-form navbar-right">
						  <div class="form-group">
							<input type="text" class="form-control search" placeholder="Type your town or postcode">
						  </div>
					</form>
				  </div>
				  
				   <ul class="nav navbar-nav sub-nav visible-xs">
						<li><a style="margin-top:7px;" href="#">Login</a>
						</li>
						<li class="visible-xs"><a style="margin-top:7px;" href="#/about">About Us</a>
						</li>
						<li class="visible-xs"><a style="margin-top:7px;" href="#/advertise">Advertise</a>
						</li>
						<li class="visible-xs"><a style="margin-top:7px;" href="#/contact">Contact Us</a>
						</li>
						<li class="visible-xs"><a style="margin-top:7px;" href="#/privacy">Privacy Policy</a>
						</li>
						<li class="visible-xs"><a style="margin-top:7px;" href="#/terms">Terms and Conditions</a>
						</li>
					</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	
	
	</header>
	

    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
	<!-- Wrapper for slides -->
	<div class="numslide"></div>
		<div class="carousel-inner" role="listbox">
			<div class="item active"></div>
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
		</div>
	</div>
	
	
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="main-panel col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-8 col-sm-8 col-xs-12">
							<div class="local-area">
								<h1 class="strapline">Looking for a<br> <span class="bold">football club</span> or <span class="bold">player</span> in your <span class="bold blue">local area?</span></h1>
								<p style="margin-bottom: 40px;font-family:arial">Want to play football? Find football clubs in your local area and be a part of the beautiful game.</p>
								<a href="/advanceSearch" class="btn btn-lg btn-dark-grey btn-arrow">Advanced search <img src="{% static 'images/icon/arrow_right_xs.png' %}"></a>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="sign_up">
								<h1>Sign up today</h1>
								<form action="/club/" method="POST">
									<input id="email" name="email" type="email" placeholder="Email address" class="form-control input-md1" value="" required><br>
									<div class="other-fld" id="o-fld">
										<div style="width:100%;float:left;position:relative;">
										<input type="password" name="pass1" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[$#!*&@]).{8,20}" title="Must contain at least one number and one uppercase and lowercase letter and one special symbol, and at least 8 or upto 20 characters" class="form-control o-fld password" required>
										<div class="icon" style="position: absolute;color:black;top: 8px;right: 10px;"><span class="glyphicon glyphicon-eye-close o-fld"></span></div>
										<br>
										</div>
										<div style="width:100%;float:left;position:relative;">
											<input type="password" name="passC" placeholder="Confirm Password" class="form-control o-fld passwordC" required>
											<div class="iconC" style="position: absolute;color:black;top: 8px;right: 10px;"><span class="glyphicon glyphicon-eye-close o-fld"></span></div>
										<br>
										</div>
										
										<!-- <input id="password2" name="pass2" type="password" placeholder="Confirm Password" class="form-control o-fld" required><br> -->
										<input id="country" name="country" type="text" placeholder="Country" class="form-control o-fld" required><br>
										<input id="usertype" name="usertype" type="text" placeholder="User Type" class="form-control o-fld" required><br>
										
										<br>
									</div>
									<button type="submit" class="btn btn-lg btn-success btn-arrow">Submit <img src="{% static 'images/icon/arrow_right_xs.png' %}">
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="nag_arrow">
		<div class="col-md-4 col-md-offset-4 col-xs-12 text-center">
			<div class="col-md-4 col-xs-4 text-right">
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><img src="{% static 'images/icon/arrow_left.png' %}"/></a>
			</div>
			<div class="col-md-4 col-xs-4">
			<h1 class="big-let"> </h1>
			</div>
			<div class="col-md-4 col-xs-4 text-left">
				<a  class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><img src="{% static 'images/icon/arrow_right.png' %}"/></a>
			</div>
			<div class="col-md-12 col-xs-12">
				<div id="bg-description">FirstImage</div>
			</div>
		</div>
	</div>
	
	<!-- <div class="row"> -->
	
	<!-- </div> -->
	<footer>
		<div class="container">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<p style="margin:0;">&copy; <span id="demo"></span> local-teams.com</p>
			</div>	
			<div class="col-md-9 col-sm-9 col-xs-12 hidden-xs">
				<nav role="navigation" class="navbar-footer" style="margin-bottom:0px;">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="footer-copy">
						<div class="pull-right footer-links hidden-xs">
							<a href="#">About Us</a> |
							<a href="#">Advertise</a> |
							<a href="#">Contact Us</a> |
							<a href="#">Privacy Policy</a> |
							<a href="#">Terms and Conditions</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</footer>
    
    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
	<script>
	$('.icon').click(function () {
		if($('.password').attr('type') == "text"){
			$('.password').attr('type', 'password');
		}
		else if($('.password').attr('type') == "password"){
			$('.password').attr('type', 'text');
		}
	});
	$('.iconC').click(function () {
		if($('.passwordC').attr('type') == "text"){
			$('.passwordC').attr('type', 'password');
		}
		else if($('.passwordC').attr('type') == "password"){
			$('.passwordC').attr('type', 'text');
		}
	});
	
	var _password1 = $("#password1").val();
	var _password2 = $("#password2").val();
	
	toUpper = function(x){return x.toUpperCase();};
	$(function(){
		availableType = JSON.parse("{{profile_list|escapejs}}").map(toUpper);
		
		$('#usertype').autocomplete({
			source: availableType
		});
		$('#country').autocomplete({
			source: '/countryData/',
		});
	});
	$('.carousel').carousel({
		interval: 15000 
	});
	
	/*$('.carousel').bind('slide.bs.carousel', function (e) {
       console.log('before');
	});
	$('.carousel').bind('slid.bs.carousel', function (e) {
       console.log('After');
	});*/
	$(document).ready(function(){
		$(".input-md1").click(function(){
			$("#o-fld").slideDown("slow");
			});
		$("#forget_pass").click(function(){
			$("#forget_div").toggle("slow");
		});	
		var d = new Date();
		var n = d.getFullYear();
		document.getElementById("demo").innerHTML = n;
	});
	$(document).mouseup(function (e){
		var container = $(".input-md1,.ui-menu-item");
		var container2 = $(".o-fld,.ui-menu-item");
		if ( !(container.is(e.target) || container2.is(e.target)) )// if the target of the click isn't the container...
		{
			if($('.input-md1').val().length === 0){
				$("#o-fld").slideUp("slow");
			}
		}
	});
    </script>
</body>
</html>
