{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	
	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>
	
    <title>Local.Team - Index</title>
	<link rel="shortcut icon" href="{% static 'images/icon/favicon.ico' %}">
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- JQuery AutoComplete CSS -->
	<link href="{% static 'css/jquery-ui.css' %}" rel="Stylesheet" />
	
    <!-- Custom CSS -->
    <link href="{% static 'css/full-slider.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/fix.css' %}" rel="stylesheet" />
    <link href="{% static 'css/hide.css' %}" rel="stylesheet" />
    <link href="{% static 'css/BootstrapValidator.css' %}" rel="stylesheet" />
    <link href="{% static 'css/lobibox.css' %}" rel="stylesheet" />
	
	<!-- signUpForm -->
	<!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/> -->
	
	<style>
	#loader {
		position: fixed;
		left: 43%;
		right: 0;
		bottom: 0;
		z-index: 9999;
		top: 38%;
		border: 8px solid #cecdcd;
		border-radius: 50%;
		border-top: 8px solid #6d6d6d;
		width: 110px;
		height: 110px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}
	@-webkit-keyframes spin {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(360deg); }
	}
	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}
	@media only screen and (min-width : 320px) and (max-width : 480px) {
		#loader {
			left: 42% !important;
			top: 44% !important;
			border: 7px solid #cecdcd !important;
			border-top: 7px solid #6d6d6d !important;
			width: 75px !important;
			height: 75px !important;
		}
	}
	.form-horizontal .form-group {
		margin-right: 0;
		margin-left: 0;
	}
	.form-group {
		margin-bottom: 15px !important;
	}
	.form-control-feedback {
		line-height: 21px !important;
	}
	.icon,.iconC{
		position: absolute;
		color: #bbbbbb;
		top: 8px;
		right: 10px;
	}
	.iconL{
		position: absolute;
		color: #bbb;
		top: 8px;
		right: 8px;
		z-index: 99;
	}
	.email-icon{
	    position: absolute;
		top: 89px;
		right: 20px;
	}
	.err-icon{
		position: absolute;
		top: 9px;
		right: -20px;
	}
	.errL-icon{
		position: absolute;
		top: 8px;
		right: -19px;
	}
	.email-log,.pass-log{
		position: relative;
		width: 100%;
		float: left;
	}
		
	.user-msg{font-family:Arial;margin-bottom: 15px !important;color:red;}	
	.email-msg{
	    position: absolute;
		font-family:Arial;
		margin-bottom: 15px !important;
		color:red;
	}	
	.errL-msg{position: relative;color:red;}
	#emailLM,#emailLMT{
		position: relative;
		margin-bottom: 6px;
		margin-top: -6px;
		display: block;
	}
	#passLM,#passLMT{
		position: relative;
		margin-bottom: 6px;
	}
	.err-msg{
	    position: relative;
		font-family:Arial;
		color:red;
	}
	#countryField{
		position:relative;
	}
	.selectContainer{
		position:relative;
	}
	.others {color:#636363}
	{% if menu_head == 'Settings' %}
		.main-panel{margin-top: 0px !important;}
	{% endif %}
	@media(max-width:767px){
		.main-panel{margin-top: 46px;}
	}
	.logout{cursor: pointer;}
	p{
		text-align:justify !important;
	}
	</style>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110256576-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-110256576-1');
	</script>

</head>
<body>
<div id="loader"></div>
<header>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand logo-img" href="/" >
					<img src ="{% static 'images/icon/LT_Logo.png' %}" class="img-responsive">
				</a> -->
				
				{% if menu_head == "Settings" %}
                <a class="navbar-brand logo-img" href="/clubProfile/" >
					<img src ="{% static 'images/icon/LT_Logo.png' %}" class="img-responsive">
				</a>
				{% else %}
				<a class="navbar-brand logo-img" href="/" >
					<img src ="{% static 'images/icon/LT_Logo.png' %}" class="img-responsive">
				</a>
				{% endif %}
				
				{% if menu_head == "Settings" %}
				<ul class="nav navbar-nav visible-md visible-lg">
					<li>
						<a class="notification-fan">
							<img src="{% static 'images/icon/fan_wave.png' %}" />
							<div class='notification-text'>2</div>
						</a>
					</li>
					<!-- <li>
						<a href="#" class="notification-message">
							<img src="{% static 'images/icon/message.png' %}" />
							<div class="notification-text">3</div>
						</a>
					</li> -->
				</ul>
				{% endif %}
            </div>
			<div class="visible-xs">
				 <div class="col-md-4 col-sm-4 col-xs-12 pull-right">
					<form id="top_form_mobile" class="navbar-form navbar-right" action="/advanceSearch/">
						  <div class="form-group" style="margin-bottom:0px !important;">
							<input id="top_search_mobile" name="search" type="text" class="form-control search" placeholder="Select a Town or City" >
								<span type="submit" id="top_submit_mobile" class="search-icon"><img src="{% static '/images/icon/search1.png' %}" ></span>
						  </div>
					</form>
				 </div>
			 </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li class="dropdown">
                        {% if menu_head == 'Login' %}
						<a class="btn btn-gray btn-lg dropdown-toggle " data-toggle="dropdown" style="border:1px;width:98px;">{{menu_head}}<img src="{% static 'images/icon/arrow_down_xs.png' %}"></a>
						<div class="dropdown-menu" id="login-dd">
							<form class="form-signin" action="/login/" id="loginForm" method="POST">
								<span id="reauth-email" class="reauth-email"></span>
								<div class="email-log"  style="position:relative">
									<input type="email" name="emailL" id="inputEmail"  class="form-control" placeholder="Email address" required />
									<div id="emailLMT" style="display:none;"><span class="errL-msg">Please enter email address </span></div>
									<div id="emailLM" style="display:none;"><span class="errL-msg">The email address entered to not valid</span></div>
									<div id="emailLMlen" style="display:none;"><span class="errL-msg">The entered email address is too long...</span></div>
								</div>
								
								<div class="pass-log"  style="position:relative">
									<input type="password" id="passwordL" name="passL" placeholder="Password" class="form-control passwordL" required>
									<div id="passLMT" style="display:none;"><span class="errL-msg">Please enter password...</span></div>
									<div id="passLM" style="display:none;"><span class="errL-msg">Your password does not meet the recommended criteria...</span></div>
									<div class="iconL" ><span id="glyphL" class="glyphicon glyphicon-eye-close"></span>
									</div>
								</div>
								<div class="form-group" id="userLEM" style="display:none;"><span class="user-msg">The email address or password entered does not match with any records on our database.</span></div>
								<div id="remember" class="checkbox">
									<label style="color: black;font-size: 13px;margin-bottom: 20px;">
										<input type="checkbox" value="remember-me">Keep me logged in
									</label>
									<a id="forget_pass" class="forgot-password" style="cursor: pointer;">
										Forgotten password?
										<span class="divider1"></span>
									</a>
								</div>
								<button type="button" id="loginFormBtn" class="btn btn-lg btn-success btn-arrow" style="width:128px;">Login
									<img src="{% static 'images/icon/arrow_right_xs.png' %}">
								</button>
							</form><!-- /form -->
							<div class="forgot_password" id="forget_div">
								<span class="divider-forget"><img src="{% static 'images/icon/divider2.png' %}"></span>
								<p>Enter your email address and we'll email you instructions to reset your password.</p><br>
								<form action="/reset_pass_mail/" id="passwordRestForm" method="POST">
									<div class="form-group">
										<input type="email" class="form-control" name="email" placeholder="Enter Email Address"/><br>
										<button type="submit" class="btn btn-lg btn-dark-grey btn-arrow" style="width:128px;">Submit
											<img src="{% static 'images/icon/arrow_right_xs.png' %}">
										</button>
									</div>
								</form>
							</div>
						</div>
                        {% elif menu_head == 'Settings' %}
						<a class="btn btn-gray btn-lg dropdown-toggle " data-toggle="dropdown"
                           style="border:1px;">{{menu_head}}<img src="{% static 'images/icon/arrow_down_xs.png' %}"></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" id="setting">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#Account_information">Account Information</a>
                            </li>
                            <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Rest Option</a></li> -->
                            <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout/">Logout</a></li> -->
                            <li role="presentation"><a role="menuitem" tabindex="-1" class="logout">Logout</a></li>
                        </ul>
						{% endif %}
                    </li>
                 </ul>
				<div class="col-md-4 col-sm-4 col-xs-12 pull-right hidden-xs">
				<form id="top_form" class="navbar-form navbar-right" action="/advanceSearch/">
					  <div class="form-group" style="margin-bottom: 0px!important;">
						<input id="top_search" name="search" type="text" class="form-control search" placeholder="Select a Town or City" >
							<span type="submit" id="top_submit" class="search-icon"><img src="{% static '/images/icon/search1.png' %}" ></span>
					  </div>
				</form>
				</div>

				<ul class="nav navbar-nav sub-nav visible-xs">
					{% if menu_head == 'Login' %}
					<li><a href="/loginMobile/">Login</a></li>
					{% elif menu_head == 'Settings' %}
					<li class="visible-xs"><a style="margin-top:7px;" href="#Account_information">Account Information</a></li>
					{% endif %}
					<li class="visible-xs"><a style="margin-top:7px;" href="/about_us">About Us</a></li>
					<li class="visible-xs"><a style="margin-top:7px;" href="/contact_us">Contact Us</a></li>
					<li class="visible-xs"><a style="margin-top:7px;" href="/cookie_policy">Cookie Policy</a></li>
					<li class="visible-xs"><a style="margin-top:7px;" href="/privacy_policy">Privacy Policy</a></li>
					<li class="visible-xs"><a style="margin-top:7px;" href="/terms_and_conditions" >Terms and Conditions</a></li>
					{% if menu_head == 'Settings' %}
					<!-- <li class="visible-xs"><a style="margin-top:7px;" href="/logout/">Logout</a></li> -->
					<li class="visible-xs"><a style="margin-top:7px;" class="logout">Logout</a></li>
					{% endif %}

				</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	</header>
	

    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
	<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
		</div>
	</div>
	
	<div class="wrapper">
		{% if menu_head == 'Settings' %}
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-8 col-xs-8">
						<ul class="list-top">
							<li>
								{% if tab == 'Profile' %}
								<a href="/clubProfile/" id="profile" class="active_pro">
									Profile<span class="divider"></span>
								</a>
								{% else %}
								<a href="/clubProfile/" id="profile" class="">
									Profile<span class="divider"></span>
								</a>
								{% endif %}
							</li>
							<!-- <li>
								{% if tab == 'Wall' %}
								<a href="" id="wall" class="active_pro">
									Wall<span class="divider"></span>
								</a>
								{% else %}
								<a href="" id="wall">
									Wall<span class="divider"></span>
								</a>
								{% endif %}
							</li> -->
							<li>
								{% if tab == 'Squad' %}
								<a href="/clubSquad/" id="squad" class="active_pro">
									Squad<span class="divider"></span>
								</a>
								{% else %}
								<a href="/clubSquad/" id="squad">
									Squad<span class="divider"></span>
								</a>
								{% endif %}
							</li>
							<li>
								{% if tab == 'Fixtures' %}
								<a href="/clubFix/" id="fixture" class="active_pro">
									Fixtures<span class="divider"></span>
								</a>
								{% else %}
								<a href="/clubFix/" id="fixture">
									Fixtures<span class="divider"></span>
								</a>
								{% endif %}
							</li>
							<li>
								{% if tab == 'Notification' %}
								<a href="/clubNotif/" id="notification" class="active_pro">
									<!-- Notification -->Reviews
								</a>
								{% else %}
								<a href="/clubNotif/" id="notification">
									<!-- Notification -->Reviews
								</a>
								{% endif %}
							</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-4" style="padding:0">
						<ul class="visible-xs visible-sm noty-div">
							<li>
								<a class="">
									<img src="{% static 'images/icon/notif_fan_sm.png' %}">
									<div class="notification-text">21</div>
								</a>
							</li>
							<li>
								<a class="">
									<img src="{% static 'images/icon/notif_em_sm.png' %}">
									<div class="notification-text1">3</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		<div class="container">
			<div class="row">
				<div class="main-panel col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<!-- <div class="col-md-8 col-sm-8 col-xs-12">
							<div class="local-area">
								<h1 class="strapline">Looking for a<br> <span class="bold">football club</span> or <span class="bold">player</span> in your <span class="bold blue">local area?</span></h1>
								<p style="margin-bottom: 40px;font-family:arial">Want to play football? Find football clubs in your local area and be a part of the beautiful game.</p>
								<a href="/advanceSearch/" class="btn btn-lg btn-dark-grey btn-arrow">Advanced search <img src="{% static 'images/icon/arrow_right_xs.png' %}"></a>
							</div>
						</div> -->
						<div class="col-md-8 col-sm-8 col-xs-12">
							<div class="local-area">
								<h1 class="strapline">Organising <span class="bold">Match Days</span> <br/> has never been<span class="bold blue"> Easier!</span></h1>
								<p style="margin-bottom: 40px;font-family:arial">Local Teams is completely <b>FREE!</b> Manage your teams and organise your match days through our website and mobile app. Register your club today!</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							{% if menu_head == 'Login' %}
							<div class="sign_up o-fld">
								<h1>Sign up today</h1>
								<form action="/signUpUser/" method="POST" id="signUpForm" class="form-horizontal">
									<div class="form-group">
										<input id="email" name="email" type="text" placeholder="Email address" class="form-control" required />
										<img src ="{% static 'images/icon/Validation_tick.png' %}" id="emailOK" height="18px" width="18px" class="img-responsive email-icon" style="display:none;">
										<img src ="{% static 'images/icon/Validation_cross.png' %}" id="emailRE" height="18px" width="18px" class="img-responsive email-icon" style="display:none;">
										<div class="form-group" id="emailMT" style="display:none;"><span class="email-msg">Please enter email address</span></div>
										<div class="form-group" id="emailMlen" style="display:none;"><span class="email-msg">The entered email address is too long...</span></div>
										<div class="form-group" id="emailM" style="display:none;"><span class="email-msg">The email address entered to not valid</span></div>
										<div class="form-group" id="emailEM" style="display:none;"><span class="email-msg">Email address already exists...</span></div>
									</div>									
									<div class="other-fld" id="o-fld">
										<div class="form-group" style="position:relative;">
											<input type="password" id="password1" name="pass" placeholder="Password" class="form-control o-fld" required>
											<div class="icon"><span id="glyph" class="glyphicon glyphicon-eye-close o-fld"></span></div>
											<img src ="{% static 'images/icon/Validation_tick.png' %}" id="passOK" height="18px" width="18px" class="img-responsive err-icon" style="display:none;">
											<img src ="{% static 'images/icon/Validation_cross.png' %}" id="passRE" height="18px" width="18px" class="img-responsive err-icon" style="display:none;">
											<div id="passMT" class="err-msg" style="display:none;">Please enter password...</div>
											<div id="passM" class="err-msg" style="display:none;">Your password does not meet the recommended criteria,<br/>&nbsp;&nbsp;1. Minimum 8 Characters long,<br/>&nbsp;&nbsp;2. At least 1 uppercase (A,B,C),<br/>&nbsp;&nbsp;3. At least 1 numeric number (1,2,3),<br/>&nbsp;&nbsp;4. At least 1 special character<br/>&nbsp;&nbsp;&nbsp;&nbsp;(!, +, &, $, £, @, *)</div>
										</div>
										<div class="form-group" style="position:relative;">
											<input type="password" id="password2" name="passC" placeholder="Confirm password" class="form-control o-fld" required>
											<div class="iconC"><span id="glyphC" class="glyphicon glyphicon-eye-close o-fld"></span></div>
											<img src ="{% static 'images/icon/Validation_tick.png' %}" id="passCOK" height="18px" width="18px" class="img-responsive err-icon" style="display:none;">
											<img src ="{% static 'images/icon/Validation_cross.png' %}" id="passCRE" height="18px" width="18px" class="img-responsive err-icon" style="display:none;">
											<div id="passCMT" class="err-msg" style="display:none;">Please enter confirm password...</div>
											<div id="passCM" class="err-msg" style="display:none;">Confirm password does not match with password</div>
										</div>
										<div class="form-group">
											<div id="countryField">
											<input id="country" name="country" type="text" placeholder="Country" class="form-control o-fld" required>
											<img src ="{% static 'images/icon/Validation_tick.png' %}" id="cntrOK" height="18px" width="18px" class="img-responsive err-icon" style="display:none;" >
											<img src ="{% static 'images/icon/Validation_cross.png' %}" id="cntrRE" height="18px" width="18px" class="img-responsive err-icon" style="display:none;" style="display:none;">
											</div>
											<div style="display:none;" id="cntrM" class="err-msg">Please select valid country</div>
										</div>
										<div class="form-group">
											<div class="selectContainer">
												<select class="form-control o-fld" id="usertype" name="usertype" required>
													<!-- <option value="" style="color:#a0a0a0" >Profile</option> -->
												{% for role in profile_list %}
													{% if role.role == 'Club' %}
													<option value="{{role.id}}" class="others">{{role}}</option>
													{% endif %}
												{% endfor %}
												</select>
											<img src ="{% static 'images/icon/Validation_tick.png' %}" id="proOK" height="18px" width="18px" class="img-responsive err-icon" style="display:none;">
											<img src ="{% static 'images/icon/Validation_cross.png' %}" id="proRE" height="18px" width="18px" class="img-responsive err-icon" style="display:none;">
											</div>
											<div style="display:none;" id="proM" class="err-msg">Please select user profile</div>
										</div>
										<div class="form-group">
											<input type="checkbox" name="updates[]" id="updates[]" value="update" checked /><b>
											<span style="font-size: 12px;font-family: HelveticaNeueLight;">I would like to receive email updates about new features and changes on Local Teams</span></b>
										</div>
										<div>
											<p style="font-size: 12px;font-family: HelveticaNeueLight;font-weight:bold;">By clicking in "Submit" you have read and agreed to the <a data-toggle="modal" data-target="#myModal" class="bold" style="color:#009ee0;cursor: pointer;">terms and conditions</a></p>
										</div>
									</div>
									<button type="button" id="submitSignUpForm" class="btn btn-lg btn-success btn-arrow" style="margin-top:10px;" >Submit<img src="{% static 'images/icon/arrow_right_xs.png' %}">
									</button><!-- submit -->
									<!-- <li>IP - {{ip}}</li> -->
								</form>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div id="token_div"></div>
	<div id="permission_div"></div> -->
	<div class="nag_arrow">
		<div class="col-md-4 col-md-offset-4 col-xs-12 text-center">
			<div class="col-md-4 col-xs-4 text-right">
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><img src="{% static 'images/icon/arrow_left.png' %}"/></a>
			</div>
			<div class="col-md-4 col-xs-4">
			<h1 class="big-let"> </h1>
			</div>
			<div class="col-md-4 col-xs-4 text-left">
				<a  class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><img src="{% static 'images/icon/arrow_right.png' %}"/></a>
			</div>
			<!-- <div class="col-md-12 col-xs-12">
				<div id="bg-description">FirstImage</div>
			</div> -->
		</div>
	</div>
	
	<!-- <div class="row"> -->
	
	<!-- </div> -->
	<footer>
		<div class="container">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<p style="margin:0;">&copy; <span id="demo"></span> local-teams.com</p>
			</div>	
			<div class="col-md-9 col-sm-9 col-xs-12 hidden-xs">
				<nav role="navigation" class="navbar-footer" style="margin-bottom:0px;">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="footer-copy">
						<div class="pull-right footer-links hidden-xs">
							<a href="/about_us">About Us</a> |
							<a href="/contact_us">Contact Us</a> |
							<a href="/cookie_policy" >Cookie Policy</a> |
							<a href="/privacy_policy" >Privacy Policy</a> |
							<a href="/terms_and_conditions" >Terms and Conditions</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<!-- <div class="container">
			<div id="messages"></div>
			<div id="token"></div>
			<div id="tokenDivId"></div>
			<div id="permission_div"></div>
		</div> -->
	</footer>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog modal-lg">
		<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<label>Please read <i>Terms and conditions</i> carefully</label>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<iframe src="" height="600px" width="100%"></iframe>
				</div>
				<!-- <div class="modal-footer"> -->
					<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
				<!-- </div> -->
			</div>

		</div>
	</div>
	</body>
    <script src="{% static 'js/jquery.min.js' %}"></script>
	
	<script type="text/javascript">
	/*
	console.log('...loaded...');
	document.onclick= function(event) {
		if (event===undefined) event= window.event;
		var target= 'target' in event? event.target : event.srcElement;
		console.log('clicked on '+target.tagName);
	}
	*/

	$(window).load(function() {
		$('#loader').fadeOut(1500);//hide('slow');
		$(requestPermission);
    });
	</script>
	
	
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- <script src="{% static 'js/bootstrap-select.min.js' %}"></script> -->  <!-- Monster>eatyellowmango -->
	<script src="{% static 'js/jquery-ui.min.js' %}" ></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script src="{% static 'js/lobibox.min.js' %}"></script>
    <script src="{% static 'js/demo.min.js' %}"></script>
	<script type="text/javascript">
	$(document).mouseup(function (e){
		var container = $("#email");
		var container2 = $(".o-fld");
		if ( !(container.is(e.target) || container2.is(e.target)) ){
		// if the target of the click isn't the container...
			if($('#email').val() === 0){
				$("#o-fld,#o-fld1").slideUp("slow");
			}
		}
	});
	
	toUpper = function(x){return x.toUpperCase();};
	/*$(function(){
		// availableType = JSON.parse("{{profile_list|escapejs}}").map(toUpper);
		availableType = ['Club','Coach','Player','Support','Admin'];
		
		$('#usertype').autocomplete({
			source: availableType
		});
		$('#country').autocomplete({
			source: '/countryData/',
		}); 


	});*/
		
	/* var emailL = false;
	var passL = false; */
	var lenBoolS = email = pass = passC = cntr = exE = false;
	var pro = true;
	var emailPtrn = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z0-9]{2,3}$/;
	var passPtrn = /^(?=.*\d)(?=.*[A-Z])(?=.*[!+&$£@*]).{8,50}$/;
	/*var passPtrn = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!+&$£@*]).{8,20}$/;*/
	$("#email").change(function(){
		if($(this).val() == ''){
			window.email = false;
			$("#emailEM").hide();
			$("#emailRE").show();
			$("#emailOK").hide();
			$("#emailM").hide();
			$("#emailMT").show();
		}
		else{
			len = $(this).val().length;
			if (len > 254){
				window.lenBoolS = false;
				$("#emailMlen").show();
				$("#emailMT").hide();
				$("#emailEM").hide();
				$("#emailOK").hide();
				$("#emailM").hide();
				$("#emailRE").show();
			}
			else{
				window.lenBoolS = true;
				$("#emailMlen").hide();
				$("#emailMT").hide();
				$("#emailEM").hide();
				$("#emailOK").show();
				$("#emailM").hide();
				$("#emailRE").hide();
				window.email = emailPtrn.test($(this).val());
				if (window.email){
					$.ajax({
						type: "POST",
						url: "/email_avail/",
						data:{
								email:$("#email").val(),
								csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
							},
						success: function(response, jqXHR) {
							console.log(jqXHR);
							console.log(response);
							if (response.valid){
								$("#emailEM").show();
								$("#emailRE").show();
								$("#emailOK").hide();
								$("#emailM").hide();
								$("#emailMT").hide();
								$("#emailMlen").hide();
								window.email = false;
							}
							else{
								$("#emailMT").hide();
								$("#emailEM").hide();
								$("#emailRE").hide();
								$("#emailM").hide();
								$("#emailOK").show();
								$("#emailMlen").hide();
								window.email = true;
							}
						}
					});
				}
				else{
					$("#emailMT").hide();
					$("#emailEM").hide();
					$("#emailOK").hide();
					$("#emailRE").show();
					$("#emailM").show();
					$("#emailMlen").hide();
				}
			}
		}
	});
	
	$("#email").focusout(function(){
		if($(this).val() == ''){
			window.email = false;
			$("#emailEM").hide();
			$("#emailRE").show();
			$("#emailOK").hide();
			$("#emailM").hide();
			$("#emailMT").show();
		}
		else{
			len = $(this).val().length;
			if (len > 254){
				window.lenBoolS = false;
				$("#emailMlen").show();
				$("#emailMT").hide();
				$("#emailEM").hide();
				$("#emailOK").hide();
				$("#emailM").hide();
				$("#emailRE").show();
			}
			else{
				window.lenBoolS = true;
				$("#emailMlen").hide();
				$("#emailMT").hide();
				$("#emailEM").hide();
				/*$("#emailOK").show();*/
				$("#emailM").hide();
				$("#emailRE").hide();
				window.email = emailPtrn.test($(this).val());
				if (window.email){
					$.ajax({
						type: "POST",
						url: "/email_avail/",
						data:{
								email:$("#email").val(),
								csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
							},
						success: function(response, jqXHR) {
							console.log(jqXHR);
							console.log(response);
							if (response.valid){
								$("#emailEM").show();
								$("#emailRE").show();
								$("#emailOK").hide();
								$("#emailM").hide();
								$("#emailMT").hide();
								window.email = false;
							}
							else{
								$("#emailEM").hide();
								$("#emailRE").hide();
								$("#emailM").hide();
								$("#emailOK").show();
								$("#emailMT").hide();
								window.email = true;
							}
						}
					});
				}
				else{
					$("#emailEM").hide();
					$("#emailOK").hide();
					$("#emailRE").show();
					$("#emailMT").hide();
					$("#emailM").show();
				}
			}
		}
	});
	$("#password1").focusout(function(){
		if($(this).val() == ''){
			window.pass = false;
			$("#passOK").hide();
			$("#passRE").show();
			$("#passM").hide();
			$("#passMT").show();
		}
		else{
			window.pass = passPtrn.test($(this).val());
			if (window.pass){
				$("#passOK").show();
				$("#passRE").hide();
				$("#passM").hide();
				$("#passMT").hide();
			}
			else{
				$("#passOK").hide();
				$("#passRE").show();
				$("#passM").show();
				$("#passMT").hide();
			}
			if ($("#password1").val() != '' && $("#password2").val() != ''){
				passC = ($("#password1").val() == $("#password2").val())?true:false;
				if (passC){
					$("#passCOK").show();
					$("#passCRE").hide();
					$("#passCM").hide();
					$("#passCMT").hide();
					$("#passMT").hide();
				}
				else{
					$("#passCOK").hide();
					$("#passCRE").show();
					$("#passCM").show();
					$("#passCMT").hide();
					$("#passMT").hide();
				}
			}
		}
	});
	$("#password2").focusout(function(){
		if($(this).val() == ''){
			window.passC = false;
			$("#passCOK").hide();
			$("#passCRE").show();
			$("#passCM").hide();
			$("#passCMT").show();
		}
		else{
			passC = ($("#password1").val() == $("#password2").val())?true:false;
			if (passC){
				$("#passCOK").show();
				$("#passCRE").hide();
				$("#passCM").hide();
				$("#passCMT").hide();
			}
			else{
				$("#passCOK").hide();
				$("#passCRE").show();
				$("#passCM").show();
				$("#passCMT").hide();
			}
		}
	});
	$("#country").focusout(function(){
		$.ajax({
			type: "POST",
			url: "/is_country/",
			data:{
					country:$("#country").val(),
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
				},
			success: function(response, jqXHR) {
				/*console.log(jqXHR);*/
				console.log("counttry");
				console.log(response);
				window.cntr = response.valid;
				if (response.valid){
					$("#cntrOK").show();
					$("#cntrRE").hide();
					$("#cntrM").hide();
				}
				else{
					$("#cntrOK").hide();
					$("#cntrRE").show();
					$("#cntrM").show();
				}
			}
		});
	});
	/*$("#usertype").change(function(){
		//console.log( "2" == ($(this).val())?true:false );
		window.pro =  ("2" == ($(this).val()))?true:false ;
		if (window.pro){
			$("#proOK").show();
			$("#proRE").hide();
			$("#proM").hide();
		}
		else{
			$("#proOK").hide();
			$("#proRE").show();
			$("#proM").show();
		}
	});*/
	$("#submitSignUpForm").click(function(){
		if(window.email && window.lenBoolS && window.pass && window.passC && window.cntr && window.pro && true){
			$("#signUpForm").submit();
		}
	});
	$(document).ready(function(){
		var m = ({{images_list | safe}});
		//console.log(m.length)

		for(var i=0 ; i< m.length ; i++) {
			pointer = '';
			div = "";
			if(m[i]['description'] != ""){
				pointer += 'cursor: pointer;';
				div += '<div class="carousel-caption" style="font-size:18px;cursor: pointer; " ><span style="background-color: #3c3d3f;opacity: 0.5;color: white; -webkit-border-radius: 40px;-moz-border-radius: 40px;border-radius: 40px;padding:6px 40px;margin-top:5px;">'+m[i]['description']+'</span></div>';
			}
			$('.carousel-inner').append('<div class="item" onclick="viewProfile(\''+m[i]['rel_url']+'\')"  style="background:url('+m[i]['image_url']+') no-repeat center center fixed ;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;'+pointer+'">'+div+'</div>')
			$('.item').first().addClass('active');
			$('#carousel').carousel();
		}
		$('#usertype').css('color','#636363');
		/*$('#usertype').css('color','#a0a0a0');*/
		/*$('#usertype').change(function() {
			var current = $('#usertype').val();
			if (current != "") {
				$('#usertype').css('color','#636363');
			} else {
				$('#usertype').css('color','#a0a0a0');
			}
		});*/
		
		
		availableType = ['Club','Coach','Player','Support','Admin'];
		
		$('#usertype').autocomplete({
			source: availableType
		});
		$('#country').autocomplete({
			source: '/countryData/',
		}); 

		link = window.location.href+"Terms_and_conditions";
		$("iframe").attr('src',link);
		
	});
	
	/*$("#top_search").autocomplete({
			source: '/autoCity/',
			minLength:1
		});
	$("#top_search_mobile").autocomplete({
		source: '/autoCity/',
		minLength:1
	});*/
	
	$('.logout').click(function(){
		$(deleteToken);
		window.location.href = "/logout/";
	});
	</script>
	
	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-messaging.js"></script>
	
	<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
	<script>
		// Initialize Firebase
	/****
		var config = {
			apiKey: "AIzaSyBYLibZsxS0SU2nioDWey7ZCseXmuZmtsk",
			authDomain: "localteams-10d87.firebaseapp.com",
			databaseURL: "https://localteams-10d87.firebaseio.com",
			projectId: "localteams-10d87",
			storageBucket: "localteams-10d87.appspot.com",
			messagingSenderId: "717002291244"
			};
	****/
		var config = {
			apiKey: "AIzaSyDGm3GWAgQz7UNxlbVACpSkTBvwYjlGl1E",
			authDomain: "local-teams89.firebaseapp.com",
			databaseURL: "https://local-teams89.firebaseio.com",
			projectId: "local-teams89",
			storageBucket: "local-teams89.appspot.com",
			messagingSenderId: "89668080115"
		};
		firebase.initializeApp(config);
		const messaging = firebase.messaging();

		/***
		console.log("messaging.getToken()");
		console.log(messaging.getToken());
		***/

		// [START refresh_token
		// Callback fired if Instance ID token is updated.
		messaging.onTokenRefresh(function() {
			messaging.getToken().then(function(refreshedToken) {
				console.log('Token refreshed.');
				// Indicate that the new Instance ID token has not yet been sent to the
				// app server.
				setTokenSentToServer(false);
				// Send Instance ID token to app server.
				sendTokenToServer(refreshedToken);
			})
			.catch(function(err) {
				console.log('Unable to retrieve refreshed token ', err);
			});
		});
		// END refresh_token]

		// [START receive_message
		/***
		** Handle incoming messages. Called when:
		* a message is received while the app has focus
		* the user clicks on an app notification created by a sevice worker
		* `messaging.setBackgroundMessageHandler` handler.
		***/
		messaging.onMessage(function(payload) {
			console.log("Message received. ", payload);
			icon = '/static/images/icon/favicon.ico';
			msg = payload.notification.body;
			Lobibox.notify('default', {
				pauseDelayOnHover: true,
				continueDelayOnInactiveTab: false,
				/* onClickUrl: 'http://google.com', */
				size: 'mini',
				position: 'right top',
				msg: msg,
				img: icon,
				title: 'LocalTeams',
			});
		});
		// END receive_message]

		/***
		** Send the Instance ID token your application server, so that it can:
		* send messages back to this app
		* subscribe/unsubscribe the token from topics
		***/
		function sendTokenToServer(currentToken) {
			if (!isTokenSentToServer()) {
				console.log('Sending token to server...');
				// TODO(developer): Send the current token to your server.
				setTokenSentToServer(true);
			}
			else {
				console.log('Token already sent to server so won\'t send it again ' +'unless it changes');
			}
		}

		function isTokenSentToServer() {
			return window.localStorage.getItem('sentToServer') == 1;
		}

		function setTokenSentToServer(sent) {
			window.localStorage.setItem('sentToServer', sent ? 1 : 0);
		}

		function requestPermission() {
			console.log('Requesting permission...\n');
			// [START request_permission
			messaging.requestPermission().then(function() {
				console.log('Notification permission granted.\n');
				return messaging.getToken()
				.then(function(token){
					/* console.log('Token - '+token); */
					$.ajax({
						type:'POST',
						url : '/updateUserToken/',
						data : {'token':token},
						success:function(response){
							console.log("Token saved");
						},
						error: function(err){
							console.log(err);
						}
					});
				})
				.catch(function(err) {
					console.log('getToken err - ', err);
				});
			})
			.catch(function(err) {
				console.log('requestPermission err - ', err);
			});
			// END request_permission]
		}

		function deleteToken() {
			const messaging = firebase.messaging();
			// Delete Instance ID token.
			// [START delete_token
			messaging.getToken().then(function(currentToken) {
				messaging.deleteToken(currentToken).then(function() {
					console.log('Token deleted.');
					setTokenSentToServer(false);
				})
				.catch(function(err) {
					console.log('Unable to delete token. ', err);
				});
				// END delete_token]
			})
			.catch(function(err) {
				console.log('Error retrieving Instance ID token. ', err);
			});
		}
	</script>	
</html>
