{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content=""> 
    <title>Local.Team - Index</title>
	<link rel="shortcut icon" href="{% static 'images/icon/favicon.ico' %}">
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
    <!-- JQuery AutoComplete CSS -->
	<link href="{% static 'css/jquery-ui.css' %}" rel="Stylesheet" />

    <!-- Custom CSS -->
    <link href="{% static 'css/full-slider.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/hide.css' %}" rel="stylesheet" />
	
	<!-- signUpForm -->
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/>
	
	<style>
	{% for image in images_list %}
		.item:nth-child({{image.id}}) {
		background: url(static/images/{{image.image_url}}) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		}
	{% endfor %}
	.form-horizontal .form-group {
		margin-right: 0;
		margin-left: 0;
	}
	.form-horizontal .has-feedback .form-control-feedback {
		top: 7px;
		right: -23px;
		width: 20px;
		border-radius: 50%;
		background: white;
		height: 20px;
	}
	.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
		color: #ffffff !important;
		font-family: Arial;
	}
	.form-group {
		margin-bottom: 15px;
	}
	.form-control-feedback {
		line-height: 21px !important;
	}
	</style>	
</head>
<body>
<header>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="width:250px;margin-top: -4px;">
					<img src ="{% static 'images/icon/LT_Logo.png' %}" class="img-responsive">
				</a>
            </div>
			<div class="visible-xs">
			 <div class="col-md-6 col-sm-6 col-xs-12 pull-right">
					<form class="navbar-form navbar-right">
						  <div class="form-group">
							<input type="text" class="form-control" placeholder="Type your town">
						  </div>
					</form>
			 </div>
			 </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li class="dropdown">
                        <a href="#" class="btn btn-gray btn-lg dropdown-toggle " data-toggle="dropdown" style="border:1px;width:98px;">{{ menu_head }}<img src="{% static 'images/icon/arrow_down_xs.png' %}" ></a>
						<div class="dropdown-menu" id="login-dd">
							<form class="form-signin" action="/login/" method="POST">
								<span id="reauth-email" class="reauth-email"></span>
								<input type="email" name="emailL" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
								<input type="password" id="passwordL" name="passL" placeholder="Password" class="form-control passwordL" required>
									<div class="iconL" style="position: absolute;color: #bbbbbb;top: 82px;right: 27px;z-index: 99;">
										<span id="glyphL" class="glyphicon glyphicon-eye-close"></span>
									</div>
								<div id="remember" class="checkbox">
									<label style="color: black;font-size: 13px;margin-bottom: 20px;">
										<input type="checkbox" value="remember-me">Keep me logged in
										
									</label>
									<a href="#" id="forget_pass" class="forgot-password">
										Forgotten password?
										<span class="divider1"></span>
									</a>
								</div>
								<button type="submit" class="btn btn-lg btn-success btn-arrow" style="width:128px;">Login
									<img src="{% static 'images/icon/arrow_right_xs.png' %}">
								</button>
							</form><!-- /form -->
							<div class="forgot_password" id="forget_div">
								<span class="divider-forget"><img src="{% static 'images/icon/divider2.png' %}"></span>
								<p>Enter your email address and we'll email you instructions to reset your password.</p><br>
								<form>
									<div class="form-group">
										<input type="email" class="form-control" name="email" placeholder="Enter Email Address"/><br>
										<button type="submit" class="btn btn-lg btn-dark-grey btn-arrow" style="width:128px;">Submit
											<img src="{% static 'images/icon/arrow_right_xs.png' %}">
										</button>
									</div>
								</form>
							</div>
						</div>
                    </li>
                 </ul>
				 <div class="col-md-6 col-sm-6 col-xs-12 pull-right hidden-xs">
					<form class="navbar-form navbar-right" action="#">
						  <div class="form-group">
							<input type="text" class="form-control search" placeholder="Type your town">
								<span type="submit" class="search-icon"><img src="{% static '/images/icon/search1.png' %}" ></span>
						  </div>
					</form>
				  </div>
				  
				   <ul class="nav navbar-nav sub-nav visible-xs">
						{% if menu_head == 'Login' %}
						<li><a href="/loginMobile/">{{ menu_head }}</a>
						</li>
						{% else %}
						<li><a href="#">{{ menu_head }}</a>
						</li>
						{% endif %}
						<li class="visible-xs"><a href="#/about">About Us</a>
						</li>
						<li class="visible-xs"><a href="#/advertise">Advertise</a>
						</li>
						<li class="visible-xs"><a href="#/contact">Contact Us</a>
						</li>
						<li class="visible-xs"><a href="#/privacy">Privacy Policy</a>
						</li>
						<li class="visible-xs"><a href="#/terms">Terms and Conditions</a>
						</li>
					</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	
	
	</header>
	

    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
	<!-- Wrapper for slides -->
	<div class="numslide"></div>
		<div class="carousel-inner" role="listbox">
			<div class="item active"></div>
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
			<div class="item"></div>
		</div>
	</div>
	
	
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="main-panel col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-8 col-sm-8 col-xs-12">
							<div class="local-area">
								<h1 class="strapline">Looking for a<br> <span class="bold">football club</span> or <span class="bold">player</span> in your <span class="bold blue">local area?</span></h1>
								<p style="margin-bottom: 40px;font-family:arial">Want to play football? Find football clubs in your local area and be a part of the beautiful game.</p>
								<a href="/advanceSearch" class="btn btn-lg btn-dark-grey btn-arrow">Advanced search <img src="{% static 'images/icon/arrow_right_xs.png' %}"></a>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="sign_up o-fld">
								<h1>Sign up today</h1>
								<form action="/club/" id="signUpForm" method="POST" class="form-horizontal">
									<div class="form-group">
										<input id="email" name="email" type="text" placeholder="Email address" class="form-control" required />
									</div>									
									<div class="other-fld" id="o-fld">
										<div class="form-group">
											<input type="password" id="password1" name="pass" placeholder="Password" class="form-control o-fld" required>
											<!-- <div class="icon" style="position:absolute;color:red;top: 8px;right: 10px;"><span id="glyph" class="glyphicon glyphicon-eye-close o-fld"></span></div> -->
										</div>
								
										<div class="form-group">
											<input type="password" id="password2" name="passC" placeholder="Confirm Password" class="form-control o-fld" required>
											<!-- <div class="iconC" style="position: absolute;color:#bbbbbb;top: 8px;right: 10px;"><span id="glyphC" class="glyphicon glyphicon-eye-close o-fld"></span></div> -->
										</div>
										<div class="form-group" id="countryField">
											<input id="country" name="country" type="text" placeholder="Country" class="form-control o-fld" required>
											<!-- <div><div> -->
										</div>
										<div class="form-group">
											<div class="selectContainer">
												<select class="form-control o-fld" id="usertype" name="usertype" required>
													<option value="" >User Type</option>
												{% for role in profile_list %}
													{% if role.role == 'Club' %}
													<option value="{{role.id}}" >{{role}}</option>
													{% endif %}
												{% endfor %}
												</select>
											</div>
										</div>
									</div>
									<button type="submit" id="submit" class="btn btn-lg btn-success btn-arrow" style="margin-top:10px;" >Submit<img src="{% static 'images/icon/arrow_right_xs.png' %}">
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="nag_arrow">
		<div class="col-md-4 col-md-offset-4 col-xs-12 text-center">
			<div class="col-md-4 col-xs-4 text-right">
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><img src="{% static 'images/icon/arrow_left.png' %}"/></a>
			</div>
			<div class="col-md-4 col-xs-4">
			<h1 class="big-let"> </h1>
			</div>
			<div class="col-md-4 col-xs-4 text-left">
				<a  class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><img src="{% static 'images/icon/arrow_right.png' %}"/></a>
			</div>
			<div class="col-md-12 col-xs-12">
				<div id="bg-description">FirstImage</div>
			</div>
		</div>
	</div>
	
	<!-- <div class="row"> -->
	
	<!-- </div> -->
	<footer>
		<div class="container">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<p style="margin:0;">&copy; <span id="demo"></span> local-teams.com</p>
			</div>	
			<div class="col-md-9 col-sm-9 col-xs-12 hidden-xs">
				<nav role="navigation" class="navbar-footer" style="margin-bottom:0px;">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="footer-copy">
						<div class="pull-right footer-links hidden-xs">
							<a href="#">About Us</a> |
							<a href="#">Advertise</a> |
							<a href="#">Contact Us</a> |
							<a href="#">Privacy Policy</a> |
							<a href="#">Terms and Conditions</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</footer>
    
    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-select.js' %}"></script>
	<script src="{% static 'js/jquery-ui.js' %}" ></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
	<script src="{% static 'js/index.js' %}"></script>
	<script src="{% static 'js/validate.js' %}"></script>
	<script>
	toUpper = function(x){return x.toUpperCase();};
		$(function(){
			// availableType = JSON.parse("{{profile_list|escapejs}}").map(toUpper);
			availableType = ['Club','Coach','Player','Support','Admin'];
			
			$('#usertype').autocomplete({
				source: availableType
			});
			$('#country').autocomplete({
				source: '/countryData/',
			});
		});
	</script>
</body>
</html>
