	<div class="col-md-3 col-sm-3 col-xs-12" id="manager{{manager.0.id}}">
		<div class="squad_player text-center">
			{% if manager.0.manager_img != '' %}
			<label class="checkbox manager" style="background:url({{manager.0.manager_img.url}});background-size:100% 100%;border-radius:8px;border:1px solid #e8e8e8;">
				   <input type="checkbox" value="{{ manager.0.id }}" class="ply_check_m" disabled>
				   <span></span>
			</label>
			{% else %}
			<label class="checkbox manager" style="background:url({{defaultPlayer}});background-size:100% 100%;border-radius:8px;border:1px solid #e8e8e8;">
				   <input type="checkbox" value="{{ manager.0.id }}" class="ply_check_m" disabled>
				   <span></span>
			</label> 
			{% endif %}
			<div class="manager_details">
				<p>{{manager.0.manager_name}}</p>
				<h4>Manager</h4>
				<h3 class="hide">{{manager.0.manager_mob_no}}</h3>
				<h5 class="hide">MANAGER</h5>
			</div>
		</div>
	</div>

	{% for players in players %}
	<div class="col-md-3 col-sm-3 col-xs-6" id="play{{players.2}}">
		<div class="squad_player text-center">
			<label class="checkbox players1" style="background:url({{players.3}});background-size:100% 100%;border-radius:8px;border:1px solid #e8e8e8;">
				   <input type="checkbox" value="{{players.2}}" class="ply_check" disabled>
				   <span></span>
			</label> 
			<div class="player_details">
				<p>{{players.0}}</p>
				<h4>{{players.1 | title}}</h4>
				<h3 class="hide">{{players.5}}</h3>
				<h5 class="hide">{{players.6}}</h5>
				<!-- <input class="hide" value="{{players.6}}" id="plPos"> -->
			</div>
		</div>
	</div>
	{% if players.4 == 2 %}
	<div class="hidden-xs">
		<div class="clearfix"></div>
	</div>
	<div class="visible-xs">
		<div class="clearfix"></div>
	</div>
	{% endif %}
	{% if players.4 == 1 %}
	<div class="visible-xs">
		<div class="clearfix"></div>
	</div>
	{% endif %}
	{% endfor %}
