{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Local.Team - Login</title>
	<link rel="shortcut icon" href="{% static 'images/icon/favicon.ico' %}">
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- JQuery AutoComplete CSS -->
	<link href="{% static 'css/jquery-ui.css' %}" rel="Stylesheet" />
	
    <!-- Custom CSS -->
    <link href="{% static 'css/full-slider.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/spectrum.css' %}" rel="stylesheet">
    <!--<link href="css/jquery.ezdz.css" rel="stylesheet">-->
    <link href="{% static 'css/fix.css' %}" rel="stylesheet">
    <link href="{% static 'css/hide.css' %}" rel="stylesheet">
    <link href="{% static 'css/BootstrapValidator.css' %}" rel="stylesheet">
	
	<!-- clubForm -->
	<!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css"/> -->
	
	<style>
	.errmsg{
		font-size: 14px;
		font-family: Arial;
		width: 100%;
		padding:20px 10px 0px;
		color:red;
	}
	#loader {
		position: fixed;
		left: 43%;
		right: 0;
		bottom: 0;
		z-index: 9999;
		top: 38%;
		border: 8px solid #cecdcd;
		border-radius: 50%;
		border-top: 8px solid #6d6d6d;
		width: 110px;
		height: 110px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
	@media only screen and (min-width : 320px) and (max-width : 480px) {
		#loader {
			left: 42% !important;
			top: 44% !important;
			border: 7px solid #cecdcd !important;
			border-top: 7px solid #6d6d6d !important;
			width: 75px !important;
			height: 75px !important;
		}
	}
@media(max-width:767px){
	.main-panel{margin-top: 46px;}
}
	
	.iconL{
		position: absolute;
		color: #bbb;
		top: 8px;
		right: 8px;
		z-index: 99;
	}.errL-icon{
		position: absolute;
		top: 8px;
		right: -19px;
	}
	.errL-msg{position: relative;color:red;}
	.user-msg{font-family:Arial;margin-bottom: 15px !important;color:red;}	
	#emailLM,#emailLMT{
		position: relative;
		margin-bottom: 6px;
		margin-top: -6px;
		display: block;
	}
	#passLM,#passLMT{
		position: relative;
		margin-bottom: 6px;
	}
</style>
	 <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110256576-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-110256576-1');
	</script>
</head>

<body>
<div id="loader"></div>
<header>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo-img" href="/">
					<img src ="{% static 'images/commen/logo_main.png' %}" class="img-responsive">
				</a>
            </div>
			<div class="visible-xs">
			 <div class="col-md-4 col-sm-4 col-xs-12 pull-right">
					<form id="top_form_m" class="navbar-form navbar-right" action="/advanceSearch/">
					<!-- <form id="top_form_m" class="navbar-form navbar-right" action="#"> -->
						  <div class="">
							<input id="top_search_m" name="search" type="text" class="form-control search" placeholder="Select a Town or City" >
								<span type="submit" id="top_submit_m" class="search-icon"><img src="{% static '/images/icon/search1.png' %}" ></span>
						  </div>
					</form>
			 </div>
			 </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li class="dropdown">
                        <a href="#" class="btn btn-gray btn-lg dropdown-toggle " data-toggle="dropdown">Login<img src="{% static 'images/icon/arrow_down_xs.png' %}"></a>
						<div class="dropdown-menu" id="login-dd">
							<form class="form-signin" style="position:relative">
								<span id="reauth-email" class="reauth-email"></span>
								<input type="email" id="inputEmailD" name="emailL" class="form-control" placeholder="Email address" required autofocus>
								<input type="password" id="passwordLD" name="passL" class="form-control" placeholder="Password" required>
								<div class="iconLD" style="position: absolute;color: #bbbbbb;top: 67px;right: 10px;z-index: 99;">
										<span id="glyphLD" class="glyphicon glyphicon-eye-close"></span>
								</div>
								<div id="remember" class="checkbox">
									<label style="color: black;font-size: 13px;margin-bottom: 20px;">
										<input type="checkbox" value="remember-me">Keep me logged in
										
									</label>
									<a href="" id="forget_pass" class="forgot-password">
										Forgotten password?
										<span class="divider1"></span>
									</a>
								</div>
								<button type="button" class="btn btn-lg btn-success btn-arrow" style="width:128px;">Login
									<img src="{% static 'images/icon/arrow_right_xs.png' %}">
								</button>
							</form><!-- /form -->
							<div class="forgot_password" id="forget_div">
								<span class="divider-forget"><img src="{% static 'images/icon/divider2.png' %}"></span>
								<p>Enter your email address and we'll email you instructions to reset your password.</p><br>
								<form>
									<div class="form-group">
										<input type="text" class="form-control" name="email" placeholder="Enter Email Address"/><br>
										<button type="submit" class="btn btn-lg btn-dark-grey btn-arrow" style="width:128px;">Submit
											<img src="{% static 'images/icon/arrow_right_xs.png' %}">
										</button>
									</div>
								</form>
							</div>
						</div>
                    </li>
                 </ul>
				 <div class="col-md-4 col-sm-4 col-xs-12 pull-right hidden-xs">
					<form id="top_form" class="navbar-form navbar-right" action="/advanceSearch/">
					<!-- <form id="top_form" class="navbar-form navbar-right" action="#"> -->
						  <div class="">
							<input id="top_search" name="search" type="text" class="form-control search" placeholder="Select a Town or City" >
								<span type="submit" id="top_submit" class="search-icon"><img src="{% static '/images/icon/search1.png' %}" ></span>
						  </div>
					</form>
				  </div>
				  
				   <ul class="nav navbar-nav sub-nav visible-xs">
						<li><a style="margin-top:7px;" href="/loginMobile/">Login</a>
						</li>
						<li class="visible-xs"><a style="margin-top:7px;" href="/about_us">About Us</a>
						</li>
						<li class="visible-xs"><a style="margin-top:7px;" href="/contact_us">Contact Us</a>
						</li>
						<li class="visible-xs"><a style="margin-top:7px;" href="/cookie_policy">Cookie Policy</a>
						</li>
						<li class="visible-xs"><a style="margin-top:7px;" href="/privacy_policy">Privacy Policy</a>
						</li>
						<li class="visible-xs"><a style="margin-top:7px;" href="/terms_and_conditions">Terms and Conditions</a>
						</li>
					</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	</header>
	<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
	<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			
		</div>
	</div>
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="main-panel col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-8 col-sm-8 col-xs-12">
							<div class="" id="login-dd" style="position:relative" >
								<form class="form-signin" action="/login/" id="loginForm" method="POST">
									<span id="reauth-email" class="reauth-email"></span>
									<div class="email-log"  style="position:relative">
										<input type="email" name="emailL" id="inputEmail"  class="form-control" placeholder="Email address" required autofocus >
										<div id="emailLMT" style="display:none;"><span class="errL-msg">Please enter email address </span></div>
										<div id="emailLM" style="display:none;"><span class="errL-msg">The email address entered to not valid</span></div>
										<div id="emailLMlen" style="display:none;"><span class="errL-msg">The entered email address is too long...</span></div>
									</div>
									
									<div class="pass-log"  style="position:relative">
										<input type="password" id="passwordL" name="passL" placeholder="Password" class="form-control passwordL"  required>
										<div id="passLMT" style="display:none;"><span class="errL-msg">Please enter password...</span></div>
										<div id="passLM" style="display:none;"><span class="errL-msg">Your password does not meet the recommended criteria...</span></div>
										<div class="iconL" ><span id="glyphL" class="glyphicon glyphicon-eye-close"></span>
										</div>
									</div>
									<div class="form-group" id="userLEM" style="display:none;"><span class="user-msg">The email address or password entered does not match with any records on our database.</span></div>
									<div id="remember" class="checkbox">
										<label style="color: black;font-size: 13px;margin-bottom: 20px;">
											<input type="checkbox" value="remember-me">Keep me logged in
										</label>
										<a href="#" id="forget_pass1" class="forgot-password">
											Forgotten password?
											<span class="divider1"></span>
										</a>
									</div>
									<button type="button" id="loginFormBtn"  class="btn btn-lg btn-success btn-arrow" style="width:128px;">Login
									<img src="{% static 'images/icon/arrow_right_xs.png' %}">
									</button>
								</form><!-- /form -->
								<div class="forgot_password" id="forget_div1" >
									<span class="divider-forget"><img src="{% static 'images/icon/divider2.png' %}"></span>
									<p>Enter your email address and we'll email you instructions to reset your password.</p><br>
									<form>
										<div class="form-group">
											<input type="text" class="form-control" name="email" placeholder="Enter Email Address"/><br>
											<button type="submit" class="btn btn-lg btn-dark-grey btn-arrow" style="width:128px;">Submit
												<img src="{% static 'images/icon/arrow_right_xs.png' %}">
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="nag_arrow">
		<div class="col-md-4 col-md-offset-4  col-xs-12 text-center">
			<div class="col-md-4 col-sm-4 col-xs-4 text-right">
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><img src="{% static 'images/icon/arrow_left.png' %}" /></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
				<h1 class=""></h1>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-left">
				<a  class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><img src="{% static 'images/icon/arrow_right.png' %}" /></a>
			</div>
			<!-- <div class="col-md-12 col-sm-12 col-xs-12">
				<div id="bg-description">First Image Text</div>
			</div> -->
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<p style="margin:0;">&copy; <span id="demo"></span> local-teams.com</p>
			</div>	
			<div class="col-md-9 col-sm-9 col-xs-12 hidden-xs">
				<nav role="navigation" class="navbar-footer" style="margin-bottom:0px;">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="footer-copy">
						<div class="pull-right footer-links hidden-xs">
							<a href="/about_us">About Us</a> |
							<a href="/contact_us">Contact Us</a> |
							<a href="/cookie_policy">Cookie Policy</a> |
							<a href="/privacy_policy">Privacy Policy</a> |
							<a href="/terms_and_conditions">Terms and Conditions</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</footer>
    
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/BootstrapValidator.js' %}"></script>
	<!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"></script> -->
	<script src="{% static 'js/jquery-ui.js' %}" ></script>
	<script src="{% static 'js/common.js' %}"></script>
	<script type="text/javascript">
		$(window).load(function() {
		 $('#loader').fadeOut(1500);
		});
	</script>

	<script type="text/javascript">
	var totalItems = $('.item').length;
	var currentIndex = $('div.active').index() + 1;
	$('.big-let').html(''+currentIndex+'');


	$('.carousel').carousel({
	interval: 15000 
	});

	$('.carousel').on('slid.bs.carousel', function(e) {
	currentIndex = $('div.active').index() + 1;
	$('.big-let').html(''+currentIndex+'');
	});
	
	/*$(document).ready(function(){
			
		});*/
		
	$('.iconLD').click(function () {
	if($('#passwordLD').attr('type') == "text"){
		$('#passwordLD').attr('type', 'password');
		$('#glyphLD').attr('class', 'glyphicon glyphicon-eye-close o-fld');
	}
	else if($('#passwordLD').attr('type') == "password"){
		$('#passwordLD').attr('type', 'text');
		$('#glyphLD').attr('class', 'glyphicon glyphicon-eye-open o-fld');
	}
	});
	$('.iconLM').click(function () {
	if($('#passwordLM').attr('type') == "text"){
		$('#passwordLM').attr('type', 'password');
		$('#glyphLM').attr('class', 'glyphicon glyphicon-eye-close');
	}
	else if($('#passwordLM').attr('type') == "password"){
		$('#passwordLM').attr('type', 'text');
		$('#glyphLM').attr('class', 'glyphicon glyphicon-eye-open');
	}
	});
	
//console.log({{images_list | safe}})
$(document).ready(function(){
	$(".input-md1").click(function(){
		$("#o-fld").slideDown("slow");
		});
	$("#forget_pass").click(function(){
		$("#forget_div").toggle("slow");
		});	
		
	$("#forget_pass1").click(function(){
		$("#forget_div1").toggle("slow");
		});		
		
	var d = new Date();
	var n = d.getFullYear();
	document.getElementById("demo").innerHTML = n;
	
	var m = ({{images_list | safe}});
	//console.log(m.length)

	for(var i=0 ; i< m.length ; i++) {
		console.log(m[i]['image_url'])
		$('.carousel-inner').append('<div class="item" onclick="viewProfile('+m[i]['id']+')" style="background:url('+m[i]['image_url']+') no-repeat center center fixed ;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"><div class="carousel-caption" style="font-size:18px;cursor: pointer; " ><span style="background-color: #3c3d3f;opacity: 0.5;color: white; -webkit-border-radius: 40px;-moz-border-radius: 40px;border-radius: 40px;padding:6px 40px;margin-top:5px;">'+m[i]['clubname']+'</span></div></div>')
		$('.item').first().addClass('active');
		$('#carousel').carousel();
	}
});
function viewProfile(r){
	console.log(r)
	window.open('/viewProfile/'+r);
}

	$("#top_search").autocomplete({
			source: '/autoCity/',
			minLength:1
		});
	$("#top_search_m").autocomplete({
		source: '/autoCity/',
		minLength:1
	});
	$('#top_submit').click(function(){
		document.getElementById("top_form").submit();
	});   

	$('#top_submit_m').click(function(){
		document.getElementById("top_form_m").submit();
	});   
	
</script>
</body>
</html>
