{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Local.Team - Advanced Search</title>
	<link rel="shortcut icon" href="{% static 'images/icon/favicon.ico' %}" />
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="{% static 'css/full-slider.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/spectrum.css' %}" rel="stylesheet" />
    <!--<link href="css/jquery.ezdz.css" rel="stylesheet">-->
    <link href="{% static 'css/hide.css' %}" rel="stylesheet" />
    <link href="{% static 'css/fix.css' %}" rel="stylesheet" />
    <link href="{% static 'css/club-register.css' %}" rel="stylesheet" />
	<link href="{% static 'css/jquery-ui.css' %}" rel="Stylesheet" />
	<link href="{% static 'css/jquery-ui.css' %}" rel="Stylesheet" />
	<style>
	
	#loader {
		position: fixed;
		left: 43%;
		right: 0;
		bottom: 0;
		z-index: 9999;
		top: 38%;
		border: 8px solid #cecdcd;
		border-radius: 50%;
		border-top: 8px solid #6d6d6d;
		width: 110px;
		height: 110px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}
	@-webkit-keyframes spin {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(360deg); }
	}
	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}
	@media only screen and (min-width : 320px) and (max-width : 480px) {
		#loader {
		left: 32% !important;
		top: 44% !important;
		}
	}
	.o-fld{display:none;}
	.iconL{
		position: absolute;
		color: #bbb;
		top: 8px;
		right: 8px;
		z-index: 99;
	}
	.email-icon{
	    position: absolute;
		top: 89px;
		right: 20px;
	}
	.err-icon{
		position: absolute;
		top: 9px;
		right: -20px;
	}
	.errL-icon{
		position: absolute;
		top: 8px;
		right: -19px;
	}
	.errL-msg{position: relative;color:red;}
	.errP-icon{
	    position: relative;
		/*bottom: 11px;*/
		/*left: 3px;*/
		float: left;
		margin-right: 2px;
    margin-top: 2px;
	}
	.others {color:#636363}
	.errL-msg,.user-msg{color: red;bottom: 9px;position: relative;}
	</style>
</head>

<body>
<div id="loader"></div>

	<header>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo-img" href="/" >
					<img src ="{% static 'images/icon/LT_Logo.png' %}" class="img-responsive">
				</a>
            </div>
			
			<div class="visible-xs">
				 <div class="col-md-4 col-sm-4 col-xs-12 pull-right">
						<form id="top_form_mobile" class="navbar-form navbar-right" action="/advanceSearch/">
						  <div class="form-group">
							<input id="top_search_mobile" name="search" type="text" class="form-control search" placeholder="Select a Town or City" >
								<span type="submit" id="top_submit_mobile" class="search-icon"><img src="{% static '/images/icon/search1.png' %}" ></span>
						  </div>
					</form>
				 </div>
			 </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li class="dropdown">
                        <a href="#" class="btn btn-gray btn-lg dropdown-toggle " data-toggle="dropdown" style="border:1px;width:98px;">Login<img src="{% static 'images/icon/arrow_down_xs.png' %}"></a>
						<div class="dropdown-menu" id="login-dd">
							<form class="form-signin" action="/login/" id="loginForm" method="POST">
								<span id="reauth-email" class="reauth-email"></span>
								<div class="email-log"  style="position:relative">
									<input type="email" name="emailL" id="inputEmail"  class="form-control" placeholder="Email address" required autofocus >
									<div id="emailLM" style="display:none;"><span class="errL-msg">The email address entered to not valid</span></div>
									<div id="emailLMlen" style="display:none;"><span class="errL-msg">The entered email address is too long...</span></div>
								</div>
								
								<div class="pass-log"  style="position:relative">
									<input type="password" id="passwordL" name="passL" placeholder="Password" class="form-control passwordL"  required>
									<div id="passLM" style="display:none;"><span class="errL-msg">Your password does not meet the recommended criteria...</span></div>
									<div class="iconL" ><span id="glyphL" class="glyphicon glyphicon-eye-close"></span>
									</div>
								</div>
								<div class="form-group" id="userLEM" style="display:none;"><span class="user-msg">The email address or password entered does not match with any records on our database.</span></div>
								<div id="remember" class="checkbox">
									<label style="color: black;font-size: 13px;margin-bottom: 20px;">
										<input type="checkbox" value="remember-me">Keep me logged in
									</label>
									<a href="#" id="forget_pass" class="forgot-password">
										Forgotten password?
										<span class="divider1"></span>
									</a>
								</div>
								<button type="button" id="loginFormBtn" class="btn btn-lg btn-success btn-arrow" style="width:128px;">Login
									<img src="{% static 'images/icon/arrow_right_xs.png' %}">
								</button>
							</form><!-- /form -->
							<div class="forgot_password" id="forget_div">
								<span class="divider-forget"><img src="{% static 'images/icon/divider2.png' %}"></span>
								<p>Enter your email address and we'll email you instructions to reset your password.</p><br>
								<form>
									<div class="form-group">
										<input type="email" class="form-control" name="email" placeholder="Enter Email Address"/><br>
										<button type="submit" class="btn btn-lg btn-dark-grey btn-arrow" style="width:128px;">Submit
											<img src="{% static 'images/icon/arrow_right_xs.png' %}">
										</button>
									</div>
								</form>
							</div>
						</div>
                    </li>
                 </ul>
				 <div class="col-md-4 col-sm-4 col-xs-12 pull-right hidden-xs">
					<form id="top_form" class="navbar-form navbar-right" action="/advanceSearch/">
						  <div class="form-group">
							<input id="top_search" name="search" type="text" class="form-control search" placeholder="Select a Town or City" >
								<span type="submit" id="top_submit" class="search-icon"><img src="{% static '/images/icon/search1.png' %}" ></span>
						  </div>
					</form>
				  </div>
				  
					<ul class="nav navbar-nav sub-nav visible-xs">
						<li><a href="/loginMobile/">Login</a>
						</li>
						<li class="visible-xs"><a style="margin-top:7px;" href="#">About Us</a>
						</li>
						<li class="visible-xs"><a style="margin-top:7px;" href="#">Advertise</a>
						</li>
						<li class="visible-xs"><a style="margin-top:7px;" href="#">Contact Us</a>
						</li>
						<li class="visible-xs"><a style="margin-top:7px;" href="#">Privacy Policy</a>
						</li>
						<li class="visible-xs"><a style="margin-top:7px;" href="#">Terms and Conditions</a>
						</li>
					</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	
	
	</header>
	<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
	<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			
		</div>
	</div>
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="main-panel col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-9 col-sm-10 col-xs-12 first-left">
							<div class="adv-search">
								<h3>Advance Search</h3>
								<div class="row">
									<div class="col-md-4 col-sm-4 col-xs-12">
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Your Selection</span>
											</div>
										</div>
										<div class="selection-div">
											<!-- <form method="POST" action=""> -->
												<div class="form-group">
													<div class="selectContainer">
														<select class="form-control" id="usertype" name="usertype" required>
															<option value="" style="color:#a0a0a0">Profile</option>
														{% for role in profile_list %}
															{% if role.role == 'Club' %}
															<option value="{{role.id}}" class="others">{{role}}</option>
															{% endif %}
														{% endfor %}
														</select>
													</div>
												</div>
												<div class="o-fld">
													<div class="form-group">
														<input type="text" class="form-control input-control" id="club_name" placeholder="Club name">
													</div>
													<div class="form-group">
														<div class="selectContainer">
															<select class="form-control o-fld" id="gender" name="gender">
																<option value="" style="color:#a0a0a0">Gender</option>
																{% for gens in gender %}
																  
																	<option value="{{gens.1}}" class="others">{{gens.0}}</option>
																  {% endfor %}
															</select>
														</div>
													</div>
													<div class="form-group">
														<div class="selectContainer">
															<select class="form-control" id="age_group">
															<option value = "">Age group</option>
															{% for age in age_group %}
															<option value="{{age.1}}" class="others">{{age.0}}</option>
															{% endfor %}  
															</select>
														</div> 
													</div> 
													<div class="form-group">
														<input type="text" class="form-control input-control" id="club_town" placeholder="Town/City">
													</div>
													<div class="form-group">
														<input type="text" class="form-control input-control" id="club_county" placeholder="County">
													</div>
													<div class="form-group">
														<input type="text" class="form-control input-control" id="club_country" placeholder="Country">
														<input type="text" class="form-control input-control" id="club_country_id" style="display: none" placeholder="Country">
													</div>
													<div class="form-group">
														<input type="text" class="form-control input-control" id="club_postal_code" placeholder="Postal Code">
														<div class="hide" id="pcM" style="width:100%;">
															<img src ="{% static 'images/icon/Validation_cross.png' %}" height="14px" width="14px" class="img-responsive errP-icon" /> 
															<div style="color:red;position: relative;margin-left: 16px;">Post code entered is incomplete</div>
														</div>
														
													</div>
													<!-- <div class="form-group"> -->
														<!-- <input type="text" class="form-control input-control" id="distance" placeholder="Distance (miles)"> -->
													<!-- </div> -->

													<div class="form-group">
														<div class="selectContainer">
															<select class="form-control" id="distance">
																<option value="5" style="color:#a0a0a0">Distance (In Miles)</option>
																<option value="5" class="others">5 Miles</option>
																<option value="10" class="others">10 Miles</option>
																<option value="15" class="others">15 Miles</option>
																<option value="20" class="others">20 Miles</option>
															</select>
														</div>
													</div>
												</div>

												<!-- <button type="button" onclick="yes()" id = "submit_data" class="btn btn-lg btn-success right btn-arrow" style="  float: right;margin-top: 15px;">Search <img src="{% static 'images/icon/arrow_right_xs.png' %}" ></button> -->
												<button type="button" onclick="" id = "submit_data" class="btn btn-lg btn-success right btn-arrow" style="  float: right;margin-top: 15px;">Search <img src="{% static 'images/icon/arrow_right_xs.png' %}" ></button>
											<!-- </form> -->
										</div>
									</div>
									
									{% if search %}
									<div id="allnone" class="col-md-8 col-sm-8 col-xs-12">
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Search Results </span>
											</div>
										</div>
										<div class="result-list">
											<div id="search-default_id" class="search-default" style="display: none">
												<div class="col-md-9  col-sm-10 col-xs-9">
												<p>Refine your search by selecting the filters on the left hand side</p>
												<img src="{% static 'images/icon/back-arrow.png' %}"/>
												</div>
												<div class="col-md-3 col-sm-2 col-xs-3">
													<img src="{% static 'images/icon/Search.png' %}" style="float:right;"/>
												</div>
											</div>
											<div id ="search-list1" class="search-list" style="display: block">
											{% if search.0.0 == 'none' %}									
												<div class="media">
												   <div> I'm sorry, no clubs have registered on Local Teams based on your search query</div>
												</div>
											{% else %}
												{% for ss in search %}	
												<div class="media" onclick="viewProfile({{ss.4}})">
													<div class="media-left">
														<a href="#"><img src="{{ss.3}}" class="media-object" alt="{{ss.0}}"></a>
													</div>
													<div class="media-body">
														<h4 class="media-heading">{{ss.0}}</h4>
														<span>{{ss.1}},{{ss.5}}</span><br>
														<span>{{ss.2}}</span>
													</div>
												</div>
												{% endfor %}										
											{% endif %}
											</div>
											<div id ="search-list" class="search-list">
												<div id="datacatch"></div>		
											</div>
										</div>
									</div>
									{% else %}
									<div class="col-md-8 col-sm-8 col-xs-12">
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Search Results </span>
											</div>
										</div>
										<div class="result-list">
											<div id="search-default_id" class="search-default">
												<div class="col-md-9  col-sm-10 col-xs-9">
												<p>Refine your search by selecting the filters on the left hand side</p>
												<img src="{% static 'images/icon/back-arrow.png' %}"/>
												</div>
												<div class="col-md-3 col-sm-2 col-xs-3">
													<img src="{% static 'images/icon/Search.png' %}" style="float:right;"/>
												</div>
											</div>
											<div id ="search-list" class="search-list">
												<div id="datacatch"></div>	
											</div>
										</div>
									</div>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-2 hidden-xs">
							<div class="ad-inner-container" style="background-color:white;max-height:1024px;min-height:768px;">
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- </div> -->
	
	<div class="nag_arrow">
		<div class="col-md-4 col-md-offset-4  col-xs-12 text-center">
			<div class="col-md-4 col-sm-4 col-xs-4 text-right">
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><img src="{% static 'images/icon/arrow_left.png' %}" /></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
				<h1 class=""></h1>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-left">
				<a  class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><img src="{% static 'images/icon/arrow_right.png' %}" /></a>
			</div>
			<!-- <div class="col-md-12 col-sm-12 col-xs-12">
				<div id="bg-description">First Image Text</div>
			</div> -->
		</div>
	</div>
	
	<footer>
		<div class="container">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<p style="margin:0;">&copy; <span id="demo">2014</span> local-teams.com</p>
			</div>	
			<div class="col-md-9 col-sm-9 col-xs-12 hidden-xs">
				<nav role="navigation" class="navbar-footer" style="margin-bottom:0px;">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="footer-copy">
						<div class="pull-right footer-links hidden-xs">
							<a href="#">About Us</a> |
							<a href="#">Advertise</a> |
							<a href="#">Contact Us</a> |
							<a href="#">Privacy Policy</a> |
							<a href="#">Terms and Conditions</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</footer>
    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-select.js' %}"></script>
	<script src="{% static 'js/jquery-ui.js' %}" ></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/js/bootstrapValidator.min.js"> </script>
	<script src="{% static 'js/index.js' %}"></script>
	<script src="{% static 'js/validate.js' %}"></script>
	<!-- <script src="{% static 'js/adv-search.js' %}"></script> -->
	<script>
		$(window).load(function() {
			$('#loader').fadeOut(1500);
		});
	</script>
	<script>
	var pc = true;
	var emailPtrn = /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z0-9]{2,3}$/;
	var passPtrn = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!+&$£@*]).{8,20}$/;
	var emailL = false;
	var passL = false;
	var lenBool = false;
	$("#inputEmail").focusout(function(){
		//console.log(emailPtrn.test($(this).val()));
		emailL = emailPtrn.test($(this).val());
		len = $(this).val().length;
		if (emailL){
			$("#emailLOK").show();
			$("#emailLRE").hide();
			$("#emailLM").hide();
		}
		else{
			$("#emailLOK").hide();
			$("#emailLRE").show();
			$("#emailLM").show();
		}
		if (len > 254){
			window.lenBool = false;
			$("#emailLMlen").show();
		}
		else{
			window.lenBool = true;
			$("#emailLMlen").hide();
		}
	});
	$("#passwordL").focusout(function(){
		//console.log(passPtrn.test($(this).val()));
		passL = passPtrn.test($(this).val());
		if (passL){
			$("#passLOK").show();
			$("#passLRE").hide();
			$("#passLM").hide();
		}
		else{
			$("#passLOK").hide();
			$("#passLRE").show();
			$("#passLM").show();
		}
	});
	$("#passwordL").keypress(function (e) {
		var key = e.which;
		if(key == 13){	// the enter key code
			window.passL = passPtrn.test($(this).val());
			if (passL){
				/*$("#passLOK").show();
				$("#passLRE").hide();*/
				$("#passLM").hide();
				$("#userLEM").hide();
				$("#loginFormBtn").click();
			}
			else{
				/*$("#passLOK").hide();
				$("#passLRE").show();*/
				$("#passLM").show();
				$("#userLEM").hide();
			}
		}
	});

		$("#loginFormBtn").click(function(){debugger;
		if(window.emailL && window.passL && window.lenBool && true){
		console.log($("#inputEmail").val());
		console.log($("#passwordL").val());
			$.ajax({
				type: "POST",
				url: "/user_avail/",
				data:{
						usernameLD:$("#inputEmail").val(),
						passwordLD:$("#passwordL").val(),
						csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
					},
				success: function(response, jqXHR) {
					console.log(jqXHR);
					console.log(response);
					if (response.valid){
						$("#userLEM").hide();
						/*email = false;*/
						$("#loginForm").submit();
					}
					else{
						$("#userLEM").show();
						/*email = true;*/
					}
				}
			});
		}
	});
	/***** Autocomplete *****/
	/*** Club ***/
	clubs = JSON.parse("{{allclubs|escapejs}}");
	$('#club_name').autocomplete({
		source: function( request, response ) {
				var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
				response( $.grep( clubs, function( item ){
					return matcher.test( item );
				}) );
			}
    });
	/*** Usertype ***/
	$("#usertype").change(function(){
		if($("#usertype").val() == "2"){
			$(".o-fld").show('slow');
			$("#submit_data").attr('onclick','yes()');
		}
		else{
			$(".o-fld").hide('slow');
			$("#submit_data").attr('onclick','');
		}
	});
	/*** County ***/
	allcounty = JSON.parse("{{counties|escapejs}}");
   $('#club_county').autocomplete({
    	source : function( request, response ) {
			var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( request.term ), "i" );
			response( $.grep( allcounty, function( item ){
				return matcher.test( item );
			}) );
		}
    });
	/*** City Autocomplete ***/
	$("#club_town").autocomplete({
		source: '/autoCity/'
	});
	/*** Country Autocomplete ***/
	$("#club_country").autocomplete({
		source: '/countryData/',
	});
	/*** Club City Autocomplete ***/
	$("#top_search").autocomplete({
		source: '/autoCity/',
	});
	/*** Club City Autocomplete (mobile view) ***/
	$("#top_search_mobile").autocomplete({
		source: '/autoCity/',
	});
	/***** End Autocomplete *****/
	
	$('.carousel').carousel({
        interval: 15000 
    });
	
	$('#gender option').click(function(){
		console.log($('#selected').text($(this).text()));
	});

    function topcities(){
		var top = $('#top_search').val();
		$.ajax({
			type: "POST",
			url: "/showmap/",
			data:{
				city : top
			},
			success: function(response) {
				var response = JSON.parse(response);
				if($('#search-list1').val() != undefined){
					document.getElementById('search-list1').style.display = "none";
					$('#search-list1').html('');
				}
				document.getElementById('search-default_id').style.display = "none";
				document.getElementById('search-list').style.display = "block";
				$('#datacatch').html('');
				if(response.length == 0){
					$('#datacatch').append(	'<div class="media">'+
					"<div> I'm sorry, no clubs have registered on Local Teams\n"+
					"from the town / city you have selected.\n"+
					'</div></div>');
				}
				else{
					var response = response;
					for(var i=0;i<response.length;i++){
						$('#datacatch').append(	'<div class="media" onclick="viewProfile('+response[i][4]+')">'+
						'<div class="media-left">'+
						'<a href="#">'+
						'<img src="'+response[i][3]+'"'+
						'class="media-object" alt="'+response[i][0]+'">\n'+
						'</a>\n'+
						'</div>\n'+
						'<div class="media-body">\n'+
						'<h4 class="media-heading">'+response[i][0]+'</h4>\n'+
						'<span>'+response[i][1]+','+response[i][5]+'</span><br>\n'+
						'<span>'+response[i][2]+'</span>\n'+
						'</div>\n'+
						'</div>');
					}
				} 
			},					
			error:function(response){
				if($('#search-list1').val() != undefined){
					document.getElementById('search-list1').style.display = "none";
					$('#search-list1').html('');
				}
				document.getElementById('search-default_id').style.display = "none";
				document.getElementById('search-list').style.display = "block";
				$('#datacatch').html('');
				$('#datacatch').append('<div class="media">'+
				"<div> I'm sorry, no clubs have registered on Local Teams\n"+
				"from the town / city you have selected.\n"+
				'</div></div>');
			}
		});
	}

	$('#club_country').focusout(function(){
		var selectedcountry = $('#club_country').val();
		if(selectedcountry.length >= 3){
			$.ajax({
				type: "POST",
				url: "/popcountry/",
				data:{
					selectedcountry : selectedcountry
				},
				success: function(response) {
					var cities = JSON.parse(response);
					if(response.length == 0){
						document.getElementById('club_country').value = "";
					}
					else{
					   $('#club_town').autocomplete({
							source : '/autoCity/'
						});
					}
				},
				error:function(response){
					console.log(response);
				}
			});
		}
	});
	
	function yes(){
		$('#loader').show();
		if($('#club_postal_code').val() != ""){
			console.log($('#club_postal_code').val())
			$.ajax({
				type: "POST",
				url: "/is_postcode/",
				data:{
					postcode:$("#club_postal_code").val(),
					csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
				},
				success: function(response, jqXHR) {
					console.log(jqXHR);
					console.log(response);
					window.pc = response.valid;
					if (response.valid == true){
						window.pc = response.valid;
						$("#pcRE").attr('class','hide');
						$("#pcM").attr('class','hide');
						advancesearch();
					}
					else{
						window.pc = response.valid;
						$("#pcRE").attr('class','show');
						$("#pcM").attr('class','show');
					}
				}
			});
		}
		else{
			$("#pcRE").attr('class','hide');
			$("#pcM").attr('class','hide');
			advancesearch();
		}
	}
	
	function advancesearch(){
		$('#loader').fadeOut(3000);
		var clubname = $('#club_name').val();
		var gender = $('#gender').val();
		var age = $('#age_group').val();
		var country = $('#club_country').val();
		var city = $('#club_town').val();
		var county = $('#club_county').val();
		var distance = $('#distance').val();
		var postal_code = $('#club_postal_code').val();
		
		if(postal_code.length >= 4){
			$.ajax({
				type: "POST",
				url: "/distance_search/",
				data:{
					distance: distance,
					postal_code : postal_code,
					clubclubname : clubname,
					gender : gender,
					age : age,
					country : country,
					city : city,
					county : county,
				},
				success: function(response) {
					if($('#search-list1').val() != undefined){
						document.getElementById('search-list1').style.display = "none";
						$('#search-list1').html('');
					}
					document.getElementById('search-default_id').style.display = "none";
					document.getElementById('search-list').style.display = "block";
					$('#datacatch').html('');
					if(JSON.parse(response).length == 0){
						$('#datacatch').append(	'<div class="media">'+
						"<div> I'm sorry, no clubs have registered on Local Teams\n"+
						"based on your search query.\n"+
						'</div></div>');
					}
					else{
						if(JSON.parse(response).length > 5){
							var response = JSON.parse(response);
							for(var i=0;i<response.length;i++){
								$('#datacatch').append(	'<div class="media" onclick="viewProfile('+response[i]['cid']+')">'+
								'<div class="media-left">'+
								'<a href="#">'+
								'<img src="'+response[i]['logophoto']+'"'+
								'class="media-object" alt="Sample Image">\n'+
								'</a>\n'+
								'</div>\n'+
								'<div class="media-body">\n'+
								'<h4 class="media-heading">'+response[i]['cname']+'</h4>\n'+
								'<span>'+response[i]['cityname']+','+response[i]['county_name']+'</span><br>\n'+
								'<span>'+response[i]['distance']+ ' miles from '+response[i]['postalc']+'</span>\n'+
								'</div>\n'+
								'</div>');
							}
						}
						else{
							var response = JSON.parse(response);
								for(var i=0;i<response.length;i++){												
								$('#datacatch').append(	'<div class="media" onclick="viewProfile('+response[i]['cid']+')">'+
								'<div class="media-left">'+
								'<a href="#">'+
								'<img src="'+response[i]['logophoto']+'"'+
								'class="media-object" alt="Sample Image">\n'+
								'</a>\n'+
								'</div>\n'+
								'<div class="media-body">\n'+
								'<h4 class="media-heading">'+response[i]['cname']+'</h4>\n'+
								'<span>'+response[i]['cityname']+','+response[i]['county_name']+'</span><br>\n'+
								'<span>'+response[i]['distance']+ ' miles from '+response[i]['postalc']+'</span>\n'+
								'</div>\n'+
								'</div>');
							}
						}				
					}
				},
				error:function(response){
					console.log(response);
					if($('#search-list1').val() != undefined)
					{
					document.getElementById('search-list1').style.display = "none";
				    $('#search-list1').html('');
					}
					document.getElementById('search-default_id').style.display = "none";
					document.getElementById('search-list').style.display = "block";
					$('#datacatch').html('');
					$('#datacatch').append(	'<div class="media">'+
					"<div> I'm sorry, no clubs have registered on Local Teams\n"+
					"based on your search query.\n"+
					'</div></div>');
				}
			});
		}
    	else{
			$.ajax({	
				type: "POST",
				url: "/adv_search/",
				data:{
					clubname : clubname,
					gender : gender,
					age : age,
					country : country,
					city : city,
					county : county
				},
				success: function(response) {
					console.log(JSON.parse(response));
					if($('#search-list1').val() != undefined){
						document.getElementById('search-list1').style.display = "none";
						$('#search-list1').html('');
					}
					document.getElementById('search-default_id').style.display = "none";
					document.getElementById('search-list').style.display = "block";
					$('#datacatch').html('');
					if(JSON.parse(response).length == 0){
						$('#datacatch').append(	'<div class="media">'+
						"<div> I'm sorry, no clubs have registered on Local Teams\n"+
						"based on your search query.\n"+
						'</div></div>');
					}
					else{
						var response = JSON.parse(response);
						for(var i=0;i<response.length;i++){
							$('#datacatch').append(	'<div class="media" onclick="viewProfile('+response[i][4]+')">'+
							'<div class="media-left">'+
							'<a href="#">'+
							'<img src="'+response[i][3]+'"'+
							'class="media-object" alt="Sample Image">\n'+
							'</a>\n'+
							'</div>\n'+
							'<div class="media-body">\n'+
							'<h4 class="media-heading">'+response[i][0]+'</h4>\n'+
							'<span>'+response[i][1]+','+response[i][5]+'</span><br>\n'+
							'<span>'+response[i][2]+'</span>\n'+
							'</div>\n'+
							'</div>');			
						}
					}
				},
				error:function(response){
					console.log(response);
					if($('#search-list1').val() != undefined){
						document.getElementById('search-list1').style.display = "none";
						$('#search-list1').html('');
					}
					document.getElementById('search-default_id').style.display = "none";
					document.getElementById('search-list').style.display = "block";
					$('#datacatch').html('');
					$('#datacatch').append(	'<div class="media">'+
					"<div> I'm sorry, no clubs have registered on Local Teams\n"+
					"based on your search query.\n"+
					'</div></div>');
				}
			});
    	}
	}
	
	$("#club_postal_code").autocomplete({
		source: '/postcodes/',
		minLength:3
	});

	$("#club_postal_code").change(function(){
		$.ajax({
			type: "POST",
			url: "/is_postcode/",
			data:{
				country:$("#club_postal_code").val(),
				csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
			},
			success: function(response, jqXHR) {
				console.log(jqXHR);
				console.log(response);
				window.pc = response.valid;
				if (response.valid){
					window.pc = response.valid;
					$("#pcRE").hide();
					$("#pcM").hide();
				}
				else{
					window.pc = response.valid;
					$("#pcRE").show();
					$("#pcM").show();
				}
			}
		});
	});
	
	$('#top_search').keypress(function(event) {
		if (event.keyCode == 13) {
			event.preventDefault();
		}
	});
	
	$('#top_submit').click(function(){
		document.getElementById("top_form").submit();
	});
	
	$('#top_submit_mobile').click(function(){
		document.getElementById("top_form_mobile").submit();
	});
	
	$(document).ready(function(){
		var m = ({{images_list | safe}});
		for(var i=0 ; i< m.length ; i++) {
			$('.carousel-inner').append('<div class="item" onclick="viewProfile('+m[i]['id']+')" style="background:url('+m[i]['image_url']+') no-repeat center center fixed ;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"><div class="carousel-caption" style="font-size:18px;cursor: pointer; " ><span style="background-color: #3c3d3f;opacity: 0.5;color: white; -webkit-border-radius: 40px;-moz-border-radius: 40px;border-radius: 40px;padding:6px 40px;margin-top:5px;">'+m[i]['clubname']+'</span></div></div>')
			$('.item').first().addClass('active');
			$('#carousel').carousel();
		}
		$('#usertype').css('color','#a0a0a0');
		$('#usertype').change(function() {
			var current = $('#usertype').val();
			if (current != "") {
				$('#usertype').css('color','#636363');
			} else {
				$('#usertype').css('color','#a0a0a0');
			}
		});
		$('#gender').css('color','#a0a0a0');
		$('#gender').change(function() {
			var current = $('#gender').val();
			if (current != "") {
				$('#gender').css('color','#636363');
			} else {
				$('#gender').css('color','#a0a0a0');
			}
		});
		$('#age_group').css('color','#a0a0a0');
		$('#age_group').change(function() {
			var current = $('#age_group').val();
			if (current != "") {
				$('#age_group').css('color','#636363');
			} else {
				$('#age_group').css('color','#a0a0a0');
			}
		});
		$('#distance').css('color','#a0a0a0');
		$('#distance').change(function() {
			var current = $('#distance').val();
			if (current == "3") {
				$('#distance').css('color','#a0a0a0');
			} else {
				$('#distance').css('color','#636363');
			}
		});
	});
	function viewProfile(r){
		console.log(r)
		window.open('/viewProfile/'+r,'_blank');
	}
	</script>
	
</body>
</html>

