{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Local.Team - Club Squad</title>
	<link rel="shortcut icon" href="{% static 'images/icon/favicon.ico' %}">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- JQuery AutoComplete CSS -->
	<link href="{% static 'css/jquery-ui.css' %}" rel="Stylesheet" />
    <!-- Custom CSS -->
    <link href="{% static 'css/full-slider.css' %}" rel="stylesheet">
     <link href="{% static 'css/hide.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	  	<style>
		#loader {
		position: fixed;
		left: 43%;
		right: 0;
		bottom: 0;
		z-index: 9999;
		top: 38%;
		border: 8px solid #cecdcd;
		border-radius: 50%;
		border-top: 8px solid #6d6d6d;
		width: 110px;
		height: 110px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}
	@-webkit-keyframes spin {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(360deg); }
	}
	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}
	@media only screen and (min-width : 320px) and (max-width : 480px) {
		#loader {
		left: 32% !important;
		top: 44% !important;
		}
	}
		
		.image-editor .cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 270px;
        height: 270px;
      }

      .image-editor1 .cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 270px;
        height: 270px;
      }
      .image-editor2 .cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin-top: 7px;
        width: 270px;
        height: 270px;
      }

	</style>
</head>

<body>
<div id="loader"></div>
<header>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="width:250px;margin-top: -4px;">
					<img src ="{% static 'images/icon/LT_Logo.png' %}" class="img-responsive">
				</a>
            </div>
			<ul class="nav navbar-nav visible-md  visible-lg">
				<li>
					<a href="#" class="notification-fan">
						<img src="{% static 'images/icon/fan_wave.png' %}" />
						<div class='notification-text'>21</div>
					</a>
				</li>
				<li>
					<a href="#" class="notification-message">
						<img src="{% static 'images/icon/message.png' %}" />
						<div class="notification-text">3</div>
					</a>
				</li>
			</ul>
			<div class="visible-xs">
				 <div class="col-md-4 col-sm-4 col-xs-12 pull-right">
					<form id="top_form_mobile" class="navbar-form navbar-right" action="/advanceSearch/">
						  <div class="form-group">
							<input id="top_search_mobile" name="search" type="text" class="form-control search" placeholder="Select a Town or City" >
								<span type="submit" id="top_submit_mobile" class="search-icon"><img src="{% static '/images/icon/search1.png' %}" ></span>
						  </div>
					</form>
				 </div>
			 </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li class="dropdown">
                        <a href="#" class="btn btn-gray btn-lg dropdown-toggle" data-toggle="dropdown"  style="border:1px;">{{ menu_head }}<img src="{% static 'images/icon/arrow_down_xs.png' %}"></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" id="setting">
						  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Account Information</a></li>
						  <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Rest Option</a></li> -->
						  <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout/">Logout</a></li>
						</ul>
					 </li>
                 </ul>
				 <div class="col-md-4 col-sm-4 col-xs-12 pull-right hidden-xs">
					<form id="top_form" class="navbar-form navbar-right" action="/advanceSearch/">
						  <div class="form-group">
							<input id="top_search" name="search" type="text" class="form-control search" placeholder="Select a Town or City" >
								<span type="submit" id="top_submit" class="search-icon"><img src="{% static '/images/icon/search1.png' %}" ></span>
						  </div>
					</form>
				  </div>
				  
				   <ul class="nav navbar-nav sub-nav visible-xs">
						<li class="visible-xs"><a href="#">Settings</a></li>
						<li class="visible-xs"><a href="#">Rest Option</a></li>
						<li class="visible-xs"><a href="#">About Us</a>	</li>
						<li class="visible-xs"><a href="#">Advertise</a></li>
						<li class="visible-xs"><a href="#">Contact Us</a></li>
						<li class="visible-xs"><a href="#">Privacy Policy</a></li>
						<li class="visible-xs"><a href="#">Terms and Conditions</a></li>
						<li class="visible-xs"><a href="/logout/">Logout</a></li>
					</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	
	
	</header>
	
	
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
	<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
		</div>
	</div>
	
	<div class="wrapper">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-8 col-xs-12">
						<ul class="list-top">
							<li>
								<a href="/clubProfile/" id="profile">
									Profile<span class="divider"></span>
								</a>
							</li>
							<li>
								<a href="" id="wall">
									Wall<span class="divider"></span>
								</a>
							</li>
							<li>
								<a href="/club_sqad/" id="squad" class="active_pro">
									Squad<span class="divider"></span>
								</a>
							</li>
							<li>
								<a href="/clubFix/" id="fixture">
									Fixtures<span class="divider"></span>
								</a>
							</li>
							<li>
								<a href="/clubNotif/" id="notification">
									Notification
								</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12" style="padding:0">
						<ul class="visible-xs visible-sm noty-div">
							<li>
								<a href="#" class="">
									<img src="{% static 'images/icon/notif_fan_sm.png' %}">
									<div class="notification-text">21</div>
								</a>
							</li>
							<li>
								<a href="#" class="">
									<img src="{% static 'images/icon/notif_em_sm.png' %}">
									<div class="notification-text1">3</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="main-panel col-md-12 col-sm-12 col-xs-12" style="margin-top:0;">
					<div class="row">
						<div class="col-md-9 col-sm-9 col-xs-12 first-left">
							<div class="profile_title">
								<h3 onclick="gg()">{{response.club_name}}</h3>
								<button class="btn-support pull-right" id="sqaud-edit" onclick="show_check()">E<span class="hidden-xs">dit</span></button>
								<button class="btn-support pull-right hide" id="sqaud-delete" onclick="delete_check()">S<span class="hidden-xs">ave</span></button>
							</div>
							<div class="history-div">
								<div class="small-strip">
									<div class="col-md-7 col-sm-6 col-xs-5">
										<span class="section-title">Team Squad</span>
									</div>
									<div class="col-md-5 col-sm-6 col-xs-7">
										<select class="form-control" id="teamid" >
											<option value="">Select Team</option>
											{% for teams in teams %}
											  
												<option value="{{teams.1}}">{{teams.0}}</option>
											  {% endfor %}
										</select>
									</div>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 new-his">
								<h4 id="msg_for_manager">{{msg}}</h4>
									<div class="row edit_box">
										<div class="col-md-6 col-sm-6 col-xs-12">
											<p>Select a player to update or delete.</p>
											<p>Add a player by clicking on the<img src="{% static 'images/icon/plus.png' %}" style="margin-left: 4px;margin-right: 4px;"/>symbol below</p>
											<div id="updateErr" style="color:red;" class="hide" ><img style="float:left;margin-right:5px;top:2px;position:relative;" src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon" /> Please select atleast/only one player to update</div>
										</div>
										<div class="col-md-6 col-sm-6 col-xs-12 text-right" style="margin-top: 2px;">
											<button class="btn-update btn-md text-left" onclick="update_click()">Update</button>
											<button class="btn-delete btn-md text-left" onclick="delete_click()">Delete</button>
											<button class="btn-update btn-md text-left hide" style="margin-right: 0px" id="undo_btn" onclick="undo_click()">Undo</button>
										</div>
									</div>
									<div class="row squad_select">
											
									</div>
									<div class="clearfix"></div>
									<h5 id="managertext" style="color:red;visibility: hidden">*Add a manager for this team</h5>
									<form id="form_manager" method="POST" action="/addmanager/">
									<div class="row add_player " id="formanager" style="display: none">
										    <div class="col-md-3 col-sm-3 col-xs-8" style="position: relative;">
												<div class="upload_player text-center">
													<!-- <img src="{% static 'images/icon/add_player.png' %}" class="img-responsive"/>
													<span class="add-pl-btn">
														<img src="{% static 'images/icon/plus_bg.png' %}"/>
													</span>
													<div class="add_line">
														<p>Click to upload photo</p>
														<img src="{% static 'images/icon/arrow_down_xs_grey.png' %}"/>
													</div> -->
													<img onclick="addlogo_m()" style="border-radius: 5px" id="m_logo_upload_pic" src="{% static 'images/icon/add_player.png' %}" class="img-responsive">
													<input id="m_logo_upload_text" name="m_logo" type="hidden"/>

												</div>
												<img style="position: absolute;bottom: 93px;" src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="m_logo_err" /><label id="m_logo_err-text" style="margin-left: 15px;" class="hide">Please Provide Profile Picture</label>
												<div class="add-name" onclick="show_manager_form()">
													<h4>Add Manager</h4>
												</div>
											</div>
											<div class="col-md-5 col-sm-5 col-xs-12 first-right" id="manager_div" style="display: none">
												<div class="add_player_field">
													
														<div class="form-group" style="position: relative;">
															<input id="ply_name_m" name="manager_name" type="text" placeholder="Name" class="form-control input-md">
															<img style="position: absolute;margin-top: 2px" src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="m_name_err" /><label id="m_name_err-text" style="margin-left: 15px;"	 class="hide">Please Provide Name</label>
														</div>
														<div class="form-group">
															<input id="ply_position_m" name="position_m" type="text" placeholder="Manager" class="form-control input-md" readonly>
														</div>
														<div class="form-group" style="position: relative;">
															<input type="number" id="ply_mobile_m" name="manager_mobile" placeholder="Mobile Number" class="form-control input-md" >
															<img style="position: absolute;margin-top: 2px" src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="m_mobile_err" /><label id="m_mobile_err-text" style="margin-left: 15px;" class="hide">Please Provide Mobile</label>
															<img style="position: absolute;margin-top: 2px" src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="m_mobile_err2" /><label id="m_mobile_err2-text" style="margin-left: 15px;" class="hide">Please Provide Valid Mobile Number with 11 digits</label> 
														</div><br>
														<button type="button" onclick="addmanagerbutton()" class="btn btn-md btn-success btn-arrow" style="padding: 8px 15px;" >Add Manager<img src="{% static 'images/icon/arrow_right_xs.png' %}"></button>
														
													
												</div>
											</div>
											<div class="col-md-4 col-sm-4 col-xs-12"></div>
											
										</div>
										</form>
										<div class="row add_player" id="forplayer" style="display: none">
										    <div class="col-md-3 col-sm-3 col-xs-8">
												<div class="upload_player text-center">
													<!-- <img src="{% static 'images/icon/add_player.png' %}" class="img-responsive"/>
													<span class="add-pl-btn">
														<img src="{% static 'images/icon/plus_bg.png' %}"/>
													</span>
													<div class="add_line">
														<p>Click to upload photo</p>
														<img src="{% static 'images/icon/arrow_down_xs_grey.png' %}"/>
													</div> -->
													<img onclick="addlogo()" style="border-radius: 5px" id="logo_upload_pic" src="{% static 'images/icon/add_player.png' %}" class="img-responsive">
													<input id="logo_upload_text" name="logo" type="hidden"/>
												</div>
												<img style="position: absolute;bottom: 93px;" src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="p_logo_err" /><label id="p_logo_err-text" style="margin-left: 15px;" class="hide">Please Provide Profile Picture</label>
												<div class="add-name" onclick="show_player_form()">
													<h4>Add Player</h4>
												</div>
											</div>
											<div class="col-md-5 col-sm-5 col-xs-12 first-right" id="player_div" style="display: none">
												<div class="add_player_field">
													<form id="form_player" method="POST" action="/addplayer/">
														<div class="form-group">
															<input id="ply_name" name="player name" type="text" placeholder="Name" class="form-control input-md">
															<img style="position: absolute;margin-top: 2px" src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="p_name_err" /><label id="p_name_err-text" style="margin-left: 15px;" class="hide">Please Provide Name</label>
														</div>
														<div class="form-group" style="margin-bottom: 10px;">
															<div class="selectContainer">
																<select class="form-control o-fld" id="ply_position">
																<option value="0">Select Position</option>
																{% for pos in positions %}
																	<option value="{{pos.id}}">{{pos.pos_abbv}} , {{pos.position}}</option>
																{% endfor %}													
																</select>
															</div>	
														</div>
														<img style="position: absolute;margin-top: 2px" src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="p_position_err" /><label id="p_position_err-text" style="margin-left: 15px;" class="hide">Please Provide Position</label>
														<div class="form-group">
															<input id="ply_mobile" name="Mobile" type="number" placeholder="Mobile Number" class="form-control input-md">
															<img style="position: absolute;margin-top: 2px" src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="p_mobile_err" /><label id="p_mobile_err-text" style="margin-left: 15px;" class="hide">Please Provide Mobile</label>
															<img style="position: absolute;margin-top: 2px" src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="p_mobile_err2" /><label id="p_mobile_err2-text" style="margin-left: 15px;" class="hide">Please Provide Valid Mobile Number with 11 digits</label>
														</div><br>
														<button type="button" onclick="addplayerbutton()" class="btn btn-md btn-success btn-arrow" style="padding: 8px 15px;" >Add Player<img src="{% static 'images/icon/arrow_right_xs.png' %}"></button>
														
													</form>
												</div>
											</div>
											<div class="col-md-4 col-sm-4 col-xs-12"></div>
											
										</div>


										
										
									</div>
								</div>
							</div>
						
							<div class="col-md-3 col-sm-3 col-xs-12 hidden-xs">
								<div class="ad-inner-container" style=					"background-color:white;max-height:600px;min-height:600px;">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	
	<div class="nag_arrow">
		<div class="col-md-4 col-md-offset-4  col-xs-12 text-center">
			<div class="col-md-4 col-sm-4 col-xs-4 text-right">
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><img src="{% static 'images/icon/arrow_left.png' %}" /></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
				<!-- <h1 class="big-let"></h1> -->
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-left">
				<a  class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><img src="{% static 'images/icon/arrow_right.png' %}" /></a>
			</div>
			<!-- <div class="col-md-12 col-sm-12 col-xs-12"> -->
				<!-- <div id="bg-description">First Image Text</div> -->
			<!-- </div> -->
		</div>
	</div>
	<div class="modal fade" id="logo_upload" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload a logo</h4>
            </div>
            <div class="modal-body">
                <div class="image-editor">
                    <input type="file" class="cropit-image-input">
                    <div class="cropit-preview"></div>
                    <div class="image-size-label">
                        Resize image
                    </div>
                    <input type="range" class="cropit-image-zoom-input">

                    <button class="export btn btn-lg btn-success">Set Profile</button>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="m_logo_upload" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload a logo</h4>
            </div>
            <div class="modal-body">
                <div class="image-editor1">
                    <input type="file" class="cropit-image-input">
                    <div class="cropit-preview"></div>
                    <div class="image-size-label">
                        Resize image
                    </div>
                    <input type="range" class="cropit-image-zoom-input">

                    <button class="export1 btn btn-lg btn-success">Set Profile</button>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="logo_update" role="dialog" style="z-index: 9998">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload a logo</h4>
            </div>
            <div class="modal-body">
                <div class="image-editor2">
                    <input type="file" class="cropit-image-input">
                    <div class="cropit-preview"></div>
                    <div class="image-size-label">
                        Resize image
                    </div>
                    <input type="range" class="cropit-image-zoom-input">

                    <button class="export2 btn btn-lg btn-success">Set Profile</button>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



	
	<footer>
		<div class="container">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<p style="margin:0;">&copy; <span id="demo"></span> local-teams.com</p>
			</div>	
			<div class="col-md-9 col-sm-9 col-xs-12 hidden-xs">
				<nav role="navigation" class="navbar-footer" style="margin-bottom:0px;">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="footer-copy">
						<div class="pull-right footer-links hidden-xs">
							<a href="#">About Us</a> |
							<a href="#">Advertise</a> |
							<a href="#">Contact Us</a> |
							<a href="#">Privacy Policy</a> |
							<a href="#">Terms and Conditions</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</footer>
 <div class="modal fade" id="update_modal" role="dialog" >
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Update Player Details</h4>
        </div>
        <div class="modal-body">
          <div class="row add_player" id="forplayer">
										    <div class="col-md-3 col-sm-3 col-xs-8">
												<div class="upload_player text-center">
													
													<img onclick="updatelogo()" style="border-radius: 5px" id="logo_update_pic" src="{% static 'images/icon/add_player.png' %}" class="img-responsive">
													<input id="logo_update_text" name="logo" type="hidden"/>
												</div>
												
												
											</div>
											<div class="col-md-5 col-sm-5 col-xs-12 first-right" id="player_div">
												<div class="add_player_field">
													<form id="update_player" method="POST" action="/addplayer/">
														<div class="form-group">
															<input id="update_name" name="player_name" type="text" placeholder="Name" class="form-control input-md">
															<img style="position: absolute;margin-top: 2px" src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="update_name_err" /><label id="update_name_err-text" style="margin-left: 15px;" class="hide">Please Provide Name</label>
														</div>
														<div class="form-group" style="margin-bottom: 10px;">
															<div class="selectContainer">
																<select class="form-control o-fld" id="update_ply_position" name="up_pos">
																<option value="0">Select Position</option>
																{% for pos in positions %}
																	<option value="{{pos.id}}">{{pos.pos_abbv}} , {{pos.position}}</option>
																{% endfor %}													
																</select>
															</div>

														</div>
														<img style="position: absolute;margin-top: 2px" src ="{% static 'images/icon/Validation_cross.png' %}" height="18px" width="13px" class="img-responsive errL-icon hide" id="update_position_err" /><label id="update_position_err-text" style="margin-left: 15px;" class="hide">Please Provide Position</label>

														<div class="form-group">
															<input id="upd_mobile" name="Mobile" type="number" placeholder="Mobile Number" class="form-control input-md" readonly>
														</div><br>
														<button type="button" onclick="updateplayer()" class="btn btn-md btn-success btn-arrow" style="padding: 8px 15px;" >Save Player<img src="{% static 'images/icon/arrow_right_xs.png' %}"></button>
														
													</form>
												</div>
											</div>
											
											
										</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>  
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}" ></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/common.js' %}"></script>
	<script src="{% static 'js/cropit-master/dist/jquery.cropit.js' %}"></script>
	<script>
	$(window).load(function() {
     /*$('#loader').hide('slow');*/
     $('#loader').fadeOut(1500);//hide('slow');
    });
	</script>
	<script>
	document.getElementById('managertext').style.visibility = 'hidden'
		var totalItems = $('.item').length;
		var currentIndex = $('div.active').index() + 1;
		$('.big-let').html(''+currentIndex+'');


		$('.carousel').carousel({
		interval: 15000 
		});

		$('.carousel').on('slid.bs.carousel', function(e) {
		currentIndex = $('div.active').index() + 1;
		$('.big-let').html(''+currentIndex+'');
		});
		
		$(document).ready(function(){
		$("#sqaud-edit").click(function(){
			$("#o-fld, .edit_box").slideDown("slow");
			});
		
		function addlogo(){
		$('#logo_upload').modal('toggle');
	}
		function addlogo_m(){
		$('#m_logo_upload').modal('toggle');
	}
	function updatelogo(){
		$('#logo_update').modal('toggle');
	}

		
		$(document).ready(function(){  
			var m = ({{images_list | safe}});
			

  for(var i=0 ; i< m.length ; i++) {
  	
  	$('.carousel-inner').append('<div class="item" style="background:url(/static/images/'+m[i]['image_url']+') no-repeat center center fixed ;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;		background-size: cover;"></div>')

     }
  
  $('.item').first().addClass('active');
  $('#carousel').carousel();
});

	$('#teamid').on('change',function(){
		
		console.log($('#teamid').val());
				$('#m_name_err').addClass('hide');
		    	$('#m_name_err-text').addClass('hide');
		    	$('#m_mobile_err').addClass('hide');
		    	$('#m_mobile_err-text').addClass('hide');
		    	$('#m_logo_err').addClass('hide');
		    	$('#m_logo_err-text').addClass('hide');
		teamid = $('#teamid').val();
		$('#msg_for_manager').html(" ");
		$.ajax({
			type:'POST',
			url:'/getplayers/',
			data:{
				teamid :  teamid,
			},
			success: function(response)
			{
			console.log(response);

				if(response == 0)
					{
						//alert("please add manager for this team")
						console.log("sd")

						document.getElementById('forplayer').style.display = 'none'
						document.getElementById('formanager').style.display = 'block'
						$('.squad_select').html(" ")
						$("#updateErr").attr('class','hide');
						document.getElementById('managertext').style.visibility = 'visible'
						
						$('#addbutton').html('Add Manager<img src="{% static 'images/icon/arrow_right_xs.png' %}">');
					}
					else
					{
					console.log(response)
					$('#sqaud-edit').removeClass('hide')
					$('#sqaud-delete').addClass('hide')
					$("#o-fld, .edit_box").slideUp("slow");
					$('#undo_btn').addClass('hide')
					$("#updateErr").attr('class','hide');
					var rex = []
					$('.squad_select').html(response)
					document.getElementById('formanager').style.display = 'none'
					document.getElementById('forplayer').style.display = 'block'
					document.getElementById('managertext').style.visibility = 'hidden'
					}

			},
			error: function(err)
			{

			}

		});
	});

var rex = [];
	function delete_click()
		{
			$("#updateErr").attr('class','hide');
			var selected = [];
			$('.players1 input:checked').each(function() {
			    selected.push($(this).attr('value'));

			});
			if(selected.length > 0)
			{
			for(var i=0; i<selected.length; i++)
			{
				console.log('play'+selected[i]+'')
				$('#play'+selected[i]+'').addClass('hide');
			}
			$('#undo_btn').removeClass('hide')
			console.log(selected)	
			rex = selected;
			console.log(rex)
		}


		}

		function update_click()
		{
			
			var selected = [];
			$('.players1 input:checked').each(function() {
			    selected.push($(this).attr('value'));

			});
			if(selected.length > 1 || selected.length == 0)
			{
			$("#updateErr").attr('class','show');
			
			}
			else
			{
				$("#updateErr").attr('class','hide');
				//upd_mobile
				rex = selected;
				console.log(rex[0])
				var name = $('#play'+rex[0]+' .player_details p').text()
				var mob = $('#play'+rex[0]+' .player_details h3').text()
				var url = $('#play'+rex[0]+' .players1').css('background-image').replace(/^url\(['"](.+)['"]\)/, '$1');;
				var pos = $('#play'+rex[0]+' .player_details h5').text();
				$('#update_name').val(name)
				console.log(url)
				$('#logo_update_pic').attr('src',url);
				$('#upd_mobile').val(mob)
				$("#update_ply_position").val(pos);
				$('#update_modal').modal('toggle');
			}


		}


	function undo_click()
		{
			$("#updateErr").attr('class','hide');
			if(rex.length > 0)
			{
			for(var i=0; i<rex.length; i++)
				{
				console.log('play'+rex[i]+'')
				$('#play'+rex[i]+'').removeClass('hide');
				}		
			}
		}


	function show_check()
	{

		$('#sqaud-delete').removeClass('hide')
		$('#sqaud-edit').addClass('hide')
		$('.ply_check').attr('disabled', false);
		console.log(rex)
		var delete_data_length = rex.length
		console.log(delete_data_length)
		if(delete_data_length > 0)
		{
			console.log("yes")
		}
		else
		{
			//console.log("no")
		}
	}	
 

	function delete_check()
		{
			$("#o-fld, .edit_box").slideUp("slow");
			$('#sqaud-delete').addClass('hide')
			$('#sqaud-edit').removeClass('hide')

			console.log(rex)
			if(rex.length > 0)
			{
			$.ajax({
				type:'POST',
				url : '/deleteplayer/',
				data : {
					players : rex,
				},
				success:function(response)
				{
					console.log(response)
				},
				error: function(err)
				{

				}
				});
			}
		}


	$('.image-editor').cropit({
		  maxZoom : 3,
		  imageState: {
            src: '../static/images/icon/fan_wave.png',
          },
        });
       

	    $('.export').click(function() {
        	var imageData = $('.image-editor').cropit('export',{imageSize:{
		  	width:100,
		  	height:100,
		   }});
        	
			$("#logo_upload_text").attr('value', imageData)

        	var imgSrc = imageData; 
		    
			$("#logo_upload_pic").attr("src", imgSrc);
			$("#logo_upload_text").val(imgSrc);
			$('#logo_upload').modal('hide');
        });



        $('.image-editor1').cropit({
		  maxZoom : 3,
		  imageState: {
            src: '../static/images/icon/fan_wave.png',
          },
        });
       

	    $('.export1').click(function() {
        	var imageData = $('.image-editor1').cropit('export',{imageSize:{
		  	width:100,
		  	height:100,
		   }});
        	
			$("#m_logo_upload_text").attr('value', imageData)

        	var imgSrc = imageData; 
		    
			$("#m_logo_upload_pic").attr("src", imgSrc);
			$("#m_logo_upload_text").val(imgSrc);
			$('#m_logo_upload').modal('hide');
        });


	    $('.image-editor2').cropit({
		  maxZoom : 3,
		  imageState: {
            src: '../static/images/icon/fan_wave.png',
          },
        });
       

	    $('.export2').click(function() {
        	var imageData = $('.image-editor2').cropit('export',{imageSize:{
		  	width:100,
		  	height:100,
		   }});
        	
			$("#logo_update_text").attr('value', imageData)

        	var imgSrc = imageData; 
		    
			$("#logo_update_pic").attr("src", imgSrc);
			$("#logo_update_text").val(imgSrc);
			$('#logo_update').modal('hide');
        });



	    function addmanagerbutton()
		    {
		    	mname = $('#ply_name_m').val()
		    	mmobile = $('#ply_mobile_m').val()
		    	mlogo = $('#m_logo_upload_text').val()
		    	console.log($('#ply_name_m').val())
		    	console.log($('#ply_mobile_m').val())
		    	console.log($('#m_logo_upload_text').val())
		    	$('#m_name_err').addClass('hide');
		    	$('#m_name_err-text').addClass('hide');
		    	$('#m_mobile_err').addClass('hide');
		    	$('#m_mobile_err-text').addClass('hide');
		    	$('#m_mobile_err2').addClass('hide');
		    	$('#m_mobile_err2-text').addClass('hide');
		    	$('#m_logo_err').addClass('hide');
		    	$('#m_logo_err-text').addClass('hide');

		    	if(mlogo == "")
		    	{
		    		$('#m_logo_err').removeClass('hide');
		    		$('#m_logo_err-text').removeClass('hide');
		    	}	
		    	else if(mname == "")
		    	{
		    		$('#m_name_err').removeClass('hide');
		    		$('#m_name_err-text').removeClass('hide');
		    	}
		    	else if(mmobile == "") {
		    		$('#m_mobile_err').removeClass('hide');
		    		$('#m_mobile_err-text').removeClass('hide');
		    	}
		    	else if(mmobile.toString().length < 11)
				{
					$('#m_mobile_err2').removeClass('hide');
		    		$('#m_mobile_err2-text').removeClass('hide');		    			
				}
				else if(mmobile.toString().length > 11)
				{
					$('#m_mobile_err2').removeClass('hide');
		    		$('#m_mobile_err2-text').removeClass('hide');		    			
				}
		    	else {
		    	teamid = $('#teamid').val();
		    	$('#ply_position_m').val(teamid);
		    	document.getElementById('form_manager').submit();
		    	}
		    	
		    }
		function updateplayer()
			{
				
				pic = $('#logo_update_text').val()
				name = $('#update_name').val()
				pos = $('#update_ply_position').val()
				id_p = rex[0]
				teamid = $('#teamid').val()
				console.log(name + pos)
				$('#update_name_err').addClass('hide');
		    	$('#update_name_err-text').addClass('hide');
		    	$('#update_position_err').addClass('hide');
		    	$('#update_position_err-text').addClass('hide');

		    	if(name == "")
		    	{
		    	$('#update_name_err').removeClass('hide');
		    	$('#update_name_err-text').removeClass('hide');
		    	$("#update_player [name='player_name']").focus();
		    	}
		    	else if(pos == 0)
		    	{
		    	$('#update_position_err').removeClass('hide');
		    	$('#update_position_err-text').removeClass('hide');	
		    	$("#update_player [name='up_pos']").focus();
		    	}
		    	else
		    	{
		    		if(pic == "")
		    		{
		    		data = {'name' : name, 'position' : pos, 'pic' : "", 'id' : id_p, 'teamid' : teamid}
		    		}
		    		else{
		    		data = {'name' : name, 'position' : pos, 'pic' : pic, 'id' : id_p, 'teamid' : teamid}	
		    		}
		    		console.log(data)
		    		$.ajax({
						type:'POST',
						url : '/updateplayer/',
						data : data,
							success:function(response)
							{
								$('#update_modal').modal('hide')
								console.log(response)
								$('#sqaud-edit').removeClass('hide')
					$('#sqaud-delete').addClass('hide')
					$("#o-fld, .edit_box").slideUp("slow");
					$('#undo_btn').addClass('hide')
					var rex = []
					$('.squad_select').html(response)
					document.getElementById('formanager').style.display = 'none'
					document.getElementById('forplayer').style.display = 'block'
					document.getElementById('managertext').style.visibility = 'hidden'
							},
							error: function(err)
							{

							}
						});
		    	}



			}


		function show_player_form()
			{
				var options = { direction: 'left' };
				$('#player_div').toggle('slide', options, 500);	
			}

		function show_manager_form()
			{
				var options = { direction: 'left' };
				$('#manager_div').toggle('slide', options, 500);
			}	

		function addplayerbutton()
			{
				var pname = $('#ply_name').val();
				var position = $('#ply_position').val();
				var mobile = $('#ply_mobile').val();
				var logo = $('#logo_upload_text').val();
				var teamid = $('#teamid').val();
				console.log(mobile.toString().length)
				$('#p_name_err').addClass('hide');
		    	$('#p_name_err-text').addClass('hide');
		    	$('#p_mobile_err').addClass('hide');
		    	$('#p_mobile_err-text').addClass('hide');
		    	$('#p_mobile_err2').addClass('hide');
		    	$('#p_mobile_err2-text').addClass('hide');
		    	$('#p_logo_err').addClass('hide');
		    	$('#p_logo_err-text').addClass('hide');
		    	$('#p_position_err').addClass('hide');
		    	$('#p_position_err-text').addClass('hide');

				
				if(logo == "")
				{
					$('#p_logo_err').removeClass('hide');
		    		$('#p_logo_err-text').removeClass('hide');
				}
				else if(pname == "")
				{
					$('#p_name_err').removeClass('hide');
		    		$('#p_name_err-text').removeClass('hide');
				}
				else if(position == 0)
				{
					$('#p_position_err').removeClass('hide');
		    		$('#p_position_err-text').removeClass('hide');
				}
				else if(mobile == "")
				{
					$('#p_mobile_err').removeClass('hide');
		    		$('#p_mobile_err-text').removeClass('hide');
				}
				else if(mobile.toString().length < 11)
				{
					$('#p_mobile_err2').removeClass('hide');
		    		$('#p_mobile_err2-text').removeClass('hide');		    			
				}
				else if(mobile.toString().length > 11)
				{
					$('#p_mobile_err2').removeClass('hide');
		    		$('#p_mobile_err2-text').removeClass('hide');		    			
				}
				else{

					$.ajax({
					type : 'POST',
					url : '/addplayer/',
					data : {
						pname : pname,
						position : position,
						mobile : mobile,
						pic : logo,
						teamid : teamid,
						},
					success: function(response)	{
						console.log(response)
						$('.squad_select').html(response)
						document.getElementById("form_player").reset();
						$('#logo_upload_pic').attr('src',"/static/images/icon/add_player.png")
					},
					error: function(err){

					}
				});
				}	
			}


		$("#top_search").autocomplete({
		source: '/autoCity/',
		minLength:1
	});

	$('#top_submit').click(function(){
		document.getElementById("top_form").submit();
	});
			
	$("#top_search_mobile").autocomplete({
		source: '/autoCity/',
		minLength:1
	});
	$('#top_submit_mobile').click(function(){
		document.getElementById("top_form_mobile").submit();
	});	
    </script>
	

</body>
</html>
