{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Local.Team - Club Squad</title>
	<link rel="shortcut icon" href="{% static 'images/icon/favicon.ico' %}">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/full-slider.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<style>
	#loader {
		position: fixed;
		left: 43%;
		right: 0;
		bottom: 0;
		z-index: 9999;
		top: 38%;
		border: 8px solid #cecdcd;
		border-radius: 50%;
		border-top: 8px solid #6d6d6d;
		width: 110px;
		height: 110px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
	#loader {
	left: 32% !important;
	top: 44% !important;
	}
}
</style>
</head>
<body>
<div id="loader"></div>
<header>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo-img" href="/">
					<img src ="{% static 'images/icon/LT_Logo.png' %}" class="img-responsive">
				</a>
            </div>
			<ul class="nav navbar-nav visible-md  visible-lg">
				<li>
					<a href="#" class="notification-fan">
						<img src="{% static 'images/icon/fan_wave.png' %}" />
						<div class='notification-text'>21</div>
					</a>
				</li>
				<li>
					<a href="#" class="notification-message">
						<img src="{% static 'images/icon/message.png' %}" />
						<div class="notification-text">3</div>
					</a>
				</li>
			</ul>
			<div class="visible-xs">
				 <div class="col-md-4 col-sm-4 col-xs-12 pull-right">
					<form class="navbar-form navbar-right">
						  <div class="form-group">
							<input type="text" class="form-control search" placeholder="Select a Town or City">
						  </div>
					</form>
				 </div>
			 </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li class="dropdown">
                        <a href="#" class="btn btn-gray btn-lg dropdown-toggle" data-toggle="dropdown"  style="border:1px;">{{ menu_head }}<img src="{% static 'images/icon/arrow_down_xs.png' %}"></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="menu1" id="setting">
						  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Account Information</a></li>
						  <!-- <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Rest Option</a></li> -->
						  <li role="presentation"><a role="menuitem" tabindex="-1" href="/logout/">Logout</a></li>
						</ul>
					 </li>
                 </ul>
				 <div class="col-md-4 col-sm-4 col-xs-12 pull-right hidden-xs">
					<form class="navbar-form navbar-right">
						  <div class="form-group">
							<input type="text" class="form-control search" placeholder="Select a Town or City">
						  </div>
					</form>
				  </div>
				  
				   <ul class="nav navbar-nav sub-nav visible-xs">
						<li class="visible-xs"><a href="#">Settings</a></li>
						<li class="visible-xs"><a href="#">Rest Option</a></li>
						<li class="visible-xs"><a href="#">About Us</a>	</li>
						<li class="visible-xs"><a href="#">Advertise</a></li>
						<li class="visible-xs"><a href="#">Contact Us</a></li>
						<li class="visible-xs"><a href="#">Privacy Policy</a></li>
						<li class="visible-xs"><a href="#">Terms and Conditions</a></li>
						<li class="visible-xs"><a href="/logout/">Logout</a></li>
					</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	
	
	</header>
	<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
	<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			
		</div>
	</div>
	<div class="wrapper">
		<div class="top-menu">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-8 col-xs-12">
						<ul class="list-top">
							<li>
								<a href="/clubProfile/" id="profile">
									Profile<span class="divider"></span>
								</a>
							</li>
							<li>
								<a href="" id="wall">
									Wall<span class="divider"></span>
								</a>
							</li>
							<li>
								<a href="/club_sqad/" id="squad">
									Squad<span class="divider"></span>
								</a>
							</li>
							<li>
								<a href="/clubFix/" id="fixture">
									Fixtures<span class="divider"></span>
								</a>
							</li>
							<li>
								<a href="/clubNotif/" id="notification" class="active_pro">
									Notification
								</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12" style="padding:0">
						<ul class="visible-xs visible-sm noty-div">
							<li>
								<a href="#" class="">
									<img src="{% static 'images/icon/notif_fan_sm.png' %}">
									<div class="notification-text">21</div>
								</a>
							</li>
							<li>
								<a href="#" class="">
									<img src="{% static 'images/icon/notif_em_sm.png' %}">
									<div class="notification-text1">3</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="main-panel col-md-12 col-sm-12 col-xs-12" style="margin-top:0;">
					<div class="row">
						<div class="col-md-9 col-sm-9 col-xs-12 first-left">
							<div class="profile_title">
								<h3>Indian Gymkhana (S.S.H)</h3>
								<button class="btn-support pull-right">E<span class="hidden-xs">dit</span></button>
							</div>
							<div class="small-strip">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<span class="section-title">Match day notification</span>
								</div>
							</div>
							<div class="home-info" style="border-bottom-left-radius:30px;min-height:800px">
								<div class="notification_pannel">
									<div class="row">
										<div class="col-md-4 col-sm-4 col-xs-12 first-left">
											<ul class="notify">
												<li>
													<a href="#">
														<div class="notification_div">
															<div class="date">04.10.2014</div>
															<p>Indian Gymkhana (S.S.H)</p>
															<p>Tooting & Mitcham Wanderers.</p>
															<span class="noti_arrow">
																<img src="{% static 'images/icon/left_list_arrow.png' %}">
															</span>
														</div>
													</a>
												</li>
												<li>
													<a href="#">
														<div class="notification_div">
															<div class="date">27.09.2014</div>
															<p>Indian Gymkhana (S.S.H)</p>
															<p>AFC Hayes United</p>
															<span class="noti_arrow">
																<img src="{% static 'images/icon/left_list_arrow.png' %}">
															</span>
														</div>
													</a>
												</li>
												<li>
													<a href="#">
														<div class="notification_div">
															<div class="date">20.09.2014</div>
															<p>Interwood</p>
															<p>Indian Gymkhana (S.S.H)</p>
															<span class="noti_arrow">
																<img src="{% static 'images/icon/left_list_arrow.png' %}">
															</span>
														</div>
													</a>
												</li>
											</ul>
										</div>
										<div class="col-md-8 col-sm-8 col-xs-12">
											<div class="notify_list_ply text-center">
												<div class="notify_default">
													<img src="{% static 'images/icon/top_arrow.png' %}"/>
													<h3 style="color: #6d6e71;">View your match day<br>squad</h3>
												</div>
												<div class="notify_list_players">
													<div class="col-md-4 col-sm-4 col-xs-6 first-md">
														<div class="squad_player text-center">
															<img src="{% static 'images/icon/player1.png' %}" class="img-responsive"/>
															<span class="cross">
																<img src="{% static 'images/icon/Red_X_36.png' %}"/>
															</span>
															<div class="player_details">
																<p>Bilal Khan</p>
																<h4>Goalkeeper</h4>
															</div>
														</div>
													</div>
													<div class="col-md-4 col-sm-4 col-xs-6 first-md">
														<div class="squad_player text-center">
															<img src="{% static 'images/icon/player1.png' %}" class="img-responsive"/>
															<span class="pass_right">
																<img src="{% static 'images/icon/tick_36.png' %}"/>
															</span>
															<div class="player_details">
																<p>Bilal Khan</p>
																<h4>Goalkeeper</h4>
															</div>
														</div>
													</div>
													<div class="col-md-4 col-sm-4 col-xs-6 first-md">
														<div class="squad_player text-center">
															<img src="{% static 'images/icon/player1.png' %}" class="img-responsive"/>
															<span class="ques">
																<img src="{% static 'images/icon/Question_mark_36.png' %}"/>
															</span>
															<div class="player_details">
																<p>Bilal Khan</p>
																<h4>Goalkeeper</h4>
															</div>
														</div>
													</div>
													<div class="col-md-4 col-sm-4 col-xs-6 first-md">
														<div class="squad_player text-center">
															<img src="{% static 'images/icon/player1.png' %}" class="img-responsive"/>
															<span class="cross">
																<img src="{% static 'images/icon/Red_X_36.png' %}"/>
															</span>
															<div class="player_details">
																<p>Bilal Khan</p>
																<h4>Goalkeeper</h4>
															</div>
														</div>
													</div>
													<div class="col-md-4 col-sm-4 col-xs-6 first-md">
														<div class="squad_player text-center">
															<img src="{% static 'images/icon/player1.png' %}" class="img-responsive"/>
															<span class="pass_right">
																<img src="{% static 'images/icon/tick_36.png' %}"/>
															</span>
															<div class="player_details">
																<p>Bilal Khan</p>
																<h4>Goalkeeper</h4>
															</div>
														</div>
													</div>
													<div class="col-md-4 col-sm-4 col-xs-6 first-md">
														<div class="squad_player text-center">
															<img src="{% static 'images/icon/player1.png' %}" class="img-responsive"/>
															<span class="ques">
																<img src="{% static 'images/icon/Question_mark_36.png' %}"/>
															</span>
															<div class="player_details">
																<p>Bilal Khan</p>
																<h4>Goalkeeper</h4>
															</div>
														</div>
													</div>
													<div class="col-md-12 col-sm-12 col-xs-12 text-right">
														<button class="btn btn-md btn-success btn-arrow" style="padding: 8px 15px;margin-top:25px;font-size: 18px;">Resend<img src="{% static 'images/icon/arrow_right_xs.png' %}"></button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-md-3 col-sm-3 col-xs-12 hidden-xs">
							<div class="ad-inner-container" style=					"background-color:white;max-height:600px;min-height:600px;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="nag_arrow">
		<div class="col-md-4 col-md-offset-4  col-xs-12 text-center">
			<div class="col-md-4 col-sm-4 col-xs-4 text-right">
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><img src="{% static 'images/icon/arrow_left.png' %}" /></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
				<!-- <h1 class="big-let"></h1> -->
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-left">
				<a  class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><img src="{% static 'images/icon/arrow_right.png' %}" /></a>
			</div>
			<!-- <div class="col-md-12 col-sm-12 col-xs-12">
				<div id="bg-description">First Image Text</div>
			</div> -->
		</div>
	</div>
	
	
	<footer>
		<div class="container">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<p style="margin:0;">&copy; <span id="demo"></span> local-teams.com</p>
			</div>	
			<div class="col-md-9 col-sm-9 col-xs-12 hidden-xs">
				<nav role="navigation" class="navbar-footer" style="margin-bottom:0px;">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="footer-copy">
						<div class="pull-right footer-links hidden-xs">
							<a href="#">About Us</a> |
							<a href="#">Advertise</a> |
							<a href="#">Contact Us</a> |
							<a href="#">Privacy Policy</a> |
							<a href="#">Terms and Conditions</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</footer>
    
    <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/common.js' %}"></script>
		<script>
		$(window).load(function() {
		 $('#loader').fadeOut(1500);
		});
	</script>
	<script>
		$(document).ready(function(){
			$(".input-md").click(function(){
				$("#o-fld").slideDown("slow");
			});
			var m = ({{images_list | safe}});
			//console.log(m.length)

			for(var i=0 ; i< m.length ; i++) {
				console.log(m[i]['image_url'])
				$('.carousel-inner').append('<div class="item" onclick="viewProfile('+m[i]['id']+')" style="background:url('+m[i]['image_url']+') no-repeat center center fixed ;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"><div class="carousel-caption" style="font-size:18px;cursor: pointer; " ><span style="background-color: #3c3d3f;opacity: 0.5;color: white; -webkit-border-radius: 40px;-moz-border-radius: 40px;border-radius: 40px;padding:6px 40px;margin-top:5px;">'+m[i]['clubname']+'</span></div></div>')
				$('.item').first().addClass('active');
				$('#carousel').carousel();
			}
		});
		function viewProfile(r){
			console.log(r)
			window.open('/viewProfile/'+r,'_blank');
		}
		var totalItems = $('.item').length;
		var currentIndex = $('div.active').index() + 1;
		$('.big-let').html(''+currentIndex+'');


		$('.carousel').carousel({
		interval: 15000 
		});
		/*$('.carousel').on('slid.bs.carousel', function(e) {
		currentIndex = $('div.active').index() + 1;
		$('.big-let').html(''+currentIndex+'');
		});*/
		
		/*$(document).ready(function(){
		});*/
    </script>
	

</body>
</html>
