{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Local.Team - Club Profile</title>
	<link rel="shortcut icon" href="{% static 'images/icon/favicon.ico' %}">
	<!-- JQuery AutoComplete CSS -->
	<link href="{% static 'css/jquery-ui.css' %}" rel="Stylesheet" />
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/full-slider.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/club-register.css' %}" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<style>
	/*#loader {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: url('no-halftime-loaders-petrick.gif') 50% 50% no-repeat rgb(249,249,249);
	}*/
	#loader {
		position: fixed;
		left: 43%;
		right: 0;
		bottom: 0;
		z-index: 9999;
		top: 38%;
		border: 8px solid #cecdcd;
		border-radius: 50%;
		border-top: 8px solid #6d6d6d;
		width: 110px;
		height: 110px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
	#loader {
	left: 32% !important;
	top: 44% !important;
	}
}
</style>
</head>

<body>
<div id="loader"></div>
<header>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo-img" href="/">
					<img src ="{% static 'images/icon/LT_Logo.png' %}" class="img-responsive">
				</a>
            </div>
			<div class="visible-xs">
				 <div class="col-md-4 col-sm-4 col-xs-12 pull-right">
					<form id="top_form_m" class="navbar-form navbar-right" action="/advanceSearch/">
					<!-- <form id="top_form_m" class="navbar-form navbar-right" action="#"> -->
						  <div class="">
							<input id="top_search_m" name="search" type="text" class="form-control search" placeholder="Select a Town or City" >
								<span type="submit" id="top_submit_m" class="search-icon"><img src="{% static '/images/icon/search1.png' %}" ></span>
						  </div>
					</form>
				 </div>
			 </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    
                       <a href="/" class="btn btn-gray btn-lg" data-toggle="dropdown" style="border:1px;width:105px;line-height: 20px;">Login<img src="{% static 'images/icon/arrow_down_xs.png' %}"></a>
						
                    
                 </ul>
				 <div class="col-md-4 col-sm-4 col-xs-12 pull-right hidden-xs">
					<form id="top_form" class="navbar-form navbar-right" action="/advanceSearch/">
					<!-- <form id="top_form" class="navbar-form navbar-right" action="#"> -->
						  <div class="">
							<input id="top_search" name="search" type="text" class="form-control search" placeholder="Select a Town or City" >
								<span type="submit" id="top_submit" class="search-icon"><img src="{% static '/images/icon/search1.png' %}" ></span>
						  </div>
					</form>
				  </div>
				  
				   <ul class="nav navbar-nav sub-nav visible-xs">
						<li class="visible-xs"><a href="loginMobile">Login</a></li>
						<li class="visible-xs"><a href="#">Rest Option</a></li>
						<li class="visible-xs"><a href="#">About Us</a>	</li>
						<li class="visible-xs"><a href="#">Advertise</a></li>
						<li class="visible-xs"><a href="#">Contact Us</a></li>
						<li class="visible-xs"><a href="#">Privacy Policy</a></li>
						<li class="visible-xs"><a href="#">Terms and Conditions</a></li>
						<li class="visible-xs"><a href="/logout/">Logout</a></li>
					</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
		<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
	<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			
		</div>
	</div>	
	</header>	
	<div class="wrapper">
		<div class="top-menu" style="padding:0px;">
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-sm-8 col-xs-12">
						<!-- <ul class="list-top">
							<li>
								<a href="/clubProfile/" id="profile" class="active_pro">
									Profile<span class="divider"></span>
								</a>
							</li>
							<li>
								<a href="" id="wall">
									Wall<span class="divider"></span>
								</a>
							</li>
							<li>
								<a href="/club_sqad/" id="squad">
									Squad<span class="divider"></span>
								</a>
							</li>
							<li>
								<a href="/clubFix/" id="fixture">
									Fixtures<span class="divider"></span>
								</a>
							</li>
							<li>
								<a href="/clubNotif/" id="notification">
									Notification
								</a>
							</li>
						</ul> -->
					</div>
					<div class="col-md-3 col-sm-4 col-xs-12" style="padding:0">
						<ul class="visible-xs visible-sm noty-div">
							<li>
								<a href="#" class="">
									<img src="{% static 'images/icon/notif_fan_sm.png' %}">
									<div class="notification-text">21</div>
								</a>
							</li>
							<li>
								<a href="#" class="">
									<img src="{% static 'images/icon/notif_em_sm.png' %}">
									<div class="notification-text1">3</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="main-panel col-md-12 col-sm-12 col-xs-12" style="margin-top:0;">
					<div class="row">
						<div class="col-md-9 col-sm-9 col-xs-12 first-left">
							<div class="profile_title" style="background-color: {{response.strip_colour}}">
								<h3>{{response.club_name}}</h3>
								
							</div>
							<div class="small-strip">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<span class="section-title">Club information</span>
								</div>
							</div>
							<div class="home-info">
								{% if response.cover_photo_url %}
								<div class="bag-image visible-xs" style="background:url({{ response.cover_photo_url.url}});background-position: 100%;background-size: 100% 100%;"></div>
								{% else %}
								<!-- <div class="bag-image visible-xs" style="background:url();background-position: 100%;background-size: 100% 100%;"></div> -->
								{% endif %}
								<div class="col-md-3 col-sm-3 col-xs-12 text-center">
									{% if response.logo_photo %}
									<img src="{{response.logo_photo.url}}" class="text-center " style="margin-bottom:15px;height: 140px;width: 100%;max-width:140px;border-radius:6px;"/>
									{% else %}
									<img src="{% static 'images/icon/LT_logo_default_1100x1100.png' %}" class="img-responsive" style="margin-bottom:15px;height: 100%;width: 100%"/>
									{% endif %}
								</div>
								<div class="col-md-5 col-sm-5 col-xs-12 text-center pad_0">
									<table class="table mytable text-left">
										<tr>
											<th>Name</th>
											<td>{{response.club_name}}</td>
										</tr>	
										<tr>
											<th>Established</th>
											<td>{{response.established}}</td>
										</tr>
										<tr>
											<th>Gender</th>
											<td>{{response.gender | title}}</td>
										</tr>
										<tr>
											<th>Age groups</th>
											<td>{{agegroups}}</td>
										</tr>
										<tr>
											<th>No.of teams</th>
											<td>{{response.num_teams}}</td>
										</tr>
									</table>
									
									<!-- <div class="col-md-12 col-sm-12 col-xs-12 pad_0 text-left">
									{% if response.league_table_url %}
										<button class="btn btn_club_info">League table</button>
									{% endif %}
									{% if response.fixture_table_url %}
										<button class="btn btn_club_info">Fixture List</button>
									{% endif %}
									{% if response.website_url %}
										<a href="{{response.website_url}}" target = "_blank" class="btn btn_club_info">Website</a>
									{% endif %}									
										
									</div> -->
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12 text-left">
									<div class="row new-kit">
										<div class="shirt-container-1 col-md-6 col-sm-12 col-xs-6">
										<div id="shirt-1" class="club-reg-shirt" >
										   	
											<div class="club-reg-shirt-bg"></div>
											{% if homekit.pattern_mode == 'split' %}	
											<div class="club-reg-shirt-split" style="display: block;background-color : {{homekit.pattern_colour}}" ></div>
											{% endif %}						
											{% if homekit.pattern_mode == 'hoop' %}
											<div class="club-reg-shirt-hoops" style="display: block">
												<ul class="hoops">
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{homekit.pattern_colour}}"></li>
												</ul>
											</div>
											{% endif %}
											{% if homekit.pattern_mode == 'stripe' %}
											<div class="club-reg-shirt-stripes" style="display: block">
												<ul class="stripes">
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{homekit.pattern_colour}}"></li>							
												</ul>
											</div>
											{% endif %}
											<div class="club-reg-shirt-left" id="sleeve-L-home" style="background-color: {{homekit.sleeve_colour}}"></div>
											<div class="club-reg-shirt-mid" id="mid-home" style="background-color: {{homekit.shirt_colour}}"></div>
											<div class="club-reg-shirt-right" id="sleeve-R-home" style="background-color: {{homekit.sleeve_colour}}"></div>		
										</div>
										<!-- <a href="#" id="shirt-1-cp" class="btn btn-light-grey-white-border btn-arrow1 colorpicker-element btn-font">Edit <img src="{% static 'images/icon/arrow_right_xs.png' %}" /></a> -->
									</div>
									
									
									<div class="shirt-container-2 col-md-6 col-sm-12 col-xs-6">
										<div id="shirt-2" class='club-reg-shirt'>	
											<div class="club-reg-shirt-bg"></div>
											{% if awaykit.pattern_mode == 'split'  %}	
											<div class="club-reg-shirt-split" id="split-away" style="display: block; background-color: {{awaykit.pattern_colour}}"></div>		
											{% endif %}		
											{% if awaykit.pattern_mode == 'hoop' %}
											<div class="club-reg-shirt-hoops" style="display: block">
												<ul class="hoops">
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="hoop" style="background-color: {{awaykit.pattern_colour}}"></li>
												</ul>
											</div>
											{% endif %}
											{% if awaykit.pattern_mode == 'stripe' %}
											<div class="club-reg-shirt-stripes" style="display: block">
												<ul class="stripes">
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>
													<li class="stripe" style="background-color: {{awaykit.pattern_colour}}"></li>							
												</ul>
											</div>
											{% endif %}
											<div class="club-reg-shirt-left" id="sleeve-L-home" style="background-color: {{awaykit.sleeve_colour}}"></div>
											<div class="club-reg-shirt-mid" id="mid-home" style="background-color: {{awaykit.shirt_colour}}"></div>
											<div class="club-reg-shirt-right" id="sleeve-R-home" style="background-color: {{awaykit.sleeve_colour}}"></div>
										</div>
										<!-- <a href="#" id="shirt-2-cp" class="btn btn-light-grey-white-border btn-arrow1 colorpicker-element btn-font">Edit <img src="{% static 'images/icon/arrow_right_xs.png' %}" /></a> -->
									</div>
									</div>
								</div>
							</div>
							
							<div class="home-div">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Home ground</span>
											</div>
										</div>
										<div class="col-md-12 col-sm-12 col-xs-12 new-hm">
											<div id="map" style="width: 100%;height: 220px;background: white;border: 1px solid #b8b8b8;margin-bottom:10px;"></div>
											<p class="address_location"><span>{{ground.ground_name}}</span><br> 
											{{ground.street}}<br>
											{{response.city_name}}<br>
											{{ground.county}}<br>
											{{ground.postcode}}<br>
											{{ground.phone}}</p>
										</div>
									</div>
									
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Team photo</span>
											</div>
										</div>
										<div class="col-md-12 col-sm-12 col-xs-12 new-tm">
											{% if response.team_photo %}
											<img src="{{response.team_photo.url}}" class="img-responsive" style="margin-top: 20px;margin-bottom: 20px;border-radius:6px;height:220px;"/>
											{% else %}
											<img src="{% static 'images/icon/LT_team_default.jpg' %}" class="img-responsive" style="margin-top: 20px;margin-bottom: 20px;border-radius:6px;height:220px;"/>
											{% endif %}
										</div>
										<div class="small-strip">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<span class="section-title">Training</span>
											</div>
										</div>
										<div class="col-md-12 col-sm-12 col-xs-12" style="padding: 15px 10px;">
											<p class="address_location">{{response.training_text | safe}}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="history-div">
								<div class="small-strip">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<span class="section-title">Club History</span>
									</div>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 new-his">
									<p class="address_location">{{response.history_text | safe}}</p>
									
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-12 hidden-xs">
							<div class="ad-inner-container" style="background-color:white;max-height:600px;min-height:600px;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="nag_arrow">
		<div class="col-md-4 col-md-offset-4  col-xs-12 text-center">
			<div class="col-md-4 col-sm-4 col-xs-4 text-right">
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><img src="{% static 'images/icon/arrow_left.png' %}" /></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
				<h1 class=""></h1>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-left">
				<a  class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><img src="{% static 'images/icon/arrow_right.png' %}" /></a>
			</div>
	
		</div>
	</div>
	
	<footer>
		<div class="container">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<p style="margin:0;">&copy; <span id="demo"></span> local-teams.com</p>
			</div>	
			<div class="col-md-9 col-sm-9 col-xs-12 hidden-xs">
				<nav role="navigation" class="navbar-footer" style="margin-bottom:0px;">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="footer-copy">
						<div class="pull-right footer-links hidden-xs">
							<a href="#">About Us</a> |
							<a href="#">Advertise</a> |
							<a href="#">Contact Us</a> |
							<a href="#">Privacy Policy</a> |
							<a href="#">Terms and Conditions</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</footer>
    
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}" ></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/common.js' %}"></script>
	<script>
		$(window).load(function() {
		 $('#loader').fadeOut(1500);
		});
	</script>
	<script>

	$("#top_search").autocomplete({
			source: '/autoCity/',
			minLength:1
		});
	$('#top_submit').click(function(){

				document.getElementById("top_form").submit();

			});   
	$("#top_search_m").autocomplete({
		source: '/autoCity/',
		minLength:1
	});

	$('#top_submit_m').click(function(){
		document.getElementById("top_form_m").submit();
	}); 

	//console.log({{images_list | safe}})
$(document).ready(function(){  
	var m = ({{images_list | safe}});
	//console.log(m.length)

	for(var i=0 ; i< m.length ; i++) {
		console.log(m[i]['image_url'])
		$('.carousel-inner').append('<div class="item" onclick="viewProfile('+m[i]['id']+')" style="background:url('+m[i]['image_url']+') no-repeat center center fixed ;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"><div class="carousel-caption" style="font-size:18px;cursor: pointer; " ><span style="background-color: #3c3d3f;opacity: 0.5;color: white; -webkit-border-radius: 40px;-moz-border-radius: 40px;border-radius: 40px;padding:6px 40px;margin-top:5px;">'+m[i]['clubname']+'</span></div></div>')
		$('.item').first().addClass('active');
		$('#carousel').carousel();
	}
});


function viewProfile(r){
	console.log(r)
	window.open('/viewProfile/'+r,'_blank');
}

    var totalItems = $('.item').length;
	var currentIndex = $('div.active').index() + 1;
	$('.big-let').html(''+currentIndex+'');


	$('.carousel').carousel({
	interval: 20000
	});

	/*$('.carousel').on('slid.bs.carousel', function(e) {
	currentIndex = $('div.active').index() + 1;
	$('.big-let').html(''+currentIndex+'');
	});*/
	
	$(document).ready(function(){
    $(".input-md").click(function(){
        $("#o-fld").slideDown("slow");
		});
	});

	


    </script>
	<script type="text/javascript">
	
		/*$('.club-reg-shirt-stripes').css('display','block')
	    $("#shirt-1 .club-reg-shirt-stripes .stripes .stripe").css('background-color', '{{homekit.pattern_colour}}')*/
		
		function initMap(lat,longi) {

        var myLatLng = {lat: {{response.latitude}}, lng: {{response.longitude}}};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: '{{ground.ground_name}}'
        });
      }
		
		
		
		
		
		</script>
		<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2GugE8NvU4vx2Ot3VslKW_nJ0sRPilQs&callback=myMap">
		</script>-->
	<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2GugE8NvU4vx2Ot3VslKW_nJ0sRPilQs&callback=initMap">
    </script>
	
	
	
</body>
</html>

