<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
<!--[if !mso]><!-->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="x-apple-disable-message-reformatting" />
<!--<![endif]-->
<title>Local-Teams Reset Password</title>
<style type="text/css">
/* RESET STYLES */

table{border-collapse:collapse;}
img, a img{border:0; height:auto; outline:none; text-decoration:none;}
body{height:100% !important; margin:0 auto !important; padding:0; width:100% !important;}

/* CLIENT-SPECIFIC STYLES */
img{-ms-interpolation-mode: bicubic;} /* Force IE to smoothly render resized images. */
#outlook a{padding:0;} /* Force Outlook 2007 and up to provide a "view in browser" message. */
table{mso-table-lspace:0pt; mso-table-rspace:0pt;} /* Remove spacing between tables in Outlook 2007 and up. */
.ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Outlook.com to display emails at full width. */
p, a, td{mso-line-height-rule:exactly;} /* Force Outlook to render line heights as they're originally set. */
p, a, td, body, table{-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;} /* Prevent Windows- and Webkit-based mobile platforms from changing declared text sizes. */
.ExternalClass, .ExternalClass p, .ExternalClass td, .ExternalClass div, .ExternalClass span, .ExternalClass font{line-height:100%;} /* Force Outlook.com to display line heights normally. */
* [href]:not([style]) { color: inherit !important; text-decoration: none !important; } /* control gmail default link color */
a[x-apple-data-detectors] {color: inherit !important; text-decoration: none !important; font-size: inherit !important; font-family:inherit !important; font-weight: inherit !important; line-height: inherit !important;} /* attempt to control apple data detection */
.BRmobile { display: none !important;max-height:0 !important;overflow:hidden !important;mso-hide:all;}
/* TEMPLATE STYLES */
@media screen and (max-width:480px){
    #content{max-width:100% !important; width:100% !important;}
    
    .h { display: none !important;}
    
}
</style>
<!--[if gte mso 9]><xml>
<o:OfficeDocumentSettings>
<o:AllowPNG/>
<o:PixelsPerInch>96</o:PixelsPerInch>
</o:OfficeDocumentSettings>
</xml><![endif]-->
</head>
<body bgcolor="#f2f2f2" style="margin:0; padding:0; background-color:#f2f2f2;">
<center>
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#f2f2f2" id="content" style="width:600px;">
<tr>
<td align="center">
<!--[if (gte mso 9)|(IE)]>
<table border="0" cellspacing="0" cellpadding="0" style="width:600px;">
<tr>
<td valign="top">
<![endif]-->           
            
    <!--  START Preheader  -->      
    <table class="h" width="100%" style="max-width: 600px" border="0" cellpadding="0" cellspacing="0" align="center">
    	<tr>
    		<td class="padL10" height="30" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666666; text-align:left">Forgotten your password?</td>
   		</tr>
    </table>
    <!--  END Preheader  -->
    
    <!--  START Preheader  -->      
    <table width="100%" style="max-width: 600px; border: 1px solid #e2e2e2;"  cellpadding="0" cellspacing="0" align="center" bgcolor="#ffffff">
    	<tr>
			<td>
				<table width="100%" style="max-width: 600px" cellpadding="0" cellspacing="0" bgcolor="#3d3c3f">
					<tr>
						<td  align="left" style="padding: 10px; font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif'; font-size: 18px; color: #FFFFFF"><img src="https://www.dropbox.com/s/h4dm9g0azk36gjf/Logo.png?raw=1" style="display: block" width="150" height="15" border="0" alt="LOCAL TEAMS"></td>
					</tr>
				</table>
			</td>
    	</tr>
    	<tr>
			<td>
				<table width="100%" style="max-width: 600px" cellpadding="0" cellspacing="0">
					<tr>
						<td style="font-family: Arial, Helvetica, sans-serif; font-size: 25px; color: #666666; text-align: center; padding: 20px 10px 10px 10px">Password Reset</td>
					</tr>
				</table>
			</td>
    	</tr>
    	<tr>
			<td>
				<table width="100%" style="max-width: 600px" cellpadding="0" cellspacing="0">
					<tr>
						<td style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #6d6e71; text-align: center; line-height: 26px; padding: 10px 10px 20px 10px">Hi {{ email }}
						<br />
						Not to worry, we will get you back into your account before you know it! <br /> Please click on the link below to reset your password.</td>
					</tr>
					<tr>
						<td align="center">
							<table border="0" cellpadding="0" cellspacing="0" align="center">
								<tr>
									<td>
										<table border="0" cellpadding="0" cellspacing="0">
											<tr>
												<td height="37"><img src="https://www.dropbox.com/s/rxaytlz45v1zvnp/Green_CTA_Left.gif?raw=1" style="display: block; outline: 0px" width="10" height="37" border="0" alt=""></td>
												<td height="37" bgcolor="#57ab27" style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; color: #ffffff; text-align: center; line-height: 15px; padding: 0px 10px 0px 10px; margin: 0px"><a href="{{ link }}" target="_blank" style="font-size: 15px; color: #ffffff; text-decoration: none">Reset password</a></td>
												<td height="37"><img src="https://www.dropbox.com/s/hw3imty8pli6nuc/Green_CTA_Right.gif?raw=1" style="display: block; outline: 0px" width="35" height="37" border="0" alt=""></td>

											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #129ed9; text-align: center; line-height: 26px; padding: 20px 10px 20px 10px">Support your local teams!</td>
					</tr>
				</table>
			</td>
    	</tr>
    </table>
    <!--  END Preheader  -->

   
              
	<!-- START Footer  -->
	<table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width:600px; width:100%;" class="mw100">
		<tr>
			<td style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666666; text-align: center; line-height: 14px; padding: 10px 10px">&copy; 2017 local-teams.com </td>
		</tr>
	</table>
    <!-- End Footer  -->
               
<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->
</td>
</tr>
</table>
</center>
</body>
</html>