{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<style>
.button_sub{
	margin-left: 175px;
    width: 25%;
}
.btn-resend, .btn-resend:hover, .btn-resend:focus, .btn-resend:active:focus{
	color: #fff;
	background-color: #129ed9;
	border-color: #ffffff;
	outline-width: 0px !important;
}
	.err-msg{
	    position: relative;
		font-family:Arial;
		color:red;
	}
	
	.icon,.iconC{
		position: absolute;
		color: #bbbbbb;
		top: 8px;
		right: 20px;
	}
	/*.form-horizontal .form-group {
		margin-right: 0;
		margin-left: 0;
	}
	.form-group {
		margin-bottom: 15px !important;
	}
	.form-control-feedback {
		line-height: 21px !important;
	}*/
	.err-icon{
		position: absolute;
		top: 10px;
		right: -2px;
	}
</style>

<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="main-panel col-md-12 col-sm-12 col-xs-12" style="margin-top:50px;">
				<div class="row">
					<div class="col-md-9 col-sm-9 col-xs-12 first-left">
						<div class="small-strip">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<span class="section-title">Reset Password</span>
							</div>
						</div>
						<div class="home-info" style="padding: 30px;border-bottom-left-radius:30px;">
							<div class="match-notify">
								<!-- <div class="row"> -->
								<form action="/setPass/" method="POST" id="setPassForm">
									<div class="row">
										<div class="col-md-3 col-sm-3 col-xs-12">
											<label style="margin-top: 5px;" for="email">Email Id<label>
										</div>
										<div class="form-group col-md-9 col-sm-9 col-xs-12">
											<input type="email" value="{{ email }}" name="email" class="form-control" readonly />
										</div>
									</div>
									<div class="row">
										<div class="col-md-3 col-sm-3 col-xs-12">
											<label style="margin-top: 5px;" for="pass">New password<label>
										</div>
										<div class="form-group col-md-9 col-sm-9 col-xs-12" style="position:relative;">
											<input type="password" id="password1" name="pass" placeholder="Password" class="form-control" required>
											<div class="icon"><span id="glyph" class="glyphicon glyphicon-eye-close o-fld"></span></div>
											<img src ="{% static 'images/icon/Validation_tick.png' %}" id="passOK" height="16px" width="16px" class="img-responsive err-icon" style="display:none;">
											<img src ="{% static 'images/icon/Validation_cross.png' %}" id="passRE" height="16px" width="16px" class="img-responsive err-icon" style="display:none;">
											<div id="passM" class="err-msg" style="display:none;">Your password does not meet the recommended criteria</div>
											<div id="passMT" class="err-msg" style="display:none;">Please enter new password...</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3 col-sm-3 col-xs-12">
											<label style="margin-top: 5px;" for="passC">Confirm password<label>
										</div>
										<div class="form-group col-md-9 col-sm-9 col-xs-12" style="position:relative;">
											<input type="password" id="password2" name="passC" placeholder="Confirm password" class="form-control" required>
											<div class="iconC"><span id="glyphC" class="glyphicon glyphicon-eye-close o-fld"></span></div>
											<img src ="{% static 'images/icon/Validation_tick.png' %}" id="passCOK" height="16px" width="16px" class="img-responsive err-icon" style="display:none;">
											<img src ="{% static 'images/icon/Validation_cross.png' %}" id="passCRE" height="16px" width="16px" class="img-responsive err-icon" style="display:none;">
											<div id="passCMT" class="err-msg" style="display:none;">Please enter confirm password...</div>
											<div id="passCM" class="err-msg" style="display:none;">Confirm password does not match with password</div>
										</div>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12 text-center" id="">
										<button class="btn btn-md btn-success btn-arrow" type="button" style="padding:8px 15px; margin-top:5px; font-size:18px;" id="setPassBtn">Set Password<img src="{% static 'images/icon/arrow_right_xs.png' %}"></button>
									</div>
								</form>
								<div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
									<label>Recommended criteria for password is:</label>
									<ol>
										<li>Minimum 8 Characters long</li>
										<li>At least 1 uppercase (A,B,C)</li>
										<li>At least 1 numeric number (1,2,3)</li>
										<li>At least 1 special character<br/>(!, +, &, $, £, @, *)</li>
									</ol>
								</div>
								<!-- </div> -->
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12 hidden-xs">
					<!-- <div class="col-md-2 col-sm-2 col-xs-12 hidden-xs"> -->
						<div class="ad-inner-container" style="background-color:white;max-height:600px;">
						
							<img src="https://local-teams.com/static/images/icon/ad-inner-container.jpg" class="img-responsive" width="224px" height="600px" alt="googleplay apple" usemap="#mapname" id="map_ID" />
								<map name="mapname" id="map_ID">
									<area shape="rect" coords="54,150,168,182" href="{{ iOS_app }}" target="_blank" alt="iOS_app" />
									<area shape="rect" coords="54,190,168,222" href="{{ google_play_app }}" target="_blank" alt="google_play_app" />
								</map>
						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
var passPtrn = /^(?=.*\d)(?=.*[A-Z])(?=.*[!+&$£@*]).{8,20}$/;
var pass = passC = false;

	$("#password1").focusout(function(){
		if($(this).val() == ''){
			window.pass = false;
			$("#passOK").hide();
			$("#passRE").show();
			$("#passM").hide();
			$("#passMT").show();
		}
		else{
			window.pass = passPtrn.test($(this).val());
			if (window.pass){
				$("#passOK").show();
				$("#passRE").hide();
				$("#passM").hide();
				$("#passMT").hide();
			}
			else{
				$("#passOK").hide();
				$("#passRE").show();
				$("#passM").show();
				$("#passMT").hide();
			}
			if ($("#password1").val() != '' && $("#password2").val() != ''){
				passC = ($("#password1").val() == $("#password2").val())?true:false;
				if (passC){
					$("#passCOK").show();
					$("#passCRE").hide();
					$("#passCM").hide();
					$("#passCMT").hide();
					$("#passMT").hide();
				}
				else{
					$("#passCOK").hide();
					$("#passCRE").show();
					$("#passCM").show();
					$("#passCMT").hide();
					$("#passMT").hide();
				}
			}
		}
	});
	
	$("#password2").focusout(function(){
		if($(this).val() == ''){
			window.passC = false;
			$("#passCOK").hide();
			$("#passCRE").show();
			$("#passCM").hide();
			$("#passCMT").show();
		}
		else{
			passC = ($("#password1").val() == $("#password2").val())?true:false;
			if (passC){
				$("#passCOK").show();
				$("#passCRE").hide();
				$("#passCM").hide();
				$("#passCMT").hide();
			}
			else{
				$("#passCOK").hide();
				$("#passCRE").show();
				$("#passCM").show();
				$("#passCMT").hide();
			}
		}
	});
	
	
	$("#setPassBtn").click(function(){
	
		if($("#password1").val() == ''){
			window.pass = false;
			$("#passOK").hide();
			$("#passRE").show();
			$("#passM").hide();
			$("#passMT").show();
		}
		else{
			window.pass = passPtrn.test($("#password1").val());
			if (window.pass){
				$("#passOK").show();
				$("#passRE").hide();
				$("#passM").hide();
				$("#passMT").hide();
			}
			else{
				$("#passOK").hide();
				$("#passRE").show();
				$("#passM").show();
				$("#passMT").hide();
			}
			if ($("#password1").val() != '' && $("#password2").val() != ''){
				passC = ($("#password1").val() == $("#password2").val())?true:false;
				if (passC){
					$("#passCOK").show();
					$("#passCRE").hide();
					$("#passCM").hide();
					$("#passCMT").hide();
					$("#passMT").hide();
				}
				else{
					$("#passCOK").hide();
					$("#passCRE").show();
					$("#passCM").show();
					$("#passCMT").hide();
					$("#passMT").hide();
				}
			}
		}
		
		if($("#password2").val() == ''){
			window.passC = false;
			$("#passCOK").hide();
			$("#passCRE").show();
			$("#passCM").hide();
			$("#passCMT").show();
		}
		else{
			passC = ($("#password1").val() == $("#password2").val())?true:false;
			if (passC){
				$("#passCOK").show();
				$("#passCRE").hide();
				$("#passCM").hide();
				$("#passCMT").hide();
			}
			else{
				$("#passCOK").hide();
				$("#passCRE").show();
				$("#passCM").show();
				$("#passCMT").hide();
			}
		}
		
		
		if(window.pass && window.passC && true){
			$("#setPassForm").submit();
		}
	});
	
	window.onload = function () {
		var ImageMap = function (map, img) {
				var n,
					areas = map.getElementsByTagName('area'),
					len = areas.length,
					coords = [],
					previousWidth = 128;
				for (n = 0; n < len; n++) {
					coords[n] = areas[n].coords.split(',');
				}
				this.resize = function () {
					var n, m, clen,
						x = img.offsetWidth / previousWidth;
					for (n = 0; n < len; n++) {
						clen = coords[n].length;
						for (m = 0; m < clen; m++) {
							coords[n][m] *= x;
						}
						areas[n].coords = coords[n].join(',');
					}
					previousWidth = document.body.clientWidth;
					return true;
				};
				window.onresize = this.resize;
			},
			imageMap = new ImageMap(document.getElementById('map_ID'), document.getElementById('map_ID'));
		imageMap.resize();
		return;
	}
	
	
</script>
{% endblock %}