<input type="hidden" value="{{count}}" id="count">
{% for players in players %}
	<div class="col-md-3 col-sm-3 col-xs-6" id="play{{players.2}}">
		<div class="squad_player text-center">
			<label class="checkbox players1" style="background:url({{players.3}});background-size:100% 100%;border-radius:8px;border:1px solid #e8e8e8;">
				<input type="checkbox" value="{{players.2}}" class="ply_check" name="getplayers">
				<span></span>
			</label> 
			<div class="player_details">
				<p>{{players.0}}</p>
				<h5>{{players.1}}</h5>
			</div>
		</div>
	</div>
	{% if players.4 == 3 %}
	<div class="hidden-xs">
		<div class="clearfix"></div>
	</div>
	<div class="visible-xs">
		<div class="clearfix"></div>
	</div>
	{% endif %}
	{% if players.4 == 1 %}
	<div class="visible-xs">
		<div class="clearfix"></div>
	</div>
	{% endif %}
{% endfor %}