{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	
	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>

    <title>Local.Teams - {{title}}</title>
	<link rel="shortcut icon" href="{% static 'images/icon/favicon.ico' %}" />
	<!-- CSS -->
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    
	<!-- JQuery AutoComplete CSS -->
    <link href="{% static 'css/jquery-ui.css' %}" rel="Stylesheet"/>
	
    <!-- Custom CSS -->
    <link href="{% static 'css/full-slider.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/hide.css' %}" rel="stylesheet" />
    <link href="{% static 'css/fix.css' %}" rel="stylesheet" />
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/select2.css' %}" rel="stylesheet">
    
    <!-- Custom CSS End -->


	<!-- JS -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery-ui.min.js' %}" ></script>
	<style>
	#loader {
		position: fixed;
		left: 45%;
		right: 0;
		bottom: 0;
		z-index: 9999;
		top: 38%;
		border-radius: 50%;
		border: 8px solid #cecdcd;
		border-top: 8px solid #6d6d6d;
		width: 110px;
		height: 110px;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;
	}
	@-webkit-keyframes spin {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(360deg); }
	}
	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}
	@media only screen and (min-width : 320px) and (max-width : 480px) {
		#loader {
			left: 36% !important;
			top: 44% !important;
			border: 7px solid #cecdcd !important;
			border-top: 7px solid #6d6d6d !important;
			width: 75px !important;
			height: 75px !important;
		}
	}
	@media only screen and (max-width: 767px){
		.main-panel{
		    margin-top: 0px !important;
		}
	}
	p{
		text-align: justify;
	}
	
.home-info{
	padding: 0px 16px 30px !important;
}
</style>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110256576-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110256576-1');
</script>
</head>

<body>
<div id="loader"></div>

	<header>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand logo-img" href="/">
					<img src="/static/images/icon/LT_Logo.png" class="img-responsive">
				</a>
			</div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav sub-nav visible-xs">
					<li class="visible-xs"><a style="margin-top:7px;" href="/about_us" target="_blank">About Us</a></li>
					<li class="visible-xs"><a style="margin-top:7px;" href="/contact_us" target="_blank">Contact Us</a></li>
					<li class="visible-xs"><a style="margin-top:7px;" href="/cookie_policy" target="_blank">Cookie Policy</a></li>
					<li class="visible-xs"><a style="margin-top:7px;" href="/privacy_policy" target="_blank">Privacy Policy</a></li>
					<li class="visible-xs"><a style="margin-top:7px;" href="/terms_and_conditions" target="_blank">Terms and Conditions</a></li>
				</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
	</header>
	<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
		</div>
	</div>
	{% block content %}
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="main-panel col-md-12 col-sm-12 col-xs-12">
					<div class="home-info">
					
					{% include html_page %}
						<!-- <iframe src="https://local-teams.com/Terms_and_conditions" height="100%" width="100%"></iframe> -->
					</div>
				</div>
			</div>
		</div>
	</div>
    {% endblock %}	
	<div class="nag_arrow">
		<div class="col-md-4 col-md-offset-4  col-xs-12 text-center">
			<div class="col-md-4 col-sm-4 col-xs-4 text-right">
				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><img src="{% static 'images/icon/arrow_left.png' %}" /></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
				<h1 class=""></h1>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4 text-left">
				<a  class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><img src="{% static 'images/icon/arrow_right.png' %}" /></a>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<p style="margin:0;">&copy; <span id="demo">2014</span> local-teams.com</p>
			</div>	
			<div class="col-md-9 col-sm-9 col-xs-12 hidden-xs">
				<nav role="navigation" class="navbar-footer" style="margin-bottom:0px;">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="footer-copy">
						<div class="pull-right footer-links hidden-xs">
							<a href="/about_us" target="_blank">About Us</a> |
							<a href="/contact_us" target="_blank">Contact Us</a> |
							<a href="/cookie_policy" target="_blank">Cookie Policy</a> |
							<a href="/privacy_policy" target="_blank">Privacy Policy</a> |
							<a href="/terms_and_conditions" target="_blank">Terms and Conditions</a>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</footer>
	<script src="{% static 'js/common.js' %}"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		var m = ({{images_list | safe}});
		for(var i=0 ; i< m.length ; i++) {
			$('.carousel-inner').append('<div class="item" style="background:url('+m[i]['image_url']+') no-repeat center center fixed ;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"><div class="carousel-caption" style="font-size:18px;cursor: pointer; " ><span style="background-color: #3c3d3f;opacity: 0.5;color: white; -webkit-border-radius: 40px;-moz-border-radius: 40px;border-radius: 40px;padding:6px 40px;margin-top:5px;">'+m[i]['clubname']+'</span></div></div>')
			$('.item').first().addClass('active');
			$('#carousel').carousel();
			/**** onclick="viewProfile('+m[i]['id']+')"  ****/
		}
	});
	
	$(window).load(function() {
		$('#loader').fadeOut(1500);//hide('slow');
    });
	</script>
</body>
</html>