{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

{% if menu_head == 'Settings' %}
<style>
.main-panel{
	margin-top: 0px !important;
}
</style>
{% endif %}
<div class="wrapper">
	<div class="container">
        <div class="row">
			<div class="main-panel col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-md-9 col-sm-9 col-xs-12 first-left">
						<div class="local-area">
						{% include html_page %}					
						</div>
					</div>
					<!-- ad-banner Start -->
					<div class="col-md-3 col-sm-3 col-xs-12 hidden-xs">
						<div class="ad-inner-container" style="background-color:white;max-height:600px;">
						
							<img src="https://local-teams.com/static/images/icon/ad-inner-container.jpg" class="img-responsive" width="224px" height="600px" alt="googleplay apple" usemap="#mapname" id="map_ID" />
							<map name="mapname" id="map_ID">
								<area shape="rect" coords="54,150,168,182" href="{{ iOS_app }}" target="_blank" alt="iOS_app" />
								<area shape="rect" coords="54,190,168,222" href="{{ google_play_app }}" target="_blank" alt="google_play_app" />
							</map>
						</div>
					</div>
					<!-- ad-banner End -->
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}