{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<style>
#news{margin : 10px 0px 0px 150px}
.alert_list{font-size: 11px; color:grey}
li.alert_li {
  font-size: 11px; 
  color:grey;
  padding:10px 0px 2px 0px;
  border-bottom: thin solid #c0c0c0;
}
li.alert_li:hover{background-color:#eee}
.turn_off_alert{float:right;margin-bottom :1px}
a.alert_message{color : grey}
a.alert_message:hover{color : grey}

</style>

<div class="wrapper">
	<div class="container">
        <div class="row">
			<div class="main-panel col-md-12 col-sm-12 col-xs-12">
				<!-- <div class="row"> -->
					<!-- <iframe src="https://local-teams.com/Terms_and_conditions" height="100%" width="100%"></iframe> -->
				<!-- </div> -->
				<!-- <div class="row"> -->
					<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>					 -->
				<!-- </div> -->
				<div class="row">
					<p>request:{{request}}</p>
					<p>request.META:{{request.META}}</p>
					<p>request.META.HTTP_X_FORWORDED_FOR:{{request.META.HTTP_X_FORWORDED_FOR}}</p>				
					<p>request.META.HTTP_USER_AGENT:{{request.META.HTTP_USER_AGENT}}</p>				
				</div>
				<!-- <div class="row"> -->
				<!-- <form action="/send_emails/"> -->
					<!-- <input type="submit"> -->
				<!-- </form> -->
				<!-- </div> -->
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog modal-lg">

	<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<label>Please read <i>Terms and conditions</i> carefully</label>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<iframe src="https://local-teams.com/Terms_and_conditions" height="600px" width="100%"></iframe>
			</div>
			<!-- <div class="modal-footer"> -->
				<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
			<!-- </div> -->
		</div>

	</div>
</div>
{% endblock %}